<!-- /concept/custom/jpocs/kone/ena_elevator_planner/building_population_header.html -->

<div class="header-wrapper header-center">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_ENA_ELEVATOR_HEADER_number_of_occupants</doc>
    </div>
    <div class="input-group-text">
        <doc>bundle.KONE_SELECTOR_TEXT_number_of_occupants</doc>
    </div>
</div>
