<!-- /concept/custom/jpocs/kone/ena_elevator_planner/contact.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ENA_ELEVATOR_TEXT_contact_header</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ELEVATOR_TEXT_contact</doc>
</div>
