<!-- /concept/custom/jpocs/kone/ena_elevator_planner/design_and_safety_text.html -->

<div id="design-safety-text">
    <doc>bundle.KONE_ESCALATOR_TEXT_design_and_safety</doc>
</div>

<script type="text/javascript" defer>
    $(() => {
        $('#DESIGN_HIDE_1').click(function () {
            hideDesignSection(this);
        });

        clickCSI(document.getElementById('ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1'));
    });
</script>
