<!-- /concept/custom/jpocs/kone/ena_elevator_planner/elevator_landings_header.html -->

<div class="header-wrapper header-center">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_ENA_ELEVATOR_HEADER_elevator_landings</doc>
    </div>
    <div class="input-group-text">
        <doc>bundle.KONE_ENA_ELEVATOR_TEXT_elevator_landings</doc>
    </div>
</div>
