<!-- /concept/custom/jpocs/kone/ena_elevator_planner/elevator_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ELEVATOR_TEXT_elevator</doc>
</div>
