<!-- /concept/custom/jpocs/kone/ena_elevator_planner/other_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_other</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ELEVATOR_TEXT_other</doc>
</div>
