<!-- /concept/custom/jpocs/kone/ena_elevator_planner/Z_MINISPACE_HEADER.html -->

<div class="product-header" id="z-minispace-header">
    <div class="product-image"></div>
    <div class="header-inner">
        <div class="product-title">
            <doc>bundle.KONE_ENA_HEADER_TEXT_z_minispace</doc>
        </div>
        <div class="product-description">
            <doc>bundle.KONE_ENA_HEADER_TEXT_z_minispace_desc</doc>
        </div>
    </div>
</div>
