<!-- /concept/custom/jpocs/kone/selectorproduct/landings_header.html -->

<div class="header-wrapper header-center" id="elevator-landings">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_SELECTOR_HEADER_elevator_landings</doc>
    </div>
    <div class="input-group-text configSubHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_elevator_landings</doc>
    </div>
</div>
