/*---------------- Title image and input group ---------------- */

/* text */
div[id^=267544131].input-group {
  font-family: KONE-Information;
  text-align: left;
  vertical-align: bottom;
  color: #ffffff;
  position: relative;
  bottom: 8px;
  left: 16px;
}

/* Left align contents */
.custom div[id^=accordion267544131]>div.input-group>.group-body {
  /*margin-left: 45px;*/
  margin-left: 0;
  width: 100%;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.custom div[id^=accordion267544131]>div.input-group>.group-body table {
  margin-left: 0;
  width: 100%;
}

/* when tablet */
@media only screen and (max-device-width: 1280px) {
  div[id^=accordion267544131] {
    width: 1190px;
  }

  /*
    div #nameSpace div {
      left:20px !important;
    }
    */
}

@media only screen and (max-device-width: 1024px) {

  /*IPAD*/
  div[id^=accordion267544131] {
    width: 934px;
  }

  /*
    div #nameSpace div {
      left:20px !important;
    }
    */
}

/*END  Title image and input group */

/*---------------- Let's get started---------------- */
/* set width of group */
div[id^=accordion274339571] {
  width: 100%;
}

/* Hide group header Group*/
div[id^=collapse274339571] {
  display: none;
}

/* text */

div[id^=274339571].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 30px;
}

/* background colour */
div[id^=accordion274339571]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
}

/* Left align contents */
div[id^=accordion274339571]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 0px;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion274339571] {
    width: 85%;
  }
}

/*END  Let's get started */

/*---------------- Elevator data table---------------- */

/* Hide group header Group*/
div[id^=collapse292736141] {
  display: none;
}

/* Left align contents */
.custom div[id^=accordion292736141]>div.input-group>.group-body {
  margin-left: 6px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

/*hide SELECT_ELEVATOR help file icon*/
.custom div[id^=help_icon_292736141] {
  display: none;
}

/* Restyle atribute tables*/
#SELECT_ELEVATOR_dataTable.dataTable td {
  padding: 6px 9px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 18px !important;
  font-family: "KONE-Information" !important;
}

/*Table border*/
#SELECT_ELEVATOR_dataTable.dataTable {
  border: 1px solid #d7d7d7;
}

/*.Header style table*/
#SELECT_ELEVATOR_dataTable.dataTable th {
  font-size: 18px !important;
  font-family: "KONE-Information" !important;
}

#SELECT_ELEVATOR_dataTable.dataTable thead {
  background: #3b4245;
}

/*Header font color table*/
#SELECT_ELEVATOR_dataTable.dataTable th * {
  color: #ffffff;
}

#SELECT_ELEVATOR_dataTable.dataTable th .title {
  width: 100%;
  height: 100%;
  margin: 2px 10px 0px 0px;
}

/* when tablet*/
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {

  /*   #SELECT_ELEVATOR_dataTable.dataTable th {
       font-size: 16px !important;
  
  }*/
  #SELECT_ELEVATOR_dataTable.dataTable td {
    font-size: 16px !important;
  }
}



table.dataTable thead tr:first-child th:first-child,
table.dataTable th.first {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

table.dataTable thead tr:first-child th:last-child,
table.dataTable th.last {
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}



/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion292736141] {
    width: 85%;
  }
}

/*END  Elevator data table*/

/*---------------- building---------------- */
/* set width of group */
div[id^=accordion210055571] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210055571] {
    width: 85%;
  }
}


/* Hide group header Building Group*/
div[id^=collapse210055571] {
  display: none;
}

/* Building text */

div[id^=210055571].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion210055571]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion210055571]>div.input-group>.group-body {
  margin: 0;
}

/*END  building */

/********************* Input Group: Landings - 241127261 *************************/

/* Input Group: Landings  */
div[id^=accordion241127261] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion241127261] {
    width: 85%;
  }
}


/*input group border*/
div[id^=accordion241127261]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse241127261].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion241127261]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion241127261]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion241127261]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 46px;
}

/* Landings Icon */
div[id^=collapse241127261].group-header.collapsible::before {
  content: "\166";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}



/* Close group icon */
div[id^=collapse241127261]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse241127261]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Landings */


/******************* Start Group: Seismic - 273651261 ****************************/
/* Start Group: Seismic  */
div[id^=accordion273651261] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion273651261] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion273651261]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-size: 17px;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse273651261].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion273651261]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion273651261]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion273651261]>div.input-group>.group-body {
  margin: 0px;
}

/* Seismic Icon */
div[id^=collapse273651261].group-header.collapsible::before {
  content: "\101";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse273651261]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse273651261]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Seismic */



/********* Start Group: Floor Height - 294229301 ********/


/* Start Group: Floor Height */
div[id^=accordion294229301] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion294229301] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion294229301]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse294229301].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion294229301]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion294229301]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion294229301]>div.input-group>.group-body {
  margin: 0px;
}

/* Height Icon */
div[id^=collapse294229301].group-header.collapsible::before {
  content: "\345";
  width: 37px;
  margin-left: 26px;
  /* Doesn't seem to have a width for some reason */
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse294229301]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse294229301]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* align check box label for FRONT and Back*/

.custom div[class*="POS_FLR_ENTR_IN_"] div label[for*="POS_FLR_ENTR_IN_"] {
  /*left: -20px;*/
}

/* remove line 1 of the distance between floors*/
.custom .DIM_INTERFLR_HF_IN_1_TR_tag {
  display: none;
}

/* Hide empty label td */
tr[id^="DIM_INTERFLR_HF_IN_"] td[class^="DIM_INTERFLR_HF_IN_ROUNDED_"].inputlabel {
  display: none;
}

/* align mm marker */
tr[id^="DIM_INTERFLR_HF_IN_"] .mm-marker {
  padding-top: 6px !important;
}

/* End Group: Floor Height */

/*----------------elevator---------------- */
/* set width of group */
div[id^=accordion276109581] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion276109581] {
    width: 85%;
  }
}

/* Hide group header Building Group*/
div[id^=collapse276109581] {
  display: none;
}

/* Building text */

div[id^=276109581].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion276109581]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion276109581]>div.input-group>.group-body {
  margin: 0;
}

/*END  elevator */

/********************* Input Group: Regulations - 241127261 *************************/

/* Input Group: Regulations  */
div[id^=accordion256245441] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion256245441] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion256245441]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse256245441].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion256245441]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion256245441]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion256245441]>div.input-group>.group-body {
  margin: 0px;
}

/* Regulations Icon */
div[id^=collapse256245441].group-header.collapsible::before {
  content: "\197";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}



/* Close group icon */
div[id^=collapse256245441]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse256245441]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}


/* Vertical-align contents*/
.custom .TYP_ELEV_STANDARD_TD_tag,
.custom .TYP_ELEV_STANDARD_COMPLEMENT_TD_tag {
  vertical-align: top;
  padding-right: 15px;
}

/* End Group: Regulations */


/*************************** Input Group: Quantity - 210117311 ******************/

/* Input Group: Quantity */
div[id^=accordion210117311] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210117311] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion210117311]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse210117311].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion210117311]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion210117311]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion210117311]>div.input-group>.group-body {
  margin: 0px;
}

/* Quantity Icon */
div[id^=collapse210117311].group-header.collapsible::before {
  content: "\343";
  width: 37px;
  margin-left: 26px;
  /* Doesn't seem to have a width for some reason */
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse210117311]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse210117311]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Quantity */




/******************* input Group: Load - 287634311  ******************/

/* input Group: Load */
div[id^=accordion287634311] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion287634311] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion287634311]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse287634311].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion287634311]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion287634311]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion287634311]>div.input-group>.group-body {
  margin: 0px;
}

/* Load Icon */
div[id^=collapse287634311].group-header.collapsible::before {
  content: "\119";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse287634311]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse287634311]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: load */

/******************* input Group: Capacity - 2079600828  ******************/

/* input Group: capacity */
div[id^=accordion2079600828] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion2079600828] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion2079600828]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse2079600828].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion2079600828]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion2079600828]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion2079600828]>div.input-group>.group-body {
  margin: 0px;
}

/* Load Icon */
div[id^=collapse2079600828].group-header.collapsible::before {
  content: "\119";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse2079600828]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse2079600828]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Capacity */

/***************** Input Group: Speed - 228702321 *********************/

/* Input Group: Speed */
div[id^=accordion228702321] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion228702321] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion228702321]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse228702321].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion228702321]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion228702321]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion228702321]>div.input-group>.group-body {
  margin: 0px;
}

/* Speed Icon */
div[id^=collapse228702321].group-header.collapsible::before {
  content: "\213";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse228702321]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse228702321]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Speed */

/********* Input Group: Elevator Configuration - 211121391 ***********/

/* Input Group: Elevator Configuration */
div[id^=accordion211121391] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion211121391] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion211121391]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse211121391].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion211121391]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion211121391]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion211121391]>div.input-group>.group-body {
  margin: 0px;
}

/* Elevator Configuration Icon */
div[id^=collapse211121391].group-header.collapsible::before {
  content: "\298";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse211121391]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse211121391]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* Vertical-align contents*/
.custom .DIM_CAR_HEIGHT_CH_TD_tag,
.custom .DIM_DOOR_HH_A_TD_tag {
  vertical-align: top;
  padding-right: 15px;
}


/* Hide empty subgroup td */
tr[id^=DIM_DOOR_][id$=_TR_tag]>td:empty {
  display: none;
}

/* Hide empty subgroup label as it adds too much white space */
td[id^=DIM_DOOR_][id$=_label].inputlabel {
  display: none;
}

/* Vertical-align contents*/
.custom .DIM_HEADROOM_SH_TD_tag {
  vertical-align: top;
}

/* Vertical-align contents*/
.custom .HEAD_ROOM_UOM_TD_tag {
  vertical-align: top;

}

/* End Group: Elevator Configuration */


/********************* Input Group: Control location - 222856321] ******************/

/* Input Group: Control location  */
div[id^=accordion222856321] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion222856321] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion222856321]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse222856321].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion222856321]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion222856321]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion222856321]>div.input-group>.group-body {
  margin: 0px;
}

/* Control location Icon */
div[id^=collapse222856321].group-header.collapsible::before {
  content: "\275";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse222856321]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse222856321]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Control location */


/***************** Input Group: Door Type - 244025321 *****************/

/* Input Group: Door Type */
div[id^=accordion244025321] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion244025321] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion244025321]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;

}

/*input group header changes*/
div[id^=collapse244025321].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion244025321]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion244025321]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion244025321]>div.input-group>.group-body {
  margin: 0px;
}

/* Door Type Icon */
div[id^=collapse244025321].group-header.collapsible::before {
  content: "\41";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse244025321]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse244025321]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Door Type */

/***************** Input Group: Headroom Height & Pit Depth - 1234884009 *****************/

/* Input Group: Door Type */
div[id^=accordion1234884009] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1234884009] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1234884009]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;

}

/*input group header changes*/
div[id^=collapse1234884009].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1234884009]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1234884009]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1234884009]>div.input-group>.group-body {
  margin: 0px;
}

/* Headroom height and pit depth Icon */
div[id^=collapse1234884009].group-header.collapsible::before {
  content: "\344";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse1234884009]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse1234884009]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

#DIM_HEADROOM_HEIGHT_MIN,
#DIM_HEADROOM_HEIGHT_MAX,
#DEFAULT_HEADROOM_HEIGHT,
#DIM_PIT_DEPTH_MIN,
#DIM_PIT_DEPTH_MAX,
#DEFAULT_PIT_DEPTH {
  border: 0px;
  box-shadow: none;
  color: #333 !important;
  font-weight: 450;
  padding-left: 0px;
  padding-right: 0px;
  text-align: right;
}

.custom .HEADROOM_MM_HTML_3_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_2_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_1_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_4_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_5_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_6_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_7_TD_tag.inputlabel,
.custom .HEADROOM_MM_HTML_8_TD_tag.inputlabel,
.custom #DIM_PIT_DEPTH_MIN_label,
.custom #DIM_HEADROOM_HEIGHT_MIN_label {
  display: none;
}

/* End Group: Headroom Height & Pit Depth */


/******************* Start of Condensed Group CSS:
  
      TODO: Replace the the ids for the general settings with generic selectors
  
      1277726328      Machine Location
      1173051901      Accessible Space Under Hoistway
  
  ********************/
/* Start Group: Seismic  */
div[id^=accordion1277726328],
div[id^=accordion1173051901] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {

  div[id^=accordion1277726328],
  div[id^=accordion1173051901] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1277726328]>div.input-group,
div[id^=accordion1173051901]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  font-size: 17px;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse1277726328].group-header,
div[id^=collapse1173051901].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1277726328]>div.input-group>div.group-open,
div[id^=accordion1173051901]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1277726328]>div.input-group>div.group-closed,
div[id^=accordion1173051901]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1277726328]>div.input-group>.group-body,
div[id^=accordion1173051901]>div.input-group>.group-body {
  margin: 0px;
}

/* Close group icon - settings */
div[id^=collapse1277726328]>span.indicator:after,
div[id^=collapse1173051901]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;

  left: -30px;
}

/* Open group icon - settings */
div[id^=collapse1277726328]>span.indicator.closed:after,
div[id^=collapse1173051901]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}


/* Group header icon - settings */
div[id^=collapse1277726328].group-header.collapsible::before,
div[id^=collapse1173051901].group-header.collapsible::before {
  content: "\102";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Specific settings for close group icon */

/* Machine Location */
div[id^=collapse1277726328].group-header.collapsible::before {
  content: "\44";
}

/* Accessible Space Under Hoistway */
div[id^=collapse1173051901].group-header.collapsible::before {
  content: "\35";
}

/* End Start of Condensed Group CSS: */



/********************* Input Group: Additional Power - 272253301 ********************/
/* Input Group: Additional Power */
div[id^=accordion272253301] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion272253301] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion272253301]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse272253301].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion272253301]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion272253301]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion272253301]>div.input-group>.group-body {
  margin: 0px;
}

/* Additional Power Icon */
div[id^=collapse272253301].group-header.collapsible::before {
  content: "\108";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse272253301]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse272253301]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Additional Power */

/********************* Input Group: Power Supply - 262427460] *************************/

/* Input Group: Door Type */
div[id^=accordion262427460] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion262427460] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion262427460]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;

}

/*input group header changes*/
div[id^=collapse262427460].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion262427460]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion262427460]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion262427460]>div.input-group>.group-body {
  margin: 0px;
}

/* Power supply Icon */
div[id^=collapse262427460].group-header.collapsible::before {
  content: "\108";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse262427460]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse262427460]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: power supply */

/*----------------design---------------- */
/* set width of group */
div[id^=accordion210030581] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210030581] {
    width: 85%;
  }
}

/* Hide group header Building Group*/
div[id^=collapse210030581] {
  display: none;
}

/* design text */

div[id^=210030581].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion210030581]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion210030581]>div.input-group>.group-body {
  margin: 0;
}

/*END  design */

/********************* Input Group: Car design selection - 266523261] *************************/

/* Input Group: Car design selection */
div[id^=accordion266523261] {
  width: 49%;
}

/* Attempt o fit items when zoom is at 125% on 1080p screen */
@media (max-width: 1600px) {
  .input-group #groupInputTable {
    margin: 0px;
  }
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion266523261] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion266523261]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;


}

/*input group header changes*/
div[id^=collapse266523261].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;

}

/* input group open settings */
div[id^=accordion266523261]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
  width: 100%;
}

/* input group close settings */
div[id^=accordion266523261]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;


}

/* group body settings */
div[id^=accordion266523261]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 46px;
}

/* Car design solutions Icon */
div[id^=collapse266523261].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}



/* Close group icon */
div[id^=collapse266523261]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse266523261]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}




/* configuration values display when group closed */
div[id^=accordion266523261]>div.input-group>div.groupHeaderValues,
div[id^=accordion266523261]>div.input-group>div.groupHeaderValues>span {
  display: block;
  font-family: KONE-Information;
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #0071b9;
  background: #ffffff;
  padding-bottom: 20px;
  padding-left: 64px;
}

#SPRING_TR_tag {
  display: none
}

/* End Group: Car Design Selection  */

/*----------------other---------------- */
/* set width of group */
div[id^=accordion277945581] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion277945581] {
    width: 85%;
  }
}

/* Hide group header Building Group*/
div[id^=collapse277945581] {
  display: none;
}

/* other text */

div[id^=277945581].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion277945581]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion277945581]>div.input-group>.group-body {
  margin: 0;
}

/*END  Other */

/********************* Input Group: Maintenance Service - 811688501 ********************/
/* Input Group: Additional Power */
div[id^=accordion811688501] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion811688501] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion811688501]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse811688501].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion811688501]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion811688501]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion811688501]>div.input-group>.group-body {
  margin: 0px;
}

/* Maintenance Icon */
div[id^=collapse811688501].group-header.collapsible::before {
  content: "\75";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse811688501]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse811688501]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Maintenance Service */

/********************* Input Group: Call back Service - 1681405239 ********************/
/* Input Group: Additional Power */
div[id^=accordion1681405239] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1681405239] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1681405239]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse1681405239].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1681405239]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1681405239]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1681405239]>div.input-group>.group-body {
  margin: 0px;
}

/* Call back Icon */
div[id^=collapse1681405239].group-header.collapsible::before {
  content: "\139";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse1681405239]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse1681405239]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Call back Service */

/********************* Input Group: Additional Service - 926049584 ********************/
/* Input Group: Additional Power */
div[id^=accordion926049584] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion926049584] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion926049584]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse926049584].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion926049584]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion926049584]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion926049584]>div.input-group>.group-body {
  margin: 0px;
}

/* Additional options Icon */
div[id^=collapse926049584].group-header.collapsible::before {
  content: "\123";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}


/* Close group icon */
div[id^=collapse926049584]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse926049584]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Maintenance Service */

/*---------------- summary---------------- */
/* set width of group */
div[id^=accordion280759171] {
  width: 100%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion280759171] {
    width: 87%;
  }
}

/* Hide group header Building Group*/
div[id^=collapse280759171] {
  display: none;
}

/* Building text */

div[id^=280759171].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion280759171]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion280759171]>div.input-group>.group-body {
  margin: 0;
}

/* Hide select menu for the carousel main image*/
.custom .MAIN_IMAGE-input-div {
  display: none;
}

img[id^=MAIN_IMAGE_IMAGE_] {
  border: 1px solid #d7d7d7;
}

img[id^=MAIN_IMAGE_M3_EX_IMAGE] {
  border: 1px solid #d7d7d7;
}

img[id^=MAIN_IMAGE_L_IMAGE] {
  border: 1px solid #d7d7d7;
}

img[id^=MAIN_IMAGE_EF_IMAGE] {
  border: 1px solid #d7d7d7;
}

img[id^=MAIN_IMAGE_FNO_IMAGE] {
  border: 1px solid #d7d7d7;
}

/* when tablet*/
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {

  #KEY_VALUES_TABLE_HTML_TR_tag {
    display: none;

  }

}

/*END  Summary */

/*----------------downloads---------------- */
/* set width of group */
div[id^=accordion210023591] {
  width: 100%;
}

/* Hide group header Building Group*/
div[id^=collapse210023591] {
  display: none;
}

/* downloads text */

div[id^=210023591].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion210023591]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion210023591]>div.input-group>.group-body {
  margin: 0;
}

/*END  Downloads */


/**** Downloads and Choose level of detail ****/

/*
.custom div[id^=accordion247142061],
.custom div[id^=accordion294349292],
.custom div[id^=accordion281356061] {
  display: table-cell;
  border-collapse: collapse;
  border-spacing: 0px;
  vertical-align: top;
  background-color: #ffffff;
  left: 20px;
}
*/

.custom div[id^=accordion247142061] .group-body,
.custom div[id^=accordion294349292] .group-body {
  padding: 0;
  margin: 0;
}

/* Hide group header*/
div[id^=collapse247142061] {
  display: none;
}

/* Hide group header*/
div[id^=collapse294349292] {
  display: none;
}

/*
  div[id^=accordion247142061]{
        width: 47%;
  }
  div[id^=accordion294349292]{
        width: 47%;
  }
  */

/* END Downloads and Choose level of detail */

/********************* Input Group: Brochures and Examples - 281356061] **************/

/* Input Group: Brochures and Examples */

/* Hide group header Group*/
div[id^=collapse281356061] {
  display: none;
}


/* background colour */
div[id^=accordion281356061]>div.input-group {
  background: #ffffff;
  /*margin-left: 14px;*/
}

/* Left align contents */
div[id^=accordion281356061]>div.input-group>.group-body {
  margin: 0;
  padding: 0;
}

/* Vertical-align contents*/
.custom .LOD_TD_tag {
  vertical-align: top;

}

/* End Group: Brochures and Examples  */



/************* Input Group: Conact details - 881697589] *********/

/* Hide group header*/
div[id^=collapse881697589] {
  display: none;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion881697589] {
    width: 85%;
  }
}

/* End Group: Contact details  */

/* START - Display these group header values an horizontal list */

/* div[id^=accordion211121391] .groupHeaderValues>div {
    display: inline;
    padding-right: 10px;
  }
   */
/* END - Display these group header values an horizontal list */

/* Design section label positions*/
#HANDRAILS_DESIGN_TD_tag,
#HANDRAILS_FINISH_TD_tag,
#HANDRAILS_LOCATION_TD_tag,
#DESIGN_SIDE_WALLS_TD_tag,
#DESIGN_REAR_WALL_TD_tag,
#MAT_CAR_WALLS_TD_tag,
#REVEL_FINISH_FOR_RAISED_PANELS_TD_tag,
#CAR_FRONT_DOOR_SKIRTING_FINISH_TD_tag,
#CAR_CEILING_DESIGN_TD_tag,
#CAR_CEILING_FINISH_TD_tag,
#CAR_SIGNALIZATION_DESIGN_TD_tag,
#CAR_SIGNALIZATION_MOUNTING_TD_tag,
#CAR_SIGNALIZATION_FINISH_TD_tag,
#CAR_SIGNALIZATION_DISPLAY_COLOR_TD_tag,
#CAR_SIGNALIZATION_QUANTITY_TD_tag,
#HALL_SIGNALIZATION_FINISH_TD_tag,
#HALL_SIGNALIZATION_LANTERN_TD_tag,
#HALL_SIGNALIZATION_INDICATOR_TD_tag,
#HOIST_ENTRANCE_ENTERANCE_FINISH_TD_tag,
#HOIST_ENTRANCE_SILL_FINISH_TD_tag,
#CAR_SIGNALIZATION_OPTIONS_TD_tag {
  text-align: right;
  vertical-align: top;
}

#radioDiv_DESIGN_SIDE_WALLS_1,
#radioDiv_DESIGN_REAR_WALL_1,
#radioDiv_MAT_CAR_WALLS_1,
#radioDiv_REVEL_FINISH_FOR_RAISED_PANELS_1,
#radioDiv_CAR_FRONT_DOOR_SKIRTING_FINISH_1,
#radioDiv_CAR_CEILING_DESIGN_1,
#radioDiv_CAR_CEILING_FINISH_1,
#radioDiv_HANDRAILS_DESIGN_1,
#radioDiv_HANDRAILS_FINISH_1,
#radioDiv_HANDRAILS_LOCATION_1,
#radioDiv_CAR_SIGNALIZATION_DESIGN_1,
#radioDiv_CAR_SIGNALIZATION_MOUNTING_1,
#radioDiv_CAR_SIGNALIZATION_FINISH_1,
#radioDiv_CAR_SIGNALIZATION_DISPLAY_COLOR_1,
#radioDiv_CAR_SIGNALIZATION_QUANTITY_1,
#div_CAR_SIGNALIZATION_OPTIONS_1,
#radioDiv_HALL_SIGNALIZATION_FINISH_1,
#radioDiv_HALL_SIGNALIZATION_LANTERN_1,
#radioDiv_HALL_SIGNALIZATION_INDICATOR_1,
#radioDiv_HOIST_ENTRANCE_ENTERANCE_FINISH_1,
#radioDiv_HOIST_ENTRANCE_SILL_FINISH_1 {
  margin-top: 15px;
}

/* Total travel inches, and car headroom */
#DIM_TRAVEL_HEIGHT_H_DISP_FT,
#DIM_TRAVEL_HEIGHT_H_DISP_IN,
#DIM_OVERHEAD_HEIGHT_H_FT,
#DIM_OVERHEAD_HEIGHT_H_IN,
#DIM_OVERHEAD_HEIGHT_H_COMBINED,
#DIM_HEADROOM_SH,
#DIM_HEADROOM_SH_MR {
  border: 0px;
  box-shadow: none;
  color: #333 !important;
  font-weight: 450;
  padding-left: 0px;
  padding-right: 0px;
  text-align: right;
}

/* Prevent inputs from overlapping when the text is not long enough */
td.DIM_OVERHEAD_HEIGHT_H_FT_TD_tag.inputlabel {
  min-width: 184px;
}

/* Shift Min. Overhead Height inputs so they are closer together */
.OVERHEAD_UOM_FT_TD_tag {
  left: -80px !important;
}

.DIM_OVERHEAD_HEIGHT_H_IN_TD_tag {
  left: -125px;
}

.OVEHEAD_UOM_IN_TD_tag {
  left: -128px;
}

.custom .HEAD_ROOM_UOM_MM_TD_tag {
  padding-top: 3px;
  left: -154px;
}

.custom .HEAD_ROOM_UOM_MM_MR_TD_tag {
  padding-top: 3px;
  left: -110px;
}

.inputlabel label[for=DIM_HEADROOM_SH] {
  white-space: normal;
  width: 230px;
}

/* Hide subgroup labels to prevent misalignment */
#PHONE_COUNTRY_CODE_TR_tag .subgroup .inputlabel {
  display: none !important;
}

/* START - headroom height & pit depth */

/* Reset defaults */
div[id^=accordion1234884009] .subgroup .inputlabel *,
div[id^=accordion1234884009] .subgroup .inputlabel,
div[id^=accordion1234884009] [class$=_tag] {
  /*   border: 1px dotted pink; */
  padding: 0px !important;
  margin: 0px !important;
}

/* Input group table - doesn't select subgroups */
div[id^=accordion1234884009] table#groupInputTable {
  /* This is needed or the width won't change   */
  table-layout: auto;
  width: 100% !important;
}

/* Hide completely empty cells before the Minimum label */
div[id^=accordion1234884009] table#groupInputTable td:empty,
/* Hide empty cells so default value and warning can centralise properly */
#DEFAULT_HEADROOM_HEIGHT_label,
#HEADROOM_HEIGHT_WARNING_HTML_label,
#DEFAULT_PIT_DEPTH_label,
#PIT_DEPTH_WARNING_HTML_label {
  display: none;
}

/* Titles  */
div[id^=accordion1234884009] p.inputgroup_text {
  font-weight: bold;
}

/* Input width to align with the default value */
.custom #HEADROOM_HEIGHT,
.custom #PIT_DEPTH {
  width: 110px !important;
  text-align: center;
}

/* Disabled inputs */
div[id^=accordion1234884009] input.disabled:not(#DEFAULT_PIT_DEPTH):not(#DEFAULT_HEADROOM_HEIGHT) {
  font-weight: bold !important;
}

/* mm suffix */
div[id^=accordion1234884009] .mm-marker {
  /*   margin-left: 2px; */
  padding-top: 3px;
  margin-right: 20px;
  margin-left: 4px;
}

/* Align Minimum label inside cell*/
#DIM_PIT_DEPTH_MIN_label,
#DIM_HEADROOM_HEIGHT_MIN_label {
  padding-top: 6px;
  vertical-align: top;
}

/* Align Minimum subgroup labels with input */
#DIM_HEADROOM_HEIGHT_MIN_subgroup_label,
#DIM_PIT_DEPTH_MIN_subgroup_label {
  padding: 0 0 0 4px !important;
  margin: 0px;
  top: -2px;
  text-align: right !important;
}

/* Warning message below details table (child div) */
.equipment-warning {
  min-height: 30px;
  text-align: center;

  /* Border */
  border: 1px solid transparent;
  border-radius: 4px;
}

.equipment-warning .message {
  line-height: 28px;
  margin: 10px
}

/* Realign with input after jQuery removes &nbps; */
.DEFAULT_HEADROOM_HEIGHT_TD_tag.inputlabel,
.DEFAULT_PIT_DEPTH_TD_tag.inputlabel {
  top: -2px;
}

/* END - headroom height & pit depth */
