<!-- /concept/custom/jpocs/kone/escalator_planner/cad_bim_downloads.html -->

<style>
    .cad-bim-downloads-header {
        font-size: 22px;
        padding-bottom: 15px;
    }

    img[id="ESC_GD_TOP_SELECT_image"] {
        padding: 0px;
        border: 1px solid #0071B9;
        border-radius: 1px;
    }

    #cad-bim-downloads-image {
        display: inline-block;
        width: 279px;
        height: 282px;
    }

    #cad-bim-downloads-input {
        display: inline-block;
        margin-left: 20px;
        padding: 10px 0px 21px 30px;
        position: relative;
        float: right;
        top: 0px;
        height: 254px;
        /* 282 - borders - padding */
        width: 803px;
        border: 1px solid #D2D6DC;
        background-color: #FFFFFF;
    }

    #cad-bim-downloads-title {
        height: 27px;
        color: #3B4245;
        font-family: KONE-Information;
        font-size: 22px;
        line-height: 27px;
    }

    #cad-bim-downloads-output-options {
        margin-top: 15px;
        /*23*/
    }

    #cad-bim-downloads-output-options label[id*=checkbox] {
        margin-left: 18px;
        height: 22px;
        color: #3B4245;
        font-family: KONE-Information;
        font-size: 18px;
        letter-spacing: 0.11px;
        line-height: 22px;
    }

    .div-column {
        display: table-row;
    }

    .div-column div[id^=cell-] {
        height: 42px;
        vertical-align: middle;
    }

    .div-column div[id^=cell-]>div {
        vertical-align: middle;
    }

    /*.div-column div:first-child,
    .div-column div:nth-child(2) */
    .div-column div:first-child,
    .div-column div:nth-child(2) {
        display: table-cell;
        /*padding-bottom: 4px;*/
    }

    .output-files-label {
        width: 335px;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        /* word-wrap: break-word; */
        white-space: -webkit-pre-wrap;
        /* word-break: break-all; */
        white-space: normal;
    }

    #cell-r1c1 {
        width: 50%;
        /*450px*/
    }

    #cad-bim-downloads-output-options #cell-r0c1 {
        padding-bottom: 6px;
        border-bottom: 1px solid #D2D6DC;
    }

    #cad-bim-downloads-output-options #cell-r1c1 {
        padding-top: 6px;
    }

    /* left align contents */
    div[id^=accordion294325360]>div.input-group>.group-body {
        margin: 0px;
    }

    div[id^=accordion294325360]>div.input-group>div.group-header {
        display: none;
    }

    /* when iPad */
    @media only screen and (max-device-width: 1024px) {
        #cad-bim-downloads-image {
            display: none;
        }
    }
</style>

<doc>
    <set var="CSI_CONSTRUCTION_HIDE" value="'none'" scope="document" />
</doc>

<doc>
    <if condition="configuration.getInputByName('CHANGE_COUNTRY').getValue().getStringValue()=='US'||configuration.getInputByName('CHANGE_COUNTRY').getValue().getStringValue()=='CA'">
        <doc>
            <set var="CSI_CONSTRUCTION_HIDE" value="'table-cell'" scope="document" />
        </doc>
    </if>
</doc>

<div id="cad-bim-downloads-container">
    <!--
    <div id="cad-bim-downloads-image">
        <img id="ESC_GD_TOP_SELECT_image" src="<doc><out>configuration.getInputByName('SELECTED_PRODUCT_IMAGE').getValue().getStringValue()</out></doc>">
    </div>
    -->

    <div id="cad-bim-downloads-input">
        <div id="cad-bim-downloads-title">
            <doc>bundle.KONE_ESCALATOR_HEADER_select_your_output_files</doc>
        </div>
        <div id="cad-bim-downloads-output-options">
            <!-- Select all -->
            <div class="div-column">
                <div id="cell-r0c1">
                    <div>
                        <input id="ESC_SELECT_ALL_OUTPUT_FILES_1" name="ESC_SELECT_ALL_OUTPUT_FILES_1"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_SELECT_ALL_OUTPUT_FILES').getValue()!=null?'checked ':'')
                                </out>
                            </doc>
                            onclick="selectAllFiles();" onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESC_SELECT_ALL_OUTPUT_FILES_1_checkbox" name="ESC_SELECT_ALL_OUTPUT_FILES_1_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <!-- <div style="display:<doc><out>CSI_CONSTRUCTION_HIDE</out></doc>"> -->
                    <div>
                        <label class="output-files-label" for="ESC_SELECT_ALL_OUTPUT_FILES_1" id="ESC_SELECT_ALL_OUTPUT_FILES_1_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_SELECT_ALL_OUTPUT_FILES').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r1c1">
                    <!-- <div style="display:<doc><out>CSI_CONSTRUCTION_HIDE</out></doc>"> -->
                    <div>
                        <input type="checkbox" id="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1" name="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1" class="dataEvent"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_GE_TECHNICAL_SPECIFICATION_DOCX').getValue()!=null?'checked ':'')
                                </out>
                            </doc>
                            onchange="" onblur="" onselect="" onfocus="setFocusElement(this);" autocomplete="off">
                        <input type="hidden" id="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1_checkbox" name="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1_checkbox" value="" autocomplete="off">
                    </div>
                    <!-- <div style="display:<doc><out>CSI_CONSTRUCTION_HIDE</out></doc>"> -->
                    <div>
                        <label for="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1" id="ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_GE_TECHNICAL_SPECIFICATION_DOCX').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r2c1">
                    <div>
                        <input id="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1" name="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESCALATOR_CONFIGURATION_SUMMARY_PDF').getValue()!=null?' checked ':'')
                                </out>
                            </doc>
                            onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox" name="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <div>
                        <label class="output-files-label" for="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1" id="ESCALATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESCALATOR_CONFIGURATION_SUMMARY_PDF').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r3c1">
                    <div>
                        <input id="ESC_CAD_DRAWING_PDF_YES" name="ESC_CAD_DRAWING_PDF_YES"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_CAD_DRAWING_PDF').getValue()!=null?' checked ':'')
                                </out>
                            </doc>
                            onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESC_CAD_DRAWING_PDF_YES_checkbox" name="ESC_CAD_DRAWING_PDF_YES_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <div>
                        <label class="output-files-label" for="ESC_CAD_DRAWING_PDF_YES" id="ESC_CAD_DRAWING_PDF_1_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_CAD_DRAWING_PDF').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r4c1">
                    <div>
                        <input id="ESC_CAD_DRAWING_DWG_YES" name="ESC_CAD_DRAWING_DWG_YES"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_CAD_DRAWING_DWG').getValue()!=null?' checked ':'')
                                </out>
                            </doc>
                            onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESC_CAD_DRAWING_DWG_YES_checkbox" name="ESC_CAD_DRAWING_DWG_YES_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <div>
                        <label class="output-files-label" for="ESC_CAD_DRAWING_DWG_YES" id="ESC_CAD_DRAWING_DWG_1_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_CAD_DRAWING_DWG').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r5c1">
                    <div>
                        <input id="ESC_BIM_IFC_IFC" name="ESC_BIM_IFC_IFC"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_BIM_IFC').getValue()!=null?' checked ':'')
                                </out>
                            </doc>
                            onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESC_BIM_IFC_IFC_checkbox" name="ESC_BIM_IFC_IFC_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <div>
                        <label class="output-files-label" for="ESC_BIM_IFC_IFC" id="ESC_BIM_IFC_IFC_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_BIM_IFC').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r6c1">
                    <div>
                        <input id="ESC_BIM_RFA_RFA" name="ESC_BIM_RFA_RFA"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_BIM_RFA').getValue()!=null?' checked ':'')
                                </out>
                            </doc>
                            onfocus="setFocusElement(this);" autocomplete="off" type="checkbox">
                        <input id="ESC_BIM_RFA_RFA_checkbox" name="ESC_BIM_RFA_RFA_checkbox" value="" autocomplete="off" type="hidden">
                    </div>
                    <div>
                        <label class="output-files-label" for="ESC_BIM_RFA_RFA" id="ESC_BIM_RFA_RFA_checkbox_label">
                            <doc>
                                <out>
                                    configuration.getInputByName('ESC_BIM_RFA').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r7c1">
                    <div>
                        <input type="checkbox" id="ESCALATOR_PLANNING_GUIDE_PDF_1" name="ESCALATOR_PLANNING_GUIDE_PDF_1" class="dataEvent"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESCALATOR_PLANNING_GUIDE_PDF').getValue()!=null?'checked ':'')
                                </out>
                            </doc>
                            onchange="" onblur="" onselect="" onfocus="setFocusElement(this);" autocomplete="off">
                        <input type="hidden" id="ESCALATOR_PLANNING_GUIDE_PDF_1_checkbox" name="ESCALATOR_PLANNING_GUIDE_PDF_1_checkbox" value="" autocomplete="off">
                    </div>
                    <div>
                        <label for="ESCALATOR_PLANNING_GUIDE_PDF_1" id="ESCALATOR_PLANNING_GUIDE_PDF_1_checkbox_label">
                             <doc>
                                <out>
                                    configuration.getInputByName('ESCALATOR_PLANNING_GUIDE_PDF').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
            <div class="div-column">
                <div id="cell-r8c1">
                    <div>
                        <input type="checkbox" id="ESC_PRODUCT_BROCHURE_YES" name="ESC_PRODUCT_BROCHURE_YES" class="dataEvent"
                            <doc>
                                <out>
                                    (configuration.getInputByName('ESC_PRODUCT_BROCHURE').getValue()!=null?'checked ':'')
                                </out>
                            </doc>
                            onchange="" onblur="" onselect="" onfocus="setFocusElement(this);" autocomplete="off">
                        <input type="hidden" id="ESC_PRODUCT_BROCHURE_YES_checkbox" name="ESC_PRODUCT_BROCHURE_YES_checkbox" value="" autocomplete="off">
                    </div>
                    <div>
                        <label for="ESC_PRODUCT_BROCHURE_YES" id="ESC_PRODUCT_BROCHURE_YES_checkbox_label">
                             <doc>
                                <out>
                                    configuration.getInputByName('ESC_PRODUCT_BROCHURE').getProductInput().getValues().get(0).getLabel()
                                </out>
                            </doc>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        initHeader();
        // clickCSI(document.getElementById('ESC_GE_TECHNICAL_SPECIFICATION_DOCX_1'));
        uncheckSelectAllEvent();

        // TODO: IF statement to hide/unhide TM110 & TM110T brochure here
        hideUnhideEscBrochure();
    });

    function initHeader() {
        var checkBoxes = [
            { cell: "#cell-r0c1", input: "ESC_SELECT_ALL_OUTPUT_FILES" },
            { cell: "#cell-r1c1", input: "ESC_GE_TECHNICAL_SPECIFICATION_DOCX" },
            { cell: "#cell-r2c1", input: "ESCALATOR_CONFIGURATION_SUMMARY_PDF" },
            { cell: "#cell-r3c1", input: "ESC_CAD_DRAWING_PDF" },
            { cell: "#cell-r4c1", input: "ESC_CAD_DRAWING_DWG" },
            { cell: "#cell-r5c1", input: "ESC_BIM_IFC" },
            { cell: "#cell-r6c1", input: "ESC_BIM_RFA" },
            { cell: "#cell-r7c1", input: "ESCALATOR_PLANNING_GUIDE_PDF" },
            { cell: "#cell-r8c1", input: "ESC_PRODUCT_BROCHURE" }
        ];

        const $flag = $('#ESC_OUTPUT_MODIFIED_FLAG');

        // Default these boxes to ticked. Global Escalator only.
        if ($flag.val() == 'FALSE') {

            // Needs to run before the loop below or the click event will be cleared
            $('[id^=ESC_GE_TECHNICAL_SPECIFICATION_DOCX]:checkbox').attr('checked', false).click();
            $('[id^=ESCALATOR_CONFIGURATION_SUMMARY_PDF_1]:checkbox').attr('checked', false).click();
            $('[id^=ESC_CAD_DRAWING_PDF]:checkbox').attr('checked', false).click();

            // Set flag for next run
            $flag.val('TRUE');
        }

        for (var i = 0; i < checkBoxes.length; i++) {
            var inputTR = $('#' + checkBoxes[i].input + '_TR_tag').detach(); // just remove original

            // If any checkboxes are modified, set the flag for the next run.
            $(`input[id^=${checkBoxes[i].input}]:checkbox`).one('click', () => {
                $flag.val('TRUE');
            });
        }
    }

    // Check all file tickboxes
    function selectAllFiles() {
        // Handlers
        var checkboxes = $('[id^=cell-r] :checkbox'); // All checkboxes
        var selectAll = checkboxes.first();           // Select all box should be the first object
        var outputFiles = checkboxes.not(':first');   // All other checkboxes

        // if checked, check all
        if ((selectAll.attr('checked'))) {
            //console.debug(selectAll.attr('name') + ' not checked');

            // Trigger dataEvent on all uncheched textboxes
            outputFiles.not(':checked').trigger('click');

            // Uncheck all boxes if unchecked (on click only)
        } else {
            //console.debug(selectAll.attr('name') + ' checked');
            outputFiles.filter(':checked').trigger('click');
        }
    }

    // Uncheck select all box when an output file is unchecked
    // Attach event to boxes.
    function uncheckSelectAllEvent() {
        // Handlers
        var checkboxes = $('[id^=cell-r] :checkbox'); // All checkboxes
        var selectAll = checkboxes.first();           // Select all box should be the first object
        var outputFiles = checkboxes.not(':first');   // All other checkboxes

        // Attach events to checkboxes, except select all
        outputFiles.on('change', function () {
            //console.debug($(this).attr('name') + ' changed');

            // Check select all if all boxes are checked
            if (outputFiles.filter(':checked').length === outputFiles.length) {
                selectAll.attr('checked', true);
            }

            // Uncheck select all if it is checked when a checkbox unchecked
            if (!($(this).attr('checked')) && selectAll.attr('checked')) {
                selectAll.attr('checked', false);
            }
        });
    }

    function hideUnhideEscBrochure() {
        if (document.ui.ESC_GD_TOP_SELECT.value === 'TM110_EU' || document.ui.ESC_GD_TOP_SELECT.value === 'TM110_EU_NS' || document.ui.ESC_GD_TOP_SELECT.value === 'TM110T_EU' || document.ui.ESC_GD_TOP_SELECT.value === 'TM110T_EU_NS') {
            $('#ESC_PRODUCT_BROCHURE_YES').closest('.div-column').show();
        } else {
            $('#ESC_PRODUCT_BROCHURE_YES').closest('.div-column').hide();
        }
    }
</script>
