<!-- /concept/custom/jpocs/kone/escalator_planner/choose_product_application_text.html -->

<div id="choose-header">
    <doc>bundle.KONE_ESCALATOR_TEXT_choose_product_application</doc>
</div>

<div id="choose_options" class="choose_options">
    <div id="choose_application" class="choose-button" onclick="chooseOption(this, 0, false)">
        <div class="buttonTitle noselect">Choose Your Building Type</div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="choose_product" class="choose-button" onclick="chooseOption(this, 1, false)">
        <div class="buttonTitle noselect">Choose Your Product</div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="reload_configuration" class="choose-button" onclick="chooseOption(this, 2, false)">
        <div class="buttonTitle noselect">Reload a Configuration</div>
        <div class="indicator"></div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        var input = document.getElementById('ESC_TOP_MENU');
        var index = input.selectedIndex;

        document.getElementById('choose_application').querySelector('.buttonTitle').textContent = input[0].textContent;
        document.getElementById('choose_product').querySelector('.buttonTitle').textContent = input[1].textContent;
        document.getElementById('reload_configuration').querySelector('.buttonTitle').textContent = input[2].textContent;

        let currentCountry = "";
        let countrySelector = document.getElementById("KONE_COUNTRY_C_1");
        if (countrySelector !== null) {
            currentCountry = countrySelector.value;
        }

        // Suppress hiding and showing accordions if the current country
        // selected is 'PS' ('Please Select'). In designUI, we deliberately
        // hide all of the accordions when this country has been chosen.
        if (currentCountry === "PS") {
            chooseOption(null, null, true);
        } else {
            chooseOption(null, null, false);
        }

        AdditionalDetailsHide();
    });

    function chooseOption(el, val, suppress) {
        if ($(el).hasClass('selected')) {
            return;
        }

        var options = []
        options.push("APPLICATION");
        options.push("PRODUCT");
        options.push("RELOAD");

        var obj = document.getElementById('ESC_TOP_MENU');
        if (val != null) {
            obj.selectedIndex = val;
        }

        forceChangeEvent(obj);

        var index = obj.selectedIndex;

        var choose_application = $('#choose_application');
        var choose_product = $('#choose_product');
        var reload_configuration = $('#reload_configuration');

        if (index == 0) {
            choose_application.addClass('selected');
            choose_application.find('.indicator').addClass('selected');
            choose_product.removeClass('selected');
            choose_product.find('.indicator').removeClass('selected');
            reload_configuration.removeClass('selected');
            reload_configuration.find('.indicator').removeClass('selected');

            if (!suppress) {
                showHideSections("choose_application", true);
                showHideSections("choose_product", true);
                showHideSections("reload_configuration", false);
            }

            TransportHide();
        } else if (index == 1) {
            choose_application.removeClass('selected');
            choose_application.find('.indicator').removeClass('selected');
            choose_product.addClass('selected');
            choose_product.find('.indicator').addClass('selected');
            reload_configuration.removeClass('selected');
            reload_configuration.find('.indicator').removeClass('selected');

            if (!suppress) {
                showHideSections("choose_application", false);
                showHideSections("choose_product", true);
                showHideSections("reload_configuration", false);
            }
        } else {
            choose_application.removeClass('selected');
            choose_application.find('.indicator').removeClass('selected');
            choose_product.removeClass('selected');
            choose_product.find('.indicator').removeClass('selected');
            reload_configuration.addClass('selected');
            reload_configuration.find('.indicator').addClass('selected');

            if (!suppress) {
                showHideSections("choose_application", false);
                showHideSections("choose_product", false);
                showHideSections("reload_configuration", true);
            }
        }
    }

    function showHideSections(group, show) {
        var groups = groupArrays[group];
        for (var i = 0; i < groups.length; i++) {
            var div = $('div[id^=' + groups[i].id + ']');
            if (show) {
                div.show();
            } else {
                div.hide();
            }
        }
    }

    /*
     choose_application
     Building Type Header        accordion229217260
     Building Type               accordion210534362
     Additional Details header   accordion216829372
     Additional details          accordion235144372
     Transport Header            accordion298527412
     Transport                   accordion276536412
     Duty Cycle Header           accordion282106422
     Duty Cycle                  accordion230420422
     Suitable product Header     accordion268504340

     choose_product
     Product selection           accordion210427270

     reload_configuration
     Reload Configuration        accordion236607280
     */

    var groupArrays = [];
    groupArrays["choose_application"] = [
        {
            title: 'Building Type Header',
            id: "accordion229217260"
        },
        {
            title: 'Building Type',
            id: "accordion210534362"
        },
        {
            title: 'Additional Details Header',
            id: "accordion216829372"
        },
        {
            title: 'Additional Details',
            id: "accordion235144372"
        },
        {
            title: 'Transport Header',
            id: "accordion298527412"
        },
        {
            title: 'Transport',
            id: "accordion276536412"
        },
        {
            title: 'Duty Cycle Header',
            id: "accordion282106422"
        },
        {
            title: 'Duty Cycle',
            id: "accordion230420422"
        },
        {
            title: 'Suitable Product Header',
            id: "accordion268504340"
        }
    ];
    groupArrays["choose_product"] = [
        {
            title: 'Product Selection',
            id: "accordion210427270"
        }
    ];
    groupArrays["reload_configuration"] = [
        {
            title: 'Reload Configuration',
            id: "accordion236607280"
        }
    ];
</script>
