<!-- /concept/custom/jpocs/kone/escalator_planner/compare_product_offerings.html -->

<a allowedIndex="PRODUCT" onclick="compareProductsPopup();" class="compare-products-popup">
    <span><doc>bundle.KONE_ENA_ELEVATOR_compare_product_offerings</doc></span>
</a>

<script type="text/javascript" defer>
    // Create new modal
    function compareProductsPopup() {

        // Show by default and destroy on close
        var options = {
            name: 'compareProducts',
            title: '<doc>bundle.KONE_ENA_ELEVATOR_compare_products</doc>',
            show: true,
            printable: true,
            destroy: true,
            message: new CompareProductsInfo(),
        }
        // Create
        new KoneDialog(options);
    }

    // Generate product comparison table
    function CompareProductsInfo() {

        // Top level container
        const container = document.createElement('div');

        // Main data storage and which to get
        const inputName = 'ESC_GD_TABLE';
        const inputOptions = 'ESC_GD_TOP_SELECT';

        // const products = ['MONOSPACE_500_METRIC', 'MONOSPACE_700_METRIC', 'MINISPACE_METRIC'];
        const products = [];
        try {
            // Attempt to get available products
            var options = document.getElementById(inputOptions).options;
            var unitSuffix = "_METRIC";

            if ($('#UNIT_OF_MEASURE').val() == "IMP")
                unitSuffix = "_IMPERIAL";

            // Get product names
            for (var i = 0; i < options.length; i++) {
                // The values aren't an exact match so we remove the locatized suffix to match
                // the ones in ESC_GD_TABLE.
                var exploded = options[i].value.match(/(TM\d{3})(_.*)/);

                // Add product title and product data entry to the list
                products.push({ title: options[i].text, name: exploded[1] + unitSuffix });
            }
        } catch (error) {
            console.error('Did not find any values in ' + inputOptions);
            return;
        }

        // Define each row first column
        const rowDef = [
            {
                id: 'title',
                bundle: '',
            },
            {
                id: 'purpose',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_purpose</doc>',
                attr: 'ESC_DESCRIPTION', // TODO: this doesn't match but is here for testing purposes
            },
            {
                id: 'people-flow',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_people</doc>',
                attr: 'ESC_PEOPLE_FLOW_ATT',
            },
            {
                id: 'energy-efficiency',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_energy</doc>',
                attr: 'ESC_ENERGY_EFFIC_CLASS_ATT',
            },
            {
                id: 'connected-services',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_services</doc>',
                attr: 'ESC_247_CONNECT_ATT',
                mod: (value) => {
                    let newValue = "";
                    const target = $('#data_ESC_247_CONNECT_ATT');

                    if (value == 'Y') {
                        newValue = "&#10003"; // Checkmark
                    }
                    return newValue;
                }
            },
            {
                id: 'operating-enviroment',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_environment</doc>',
                attr: 'ESC_OPERAT_ENVIRO_ATT',
            },
            {
                id: 'max-vertical-rise',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_table_max_vert_rise</doc>',
                attr: 'ESC_MAX_RISE_ATT',
            },
            {
                id: 'speed',
                bundle: '<doc>bundle.KONE_SELECTOR_TEXT_speed</doc>',
                attr: 'ESC_SPEED_ATT',
            },
            {
                id: 'inclination',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_inclination_word</doc>',
                attr: 'ESC_TRUST_ANGLE_ATT_TEXT',
            },
            {
                id: 'step-width',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_step_width_word</doc>',
                attr: 'ESC_STEPS_ATT_TEXT',
            },
            {
                id: 'horizontal-steps',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_horizontal_steps</doc>',
                attr: 'ESC_HORIZ_STEP_ATT_TEXT',
            },
            {
                id: 'transition-radius',
                bundle: '<doc>bundle.KONE_ESCALATOR_TEXT_transition_radii</doc>',
                attr: 'ESC_TRANS_RADII_ATT',
            },
        ];

        // Create information table
        var createTable = function () {

            // Container and attributes
            var table = document.createElement('table');
            table.setAttribute('id', 'ena_compare_products');
            container.appendChild(table);

            // Table header and body
            var thead = table.createTHead();
            var tbody = table.createTBody();

            // Grab row definitions
            for (var iRow = 0; iRow < rowDef.length; iRow++) {

                // Description column details
                var bundle = document.createTextNode(rowDef[iRow].bundle);

                // Row elements
                var row = table.insertRow();
                row.setAttribute('id', rowDef[iRow].id);

                // Default tag type
                var tagName = 'td';

                // If first in the list, then it's a header
                if (iRow == 0) {
                    tagName = 'th';
                    thead.appendChild(row);
                } else {
                    tagName = 'td';
                    tbody.appendChild(row);
                }

                // If first in the list, then it's a header
                var descCell = document.createElement(tagName);

                // Add description to the beginning of the row
                descCell.appendChild(bundle);
                row.appendChild(descCell);

                // Flag to hide row if now data was found for any product
                let valuesFound;

                // Build row cells for each product
                for (var iProd = 0; iProd < products.length; iProd++) {
                    // Reset values for row
                    valuesFound = 0;

                    // New cell
                    var productCell = document.createElement(tagName);

                    // Get value and convert to node, then add to existing row
                    if (rowDef[iRow].id == 'title') {
                        // Use pre-processed title
                        productCell.innerText = products[iProd]['title'];
                    } else {
                        if (rowDef[iRow].attr == 'MISSING')
                            productCell.innerText = "[PLACEHOLDER]";
                        else {
                            let value = getAttributeValue(inputName, products[iProd]['name'], rowDef[iRow].attr);

                            // Modify if it exists
                            if (typeof rowDef[iRow].mod === 'function') {
                                value = rowDef[iRow].mod(value);
                            }

                            productCell.innerHTML = value;

                            // Count values found
                            if (value) {
                                valuesFound++;
                            }
                        }
                    }
                    row.appendChild(productCell);
                }

                // If not header and no values found for that row, hide it
                if (rowDef[iRow].id !== 'title' && valuesFound === 0) {
                    row.style.display = 'none';
                }
            }
            return table;
        }

        // Create disclaimer
        var createDisclaimer = function () {

            // Container and attributes
            var disclaimer = document.createElement('div');
            disclaimer.setAttribute('id', 'compare-disclaimer');

            // Disclaimer: * Capacity depends on...
            var span1 = document.createElement('span')
            span1.innerHTML = "<p><doc>bundle.KONE_ESCALATOR_disclaimer_capacity</doc></p>";

            // Disclaimer: * Capacity depends on...
            var span2 = document.createElement('span')
            span2.innerHTML = "<p><doc>bundle.KONE_ESCALATOR_disclaimer_efficiency</doc></p>";

            // Build element
            disclaimer.appendChild(span1);
            disclaimer.appendChild(span2);

            return disclaimer;
        }

        // Built and return message
        container.appendChild(createTable());

        // Only add disclaimers if US or Canada
        if (['US', 'CA'].includes($('#ANON_USE_GRP').val())) {
            container.appendChild(createDisclaimer());
        }

        return container;
    }
</script>
