<!-- /concept/custom/jpocs/kone/escalator_planner/key_values_table.html -->

<table class="keyValuesTable">
    <tr>
        <th colspan="2" class="koneyblue-background KONE18 pad">
            <div>
                <doc>bundle.KONE_ELEVATOR_HEADER_key_values_table</doc>
            </div>&nbsp;
            <div>
                <doc>
                    <out>configuration.getInputByName('ESC_GD_TOP_SELECT').getValue().getLabel()</out>
                </doc>
            </div>
        </th>
    </tr>

    <!-- ENA name space  -->
    <doc>
        <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
            <tr class="koneywhite-background">
                <td>
                    <div>
                        <div name="CODES_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_regulation</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="CODES_data"></div>
                    </div>
                </td>
                <td>
                    <div>
                        <div name="TYP_ESC_FALL_PROTECTION_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_seismic</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="TYP_ESC_SEISMIC_CODE_data"></div>
                    </div>
                </td>
            </tr>
            <tr class="koneygrey-background">
                <td>
                    <div>
                        <div name="TYP_ARRANGEMENT_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_arrangement</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="TYP_ESC_ARRANGEMENT_data"></div>
                    </div>
                </td>

                <td>
                    <div>
                        <div name="DIM_ESC_VERTICAL_METRIC_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_VERTICAL_data"></div>
                    </div>

                </td>
            </tr>
            
            <tr class="koneywhite-background">
                <td></td>
                <td>
                    <div>
                        <div name="ESC_HORIZONTAL_STEPS_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_horizontal_steps</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="ESC_HORIZONTAL_STEPS_data"></div>
                    </div>
                </td>
                <td>
                    <div>
                        <div name="DIM_ESC_STEP_WIDTH_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_step_width</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_STEP_WIDTH_data"></div>
                    </div>
                </td>
            </tr>
            <tr class="koneygrey-background">
                <td>
                    <div>
                        <div name="INC_OR_TR_ANGLE_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_inclination</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="INC_OR_TR_ANGLE_data">&deg;</div>
                    </div>

                </td>
                <td>
                    <div>
                        <div name="DIM_ESC_BA_HEIGHT_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_balustrade_height</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_BA_HEIGHT_data"></div>
                    </div>
                </td>
            </tr>
        </if>
    </doc>

    <!-- Global name space  -->
    <doc>
        <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())==null">
            <tr class="koneygrey-background">
                <td>
                    <div>
                        <div name="CODES_label_" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_regulation</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="CODES_data"></div>
                    </div>
                </td>

                <td>
                    <div>
                        <div name="TYP_ARRANGEMENT_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_arrangement</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="TYP_ESC_ARRANGEMENT_data"></div>
                    </div>
                </td>
            </tr>

            <tr class="koneygrey-background">
                <td>
                    <div>
                        <div name="DIM_ESC_VERTICAL_METRIC_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_VERTICAL_data"></div>
                    </div>
                </td>

                <td>
                    <div>
                        <div name="INC_OR_TR_ANGLE_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_inclination</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="INC_OR_TR_ANGLE_data">&deg;</div>
                    </div>
                </td>
            </tr>

            <tr class="koneywhite-background">
                <td>
                    <div>
                        <div name="DIM_ESC_STEP_WIDTH_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_step_width</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_STEP_WIDTH_data"></div>
                    </div>
                </td>

                <td>
                    <div>
                        <div name="ESC_HORIZONTAL_STEPS_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_horizontal_steps</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="ESC_HORIZONTAL_STEPS_data"></div>
                    </div>
                </td>
            </tr>

            <tr class="koneygrey-background">
                <td>
                    <div>
                        <div name="DIM_ESC_BA_HEIGHT_label" class="keySummaryLabel">
                            <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_balustrade_height</doc>
                        </div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="DIM_ESC_BA_HEIGHT_data"></div>
                    </div>
                </td>

                <td>
                    <div>
                        <div name="TYP_ESC_SEISMIC_CODE_label" class="keySummaryLabel"></div>
                    </div>
                    <div class="KeySummaryValue">
                        <div class="KeySummaryValuefont" name="TYP_ESC_SEISMIC_CODE_data"></div>
                    </div>
                </td>
            </tr>
        </if>
    </doc>
</table>

<script type="text/javascript" defer>
    var isKeyValuesScrolling = false;
    var timer;

    function initKeyValuesPanel() {
        //Add Key Values Side DIV
        //Product page only

        if ($('#keyValuesPanel').length == 0) {
            var carouselMAIN_IMAGE = "ESC_MAIN_IMAGE";
            var MAIN_IMAGE_FEEDER = "ESC_MAIN_IMAGE_FEEDER";

            $('#interface').prepend('<div id="keyValuesPanel" class="keyValuesPanel"><div id="key-content"></div></div>');

            var keyValues = $('#ESC_KEY_VALUES_TABLE_HTML_TR_tag');
            var mainImage = $('#' + carouselMAIN_IMAGE + '_TR_tag');
            //var mainImageText = $('#ESC_CAROUSEL_MAIN_IMAGE_TEXT_TR_tag');
            var mainImageText = '<tr id="ESC_MAIN_IMAGE_keyvaluestext_TR_tag">' +
                '<td colspan="4" valign="middle">' +
                '<div>' +
                '<div name="ESC_MAIN_IMAGE_data"></div>' +
                '</div>' +
                '</td>' +
                '</tr>';

            var mainImageFeeder = $('#' + MAIN_IMAGE_FEEDER + '_TR_tag1');
            $('#keyValuesPanel #key-content').html('<table><tbody id="KEY_VALUES_INFO"></tbody></table>');
            $('#KEY_VALUES_INFO').append(keyValues);
            $('#KEY_VALUES_INFO').append(mainImage);
            $('#KEY_VALUES_INFO').append(mainImageText);
            // $('#KEY_VALUES_INFO').append(mainImageFeeder);

            MediaCarousel(MAIN_IMAGE_FEEDER, 'KEY_VALUES_INFO');

            // Move the *_MAIN_IMAGE_FEEDER input into the non-carousel feeder row
            // so that it is not moved out of document.ui and is still accessible
            // through that namespace.
            let imageFeederInput = $("#" + MAIN_IMAGE_FEEDER);
            let imageFeederParent = $("#" + MAIN_IMAGE_FEEDER + "_TD_tag");
            imageFeederParent.append(imageFeederInput);
        }
    }

    // Adjust the Key Values Table if we're KONE (Escalator Planner)
    function adjustKeyValueTable() {
        try {
            let valuesPanel = document.getElementById("keyValuesPanel");

            if (valuesPanel !== undefined) {
                let valuesTable = valuesPanel.getElementsByClassName("keyValuesTable")[0];

                let tableContents = valuesTable.getElementsByTagName("tbody")[0];
                let tableRows = tableContents.getElementsByTagName("tr");

                for (let i = 0; i < tableRows.length; i++) {
                    let cells = tableRows[i].getElementsByTagName("td");

                    if (cells.length > 1) {
                        let row = document.createElement("tr");
                        row.appendChild(cells[1]);
                        tableContents.appendChild(row);
                    }

                    if (i !== 0 && tableRows[i].classList !== undefined) {
                        tableRows[i].classList = "kvp-row";
                    } else if (i === 0) {
                        tableRows[i].classList = "kvp-header";
                    }
                }

                for (let i = 0; i < tableRows.length; i++) {
                    let value = tableRows[i].getElementsByClassName("KeySummaryValue")[0];
                    if (value !== undefined) {
                        let cell = document.createElement("td");
                        cell.appendChild(value);
                        tableRows[i].appendChild(cell);
                    }
                }
            }
        } catch (error) {
            console.error(error.message);
        }
    }

    function repositionKeyValuesPanel() {
        try {
            let sidebarParent = document.getElementById("kone-sidebar-parent");
            let keyValuesPanel = document.getElementById("keyValuesPanel");
            sidebarParent.appendChild(keyValuesPanel);
        } catch (error) {
            console.error(error.message);
        }
    }

    function removeKeyValueHeaderSpace() {
        let keyValuesPanel = document.getElementById("keyValuesPanel");
        let panelHeader = keyValuesPanel.getElementsByClassName("kvp-header")[0]; // NOTE: There should only be one.
        let headerInner = panelHeader.getElementsByTagName("th")[0];
        headerInner.childNodes[2].remove();
    }

    $(() => {
        initKeyValuesPanel();

        // Check whether we are KONE based on the prodId value:
        let productID = document.querySelector('table[class*="prodId"]').classList[1];
        if (productID !== undefined && productID === "prodId261612571") {
            adjustKeyValueTable();
            repositionKeyValuesPanel();
            removeKeyValueHeaderSpace();
        }
    });
</script>
