<!-- /concept/custom/jpocs/kone/escalator_planner/planned_maintenance.html -->

<style>
    /* Warning message below details table (parent div) */
    #MAINTENANCE_WARNING {
        /* Configure parent div to align child div (warning message) */
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        overflow: hidden;
    }

    /* Warning message below details table (child div) */
    .maintenance-warning {
        /* Move away from details table */
        /* margin-top: 20px; */

        /* Cannot align text verticaly without padding for some reason */
        /*     vertical-align:  top; */
        text-align: center;
        padding-top: 14px;
        height: 36px;

        /* Side spacing */
        padding-left: 100px;
        padding-right: 100px;

        /* Border */
        border: 1px solid transparent;
        border-radius: 4px;

        /* Colors provided on the mock */
        color: #856404;
        background: #fff3cd;
    }
</style>

<div id="MAINTENANCE_WARNING">
    <!-- Insert configuration warning -->
    <div id="MAINTENANCE_WARNING_msg" class="maintenance-warning">
        <doc>bundle.KONE_ESCALATOR_TEXT_planned_maintenance</doc>
    </div>
</div>
