<!-- /concept/custom/jpocs/kone/escalator_planner/product_groups.html -->

<div class="product-group-table" id="template-product-group-wrapper" style="display: none;">
    <div class="group-table" id="escalator-group" data-solution="ESCALATOR">
        <div class="group-table-header">
            <doc>bundle.KONE_ESCALATOR_TEXT_escalator_solutions</doc>
        </div>
    </div>
    <div class="group-table" id="autowalk-group" data-solution="AUTOWALK">
        <div class="group-table-header">
            <doc>bundle.KONE_ESCALATOR_TEXT_autowalk_solutions</doc>
        </div>
    </div>
</div>

<div class="group-wrapper" id="template-group-wrapper" style="display: none;">
    <div class="product-group group-collapsed" id="">
        <div class="group-header">
            <div class="group-header-icon">
                <div class="header-icon"></div>
            </div>
            <div class="group-header-product">
                <div class="product-title"></div>
                <div class="product-summary"></div>
            </div>
            <div class="group-header-details"></div>
            <div class="group-header-properties"></div>
        </div>
        <div class="group-content content-hidden">
            <table class="product-table">
                <tr class="header-row">
                    <td class="header-cell" colspan="3">
                        <div class="header-inner">
                            <div class="image-wrapper">
                                <img class="header-image" src="" alt="header-image" />
                            </div>
                            <div class="product-summary-wrapper">
                                <div class="summary-wrapper">
                                    <div class="group-summary"></div>
                                </div>
                                <div class="product-outer-wrapper">
                                    <div class="product-wrapper" data-val="attr-value-0">
                                        <div class="product-name"></div>
                                        <div class="product-details"></div>
                                        <div class="product-buttons">
                                            <div class="button-wrapper" data-type="config">
                                                <div class="kone-button noselect" onclick="runConfiguration(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_full_configuration</doc>
                                                </div>
                                                <div class="kone-button noselect" onclick="runQuickTool(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_quick_dimension</doc>
                                                </div>
                                            </div>
                                            <div class="button-wrapper" data-type="sales">
                                                <div class="kone-button noselect" onclick="runContactSales(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper" data-val="attr-value-1">
                                        <div class="product-name"></div>
                                        <div class="product-details"></div>
                                        <div class="product-buttons">
                                            <div class="button-wrapper" data-type="config">
                                                <div class="kone-button noselect" onclick="runConfiguration(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_full_configuration</doc>
                                                </div>
                                                <div class="kone-button noselect" onclick="runQuickTool(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_quick_dimension</doc>
                                                </div>
                                            </div>
                                            <div class="button-wrapper" data-type="sales">
                                                <div class="kone-button noselect" onclick="runContactSales(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper" data-val="attr-value-2">
                                        <div class="product-name"></div>
                                        <div class="product-details"></div>
                                        <div class="product-buttons">
                                            <div class="button-wrapper" data-type="config">
                                                <div class="kone-button noselect" onclick="runConfiguration(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_full_configuration</doc>
                                                </div>
                                                <div class="kone-button noselect" onclick="runQuickTool(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_TEXT_quick_dimension</doc>
                                                </div>
                                            </div>
                                            <div class="button-wrapper" data-type="sales">
                                                <div class="kone-button noselect" onclick="runContactSales(this);" data-id="">
                                                    <doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="product-row" data-attr="ESC_INFO_TXT_DRIVE_TECH">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_drive_technology</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_PEOPLE_FLOW_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_people</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_ENERGY_EFFIC_CLASS_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_energy</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_247_CONNECT_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_connectivity</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_OPERAT_ENVIRO_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_environment</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_MAX_RISE_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_max_vert_rise</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_MAX_LENGHT_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_table_max_length</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_SPEED_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_SELECTOR_TEXT_speed</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_INCLINATION_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_inclination_word</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_STEPS_ATT_TEXT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_step_width_word</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_HORIZ_STEP_ATT_TEXT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_horizontal_steps</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_PALLET_ATT_TEXT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_PALLET_WIDTH</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
                <tr class="product-row" data-attr="ESC_HORIZ_PALLET_ATT_TEXT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_HORIZONTAL_PALLETS</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>

                <tr class="product-row" data-attr="ESC_TRANS_RADII_ATT">
                    <td class="product-cell" data-val="attr-label">
                        <doc>bundle.KONE_ESCALATOR_TEXT_transition_radii</doc>
                    </td>
                    <td class="product-cell" data-val="attr-value-0"></td>
                    <td class="product-cell" data-val="attr-value-1"></td>
                    <td class="product-cell" data-val="attr-value-2"></td>
                </tr>
            </table>
            <div class="group-notes">
                <div class="disclaimer" id="capacity-disclaimer">
                    <doc>bundle.KONE_ESCALATOR_disclaimer_capacity</doc>
                </div>
                <div class="disclaimer" id="energy-disclaimer">
                    <doc>bundle.KONE_ESCALATOR_disclaimer_efficiency</doc>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    var isContactSales = false;
    var modEscImageGridLabels = [];

    // NOTE: Ported from selected_product_details; not sure if this is required anymore?
    function contactKone() {
        var url = $('#ESC_CONTACTS_URL option:selected').text().trim();
        var params = "?width=1024&height=768";
        window.open(url + params, '_blank');
    }

    // Store the product image to transfer to the next page:
    // NOTE: Ported from selected_product_details; not sure if this is required anymore?
    function storeImage() {
        //store selected product image
        var input = document.getElementById("ESC_GD_TOP_SELECT");
        var image = $('#IGImage_ESC_GD_TOP_SELECT_' + input.value);
        $('#SELECTED_PRODUCT_IMAGE').val(image.attr('src'));
    }

    // NOTE: NOTE: Ported from selected_product_details.
    function modEscImageGrid(data, driven_id, d_name, d1_name, d2_name, d3_name, d4_name, changed) {
        //return data;
        var attributeName = "ESC_PRODUCT_TYPE_ATT";
        var attrInfo = getAttributeData("ESC_GD_TOP_SELECT");
        var storeLabels = !attrInfo.found;

        var input = document.getElementById("ESC_GD_TOP_SELECT");
        //var attrInfo = getAttributeData("ESC_GD_TOP_SELECT");
        //if (!attrInfo.found) sleep(4500);//This is bad, needed for translations which take an age to return

        data.find('td.label').each(function (i, el) {
            if (el.classList) {
                el.classList.add('image-select-label');
            } else {
                el.className += ' ' + 'image-select-label';
            }

            if (storeLabels) {
                var data = {
                    id: el.id,
                    dataInput: "ESC_GD_TOP_SELECT",
                    value: input[i].value,
                    attribute: attributeName
                };

                modEscImageGridLabels.push(data);
                el.innerHTML = "";
            } else {
                el.innerHTML = getAttributeValue("ESC_GD_TOP_SELECT", input[i].value, attributeName);
            }
        });

        if (storeLabels) {
            setTimeout(restoreModEscImageGridLabels, 250);
        }

        return data;
    }

    // NOTE: NOTE: Ported from selected_product_details.
    function restoreModEscImageGridLabels() {
        //console.debug("restoreModEscImageGridLabels");
        var attrInfo = getAttributeData("ESC_GD_TOP_SELECT");
        if (!attrInfo.found) {
            setTimeout(restoreModEscImageGridLabels, 250);
            return;
        }

        for (var i = 0; i < modEscImageGridLabels.length; i++) {
            var el = document.getElementById(modEscImageGridLabels[i].id);
            var dataInput = modEscImageGridLabels[i].dataInput;
            var value = modEscImageGridLabels[i].value;
            var attributeName = modEscImageGridLabels[i].attribute;
            el.innerHTML = getAttributeValue(dataInput, value, attributeName);
        }
    }

    // NOTE: NOTE: Ported from selected_product_details.
    function createBtn(selected = false) {
        // Text
        const selectText = "<doc>bundle.KONE_ESCALATOR_BUTTON_select</doc>";
        const selectedText = "<doc>bundle.KONE_ESCALATOR_BUTTON_selected</doc>";

        // Button HTML
        const btnSelectHTML = `<div class="kone-button noselect grid-btn">${selectText}</div>`;
        const btnSelectedHTML = `<div class="kone-button noselect grid-btn selected">${selectedText}</div>`;

        return (
            new DOMParser()
                    .parseFromString(selected ? btnSelectedHTML : btnSelectHTML, 'text/html')
                    .body
                    .firstChild
        );
    }

    // NOTE: NOTE: Ported from selected_product_details.
    function modGlobalEscTypRangeOfUse(grid) {
        // Let's use plain js instead of jquery
        const gMod = grid[0];

        // Modify structure and add button
        gMod.querySelectorAll('.image-cell').forEach((cell, i) => {
            const div = cell.querySelector('.selectMenuGrid-Text-OptionBox');
            const img = cell.querySelector('img')
            const imgToDiv = document.createElement('div');

            // Copy image element attributes to preserve original behaviour
            for (let attr of img.attributes) {
                // Change id
                if (attr.name == 'id') {
                    attr.value = attr.value + '_mod';
                }

                // Do not copy these
                const exclusion = ['vspace', 'hspace', 'style'];
                if (!exclusion.includes(attr.name)) {
                    imgToDiv.setAttribute(attr.name, attr.value);
                }
            }

            // Identify modded image container
            imgToDiv.classList.add('image-mod');

            // Add new image container before button
            div.prepend(imgToDiv);

            // Select and selected buttons and event
            const btn = createBtn(div.classList.contains('selectMenuGrid-Selected'));
            btn.setAttribute('onclick', div.getAttribute('onclick'));
            div.after(btn);
        });

        // convert back to jquery since that's what rotateImage uses.
        return $(gMod);
    }

    // NOTE: NOTE: Ported from selected_product_details.
    function modGlobalEscImageGrid(grid) {
        // Let's use plain js instead of jquery
        const gMod = grid[0];

        // Modify structure and add button
        gMod.querySelectorAll('img').forEach(img => {

            // Select and selected buttons and event
            const btn = createBtn(img.classList.contains('selected'));
            btn.setAttribute('onclick', img.getAttribute('onclick'));
            img.after(btn);
        });

        // convert back to jquery since that's what rotateImage uses.
        return $(gMod);
    }

    // Set the QUICKTOOL flag to trigger the 'Quick Tool' logic:
    // NOTE: Ported from selected_product_details.
    function goToQuicktool() {
        $('#QUICKTOOL').val('YES');
        runPageAction();
    }

    // Move to the next page (the configurator):
    // NOTE: Ported from selected_product_details.
    function runPageAction() {
        if (isContactSales) {
            var url = $('#ESC_CONTACTS_URL option:selected').text().trim();
            window.open(url);
            $('#QUICKTOOL').val('NO'); // Reset if it fails. Might prevent users getting stuck.
        } else {
            storeImage();
            var dataAction = {
                'action': 'configure escalator',
                'recommendation': getInputLabel(document.getElementById("ESC_GD_TOP_SELECT")),
                'options': getAllInputData()
            };
            sendAllInputData(dataAction);
            nextPage();
        }
    }

    // 'Full Configuration' button click event handler:
    function runConfiguration(element) {
        isContactSales = false;
        document.getElementById("ESC_GD_TOP_SELECT").value = element.dataset.id;
        runPageAction();
    }

    // 'Quick Dimensions' button click event handler:
    function runQuickTool(element) {
        isContactSales = false;
        document.getElementById("ESC_GD_TOP_SELECT").value = element.dataset.id;
        goToQuicktool();
    }

    // 'Contact Sales' button click event handler:
    function runContactSales(element) {
        isContactSales = true;
        document.getElementById("ESC_GD_TOP_SELECT").value = element.dataset.id;
        runPageAction();
    }
</script>

<!-- Was type="module" for async function -->
<script type="text/javascript" defer>
    const PRODUCT_DATA = "ESC_GD_TABLE";
    const PRODUCT_SELECTION = "ESC_GD_TOP_SELECT";
    const TAB_SELECTION = "ESC_TOP_MENU";
    const COUNTRY_SELECTION = "CHANGE_COUNTRY";
    const PROJECT_COUNTRY_SELECTION = "KONE_COUNTRY_C_1";

    const UNIT_OF_MEASURE = "UNIT_OF_MEASURE";
    const PRODUCT_ID = "ESC_PRODUCT_ID";
    const INFO_GROUPING = "ESC_INFO_GROUPING";
    const INFO_GROUPING_ORDER = "ESC_INFO_GROUPING_order";
    const INFO_GROUPING_HEADER = "ESC_INFO_GROUPING_header";
    const INFO_GROUPING_HEADER_TOGGLE = "ESC_INFO_GROUPING_header_toggle";
    const INFO_GROUPING_HEADER_IMAGE = "ESC_INFO_GROUPING_header_image";
    const INFO_GROUPING_SOLUTION = "ESC_INFO_GROUPING_solution";
    const INFO_HASHTAG = "ESC_INFO_TXT_hastag";
    const PRODUCT_TYPE = "CONTINUE_OR_SALES";
    const DESCRIPTION_TEXT = "TEXT";

    var productModel = new Map();

    var renderedGroups = [];

    var UOM;

    var countryInput;
    var projectCountryInput;
    var productInput;
    var dataInput;
    var menuInput;

    var contentWrapper;
    var productWrapper;

    var tableAttributes = {
        AUTOWALK: [
            "ESC_INFO_TXT_DRIVE_TECH",
            "ESC_PEOPLE_FLOW_ATT",
            "ESC_ENERGY_EFFIC_CLASS_ATT",
            "ESC_247_CONNECT_ATT",
            "ESC_OPERAT_ENVIRO_ATT",
            "ESC_MAX_RISE_ATT",
            "ESC_MAX_LENGHT_ATT",
            "ESC_SPEED_ATT",
            "ESC_INCLINATION_ATT",
            "ESC_PALLET_ATT_TEXT",
            "ESC_HORIZ_PALLET_ATT_TEXT",
            "ESC_TRANS_RADII_ATT"
        ],
        ESCALATOR: [
            "ESC_INFO_TXT_DRIVE_TECH",
            "ESC_PEOPLE_FLOW_ATT",
            "ESC_ENERGY_EFFIC_CLASS_ATT",
            "ESC_247_CONNECT_ATT",
            "ESC_OPERAT_ENVIRO_ATT",
            "ESC_MAX_RISE_ATT",
            "ESC_SPEED_ATT",
            "ESC_INCLINATION_ATT",
            "ESC_STEPS_ATT_TEXT",
            "ESC_HORIZ_STEP_ATT_TEXT",
            "ESC_TRANS_RADII_ATT"
        ]
    };

    var textInputs = [
        "ESC_GD_PRODUCT_TEXT_110",
        "ESC_GD_PRODUCT_TEXT_115",
        "ESC_GD_PRODUCT_TEXT_120",
        "ESC_GD_PRODUCT_TEXT_140",
        "ESC_GD_PRODUCT_TEXT_165"
    ];

    class Product {
        constructor(id, name, type, data, solution, altID) {
            this.id = id;
            this.name = name;
            this.type = type;
            this.data = data;
            this.solution = solution;
            this.altID = altID;
        }
    }

    class ProductGroup {
        constructor(id, group) {
            this.id = id;
            this.group = group;
        }
    }

    // Sort and organise the product groups before we render them.
    function populateProductGroups() {
        let productGroups = [];

        // Clear the existing product groups:
        if (renderedGroups.length > 0) {
            for (let i = 0; i < renderedGroups.length; i++) {
                $(renderedGroups[i]).remove();
            }

            renderedGroups = [];

            $(".group-table[data-solution='ESCALATOR']").hide();
            $(".group-table[data-solution='AUTOWALK']").hide();
        }

        if (productInput.options.length === 0 || productInput.options[0].value === "" || projectCountryInput.value === "PS") {
            return;
        }

        // Create the product-group-wrapper (check if it exists first):
        if (!productWrapper) {
            productWrapper = document.getElementById("template-product-group-wrapper").cloneNode(true);
            productWrapper.removeAttribute("style");
            productWrapper.id = "escalator-product-group-table";

            contentWrapper.append(productWrapper);
        }

        for (let i = 0; i < productInput.options.length; i++) {
            let product = productInput[i];

            let productID = getAttributeValue(productInput.name, product.value, PRODUCT_ID)[0];
            let productAltID = product.value;
            let productName = $('#' + PRODUCT_SELECTION + " option[value='" + product.value + "']").text();
            let productType = getAttributeValue(productInput.name, product.value, PRODUCT_TYPE)[0];
            let productData = getProductAttributes(productID);

            if (!productData) {
                productID = productID + "_" + UOM;
                productData = getProductAttributes(productID);

                if (!productData) {
                    console.error("Unable to find product data for " + productID);
                    return;
                }
            }

            let solutionType = getAttributeValue(dataInput.name, productID, INFO_GROUPING_SOLUTION);
            if (solutionType) {
                solutionType = solutionType[0];
            }

            let groupID = getAttributeValue(dataInput.name, productID, INFO_GROUPING);
            if (groupID) {
                let groupIndex = getAttributeValue(dataInput.name, productID, INFO_GROUPING_ORDER)[0];

                let productGroup;
                for (let x = 0; x < productGroups.length; x++) {
                    if (productGroups[x].id === groupID[0]) {
                        productGroup = productGroups[x];
                        break;
                    }
                }

                if (productGroup) {
                    if (groupIndex) {
                        if (productGroup.group.length >= groupIndex) {
                            productGroup.group.push(new Product(productID, productName, productType, productData, solutionType, productAltID));
                        } else {
                            productGroup.group.splice(groupIndex, 0, new Product(productID, productName, productType, productData, solutionType, productAltID));
                        }
                    } else {
                        productGroup.group.push(new Product(productID, productName, productType, productData, solutionType, productAltID));
                    }
                } else {
                    let group = [ new Product(productID, productName, productType, productData, solutionType, productAltID) ];
                    productGroup = new ProductGroup(groupID[0], group);
                    productGroups.push(productGroup);
                }
            } else {
                let group = [ new Product(productID, productName, productType, productData, solutionType, productAltID) ];
                let productGroup = new ProductGroup(null, group);
                productGroups.push(productGroup);
            }
        }

        // Render the product groups:
        for (let i = 0; i < productGroups.length; i++) {
            let productGroup = productGroups[i];
            createProductGroup(productGroup);
        }
    }

    // Render the product group from the data supplied.
    function createProductGroup(productGroup) {
        let groupWrapper = document.getElementById("template-group-wrapper").cloneNode(true);
        groupWrapper.removeAttribute("style");
        groupWrapper.removeAttribute("id");

        groupWrapper.querySelector(".product-group").id = productGroup.group[0].id + "-product-group";
        groupWrapper.querySelector(".product-title").innerHTML = productGroup.group[0].name;

        // Populate the product group headers:
        for (let i = 0; i < productGroup.group[0].data.length; i++) {
            let attribute = productGroup.group[0].data[i];

            if (attribute.value !== null) {
                switch (attribute.attr) {
                    case "ESC_DESCRIPTION":
                        let productDescription = groupWrapper.querySelector(".product-summary");
                        if (productDescription !== null) productDescription.textContent = attribute.value;
                        break;

                    case "ESC_INFO_TXT_hastag_tag":
                        if (attribute.value.length > 0) {
                            let productDetails = groupWrapper.querySelector(".group-header-details");
                            if (productDetails !== null) {
                                for (let x = 0; x < attribute.value.length; x++) {
                                    let productDetail = document.createElement("span");
                                    productDetail.classList.add("product-hashtag");
                                    productDetail.textContent = attribute.value[x];
                                    productDetails.append(productDetail);
                                }
                            }
                        }
                        break;

                    case "ESC_MAX_RISE_ATT":
                        let productProperties = groupWrapper.querySelector(".group-header-properties");
                        if (productProperties !== null) {
                            let productProperty = document.createElement("div");
                            productProperty.id = "max-rise";
                            productProperty.classList.add("product-property");

                            let propertyIcon = document.createElement("div");

                            if (productGroup.group[0].solution) {
                                if (productGroup.group[0].solution === "AUTOWALK") {
                                    propertyIcon.classList.add("icon", "icon-autowalk");
                                } else if (productGroup.group[0].solution === "ESCALATOR") {
                                    propertyIcon.classList.add("icon", "icon-escalator");
                                }

                                if (getProductAttribute(productGroup.group[0], "ESC_ICON_incline") === "true") {
                                    propertyIcon.classList.add("icon-inclined");
                                }
                            } else {
                                propertyIcon.classList.add("icon");
                            }

                            productProperty.append(propertyIcon);

                            let propertyWrapper = document.createElement("div");
                            propertyWrapper.classList.add("property-details");

                            let propertyText = document.createElement("div");
                            propertyText.classList.add("text");

                            if (productGroup.group[0].solution) {
                                if (productGroup.group[0].solution === "ESCALATOR" || (productGroup.group[0].solution === "AUTOWALK" && getProductAttribute(productGroup.group[0], "ESC_ICON_incline") === "true")) {
                                    propertyText.textContent = "<doc>bundle.KONE_ESCALATOR_TEXT_rise</doc>";
                                } else if (productGroup.group[0].solution === "AUTOWALK") {
                                    propertyText.textContent = "<doc>bundle.KONE_ESCALATOR_TEXT_length</doc>";
                                }
                            } else {
                                propertyText.textContent = "<doc>bundle.KONE_ESCALATOR_TEXT_rise</doc>";
                            }

                            propertyWrapper.append(propertyText);

                            let propertyValue = document.createElement("div");
                            propertyValue.classList.add("value");
                            propertyValue.textContent = "<doc>bundle.KONE_ESCALATOR_TEXT_up_to</doc> " + attribute.value;

                            propertyWrapper.append(propertyValue);

                            productProperty.append(propertyWrapper);
                            productProperties.append(productProperty);
                        }
                        break;
                }
            }
        }

        // If we have an image, populate the header-image element:
        let groupImage = getAttributeValue(dataInput.name, productGroup.group[0].id, INFO_GROUPING_HEADER_IMAGE);
        if (groupImage !== null && groupImage.length > 0) {
            groupWrapper.querySelector(".header-image").src = "/HTML/images/" + groupImage[0];
        }

        // If we have less than two products within this group, remove the other set of buttons:
        if (productGroup.group.length < 3) {
            let elements = groupWrapper.querySelectorAll("*[data-val='attr-value-2']");
            if (elements.length > 0) {
                for (let i = 0; i < elements.length; i++) {
                    $(elements[i]).hide();
                }
            }
        }

        if (productGroup.group.length < 2) {
            let elements = groupWrapper.querySelectorAll("*[data-val='attr-value-1']");
            if (elements.length > 0) {
                for (let i = 0; i < elements.length; i++) {
                    $(elements[i]).hide();
                }
            }
        }

        groupWrapper.querySelector(".product-outer-wrapper").setAttribute("data-num", productGroup.group.length);

        let useHeader = false;
        let toggleHeader = getAttributeValue(dataInput.name, productGroup.group[0].id, INFO_GROUPING_HEADER_TOGGLE);
        if (toggleHeader !== null && toggleHeader.length > 0) {
            useHeader = (toggleHeader[0] === "true");
        }

        // If we've specified that we should toggle (true) the grouping header, we should use the group description
        // found in the ESC_INFO_GROUPING_header attribute instead of each product's individual details:
        if (useHeader === true) {
            let groupHeader = getAttributeValue(dataInput.name, productGroup.group[0].id, INFO_GROUPING_HEADER);
            if (groupHeader && groupHeader.length > 0) {
                let textInput = document.getElementById(groupHeader[0]);
                if (textInput !== null) {
                    let text = getAttributeValue(textInput.name, "default", DESCRIPTION_TEXT);
                    if (text !== null && text.length > 0) {
                        groupWrapper.querySelector(".group-summary").innerHTML = text;
                        groupWrapper.querySelector(".header-inner").classList.add("show-summary");
                    }
                }
            }
        }

        // Populate the product group content:
        for (let i = 0; i < productGroup.group.length; i++) {
            let productID = productGroup.group[i].id;

            if (useHeader) {
                let summaryWrapper = groupWrapper.querySelector(".summary-wrapper");
                $(summaryWrapper).show();
            } else {
                let summaryWrapper = groupWrapper.querySelector(".summary-wrapper");
                $(summaryWrapper).hide();

                let productName = productGroup.group[i].name;
                groupWrapper.querySelector(".product-wrapper[data-val='attr-value-" + i + "'] .product-name").innerHTML = productName;

                let productDetails = getAttributeValue(dataInput.name, productID, INFO_HASHTAG);
                if (productDetails !== null && productDetails.length > 0) {
                    let details = groupWrapper.querySelector(".product-wrapper[data-val='attr-value-" + i + "'] .product-details");

                    for (let x = 0; x < productDetails.length; x++) {
                        let detail = document.createElement("div");
                        detail.classList.add("detail");
                        detail.textContent = productDetails[x];
                        details.append(detail);
                    }
                }
            }

            let productType = productGroup.group[i].type;
            if (productType === "CONTINUE") {
                let button = groupWrapper.querySelector(".product-wrapper[data-val='attr-value-" + i + "'] .button-wrapper[data-type='sales']");
                if (button) $(button).remove();

                let buttons = groupWrapper.querySelectorAll(".product-wrapper[data-val='attr-value-" + i + "'] .button-wrapper[data-type='config'] .kone-button");
                if (buttons.length > 0) {
                    for (let x = 0; x < buttons.length; x++) {
                        buttons[x].dataset.id = productGroup.group[i].altID;
                    }
                }
            } else {
                let button = groupWrapper.querySelector(".product-wrapper[data-val='attr-value-" + i + "'] .button-wrapper[data-type='config']");
                if (button) $(button).remove();

                let buttons = groupWrapper.querySelectorAll(".product-wrapper[data-val='attr-value-" + i + "'] .button-wrapper[data-type='sales'] .kone-button");
                if (buttons.length > 0) {
                    for (let x = 0; x < buttons.length; x++) {
                        buttons[x].dataset.id = productGroup.group[i].altID;
                    }
                }
            }

            // Choose which attribute table we use depending on the solution type (escalator === default):
            let _tableAttributes = tableAttributes.ESCALATOR;
            if (productGroup.group[i].solution === "AUTOWALK") {
                _tableAttributes = tableAttributes.AUTOWALK;
            } else if (productGroup.group[i].solution === "ESCALATOR") {
                _tableAttributes = tableAttributes.ESCALATOR;
            }

            // Hide the appropriate table cells depending on the solution type:
            if (productGroup.group[i].solution === "AUTOWALK") {
                let row = groupWrapper.querySelector(".product-row[data-attr='ESC_STEPS_ATT_TEXT']");
                if (row !== null) {
                    $(row).remove();
                }

                row = groupWrapper.querySelector(".product-row[data-attr='ESC_HORIZ_STEP_ATT_TEXT']");
                if (row !== null) {
                    $(row).remove();
                }
            } else if (productGroup.group[i].solution === "ESCALATOR") {
                let row = groupWrapper.querySelector(".product-row[data-attr='ESC_PALLET_ATT_TEXT']");
                if (row !== null) {
                    $(row).remove();
                }

                row = groupWrapper.querySelector(".product-row[data-attr='ESC_HORIZ_PALLET_ATT_TEXT']");
                if (row !== null) {
                    $(row).remove();
                }
            }

            if (getProductAttribute(productGroup.group[i], "ESC_MAX_LENGHT_ATT") !== null) {
                row = groupWrapper.querySelector(".product-row[data-attr='ESC_MAX_RISE_ATT']");
                if (row !== null) {
                    $(row).remove();
                }
            } else {
                row = groupWrapper.querySelector(".product-row[data-attr='ESC_MAX_LENGHT_ATT']");
                if (row !== null) {
                    $(row).remove();
                }
            }

            for (let x = 0; x < _tableAttributes.length; x++) {
                let value = getAttributeValue(dataInput.name, productID, _tableAttributes[x]);
                if (value !== null && value.length > 0) {
                    let cell = groupWrapper.querySelector("tr[data-attr='" + _tableAttributes[x] + "'] td[data-val='attr-value-" + i +"']");
                    if (cell) {
                        if (_tableAttributes[x] === "ESC_247_CONNECT_ATT") {
                            if (value[0] === "Y") {
                                let icon = document.createElement("span");
                                icon.classList.add("icon", "icon-check");
                                cell.append(icon);
                            } else if (value[0] === "N") {
                                let icon = document.createAttribute("span");
                                icon.classList.add("icon", "icon-cross");
                                cell.append(icon);
                            }
                        } else {
                            cell.textContent = value;
                        }
                    }
                }
            }
        }

        renderedGroups.push(groupWrapper);

        // Choose which group-table the groupWrapper will be attached to:
        if (productGroup.group[0].solution) {
            if (productGroup.group[0].solution === "AUTOWALK") {
                productWrapper.querySelector(".group-table[data-solution='AUTOWALK']").append(groupWrapper);
                $(".group-table[data-solution='AUTOWALK']").show();
            } else if (productGroup.group[0].solution === "ESCALATOR") {
                productWrapper.querySelector(".group-table[data-solution='ESCALATOR']").append(groupWrapper);
                $(".group-table[data-solution='ESCALATOR']").show();
            }
        } else {
            productWrapper.querySelector(".group-table[data-solution='AUTOWALK']").append(groupWrapper);
        }

        // Assign expand/collapse event:
        let groupHeader = groupWrapper.querySelector(".group-header");
        if (groupHeader) {
            groupHeader.id = productGroup.group[0].id + "-group-header";
            groupHeader.setAttribute("onclick", "expandHeader(this);scrollEvent('#" + groupHeader.id + "', 500, 12);");
        }
    }

    // Get a <K, V> pair from the product model.
    function getProductAttributes(productID) {
        for (const [key, value] of productModel.entries()) {
            if (key === productID) {
                return value;
            }
        }
    }

    function getProductAttribute(productGroup, key) {
        for (let i = 0; i < productGroup.data.length; i++) {
            if (productGroup.data[i].attr === key) {
                if (productGroup.data[i].value !== null) {
                    if (productGroup.data[i].value.length) {
                        return productGroup.data[i].value[0];
                    } else {
                        return productGroup.data[i].value;
                    }
                } else {
                    return null;
                }
            }
        }
    }

    // Populate the product model with attribute data from the ESC_GD_TABLE input.
    function populateProductModel() {
        let result = getAttributeData(dataInput.name);
        if (result) {
            let data = result.data.option;
            for (let i = 0; i < data.length; i++) {
                productModel.set(data[i].value, data[i].result);
            };
        }
    }

    // Expand the selected product group whilst collapsing the rest.
    function expandHeader(element) {
        let groupID = element.parentElement.id;
        collapseHeaders(groupID);

        let expanded = element.parentElement.classList.contains("group-expanded");
        if (expanded) {
            element.parentElement.classList.remove("group-expanded");
            element.parentElement.classList.add("group-collapsed");
            element.parentElement.querySelector(".group-content").classList.add("content-hidden");
        } else {
            element.parentElement.classList.add("group-expanded");
            element.parentElement.classList.remove("group-collapsed");
            element.parentElement.querySelector(".group-content").classList.remove("content-hidden");
        }
    }

    // Collapse all of the product group headers except for the one that matches the specified groupID.
    function collapseHeaders(groupID) {
        for (let i = 0; i < renderedGroups.length; i++) {
            let group = renderedGroups[i].querySelector(".product-group");
            if (group) {
                if (group.id !== groupID && group.classList.contains("group-expanded")) {
                    group.classList.remove("group-expanded");
                    group.classList.add("group-collapsed");
                    group.querySelector(".group-content").classList.add("content-hidden");
                }
            }
        }
    }

    // Cache all of the important inputs before we use them.
    function init() {
        countryInput = document.getElementById(COUNTRY_SELECTION);
        productInput = document.getElementById(PRODUCT_SELECTION);
        projectCountryInput = document.getElementById(PROJECT_COUNTRY_SELECTION);
        dataInput = document.getElementById(PRODUCT_DATA);
        menuInput = document.getElementById(TAB_SELECTION);
        contentWrapper = document.querySelector(".concept-ui-form.scrollable");

        if (!countryInput || !productInput || !menuInput || !contentWrapper) return false;
        return true;
    }

    // Cache all of the attribute data before we use it.
    async function initAttributes() {
        await getInputAttributes(COUNTRY_SELECTION);
        await getInputAttributes(PRODUCT_SELECTION);
        await getInputAttributes(PRODUCT_DATA);

        for (let i = 0; i < textInputs.length; i++) {
            await getInputAttributes(textInputs[i]);
        }
    }

    // Watch the product input (ESC_GD_TOP_SELECT) for changes, and when it's triggered,
    // clear-out and re-populate the product groups.
    function initProductObserver() {
        const observer = new MutationObserver((mutations, observer) => {
            let isUpdate = false;

            for (let i = 0; i < mutations.length; i++) {
                let mutation = mutations[i];
                if (mutation.type === "childList" && mutation.addedNodes.length || mutation.removedNodes.length) {
                    isUpdate = true;
                    break;
                }
            }

            if (isUpdate) {
                populateProductGroups();
            }
        });
        observer.observe(productInput, { subtree: true, childList: true });
    }

    $(() => {
        try {
            let result = init();
            if (!result) console.error("Couldn't find one or more of the crutial inputs.");

            initAttributes().then(() => {
                UOM = getAttributeValue(countryInput.name, countryInput.value, UNIT_OF_MEASURE)[0];

                populateProductModel();
                populateProductGroups();

                initProductObserver();

                // When we change tab, hide/show the product groups depending on where we are:
                $(menuInput).change(function() {
                    if (menuInput.value === "PRODUCT" || menuInput.value === "BUILDING") {
                        $(productWrapper).show();
                    } else {
                        $(productWrapper).hide();
                    }
                });

                // Make sure we're showing the product groups correctly:
                $(menuInput).change();
            });
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
