<!-- /concept/custom/jpocs/kone/escalator_planner/quicktool_key_values_table.html -->

<!-- Header for print preview -->
<header id="qt-header" class="qt-print">
    <span class="icon">&#x33;</span>
    <h1 class="title planner">
        <doc>bundle.KONE_ESCALATOR_planner_name</doc>
    </h1>
    <h2>
        <doc><out>configuration.getInputByName('ESC_GD_TOP_SELECT').getValue().getLabel()</out></doc>
    </h2>
</header>

<!-- Application container for canvases -->
<article id="quicktool-container">

    <div class="canvas left">
        <article id="qt-rise" class="quicktool-canvas">
            <h2 for="QT_IMG_1-canvas">
                <doc><out>configuration.getInputByName('QT_IMG_1').getLabel()</out></doc>
            </h2>

            <canvas name="QT_IMG_1-canvas" id="QT_IMG_1-canvas"></canvas>

            <div id="legend" class="load">
                <div class="col icon-font"></div>
                <div class="col message-container">
                    <!--<div class="line">
                        <span class="message"><doc>bundle.KONE_ESCALATOR_support_load</doc></span>
                        <span class="value kn"><doc>bundle.KONE_ESCALATOR_rm1_kn</doc></span>
                    </div>-->
                    <span class="line message"><doc>bundle.KONE_ESCALATOR_structure_provided</doc></span>
                </div>
            </div>
        </article>
    </div>

    <div class="canvas right">
        <article id="qt-steps" class="quicktool-canvas">
            <h2 for="QT_IMG_2-canvas">
                <doc><out>configuration.getInputByName('QT_IMG_2').getLabel()</out></doc>
            </h2>
            <canvas name="QT_IMG_2-canvas" id="QT_IMG_2-canvas"></canvas>
        </article>

        <article id="qt-mounting" class="quicktool-canvas">
            <h2 for="QT_IMG_3-canvas">
                <doc><out>configuration.getInputByName('QT_IMG_3').getLabel()</out></doc>
            </h2>

            <div class="left">
                <canvas name="QT_IMG_3-canvas" id="QT_IMG_3-canvas"></canvas>
                <div id="legend">
                    <span class="load"><doc>bundle.KONE_QUOTE_TEXT_Load</doc></span>
                    <span class="value bottom kn"><!--<doc>bundle.KONE_ESCALATOR_bottom_kn</doc>--></span>
                </div>
            </div>

            <div class="right">
                <canvas name="QT_IMG_4-canvas" id="QT_IMG_4-canvas"></canvas>
                <div id="legend">
                    <span class="load"><doc>bundle.KONE_QUOTE_TEXT_Load</doc></span>
                    <span class="value top kn"><!--<doc>bundle.KONE_ESCALATOR_top_kn</doc>--></span>
                </div>
            </div>
        </article>
    </div>

</article>

<!-- Key values table -->
<div id="quicktool-key-values" class="table">

    <div class="thead">
        <div class="tr">
            <div class="td">
                <doc>bundle.KONE_ESCALATOR_TEXT_key_values_table</doc>
            </div>
        </div>
    </div>

    <div class="tbody">

        <div class="td">
            <span name="CODES_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_regulation</doc>
            </span>
            <span class="key-value" name="CODES_data">
            </span>
        </div>

        <div class="td">
            <span name="TYP_ESC_FALL_PROTECTION_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_seismic</doc>
            </span>
            <span class="key-value" name="TYP_ESC_SEISMIC_CODE_data">
                <doc>
                    <out>
                        configuration.getInputByName('QT_PRODUCT')
                            .getProductInput()
                            .getAttributeByName('TYP_ESC_SEISMIC_CODE')
                            .getAttributeValueFromConfigurationInputValue(configuration.getInputByName('QT_PRODUCT').getValue(), configuration)
                            .getStringValue()
                    </out>
                </doc>
            </span>
        </div>

        <!-- <div class="td">
            <span name="TYP_ARRANGEMENT_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_arrangement</doc>
            </span>
            <span class="key-value" name="TYP_ESC_ARRANGEMENT_data">[PLACEHOLDER]</span>
        </div> -->

        <div class="td">
            <span name="QT_DIM_VR_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>
            </span>
            <span class="key-value" name="QT_DIM_VR_data">[PLACEHOLDER]</span>
        </div>

        <div class="td">
            <span name="ESC_STEPS_US_ATT_TEXT_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_horizontal_steps</doc>
            </span>
            <span class="key-value" name="ESC_STEPS_US_ATT_TEXT_data">[PLACEHOLDER]</span>
        </div>

        <div class="td">
            <span name="QT_STEP_WIDTH_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_step_width</doc>
            </span>
            <span class="key-value" name="QT_STEP_WIDTH_data">[PLACEHOLDER]</span>
        </div>

        <div class="td">
            <span name="QT_TR_ANGLE_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_inclination</doc>
            </span>
            <span class="key-value" name="QT_TR_ANGLE_data">[PLACEHOLDER]&deg;</span>
        </div>

        <div class="td">
            <span name="QT_BA_Height_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_balustrade_height</doc>
            </span>
            <span class="key-value" name="QT_BA_Height_data">[PLACEHOLDER]</span>
        </div>

        <div class="td">
            <span name="ESC_OPERAT_ENVIRO_ATT_label" class="key-label">
                <doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_operating_environment</doc>
            </span>
            <span class="key-value" name="ESC_OPERAT_ENVIRO_ATT_data">
                <doc>
                    <out>
                        configuration.getInputByName('ESC_GD_TABLE')
                            .getProductInput()
                            .getAttributeByName('QT_ESC_OPERAT_ENVIRO_ATT')
                            .getAttributeValueFromConfigurationInputValue(configuration.getInputByName('ESC_GD_TABLE').getValue(), configuration)
                            .getStringValue()
                    </out>
                </doc>
            </span>
        </div>
    </div><!-- /tbody -->
</div><!-- /table -->

<span id="qt-dimensions" class="disclaimer"></span>

<div class="quicktool button-set kone-continue-button">
    <!-- TODO: replace text -->
    <div id="action-button-configure" class="kone-button noselect" name="full-configuration-button" type="button" section="Quick Tool" Label="Full Configuration" onclick="sendInputData(this); runPageAction()">
        <span class="kone-icon"></span>
        <doc>bundle.KONE_ESCALATOR_TEXT_full_configuration</doc>
    </div>
    <!-- TODO: improve this function -->
    <div id="action-button-print" class="kone-button noselect" name="print" type="button" section="Quick Tool" label="Print" onclick="sendInputData(this); quickToolCanvas.print()">
        <span class="kone-icon"></span>
    </div>
</div>

<!-- Footer for print preview -->
<footer id="qt-footer" class="qt-print">
    <span class="disclaimer">
        <doc>bundle.KONE_ELEVATOR_TEXT_kone_shall_not_accept_responsibility</doc>
    </span>
    <div class="title planner">
        <span class="icon">&#x33;</span>
        <span class="text">
            <doc>bundle.KONE_ESCALATOR_planner_name</doc>
        </span>
    </div>
</footer>

<script type="text/javascript">
    const PRODUCT_SELECTION = "ESC_GD_TOP_SELECT";

    const DRIVE_TECH = "ESC_DRIVE_TECH";

    var productInput;

    function runPageAction() {
        var dataAction = {
            'action': 'configure escalator from quicktool',
            // 'recommendation': getInputLabel(document.getElementById("ESC_GD_TOP_SELECT")),
            'options': getAllInputData()
        };
        sendAllInputData(dataAction);
        nextPage();
    }

    // Module - JPoC specific
    const quicktool = (function () {
        // ------------------------------------------------------------
        // Configuration
        // ------------------------------------------------------------
        const conf = {
        };

        // ------------------------------------------------------------
        // Classes
        // ------------------------------------------------------------

        // ------------------------------------------------------------
        // Methods
        // ------------------------------------------------------------


        // ------------------------------------------------------------
        // Initialisation
        // ------------------------------------------------------------
        // Complete init function.
        function init() {
            // Immediate fire

            // On ready fire
            initOnReady();
        }

        // On ready init function. Run these events once jQuery on ready is fired
        function initOnReady() {
            $(() => {

            });
        }

        // ------------------------------------------------------------
        // Reveal module
        // ------------------------------------------------------------
        function reveal() {

            // Exposed references
            const public = {
                init: init,
                conf: conf,
            };

            // --------------------------------
            // Create global module reference
            // --------------------------------
            try {
                // Initialise storage if not defined.
                if (!window.modules) {
                    window.modules = {};
                }

                // Store for quick reference
                window.modules['quicktool'] = public;

            } catch (e) {
                console.error('Could not store module in window.modules. It was still defined as a global');
            } finally {
                return public;
            }
        }

        return reveal();
    })();

    // Create a new noUiSlider slider based on a text field with range.
    // TODO: add dynamic range update
    // https://stackoverflow.com/questions/25772170/nouislider-update-range-on-demand
    function createSlider(srcId) {
        // Check if library is present
        if (typeof noUiSlider === 'undefined') {
            console.error("noUiSlider is undefined. Slider won't be created.");
            return;
        }

        // New id
        const destId = `${srcId}-nouislider`;

        // Create container before input.
        $(`<div id="${destId}" class="custom-nouislider"></div>`).insertBefore(`input#${srcId}`);

        // Retrieve target
        const slider = document.getElementById(destId);

        // Get original min/max
        const conf = {
            start: parseInt(document.getElementById(srcId).value),
            min: parseInt(document.getElementById(srcId + '_low').value),
            max: parseInt(document.getElementById(srcId + '_high').value),


            // Space between pips
            interval: 500,
            get density() {
                // noUiSlider density is a percentage so this allows us to specify when to place
                // pips at specific places
                const range = (this.max - this.min);
                const result = (this.interval * 100) / range;
                return result.toFixed(2);
            },

            filter: (value, type) => {
                // Occasionally conf.density will cause very small floating points
                const rounded = Math.round(value);

                // -1(no pip at all)
                // 0(no value)
                // 1(large value)
                // 2(small value)

                // If min or max value, return large number, return small pip for every interval
                if (rounded == conf.min || rounded == conf.max)
                    return 1;
                else
                    return rounded % conf.interval ? -1 : 0;
            },
        }

        // Create slider
        noUiSlider.create(slider, {
            start: [conf.start],   // Set only one handle
            range: {
                'min': conf.min,
                'max': conf.max,
            },
            // Show a scale with the slider
            pips: {
                mode: 'steps',
                stepped: true, // TODO: remove if not used
                density: conf.density,
                filter: conf.filter,
            },

            // Connect handle to lower value
            connect: 'lower',
            // Convert everything to integers or we'll get decimals
            format: {
                to: (value) => Math.round(value),
                from: (value) => Math.round(value),
            }
        });


        // Update input on slide - but don't trigger driven
        slider.noUiSlider.on('slide.updateUI', (values, handle, unencoded, tap, positions, noUiSlider) => {
            document.getElementById(srcId).value = values;
        });

        // Trigger driven once user stops changin the slider
        slider.noUiSlider.on('change.triggerDriven', (values, handle, unencoded, tap, positions, noUiSlider) => {
            $(`input#${srcId}`).change();
        });

        // Update slider when user changes input box
        $(`input#${srcId}`).on('change', (e) => {
            slider.noUiSlider.set([e.target.value]);
        });

        return slider;
    }

    function modifyHelpPopup() {
        let processed = [];
        $('[modify-help-popup=""]').each((i, el) => {

            const target = $(`div#inputhelp_${el.name}`);

            // Prevent radio and checkboxes from being processed multiple times or inputs without help
            if (processed.includes(el.name) || target.length == 0) {
                return;

            } else {
                processed.push(el.name);

                // Replace on click event
                const newOnClick = target.attr('onclick').replace("popICHelpWindow", "infoPopup");
                target.attr('onclick', newOnClick);
            }
        });
    }

    //  Insert div containing mm marker after ther specified element
    function addMarker(query) {
        $('<div class="mm-marker"><doc>bundle.KONE_GLOBAL_MM_mm</doc></div>').insertAfter(query);
    }

    // Move labels to correct location
    function moveQtLabels() {
        // The first input defines the selector
        const parentInput = 'QT_DIM_VR';
        const parent = $(`#${parentInput}_TR_tag table`);

        // Inputs to look for
        const ids = [parentInput, 'QT_TR_ANGLE', 'QT_STEP_WIDTH'];

        // Move inputs to matching cell on next row
        for (const id of ids) {
            parent.find(`label[for=${id}]`).insertBefore(`div.${id}-input-div`);
            $(`div#inputhelp_${id}`).insertBefore(`div.${id}-input-div`);
        }

        // Remove the original row
        parent.find('.inputlabel').closest('tr').detach();
    }

    function moveQtHeader() {
        const id = 'qt-header';
        const trId = `${id}-tr`;

        // Add a tr and 3 colspan cell before the inputs to fit the header
        $('tr#QT_PRODUCT_TR_tag').before(`<tr id="${trId}"> <td colspan="3" /> </tr>`);
        // Move header
        $(`tr#${trId} td`).prepend($(`header#${id}`));
    }

    const quickToolCanvas = (function () {

        class Label {
            constructor(query, bundleText, regex, autoValue = null) {
                this.query = query;
                this.bundle = bundleText;

                // Regex or string
                this.regex = regex;

                // Execute value getter automatically if defined. Should be a function.
                this.autoValue = autoValue;
            }

            set bundle(bundleText) {

                // Attempt to find matching bundle
                this._bundle = ResourceBundle.getString(bundleText);
                if (!this._bundle) {
                    // Use provided text if no matches have been found
                    this._bundle = bundleText;
                    delete this.bundleId;

                } else {
                    // Store bundle id
                    this.bundleId = bundleText;
                }

                // Update with last value
                this.update(this.lastValue);
            }

            get bundle() {
                return this._bundle;
            }

            update(value = '{no value provided}') {
                // Used in case the label is updated
                this.lastValue = value;

                let newLabel = this.bundle;

                // Replace value first if replacement was provided
                if (this.regex) {
                    // Get value from passed function if provided
                    if (this.autoValue && typeof this.autoValue === 'function') {
                        value = this.autoValue();
                    }
                    newLabel = this.bundle.replace(this.regex, value);
                }

                document.querySelectorAll(this.query)
                    .forEach((el, index) => {
                        el.innerText = newLabel;
                    });
            }
        }

        // Basic text config
        class DrawConfig {
            constructor() {
                this.size = '18px';
                this.family = '"KONE-Information"';
                this.color = 'rgb(0,113,185)'; // 'KONE Blue'
                this.x = 50;
                this.y = 50;
                this.text = 'Hello world!';
            }
            get font() { return `${this.size} ${this.family}` };
        }

        // TODO: implement
        class EventConfig {
            constructor(inputName = '', eventType = '', handler = (event) => event) {
                this.inputName = inputName;
                this.eventType = eventType;
                this.handler = handler;
            }

            get selector() {
                return `img#${this.inputName}_IMAGE`;
            }
        }

        const conf = {
            // Used to control image update timeout
            executeAfter: 250,
        };

        // Input configuration
        const eventConfig = [];

        // TODO: convert to a class
        // Images
        eventConfig['QT_IMG_1'] = { // RISE & INCLINATION
            inputName: 'QT_IMG_1',
            eventType: 'load',
            handler: updateQT_IMG_1,

            get selector() { return `img#${this.inputName}_IMAGE` },
        };

        eventConfig['QT_IMG_2'] = { // STEPS
            inputName: 'QT_IMG_2',
            eventType: 'load',
            handler: updateQT_IMG_2,

            get selector() { return `img#${this.inputName}_IMAGE` },
        };

        eventConfig['QT_IMG_3'] = { // MOUNTING LEFT
            inputName: 'QT_IMG_3',
            eventType: 'load',
            handler: updateQT_IMG_3_4,

            get selector() { return `img#${this.inputName}_IMAGE` },
        };

        eventConfig['QT_IMG_4'] = { // MOUNTING RIGHT
            inputName: 'QT_IMG_4',
            eventType: 'load',
            handler: updateQT_IMG_3_4,

            get selector() { return `img#${this.inputName}_IMAGE` },
        };

        eventConfig['QT_IMG_1_message'] = { // RISE & INCLINATION
            inputName: 'QT_IMG_1',
            eventType: 'change',
            handler: supportMessage,

            get selector() { return `#${this.inputName}` },
        };

        // Other inputs
        eventConfig['QT_DIM_VR'] = {   // Vertical Rise
            inputName: 'QT_DIM_VR',
            eventType: 'change',
            handler: updateQT_IMG_1,

            get selector() { return `input#${this.inputName}` },
            get text() {
                return $(this.selector).val();// + ' <doc>bundle.KONE_GLOBAL_MM_mm</doc>';
            },
        };

        eventConfig['QT_TR_ANGLE'] = { // Inclination
            inputName: 'QT_TR_ANGLE',
            eventType: 'click',
            handler: updateQT_IMG_1,

            get selector() { return `input[name^=${this.inputName}][type=radio]` },
            get selected() { return this.selector + ':checked' },
            get text() {
                return $(this.selected).parent().siblings('label').text().trim();
            },
        };

        eventConfig['QT_SPAN_TOTAL'] = { // Total span
            inputName: 'QT_SPAN_TOTAL',
            eventType: 'draw.dt',
            handler: updateQT_IMG_1,

            get selector() { return `div#${this.inputName}DataTableDiv` },
        };

        eventConfig['QT_STEP_WIDTH'] = { // Step Width
            inputName: 'QT_STEP_WIDTH',
            eventType: 'click',
            handler: updateQT_IMG_2,

            get selector() { return `input[name^=${this.inputName}][type=radio]` },
            get selected() { return this.selector + ':checked' },
            get text() {
                // return $(this.selected).parent().siblings('label').text().trim();
                return $(this.selected).val();
            },
        };

        eventConfig['QT_EQUATION_RESULTS'] = { // Total span
            inputName: 'QT_EQUATION_RESULTS',
            eventType: 'draw.dt',
            handler: updateAll,

            get selector() { return `div#${this.inputName}DataTableDiv` },
            labels: new Map(),
        };

        // Labels to be updated
        eventConfig['QT_EQUATION_RESULTS'].labels.set('support_load', {
            label: new Label('#qt-rise #legend .kn', 'KONE_ESCALATOR_rm1_kn', '{value}'),
            attribute: 'QT_TM110_RM1z_EQ',
        });

        /*
        eventConfig['QT_EQUATION_RESULTS'].labels.set('load_bottom', {
            label: new Label('#qt-mounting #legend .bottom.kn', 'KONE_ESCALATOR_bottom_kn', '{value}'),
            get attribute() { return getLoadAttribute().R2 },
        });

        eventConfig['QT_EQUATION_RESULTS'].labels.set('load_top', {
            label: new Label('#qt-mounting #legend .top.kn', 'KONE_ESCALATOR_top_kn', '{value}'),
            get attribute() { return getLoadAttribute().R1 },
        });
        */

        // Attach/remove handlers
        function addHandlers(add = false) {
            for (const key in eventConfig) {
                const target = eventConfig[key];
                if (add) {
                    $(target.selector).on(target.eventType, target.handler);
                } else {
                    $(target.selector).off(target.eventType, target.handler);
                }
            }

            updateAll();
        }

        // Get canvas elements
        function getElements(id) {
            return {
                img: document.getElementById(id + '_IMAGE'),
                canvas: document.getElementById(id + '-canvas'),
                get ctx() { return this.canvas.getContext("2d"); },
            };
        }

        // Update all
        function updateAll() {
            // Update images
            updateQT_IMG_1();
            updateQT_IMG_2();
            updateQT_IMG_3_4();

            // Update labels
            updateLabels();

            // Show/hide message
            supportMessage();
        }

        // Update canvas background
        async function updateBackground(img, canvas, ctx) {

            // Set canvas size if different. Only update size if image
            // dimensions have changes as this is very slow.
            if (canvas.width != img.width || canvas.height != img.height) {
                canvas.width = img.width;
                canvas.height = img.height;
            }

            // Clear canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw image
            const loadImage = (img, canvas, ctx) => {
                return new Promise((resolve, reject) => {
                    let image = new Image();
                    image.onload = () => {
                        ctx.drawImage(image, 0, 0);
                        resolve(image);
                    };
                    image.onerror = reject;
                    image.src = img.src;
                });
            };

            await loadImage(img, canvas, ctx);
        }

        /**
         * Draw text.
         * parameter format: { font: '', color: '', x: 0, y: 0, text: '' }
         */
        function drawText(ctx, config) {
            ctx.font = config.font;
            ctx.fillStyle = config.color;
            ctx.fillText(config.text, config.x, config.y), 500;
        }

        // RISE & INCLINATION
        function updateQT_IMG_1(event) {
            const id = 'QT_IMG_1';
            const setup = async () => {
                const { img, canvas, ctx } = getElements(id);
                await updateBackground(img, canvas, ctx);

                const allConfigs = []; // Store all configs then draw everything at once

                // Force update equation attributes
                const eqAttrs = await GetC1InputData.find('QT_EQUATION_RESULTS', $('#QT_EQUATION_RESULTS').val(), null, true);

                // If there are grab cached attributes, if not present then cache
                const qtData1Attrs = await GetC1InputData.find('QT_DATA_1', $('#QT_DATA_1').val());

                // Configure each drawing
                const qtDimVrConfig = new DrawConfig();
                qtDimVrConfig.x = canvas.width / 16;
                qtDimVrConfig.y = canvas.height / 2.07;
                qtDimVrConfig.text = eventConfig['QT_DIM_VR'].text;
                allConfigs.push(qtDimVrConfig);

                // Angle of escalator rise:
                const qtTrAngleConfig = new DrawConfig();
                if (getSupport().hasSupport) {
                    switch (parseFloat(getSupport().number)) {
                        case 1:
                            qtTrAngleConfig.x = canvas.width / 1.905;
                            qtTrAngleConfig.y = canvas.height / 1.65;
                            qtTrAngleConfig.text = eventConfig['QT_TR_ANGLE'].text;
                            allConfigs.push(qtTrAngleConfig);
                            break;

                        case 2:
                            qtTrAngleConfig.x = canvas.width / 1.665;
                            qtTrAngleConfig.y = canvas.height / 1.725;
                            qtTrAngleConfig.text = eventConfig['QT_TR_ANGLE'].text;
                            allConfigs.push(qtTrAngleConfig);
                            break;
                    }
                } else {
                    qtTrAngleConfig.x = canvas.width / 2;
                    qtTrAngleConfig.y = canvas.height / 1.65;
                    qtTrAngleConfig.text = eventConfig['QT_TR_ANGLE'].text;
                    allConfigs.push(qtTrAngleConfig);
                }

                const qtSpanTotalConfig = new DrawConfig();
                qtSpanTotalConfig.x = canvas.width / 2.1;
                qtSpanTotalConfig.y = canvas.height / 1.07;
                qtSpanTotalConfig.text = eqAttrs.getAttribute('QT_SPAN_TOTAL_EQ').value;
                allConfigs.push(qtSpanTotalConfig);

                // AA, BB, CC
                const abcHeight = canvas.height * (12 / 100);

                const aaConfig = new DrawConfig();
                aaConfig.x = canvas.width * (20 / 100);
                aaConfig.y = abcHeight;
                aaConfig.text = eqAttrs.getAttribute('QT_AA_EQ').value;
                allConfigs.push(aaConfig);

                const bbConfig = new DrawConfig();
                bbConfig.x = canvas.width * (80 / 100);
                bbConfig.y = abcHeight;
                bbConfig.text = eqAttrs.getAttribute('QT_BB_EQ').value;
                allConfigs.push(bbConfig);

                const ccConfig = new DrawConfig();
                ccConfig.x = canvas.width * (50 / 100);
                ccConfig.y = abcHeight;
                ccConfig.text = eqAttrs.getAttribute('QT_CC_EQ').value;;
                allConfigs.push(ccConfig);

                // Distance between escalator handrail and lower platform (bottom left):
                const ddConfig = new DrawConfig();
                ddConfig.x = canvas.width * (20 / 100);
                ddConfig.y = canvas.height * (52.65 / 100);
                ddConfig.text = await GetC1InputData.find('QT_DATA_2', $('#QT_DATA_2').val(), 'ESC_DD');
                allConfigs.push(ddConfig);

                const eeConfig = new DrawConfig();
                eeConfig.x = canvas.width * (94 / 100);
                eeConfig.y = canvas.height * (20 / 100);
                eeConfig.text = await GetC1InputData.find('QT_DATA_2', $('#QT_DATA_2').val(), 'ESC_EE');
                allConfigs.push(eeConfig);

                const ffNoAaConfig = new DrawConfig();
                ffNoAaConfig.x = canvas.width * (24 / 100);
                ffNoAaConfig.y = canvas.height * (79 / 100);
                ffNoAaConfig.text = qtData1Attrs.getAttribute('DIM_TR_FF_missing_AA').value;
                allConfigs.push(ffNoAaConfig);

                if (getSupport().hasSupport) {
                    if (parseFloat(getSupport().number) == 1) {
                        const l1Config = new DrawConfig();
                        l1Config.x = canvas.width * (31 / 100);
                        l1Config.y = canvas.height * (83.25 / 100);
                        l1Config.text = eqAttrs.getAttribute('QT_ESC_CALC_M_INT_SUPP_1_EQ').value;
                        allConfigs.push(l1Config);

                        // Under-escalator support icon (left):
                        const rm1iConfig = new DrawConfig();
                        rm1iConfig.x = canvas.width * (65.25 / 100);
                        rm1iConfig.y = canvas.height * (52.75 / 100);

                        // Create a temporary image container so that we can use it to
                        // draw an image on the canvas. I would use the icon font, but
                        // for some reason that doesn't work. I hate this "solution".
                        if (!document.getElementById("quick-tool-icon")) {
                            let rm1i = document.createElement("img");
                            rm1i.id = "quick-tool-icon";
                            rm1i.src = "/HTML/images/quick-tool-icon.jpg";
                            rm1i.alt = "icon";
                            rm1i.height = 16;
                            rm1i.width = 16;
                            document.body.append(rm1i); // Attach it to the body, for lack of a better place...
                        }

                        let rm1icon = new Image();
                        rm1icon.onload = () => {
                            ctx.drawImage(rm1icon, rm1iConfig.x, rm1iConfig.y, 16, 16);
                        };
                        rm1icon.src = document.getElementById("quick-tool-icon").src;

                        // Under-escalator support (left):
                        const rm1Config = new DrawConfig();
                        rm1Config.x = canvas.width * (64 / 100);
                        rm1Config.y = canvas.height * (57.85 / 100);
                        rm1Config.text = eqAttrs.getAttribute('QT_TM110_RM1z_EQ').value + " kN";
                        allConfigs.push(rm1Config);
                    } else if (parseFloat(getSupport().number) == 2) {
                        const l1Config = new DrawConfig();
                        l1Config.x = canvas.width * (31 / 100);
                        l1Config.y = canvas.height * (83.25 / 100);
                        l1Config.text = eqAttrs.getAttribute('QT_ESC_CALC_M_INT_SUPP_2_1of2_EQ').value;
                        allConfigs.push(l1Config);

                        const sup2Config = new DrawConfig();
                        sup2Config.x = canvas.width * (38 / 100);
                        sup2Config.y = canvas.height * (87.65 / 100);
                        sup2Config.text = eqAttrs.getAttribute('QT_ESC_CALC_M_INT_SUPP_2_2of2_EQ').value;
                        allConfigs.push(sup2Config);

                        // Under-escalator support icon (left):
                        const rm1iConfig = new DrawConfig();
                        rm1iConfig.x = canvas.width * (55 / 100);
                        rm1iConfig.y = canvas.height * (56.5 / 100);

                        // Create a temporary image container so that we can use it to
                        // draw an image on the canvas. I would use the icon font, but
                        // for some reason that doesn't work. I hate this "solution".
                        if (!document.getElementById("quick-tool-icon")) {
                            let rm1i = document.createElement("img");
                            rm1i.id = "quick-tool-icon";
                            rm1i.src = "/HTML/images/quick-tool-icon.jpg";
                            rm1i.alt = "icon";
                            rm1i.height = 16;
                            rm1i.width = 16;
                            document.body.append(rm1i); // Attach it to the body, for lack of a better place...
                        }

                        let rm1icon = new Image();
                        rm1icon.onload = () => {
                            ctx.drawImage(rm1icon, rm1iConfig.x, rm1iConfig.y, 16, 16);
                        };
                        rm1icon.src = document.getElementById("quick-tool-icon").src;

                        // Under-escalator support (left):
                        const rm1Config = new DrawConfig();
                        rm1Config.x = canvas.width * (53.5 / 100);
                        rm1Config.y = canvas.height * (61.85 / 100);
                        rm1Config.text = eqAttrs.getAttribute('QT_INT_2_RM1z').value + " kN";
                        allConfigs.push(rm1Config);

                        // Under-escalator support icon (right):
                        const rm2iConfig = new DrawConfig();
                        rm2iConfig.x = canvas.width * (70.5 / 100);
                        rm2iConfig.y = canvas.height * (50.5 / 100);

                        // Create a temporary image container so that we can use it to
                        // draw an image on the canvas. I would use the icon font, but
                        // for some reason that doesn't work. I hate this "solution".
                        if (!document.getElementById("quick-tool-icon")) {
                            let rm2i = document.createElement("img");
                            rm2i.id = "quick-tool-icon";
                            rm2i.src = "/HTML/images/quick-tool-icon.jpg";
                            rm2i.alt = "icon";
                            rm2i.height = 16;
                            rm2i.width = 16;
                            document.body.append(rm2i); // Attach it to the body, for lack of a better place...
                        }

                        let rm2icon = new Image();
                        rm2icon.onload = () => {
                            ctx.drawImage(rm2icon, rm2iConfig.x, rm2iConfig.y, 16, 16);
                        };
                        rm2icon.src = document.getElementById("quick-tool-icon").src;

                        // Under-escalator support (right):
                        const rm2Config = new DrawConfig();
                        rm2Config.x = canvas.width * (69.5 / 100);
                        rm2Config.y = canvas.height * (55.75 / 100);
                        rm2Config.text = eqAttrs.getAttribute('QT_INT_2_RM2z').value + "kN";
                        allConfigs.push(rm2Config);
                    }
                }

                const hiConfig = new DrawConfig();
                if (getSupport().hasSupport && parseFloat(getSupport().number) == 2) {
                    hiConfig.x = canvas.width * (68 / 100);
                    hiConfig.y = canvas.height * (45 / 100);
                    hiConfig.text = qtData1Attrs.getAttribute('DIM_TR_HI').value;
                    allConfigs.push(hiConfig);
                } else {
                    hiConfig.x = canvas.width * (66 / 100);
                    hiConfig.y = canvas.height * (47 / 100);
                    hiConfig.text = qtData1Attrs.getAttribute('DIM_TR_HI').value;
                    allConfigs.push(hiConfig);
                }

                const hlConfig = new DrawConfig();
                hlConfig.x = canvas.width * (19 / 100);
                hlConfig.y = canvas.height * (70.5 / 100);
                hlConfig.text = qtData1Attrs.getAttribute('DIM_TR_HL').value;
                allConfigs.push(hlConfig);

                const huConfig = new DrawConfig();
                huConfig.x = canvas.width * (82 / 100);
                huConfig.y = canvas.height * (32.5 / 100);
                huConfig.text = qtData1Attrs.getAttribute('DIM_TR_HU').value;
                allConfigs.push(huConfig);

                // Height of escalator handrail (bottom left):
                const hbConfig = new DrawConfig();
                hbConfig.x = canvas.width * (23 / 100);
                hbConfig.y = canvas.height * (61.5 / 100);
                // hbConfig.size = '18px';
                hbConfig.text = await GetC1InputData.find('QT_BA_Height', $('#QT_BA_Height').val(), 'DIM_TR_HB');
                allConfigs.push(hbConfig);

                const hl100LabelConfig = new DrawConfig();
                hl100LabelConfig.x = canvas.width * (3.5 / 100);
                hl100LabelConfig.y = canvas.height * (69 / 100);
                // hl100LabelConfig.size = '18px';
                hl100LabelConfig.text = '<doc>bundle.KONE_ESCALATOR_hl_min</doc>';
                allConfigs.push(hl100LabelConfig);

                const hl100ValueConfig = new DrawConfig();
                hl100ValueConfig.x = canvas.width * (3.5 / 100);
                hl100ValueConfig.y = canvas.height * (72 / 100);
                hl100ValueConfig.text = eqAttrs.getAttribute('QT_HL_ADD_EQ').value;
                allConfigs.push(hl100ValueConfig);

                // Height between second floor and mid-point of escalator (always "Min 2300"):
                const minConfig = new DrawConfig();
                minConfig.x = canvas.width * (36.5 / 100);
                minConfig.y = canvas.height * (42 / 100);
                minConfig.text = "Min 2300";
                allConfigs.push(minConfig);

                // Draw everything
                for (let config of allConfigs) {
                    drawText(ctx, config);
                }
            };

            // Prevent flickering due to too many updates
            RunAfterDrivens(`Update for ${id}`, conf.executeAfter, setup);
        }

        // STEPS
        function updateQT_IMG_2(event) {
            const id = 'QT_IMG_2';
            const setup = async () => {
                const { img, canvas, ctx } = getElements(id);
                const size = '26px';

                await updateBackground(img, canvas, ctx);

                const stepWidthLabelConfig = new DrawConfig();
                stepWidthLabelConfig.x = canvas.width * (42 / 100);
                stepWidthLabelConfig.y = canvas.height * (5 / 100);
                stepWidthLabelConfig.size = size;
                stepWidthLabelConfig.text = "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_step_width</doc>";
                drawText(ctx, stepWidthLabelConfig);

                const stepWidthConfig = new DrawConfig();
                stepWidthConfig.x = canvas.width * (46 / 100);
                stepWidthConfig.y = canvas.height * (12 / 100);
                stepWidthConfig.size = size;
                stepWidthConfig.text = eventConfig['QT_STEP_WIDTH'].text;
                drawText(ctx, stepWidthConfig);

                const w6Config = new DrawConfig();
                w6Config.x = canvas.width * (46.5 / 100);
                w6Config.y = canvas.height * (93 / 100);
                w6Config.size = size;
                w6Config.text = await GetC1InputData.find('QT_DATA_1', $('#QT_DATA_1').val(), 'ESC_DIM_PIT_W6');
                drawText(ctx, w6Config);

                const w6LabelConfig = new DrawConfig();
                w6LabelConfig.x = canvas.width * (44 / 100);
                w6LabelConfig.y = canvas.height * (99 / 100);
                w6LabelConfig.size = size;
                w6LabelConfig.text = "<doc>bundle.KONE_ELEVATOR_TEXT_pit_depth</doc>";
                drawText(ctx, w6LabelConfig);
            }

            // Prevent flickering due to too many updates
            RunAfterDrivens(`Update for ${id}`, conf.executeAfter, setup);
        }

        // Update image 3 and image 4
        function updateQT_IMG_3_4() {
            const id = "QT Label updates";
            const setup = async () => {
                const img3 = getElements('QT_IMG_3');
                const img4 = getElements('QT_IMG_4');

                // Force update equation attributes
                const eqAttrs = await GetC1InputData.find('QT_EQUATION_RESULTS', $('#QT_EQUATION_RESULTS').val(), null, true);

                // Draw background after grabbing values
                await updateBackground(img3.img, img3.canvas, img3.ctx);
                await updateBackground(img4.img, img4.canvas, img4.ctx);

                // Mounting x-axis config
                const R1 = new DrawConfig();
                R1.size = '40px';
                R1.text = eqAttrs.getAttribute('QT_DIM_XX').value;

                // Left
                // TODO: convert x and y values to use base * ( location / 100) -- aka set location as a percentage.
                R1.x = img3.canvas.width / 2.17;
                R1.y = img3.canvas.height / 12;
                drawText(img3.ctx, R1);

                // Right
                R1.x = img4.canvas.width / 2.2;
                R1.y = img4.canvas.height / 12;
                drawText(img4.ctx, R1);

                // Mounting y-axis config
                const R2 = new DrawConfig();
                R2.size = '40px';
                R2.text = eqAttrs.getAttribute('QT_DIM_YY').value;

                // Left
                R2.x = 0;
                R2.y = img3.canvas.height / 2.4;
                drawText(img3.ctx, R2);

                // Right
                R2.x = img4.canvas.width / 1.12;
                R2.y = img4.canvas.height / 2.4;
                drawText(img4.ctx, R2);

                // Redraw IMG_1 with new AA, CC, BB values - will be wrong otherwise
                updateQT_IMG_1();
                initMountingValues();
            };

            // Prevent flickering due to too many updates
            RunAfterDrivens(`Update for ${id}`, conf.executeAfter, setup);
        }

        function updateLabels() {
            const setup = async () => {
                const labels = eventConfig['QT_EQUATION_RESULTS'].labels;

                // Force update input values or QT_TM110_RM1z_EQ doesn't work
                const inputValue = await GetC1InputData.find('QT_EQUATION_RESULTS', $('#QT_EQUATION_RESULTS').val(), null, true);
                labels.forEach(entry => {
                    const value = inputValue.getAttribute(entry.attribute).value;
                    console.log(`${entry.attribute}: ${value}`, entry);
                    entry.label.update(value);
                });
            };

            // Prevent flickering due to too many updates
            RunAfterDrivens(`Update for labels`, conf.executeAfter, setup);
        }

        // Get numbers of support
        function getSupport() {
            const inputName = 'QT_IMG_1';

            // Make input cacheable
            if (!storedAttributeData.cacheable.includes(inputName)) {
                storedAttributeData.cacheable.push(inputName);
            }

            const supports = getAttributeValue(inputName, $('#' + inputName).val(), 'TYP_ESC_INTER_SUPPORT')[0];
            const parsed = parseFloat(supports);

            return { number: parsed, hasSupport: parsed > 0 };
        }

        // Depending on the number of supports a different attribute is used
        function getLoadAttribute() {
            let R1, R2 = '';

            // Support based equations
            switch (getSupport().number) {
                case 0:
                    R1 = 'QT_ESC_R1_WITHOUT_SUPPORT_EQ';
                    R2 = 'QT_ESC_R2_WITHOUT_SUPPORT_EQ';
                    break;
                case 1:
                    R1 = 'QT_ESC_R1_WITH_SUPPORT_EQ';
                    R2 = 'QT_ESC_R2_WITH_SUPPORT_EQ';
                    break;
                default:
                    R1 = 'QT_ESC_R1_WITHOUT_SUPPORT_EQ';
                    R2 = 'QT_ESC_R2_WITHOUT_SUPPORT_EQ';
            };
            return { R1, R2 };
        }

        // Show support message if there is has one
        function supportMessage(show = false) {
            if (getSupport().hasSupport) {
                $('#qt-rise #legend').show();
            } else {
                $('#qt-rise #legend').hide();
            }
        }

        function print() {
            // Map original data URLs - we need the originals for the new Images
            const dataURLs = new Map();
            document.querySelectorAll('article.quicktool-canvas canvas').forEach(el => dataURLs.set(el.id, el.toDataURL()));

            // New content
            const $cloned = $('#configuration-interface').clone(false);

            // Amend nodes
            $cloned.find('article.quicktool-canvas canvas').each((i, el) => {
                // Convert canvas to image - use original dataURLs
                const img = $(`<img id=${el.id} class="cloned"/>`).prop('src', dataURLs.get(el.id));

                // Append new image and remove old canvas
                $(el).after(img).detach();
            });

            // Remove undesired elements
            $cloned.find('.section-header, .group-header, .help-mark').detach();

            // Disable all inputs
            $cloned.find('input').prop('disabled', true);

            // Open window
            const parentDomain = `${window.location.protocol}//${window.location.host}`;
            const newWindow = window.open(parentDomain + '/print-preview', 'KONE - Document Preview', 'width=1240,height=600,resizable=no,scrollbars=yes');

            // Build document body
            newWindow.document.write('<html class="print-clone autodesk360"><head>');

            // Link stylesheets
            newWindow.document.write('<style type="text/css" media="print">@page { size: A4; orientation: landscape; margin: 12.5mm; }</style>');
            document.querySelectorAll('link[rel=stylesheet]').forEach(el => newWindow.document.write(el.outerHTML));


            // Start printing document
            newWindow.document.write('</head><body>');

            // Add original header and content
            newWindow.document.write($cloned[0].outerHTML);
            newWindow.document.write('</div></body></html>');
            newWindow.document.close();

            // Print needs to be loaded on the new page
            newWindow.onload = () => {
                newWindow.print();
            };

            newWindow.focus();
        }

        return {
            init: () => addHandlers(true),
            stop: () => addHandlers(false),
            get eventConfig() { return eventConfig; },
            conf: conf,

            updateBackground: updateBackground,
            updateAll: updateAll,

            updateQT_IMG_1: updateQT_IMG_1,
            updateQT_IMG_2: updateQT_IMG_2,
            updateQT_IMG_3_4: updateQT_IMG_3_4,
            updateLabels: updateLabels,

            getSupport: getSupport,
            supportMessage: supportMessage,
            print: print,
        }
    })();

    /* Table inputs

    TODO:

    Application Code:
    Seismic:                QT_PRODUCT(TYP_ESC_SEISMIC_CODE)
    Arrangement:
    Vertical Rise:          QT_DIM_VR(value)
    Horizontal Step:
    Step Width:             QT_STEP_WIDTH(value)
    Inclination:            QT_TR_ANGLE(value)
    Balustrade Height:

    */

    function initQtValues() {
        // Load input data
        const QT_PRODUCT = 'QT_PRODUCT';    // Attribute
        const QT_DATA_1 = 'QT_DATA_1';     // Attribute

        getInputAttributes(QT_PRODUCT, () => {

        });

        // Update applicable code
        $('span[name=CODES_data]').text($('#QT_CODES option:selected').text());

        // Update horizontal steps
        $('#' + QT_DATA_1)
            .on('change', (e) => {

                GetC1InputData
                    .find(QT_DATA_1, e.currentTarget.value, 'ESC_STEPS_US_ATT_TEXT')
                    .then(value =>
                        $('span[name=ESC_STEPS_US_ATT_TEXT_data]').text(value)
                    );

            })
            .change();  // Update table


        // Update vertical rise
        $('#QT_DIM_VR')
            .on('change', (e) => {
                let text = e.target.value + " <doc>bundle.KONE_GLOBAL_MM_mm</doc>";
                $('span[name=QT_DIM_VR_data]').text(text);
            })
            .change();  // Update table

        // Update balustrade height
        $('#QT_BA_Height')
            .on('change', (e) => {
                let text = $(e.currentTarget).find(':selected').text();
                $('span[name=QT_BA_Height_data]').text(text);
            })
            .change();  // Update table

        // Update inclination
        $('input[name^=QT_TR_ANGLE][type=radio]')
            .on('click', (e) => {
                // Get matching value
                let text = $(e.currentTarget).parent().siblings('label').text().trim();
                $('span[name=QT_TR_ANGLE_data]').text(text);
            });

        // Find currently selected step width and update table
        $('input[name^=QT_TR_ANGLE][type=radio]:checked').click();

        // Update step width
        $('input[name^=QT_STEP_WIDTH][type=radio]')
            .on('click', (e) => {
                // Get matching value
                let text = $(e.currentTarget).parent().siblings('label').text().trim();
                $('span[name=QT_STEP_WIDTH_data]').text(text);
            });

        // Find currently selected step width and update table
        $('input[name^=QT_STEP_WIDTH][type=radio]:checked').click();
    }

    async function initAttributes() {
        await getInputAttributes(PRODUCT_SELECTION);
    }

    function initMountingValues() {
        const setup = async () => {
            let bottomLabel = document.querySelector(".value.bottom.kn");
            let topLabel = document.querySelector(".value.top.kn");

            let attributes = await GetC1InputData.find('QT_EQUATION_RESULTS', $('#QT_EQUATION_RESULTS').val(), null, true);

            if (bottomLabel !== null && topLabel !== null && attributes !== null) {
                if (quickToolCanvas.getSupport().hasSupport) {
                    bottomLabel.innerHTML = "Bottom " + attributes.getAttribute('QT_ESC_R2_WITH_SUPPORT_EQ').value + "kN";
                    topLabel.innerHTML = "Top " + attributes.getAttribute('QT_ESC_R1_WITH_SUPPORT_EQ').value + "kN";
                } else {
                    bottomLabel.innerHTML = "Bottom " + attributes.getAttribute('QT_ESC_R2_WITHOUT_SUPPORT_EQ').value + "kN";
                    topLabel.innerHTML = "Top " + attributes.getAttribute('QT_ESC_R1_WITHOUT_SUPPORT_EQ').value + "kN";
                }
            }
        };

        RunAfterDrivens('initMountingValues', quickToolCanvas.executeAfter, setup);
    }

    $(() => {
        try {
            initAttributes().then(() => {
                productInput = document.querySelector("input[name='" + PRODUCT_SELECTION + "']");

                // Modify the disclaimer text relative to the selected product's drive technology:
                let disclaimer = document.getElementById("qt-dimensions");
                if (disclaimer != null) {
                    let option = getAttributeValue(productInput.name, productInput.value, DRIVE_TECH);
                    if (option) {
                        if (option[0] === "WORM") {
                            disclaimer.innerHTML = '<doc>bundle.KONE_ESCALATOR_quicktool_disclaimer</doc>';
                        } else if (option[0] === "TRANS") {
                            disclaimer.innerHTML = '<doc>bundle.KONE_ESCALATOR_quicktool_disclaimer_trans</doc>';
                        }
                    }
                }

                // Show product in header
                headerV2.hideProduct(false);

                moveQtLabels();
                initQtValues();
                createSlider('QT_DIM_VR');
                addMarker('input#QT_DIM_VR');

                quickToolCanvas.init();
                modifyHelpPopup(); // This doesn't cause UI issues so it can be processed late.
                moveQtHeader();

                //initMountingValues();

                // Bind print function to header print button
                headerV2.conf.eventMap.set('print-event', quickToolCanvas.print);

                // Set contact link on disclaimer
                $('#qt-contact').attr('href', document.allvalues['STORE_CONTACT_ESC_CONTACTS_URL_value'].value);
            });
        } catch (error) {
            // Catch if header isn't defined
            console.error(error);
        }
    });
</script>
