<!-- /concept/custom/jpocs/kone/escalator_planner/sideBarHeader.html -->

<!-- JPoC Type = HTML_VIEW_JPOC_CONFIG_UI_TOP -->
<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- configuration = com.configureone.api.configuration.Configuration -->
<!-- productId = java.lang.String -->

<!-- Explicitly include sidebar and header -->

<doc><set var="scrollOffset" value="274" scope="document"/></doc>
<doc><set var="navOffset" value="224" scope="document"/></doc>
<doc><set var="userType" value="'isNormal-'" scope="document"/></doc>

<doc>
    <if condition="configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue()=='YES'">

        <!-- for CSS see sidebarheader.css -->
        <style>
            .hTable td {
                padding-left: 5px;
                padding-right: 5px;
                margin: 0;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
            only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

                /* Fix header position for sidebar on ipads*/
                .KoneHeaderDiv {
                    height: 90px !important;
                }
            }

            <doc>
                <if condition="principal.getUser().isAnonymousIndicator()">

                /* is anon */
                .custom #header {
                    display: none;
                }

                #container {
                    top: 120px !important;
                }

                #nav-logo,
                #nav-tabs {
                    display: none;
                }

                #header {
                    z-index: 97;
                }

                /* (1024x768) iPad 1 & 2, Landscape */
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
                only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

                    /* Fix header position for sidebar on ipads*/
                    #container {
                        top: 80px !important;
                    }
                }

                </if>
            </doc>

            <doc>
                <if condition="!principal.getUser().isAnonymousIndicator()">

                /* is not anon */
                #container {
                    top: 179px !important;
                }

                /* (1024x768) iPad 1 & 2, Landscape */
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
                only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

                    /* Fix header position for sidebar on ipads*/
                    #container {
                        top: 141px !important;
                    }
                }

                </if>
            </doc>

            .isAnon-containerTop {
                top: 120px !important;
            }

            .isNormal-containerTop {
                top: 179px !important;
            }

            .isAnon-navTop {
                top: 0px;
            }

            .isNormal-navTop {
                top: 124px;
            }

            /* Over Rides*/

            .KoneSideBarDiv {
                height: 100%;
                background-color: #3b4245;
            }

            #headerBarText_KONE_PLANNER_TOOLS {
                font-family: KONE-Information;
                font-size: 16px;
                text-align: left;
                color: #8d8d8d !important;
                position: relative;
                left: 147px;
            }

            #sideBarHOME div.back-arrow::before {
                content: "\58";
                /*  */
                font-family: KONE-Icon-Font;
                font-size: 15px;
                position: relative;
                top: 2px;
                padding-right: 3px;
            }

            #sideBarHOME div.back-arrow {
                margin-right: 18px;
                /*back-arrow::before font-size + padding-right */
            }

            #sideBarESCALATOR .icon:before {
                content: "\37";
                font-family: KONE-Icon-Font;
                object-fit: contain;
                font-size: 36px;
                text-align: center;
                color: #ffffff;
            }
        </style>

        <doc><set var="anon" value="principal.getUser().isAnonymousIndicator()" /></doc>
        <doc><set var="user" value="principal.getUser().getUserName()" /></doc>

        <!-- Should be page -->
        <doc><set var="page" value="configuration.getInputByName('PLANNER_PAGE').getValue().getStringValue()" /></doc>

        <doc>
            <if condition="principal.getUser().isAnonymousIndicator()">
                <doc><set var="scrollOffset" value="150" scope="document"/></doc>
                <doc><set var="navOffset" value="100" scope="document"/></doc>
                <doc><set var="userType" value="'isAnon-'" scope="document"/></doc>
            </if>
        </doc>

        <div id="KoneHeaderDiv" class="KoneHeaderDiv <doc><out>userType</out></doc>navTop">
            <table style="width: 100%; height:100%">
                <tr>
                    <td>
                        <doc>
                            <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==2">
                                <div id="headerBarText_KONE_PLANNER_TOOLS">
                                    <doc>bundle.KONE_ESCALATOR_HEADER_kone_escalator_tools</doc>
                                </div>
                            </if>
                        </doc>
                        <div id="headerBarText_PRODUCT_NAME">
                            <doc>
                                <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==1">
                                    <doc>bundle.KONE_ESCALATOR_HEADER_kone_escalator_tools</doc>
                                </if>
                            </doc>
                            <doc>
                                <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==2">
                                    <doc>
                                        <out>configuration.getInputByName('ESC_GD_TOP_SELECT').getValue().getLabel()</out>
                                    </doc>
                                </if>
                            </doc>
                        </div>
                    </td>
                    <td style="width:551px;">
                        <table class="hTable" style="width: 100%;">
                            <tr>
                                <td width="33%">
                                    <div id="headerBar_LANGUAGE">
                                        <span class="text"><doc>bundle.KONE_ELEVATOR_HEADER_language</doc></span>
                                        <span class="icon"></span>
                                    </div>
                                </td>
                                <td>
                                    <div id="headerBar_HELP" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_help</doc>
                                    </div>
                                </td>
                                <td>
                                    <div style="display:none" id="headerBar_CONTACT" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_contact</doc>
                                    </div>
                                </td>
                                <td>
                                    <div id="headerBar_KONE">
                                        <a target="_blank" href="http:\\www.kone.com">
                                            <img src="/HTML/images/Logo_21_5_blue_rgb.jpg" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div id="KoneSideBarDiv" class="KoneSideBarDiv <doc><out>userType</out></doc>navTop">
            <div id="sideBarHOME" class="sideBar selected" href="KoneHeaderDiv" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ELEVATOR_BUTTON_home</doc>
                </div>
            </div>
            <div id="sideBarBUILDING" class="sideBar" href="248754360" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                </div>
            </div>
            <div id="sideBarESCALATOR" class="sideBar" href="262459390" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ESCALATOR_HEADER_escalator</doc>
                </div>
            </div>
            <div id="sideBarDESIGN" class="sideBar" href="230317430" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                </div>
            </div>
            <div id="sideBarSUMMARY" class="sideBar" href="248220480" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                </div>
            </div>
            <div id="sideBarDOWNLOADS" class="sideBar" href="228751480" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text"><doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                </div>
            </div>
        </div>

        <script type="text/javascript" defer>
            var navLinks = [];
            var initLinks = true;
            var sideBarTimer;
            var page1 = true;

            $(() => {
                console.debug("Side Bar load");
                //am i on the first page?
                //Add back arrow to Home button
                let backAllowed = "<doc><out>configuration.getInputByName('EXISTING_OR_NEW_FLAG').getValue().getStringValue()</out></doc>" == 'NEW';

                // Init glossary button
                $('#headerBar_HELP').on('click', glossary);

                if ($('#ESCALATOR_TITLE_TEXT_HTML').length == 0) {
                    page1 = false;

                    // if (backAllowed)
                    $('#sideBarHOME div.text').addClass('back-arrow');

                } else {
                    $('input[name=STORE_CONTACT_ESC_CONTACTS_URL]').val($('#ESC_CONTACTS_URL option:selected').text().trim());
                }

                //Set help link
                // this resets the link to the original popup function, so it's now disabled
                //$('#headerBar_HELP').attr('onclick', $('input[name=STORE_GLOSSARY_ESC_TD_TOP_SELECT]').val());

                //Set contacts link
                var contactLink = $('#STORE_CONTACT_ESC_CONTACTS_URL').val();
                if (contactLink != "NO_CONTACT") {
                    $('#headerBar_CONTACT').attr('onclick', 'contactsURL()');
                    $('#headerBar_CONTACT').show();
                }
                //set top of container
                $('#container').addClass('<doc><out>userType</out></doc>containerTop');

                // Remove the (country) part of the language text
                const countryRegExp = /(\s*)(\([a-zA-Z ]+)(\)?)/;
                const localeLabel = document.getElementById('current-locale-label');
                localeLabel.innerText = localeLabel.innerText.replace(countryRegExp, '');

                //move language div
                var currentLocaleDiv = $('#current-locale').detach();
                var localeSelectDiv = $('#locale-select').detach();
                var localScript = $('#locales').find('script').detach();

                $('#headerBar_LANGUAGE span.icon').append(currentLocaleDiv);
                $('#headerBar_LANGUAGE span.icon').append(localeSelectDiv);
                $('#headerBar_LANGUAGE span.icon').append(localScript);

                // Create search for locale selector
                LocaleModule.cleanAndBuild();

                // Bind to scroll

                var bind = "mousewheel DOMMouseScroll scroll";
                $(window).bind(bind, function (event) {
                    //console.debug("sidebar: event type = "+event.type);
                    if (event.type == "mousewheel" || event.type == "DOMMouseScroll") {
                        doUpdateSideBar();
                    } else if (event.type == "scroll") {
                        if (detectIE()) {
                            if (sideBarTimer) {
                                window.clearTimeout(sideBarTimer);
                            }
                            sideBarTimer = window.setTimeout(function () {
                                doUpdateSideBar();
                            }, 50);
                        } else {
                            doUpdateSideBar();
                        }
                    }

                });

                closeGroups();

                //setTimeout(hideDesignSection, 500, document.getElementById('DESIGN_HIDE_1'));
                hideDesignSection(document.getElementById('DESIGN_HIDE_1'));

            });

            function doUpdateSideBar() {
                if (navLinks.length == 1) return;//only have one sidebar object do exit
                var docElement = document.scrollingElement || document.documentElement;
                var jitter = 30;
                var scrollPos = docElement.scrollTop + jitter;//$(document).scrollTop()

                for (var i = 0; i < navLinks.length; i++) {
                    //console.debug("scrollPos = "+scrollPos+", "+i+") navLinks start="+navLinks[i].start+", navLinks end="+navLinks[i].end);
                    var currLink = $(navLinks[i].id);
                    var previousLink = $(navLinks[i].id);
                    if (i > 0) {
                        previousLink = $(navLinks[i - 1].id);
                    }
                    //check for bottom of page
                    var atBottom = false;
                    if (i == navLinks.length - 1) {
                        if (docElement.scrollTop + docElement.clientHeight == docElement.scrollHeight) {
                            atBottom = true;

                        }
                    }
                    if ((navLinks[i].start <= scrollPos && navLinks[i].end > scrollPos) || atBottom) {
                        currLink.addClass("selected");
                        if (atBottom) {
                            previousLink.removeClass("selected");
                        }
                    } else {
                        currLink.removeClass("selected");
                    }
                }
            }

            function selectedSection(div) {
                let isNew = "<doc><out>configuration.getInputByName('EXISTING_OR_NEW_FLAG').getValue().getStringValue()</out></doc>" == 'NEW';
                console.log("isNew: ", isNew);

                if (div.getAttribute('href') == "KoneHeaderDiv" && $('#ESCALATOR_TITLE_TEXT_HTML').length == 0) {
                    prevPageConfigPopup();
                    return;
                }

                var divHref = div.getAttribute('href');

                closeGroups();

                var href = "#" + $('div[id^=' + divHref + ']').attr('id');
                var target = $(href);
                var scrollTo = target.offset().top - <doc><out>navOffset</out></doc>;
                if ($('#' + div.id).attr('href') == "KoneHeaderDiv") {
                    scrollTo = 0;
                }

                $('html, body').animate({
                    scrollTop: scrollTo
                }, 500);
            }

            function jumpToGroup(target) {
                var scrollTo = target.offset().top - 50 - <doc><out>navOffset</out></doc>;

                $('html, body').animate({
                    scrollTop: scrollTo
                }, 50);
            }

            function initNavLinks() {
                navLinks = [];
                $("div.sideBar:visible").each(function () {
                    var $this = $(this);
                    var href = "#" + $('div[id^=' + $this.attr('href') + ']').attr('id');
                    if ($(href).length > 0) {
                        var linkInfo = {
                            id: '#' + $this.attr('id'),
                            href: href,
                            start: 0,
                            end: 0
                        }
                        navLinks.push(linkInfo);
                    } else {
                        $(this).hide();
                    }
                });
            }

            function setNavLinks() {
                //console.debug("setNavLinks");
                /*Store nav links
                * Need to update positions when groups are expanded/collapsed
                */
                //if (detectIE(false)) return;
                var topMenu = $("#KoneHeaderDiv");
                var navTop = parseInt(topMenu.css('top'));
                var topMenuHeight = topMenu.outerHeight() + 1 + navTop;
                var screenTop = $(document).scrollTop();
                var i = 1;
                if (initLinks)
                    i = 0;//make sure we only set Home once
                for (; i < navLinks.length; i++) {
                    var start = $(navLinks[i].href).offset().top - topMenuHeight;
                    if (i == 0) start = 0;
                    navLinks[i].start = start;
                    if (i < navLinks.length - 1) {
                        var end = $(navLinks[i + 1].href).offset().top - <doc><out>scrollOffset</out></doc>;
                        navLinks[i].end = end;
                    } else {
                        navLinks[i].end = start + 5000;
                    }

                    if (i == 1) {
                        navLinks[0].end = navLinks[1].start;
                    }

                    //console.debug("id="+navLinks[i].id+",href="+navLinks[i].href+",start="+navLinks[i].start+",end="+navLinks[i].end);

                }

                initLinks = false;
                //console.debug(navLinks);
            }


            function contactsURL() {
                var contactLink = $('input[name=STORE_CONTACT_ESC_CONTACTS_URL]').val();
                //console.debug("contactsURL: " + contactLink);
                if (contactLink != "NO_CONTACT") {
                    window.open(contactLink, '_blank');
                }
            }

            function hideDesignSection(input) {
                console.debug("hideDesignSection");
                if (input) {
                    if (input.checked) {
                        $('div[id^=accordion230317430]').show();//DESIGN HEADER
                        $('div[id^=accordion235147430]').show();//Side Cladding Options
                        $('div[id^=accordion299609440]').show();//Soffit Cladding Options
                        $('div[id^=accordion279246460]').show();//Lighting
                        $('div[id^=accordion235739440]').show();//SAFETY HEADER
                        $('div[id^=accordion261019450]').show();//Safety
                        $('div[id^=accordion210034451]').show();//Handrail
                        $('div[id^=accordion258905551]').show();//Step Color
                        $('div[id^=accordion236107401]').show();//Step combs
                        $('div[id^=accordion215132401]').show();//Skirts
                        $('div[id^=accordion288059401]').show();//Brush guards
                        $('div[id^=accordion274813411]').show();//Floor Cover Plates
                        $('div[id^=accordion220905421]').show();//Balustrade Front Plates
                        $('div[id^=accordion276224421]').show();//Diagnostic Display
                        $('div[id^=accordion253942421]').show();//Led Trafic Lights
                        $('div[id^=accordion213611551]').show();//Control Cabinet
                        $('#sideBarDESIGN').show();//Sidebar
                    } else {
                        //hide
                        $('div[id^=accordion230317430]').hide();//DESIGN HEADER
                        $('div[id^=accordion235147430]').hide();//Side Cladding Options
                        $('div[id^=accordion299609440]').hide();//Soffit Cladding Options
                        $('div[id^=accordion279246460]').hide();//Lighting
                        $('div[id^=accordion235739440]').hide();//SAFETY HEADER
                        $('div[id^=accordion261019450]').hide();//Safety
                        $('div[id^=accordion210034451]').hide();//Handrail
                        $('div[id^=accordion258905551]').hide();//Step Color
                        $('div[id^=accordion236107401]').hide();//Step combs
                        $('div[id^=accordion215132401]').hide();//Skirts
                        $('div[id^=accordion288059401]').hide();//Brush guards
                        $('div[id^=accordion274813411]').hide();//Floor Cover Plates
                        $('div[id^=accordion220905421]').hide();//Balustrade Front Plates
                        $('div[id^=accordion276224421]').hide();//Diagnostic Display
                        $('div[id^=accordion253942421]').hide();//Led Trafic Lights
                        $('div[id^=accordion213611551]').hide();//Control Cabinet
                        $('#sideBarDESIGN').hide();//Sidebar
                    }
                }
                if (initLinks) {
                    setTimeout(function () {
                        //initNavLinks();
                        setNavLinks();
                    }, 500);
                } else {
                    //initNavLinks();
                    setNavLinks();
                }
            }

            function clickCSI(input) {
                try {

                    if (!input)
                        return;
                    var designHideGroup = $('div[id^=accordion280503430');
                    var designHide = document.getElementById('DESIGN_HIDE_1');
                    if (input.checked) {
                        designHide.checked = true;
                        //$('#DESIGN_HIDE_1').prop('disabled', true);
                        designHide.disabled = true;
                        designHideGroup.hide();
                    } else {
                        designHide.checked = false;
                        //$('#DESIGN_HIDE_1').prop('disabled', false);
                        designHide.disabled = false;
                        designHideGroup.show();
                    }

                    hideDesignSection(designHide);
                } catch (error) {
                    console.warn('Error in clickCSI, the input DESIGN_HIDE_1 must have been removed.');
                }
            }

            function glossary() {

                let filename = "";

                try {
                    // Test input,
                    const input = document.getElementById('ESC_GLOSSARY_URL');

                    // If the input isn't part of this page, grab it from the allValues form.
                    if (input) {
                        filename = input.options[input.selectedIndex].text
                    } else {
                        filename = document.allvalues['ESC_GLOSSARY_URL_value'].value;
                    }

                } catch (e) {
                    console.error(e);
                } finally {
                    // productId => made available in designUI.
                    let link = `/HTML/products/${productId}/help/${filename}.html`;
                    window.open(link, '_blank');
                }
            }

            function prevPageConfigPopup() {
                // This input only exists on the secong page when a configuration is reloaded.
                const existingFlag = $('#EXISTING_OR_NEW_FLAG');

                if (existingFlag.length && existingFlag.val() == 'EXISTING') {

                    const options = {
                        name: "return-to-first-page",
                        message: ResourceBundle.getString("KONE_ELEVATOR_SIDEBAR_previous_page_reload"),
                        okay_btn: true,
                        close_btn_txt: ResourceBundle.getString("Button_cancel"),
                        show: true,
                        destroy: true,
                        custom: function ($warning) {
                            // Setting it to NEW and saving will run the logic and create the first page.
                            $warning.find('.okay-btn').on('click', function () {
                                // Prevent user from click OK again.
                                $warning.detach();

                                // Change flag and save to reload logic
                                existingFlag.val('NEW');
                                saveDesign();
                                return;
                            });
                        }
                    };

                    new KoneDialog(options);

                } else {
                    prevPage();
                }

                return;
            }

            // Add search option to locale selector
            const LocaleModule = (function () {
                const conf = {
                    selectorId: 'locale-select',
                    searchDivId: 'locale-search',
                    placeholder: ResourceBundle.getString('Button_search'),
                    closeIcon: '&#x186;',

                    get html() {
                        return (
                            `<div id="${this.searchDivId}">
                                <input type="text" id="search" name="search" autocomplete="off" placeholder="${this.placeholder}" />
                                <span class="closeX">
                                    ${this.closeIcon}
                                </span>
                            </div>`
                        );
                    }
                };

                // Inject locale selector search
                function inject() {
                    // Create search input
                    const $content = $(`#${conf.selectorId}`);
                    const $search = $(conf.html);

                    // Clean up during testing
                    remove();

                    // Build
                    $content.prepend($search);
                    $search.on('keyup', '#search', searchLocales);
                    $search.on('click', '.closeX', triggerLocaleSearch);

                    // Run initial search - causes .closeX to be hidden
                    triggerLocaleSearch('');
                }

                // Remove locale selector search
                function remove() {
                    $(`#${conf.selectorId}`).find(`div#${conf.searchDivId}`).detach();
                }

                // Run event handler with specific value
                function triggerLocaleSearch(searchString = '') {
                    if (typeof searchString !== 'string')
                        searchString = '';

                    // Change value and trigger search
                    $(`#${conf.selectorId} #search`).val(searchString).keyup();
                }

                // Hide and unhide locales
                function searchLocales(e) {
                    // Needs to be lowercase otherwise English and english won't match
                    const searchString = e.target.value.toLocaleLowerCase();
                    const $locales = $(`#${conf.selectorId} > .popup-contents > .locale-row`);
                    const $closeX = $(`#${conf.searchDivId} .closeX`);

                    // If search is empty then reset, else search titles
                    if (searchString === '') {
                        $locales.show();

                        // Hide clear search button
                        $closeX.hide();

                    } else {
                        // Show clear search button
                        $closeX.show();

                        // Go through each image's title
                        $locales.find('img.flag').each((i, el) => {
                            const $flag = $(el);
                            // Needs to be lowercase otherwise English and english won't match
                            const title = $flag.attr('title').toLocaleLowerCase();

                            if (title.includes(searchString)) {
                                $flag.parent().show();
                            } else {
                                $flag.parent().hide();
                            }
                        });
                    }
                }

                // Expose module
                return {
                    cleanAndBuild: inject,
                    remove: remove,
                    search: triggerLocaleSearch,
                    conf: conf
                };
            })();
        </script>
    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'V2_OLD_NAV,V2_OLD_ENA_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript" defer>
            function clickCSI(input) {
                try {
                    if (!input) return;

                    var designHideGroup = $('div[id^=accordion280503430');
                    var designHide = document.getElementById('DESIGN_HIDE_1');

                    if (input.checked) {
                        designHide.checked = true;
                        //$('#DESIGN_HIDE_1').prop('disabled', true);
                        designHide.disabled = true;
                        designHideGroup.hide();
                    } else {
                        designHide.checked = false;
                        //$('#DESIGN_HIDE_1').prop('disabled', false);
                        designHide.disabled = false;
                        designHideGroup.show();
                    }

                    hideDesignSection(designHide);
                } catch (error) {
                    console.warn('Error in clickCSI, the input DESIGN_HIDE_1 must have been removed.');
                }
            }

            function hideDesignSection() {
                try {
                    // Checkbox statuses
                    let csi = document.getElementById('ESC_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1');
                    let design = document.getElementById('DESIGN_HIDE_1');

                    if (csi) {
                        // Checkbox logic setup
                        if (csi.checked) {
                            // don't show click to show design accordion
                            $('div[id^=accordion280503430]').hide(); // ESC Click to show Design

                            // set click to show design to false
                            document.getElementById('DESIGN_HIDE_1').checked = false
                        } else {
                            // show click to show design accordion
                            $('div[id^=accordion280503430]').show(); // ESC Click to show Design
                        }

                        if (!csi.checked && !design.checked) {
                            $('div[id^=accordion230317430]').hide(); // DESIGN HEADER
                            $('div[id^=accordion210034451]').hide(); // KONE Design Collection
                            $('div[id^=accordion258905551]').hide(); // OTHER HEADER
                            $('div[id^=accordion236107401]').hide(); // Maintenance Service
                            $('div[id^=accordion215132401]').hide(); // Call Back Service
                            $('div[id^=accordion288059401]').hide(); // Additional Options
                            $('div[id^=accordion274813411]').hide(); // Additional Options
                            $('div[id^=accordion220905421]').hide(); // Additional Options
                            $('div[id^=accordion276224421]').hide(); // Additional Options
                            $('div[id^=accordion213611551]').hide(); // Additional Options
                            $('div[id^=accordion279246460]').hide(); // Additional Options

                            $('#sideBarDESIGN').hide(); // Sidebar
                        } else {
                            $('div[id^=accordion230317430]').show(); // DESIGN HEADER
                            $('div[id^=accordion210034451]').show(); // KONE Design Collection
                            $('div[id^=accordion258905551]').show(); // OTHER HEADER
                            $('div[id^=accordion236107401]').show(); // Maintenance Service
                            $('div[id^=accordion215132401]').show(); // Call Back Service
                            $('div[id^=accordion288059401]').show(); // Additional Options
                            $('div[id^=accordion274813411]').show(); // Additional Options
                            $('div[id^=accordion220905421]').show(); // Additional Options
                            $('div[id^=accordion276224421]').show(); // Additional Options
                            $('div[id^=accordion213611551]').show(); // Additional Options
                            $('div[id^=accordion279246460]').show(); // Additional Options

                            $('#sideBarDESIGN').show(); // Sidebar
                        }
                    }
                } catch (error) {
                    console.error(error.message);
                }
            }
        </script>
    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'YES,V2_OLD_NAV,V2_OLD_ENA_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript">
            function jumpToGroup(target, _speed) {
                var speed = (typeof _speed != 'undefined') ? _speed : 50;
                var scrollTo = target.offset().top - 50 - <doc><out>navOffset</out></doc>;
                $('html, body').animate({ scrollTop: scrollTo }, speed);
            }
        </script>
    </if>
</doc>
