<!-- /concept/custom/jpocs/kone/escalator_planner/summary_table.html -->

<div class="verifySummarySection">
    <div class="quickSummaryHolder">
        <div class="summaryTable grid-type">
            <div id="REGULATION_EDIT" onclick="jumpTo('collapse244739370');">
                <div name="CODES_label" class="summaryLabel">Applicable Code</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="CODES_data">EN115:2017/GB16899</div>
                </div>
                <div id="REGULATIONFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="V_RISE_EDIT" onclick="jumpTo('collapse212844001');">
                <div name="DIM_ESC_VERTICAL_label" class="summaryLabel">Vertical Rise</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DIM_ESC_VERTICAL_data">4500<doc>bundle.KONE_GLOBAL_MM_mm</doc></div>
                </div>
                <div id="VRiseFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <!-- START - ENA name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
                    <div id="ECO_EFFIC_EDIT" onclick="jumpTo('collapse224415380');">
                        <div name="TYP_ESC_MOTOR_TYPE_label" class="summaryLabel">Eco Efficiency</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_MOTOR_TYPE_data"></div>
                        </div>
                        <div id="EcoEfficFlag" class="summaryFlag default">
                            <div class="edit-icon"></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - ENA name space  -->

            <div id="SEISMIC_EDIT" onclick="jumpTo('collapse243356370');">
                <div name="TYP_ESC_SEISMIC_CODE_label" class="summaryLabel">Seismic</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_ESC_SEISMIC_CODE_data">Non Seismic</div>
                </div>
                <div id="OpEnvFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="S_WIDTH_EDIT" onclick="jumpTo('collapse215805410');">
                <div name="DIM_ESC_STEP_WIDTH_label" class="summaryLabel">Step Width</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DIM_ESC_STEP_WIDTH_data">1000 <doc>bundle.KONE_GLOBAL_MM_mm</doc></div>
                </div>
                <div id="SWidthFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <!-- START - EU/SOC name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())==null">
                    <div id="POWER_EDIT" onclick="jumpTo('collapse257220431');">
                        <div name="TYP_ESC_POWER_SUPPLY_label" class="summaryLabel">Power</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_POWER_SUPPLY_data">3 x 400 V 50 Hz 230 V</div>
                        </div>
                        <div id="PowerFlag" class="summaryFlag default">
                            <div class="edit-icon"></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - EU/SOC name space  -->

            <!-- START - ENA name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
                    <div id="POWER_EDIT">
                        <div name="TYP_ESC_POWER_SUPPLY_label" class="summaryLabel">Power</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_POWER_SUPPLY_data">3 x 400 V 50 Hz 230 V</div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - ENA name space  -->

            <div id="OP_ENV_EDIT" onclick="jumpTo('collapse296317571');">
                <div name="ESC_OPERATING_ENV_label" class="summaryLabel">Operating Environment</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="ESC_OPERATING_ENV_data">Indoor</div>
                </div>
                <div id="OpEnvFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <div id="HOR_STEPS_EDIT" onclick="jumpTo('collapse253846401');">
                <div name="ESC_HORIZONTAL_STEPS_label" class="summaryLabel">Horizontal Steps</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="ESC_HORIZONTAL_STEPS_data">2</div>
                </div>
                <div id="HorStepsFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <!-- START - EU/SOC name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())==null">
                    <div id="TRUSS_ANGLE_EDIT" onclick="jumpTo('collapse290151110');">
                        <div name="INC_OR_TR_ANGLE_label" class="summaryLabel">Inclination</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="INC_OR_TR_ANGLE_data">30°</div>
                        </div>
                        <div id="TrussAngleFlag" class="summaryFlag default">
                            <div class="edit-icon"></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - EU/SOC name space  -->

            <!-- START - ENA name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
                    <div id="TRUSS_ANGLE_EDIT">
                        <div name="INC_OR_TR_ANGLE_label" class="summaryLabel">Inclination</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="INC_OR_TR_ANGLE_data">30°</div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - ENA name space  -->

            <div id="TRANSITION_RADII_EDIT" onclick="jumpTo('collapse929260900');">
                <div name="ESC_RADII_SELECTION_label" class="summaryLabel">Transition Radii</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="ESC_RADII_SELECTION_data">1.0m / 1.0m</div>
                </div>
                <div id="BalustradeTypeFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <div id="BALUSTRADE_TYPE_EDIT" onclick="jumpTo('collapse224437410');">
                <div name="TYP_ESC_BA_TYPE_label" class="summaryLabel">Balustrade Type</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_ESC_BA_TYPE_data">Safety glass 10<doc>bundle.KONE_GLOBAL_MM_mm</doc></div>
                </div>
                <div id="BalustradeTypeFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <!-- START - EU/SOC name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())==null">
                    <div id="BALUSTRADE_HEIGHT_EDIT" onclick="jumpTo('collapse214059410');">
                        <div name="DIM_ESC_BA_HEIGHT_label" class="summaryLabel">Balustrade Height</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_ESC_BA_HEIGHT_data">900 <doc>bundle.KONE_GLOBAL_MM_mm</doc></div>
                        </div>
                        <div id="BalustradeHeightFlag" class="summaryFlag default">
                            <div class="edit-icon"></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - EU/SOC name space  -->

            <!-- START - ENA name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
                    <div id="BALUSTRADE_HEIGHT_EDIT" >
                        <div name="DIM_ESC_BA_HEIGHT_label" class="summaryLabel">Balustrade Height</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_ESC_BA_HEIGHT_data">900 <doc>bundle.KONE_GLOBAL_MM_mm</doc></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - ENA name space  -->

            <div id="ARRANGEMENT_EDIT" onclick="jumpTo('collapse276055380');">
                <div name="TYP_ESC_ARRANGEMENT_label" class="summaryLabel">Arrangement</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_ESC_ARRANGEMENT_data">Single</div>
                </div>
                <div id="ArrangementFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="OP_MODE_EDIT" onclick="jumpTo('collapse257834380');">
                <div name="TYP_OPERATIONAL_MODE_label" class="summaryLabel">Operational Mode</div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_OPERATIONAL_MODE_data">Continuous operation</div>
                </div>
                <div id="OpModeFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>

            <!-- START - EU/SOC name space  -->
            <doc>
                <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())==null">
                    <div id="ESC_DECKING_EDIT" onclick="jumpTo('collapse473315230');">
                        <div name="ESC_DECKING_label" class="summaryLabel">Decking</div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_DECKING_data"></div>
                        </div>
                        <div id="BalustradeTypeFlag" class="summaryFlag default">
                            <div class="edit-icon"></div>
                        </div>
                    </div>
                </if>
            </doc>
            <!-- END - EU/SOC name space  -->

        </div>
    </div>
</div>

<script type="text/javascript" defer>
    //var UOM = "<doc><out>configuration.getInputByName('CHANGE_COUNTRY').getProductInput().getAttributeByName('UOM').getAttributeValueFromConfigurationInputValue(configuration.getInputByName('CHANGE_COUNTRY').getValue(),configuration).getStringValue()</out></doc>";
    var unitType = "<doc><out>configuration.getInputByName('CHANGE_COUNTRY').getProductInput().getAttributeByName('UNIT_OF_MEASURE').getAttributeValueFromConfigurationInputValue(configuration.getInputByName('CHANGE_COUNTRY').getValue(),configuration).getStringValue()</out></doc>";

    var dataInputEvents = [];
    var dataInputSuffix = [];
    var areaCodedInputs = [];
    areaCodedInputs["DIM_ESC_VERTICAL"] = "DIM_ESC_VERTICAL_" + unitType;

    var reverseAreaCodedInputs = [];
    reverseAreaCodedInputs["DIM_ESC_VERTICAL_" + unitType] = "DIM_ESC_VERTICAL";
    reverseAreaCodedInputs["DIM_ESC_VERTICAL_METRIC"] = "DIM_ESC_VERTICAL";
    reverseAreaCodedInputs["DIM_ESC_VERTICAL_IMPERIAL_DISPLAY"] = "DIM_ESC_VERTICAL";
    reverseAreaCodedInputs["TYP_ESC_TR_ANGLE"] = "INC_OR_TR_ANGLE";
    reverseAreaCodedInputs["VAL_INCLINATION_ANGLE"] = "INC_OR_TR_ANGLE";

    var dataTableInputs = [
        /*
        {
            input: "DIM_ESC_VERTICAL", refinput: areaCodedInputs["DIM_ESC_VERTICAL"], label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>",
            suffix: "" + UOM,
            function: function () {
                if (unitType == "METRIC") {
                    updateDataTableInput(document.getElementById(areaCodedInputs["DIM_ESC_VERTICAL"]));
                } else {
                    setVerticalRiseData();
                }
            }},
        */
        { input: "DIM_ESC_VERTICAL", refinput: "DIM_ESC_VERTICAL_METRIC", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" },
        { input: "DIM_ESC_VERTICAL", refinput: "DIM_ESC_VERTICAL_IMPERIAL_DISPLAY", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_vertivcal_rise</doc>" },//summary, keyvalues (suffix will need to come from input ESC_UNIT_OF_MEASURE)

        //DIM_ESC_VERTICAL needs to be a refinput as _IMPERIAL or METRIC could be suffixed
        { input: "CODES", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_regulation</doc>" }, //summary, keyvalues
        { input: "TYP_ESC_SEISMIC_CODE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_seismic</doc>" }, //summary
        { input: "ESC_OPERATING_ENV", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_operating_environment</doc>" }, //summary
        { input: "DIM_ESC_STEP_WIDTH", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_step_width</doc>" }, //summary, keyvalues
        { input: "TYP_OPERATIONAL_MODE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_operational_mode</doc>" }, //summary
        { input: "ESC_DECKING", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_decking</doc>" }, //summary
        { input: "TYP_ESC_POWER_SUPPLY", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_power_supply</doc>" }, //summary

        /*
         * Driven by product
         * if ESC_GD_TOP_SELECT attribute ESC_PRODUCT_TYPE_ATT is "Escalator" then
         * TYP_ESC_TR_ANGLE is asked  else Inclination VAL_INCLINATION_ANGLE
         */
        { input: "INC_OR_TR_ANGLE", refinput: "TYP_ESC_TR_ANGLE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_inclination</doc>" }, //summary
        { input: "INC_OR_TR_ANGLE", refinput: "VAL_INCLINATION_ANGLE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_inclination</doc>" }, //key Values

        { input: "TYP_ESC_MOTOR_TYPE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_eco_efficiency</doc>" }, //summary
        { input: "summaryDistMount", label: "Distance Between the Mountings [B]" }, //summary
        { input: "ESC_HORIZONTAL_STEPS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_horizontal_steps</doc>" }, //summary, keyvalues QTY_ESCALATOR_HORIZONTAL_STEP
        { input: "TYP_ESC_BA_TYPE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_balustrade_type</doc>" }, //summary
        { input: "summaryTotalWidth", label: "Total Width of Escalator [B]" }, //summary
        { input: "TYP_ESC_ARRANGEMENT", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_arrangement</doc>" }, //summary, keyvalues
        { input: "DIM_ESC_BA_HEIGHT", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_balustrade_height</doc>" }, //summary, keyvalues
        { input: "summaryLoadUpper", label: "Load Upper [B]" }, //summary
        { input: "DIM_TR_INTER_SUPPORT_QUESTION", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_intermediate_support</doc>" },
        { input: "DIM_TR_INTER_SUPPORT_DATA", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_intermediate_support</doc>" },
        { input: "TYP_ESC_FALL_PROTECTION", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_passenger_fall_protection_barrier</doc>" }, //summary, keyvalues
        { input: "summaryLoadLower", label: "Load Lower [B]" }, //summary
        { input: "ESC_RADII_SELECTION", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_transition_radii</doc>" }, //summary, Show All
        //{input: "ESC_OUTPUT_IMG_HOLDER", label: "<doc>bundle.KONE_ELEVATOR_HEADER_key_values_table</doc>"}, //key Values

        { input: "ESC_LIGHTING_CONT", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_continues_lighting</doc>" }, //Show All
        { input: "ESC_LIGHTING_COMB", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_comb_lighting</doc>" }, //Show All
        { input: "ESC_LIGHTING_SKIRTING", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_SKIRT_LIGHTING</doc>" }, //Show All
        { input: "ESC_LIGHTING_SOFFIT", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_soffit_lighting</doc>" }, //Show Al
        { input: "ESC_LIGHTING_COVE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_cove_lighting</doc>" }, //Show All
        { input: "MAT_ESC_SIDE_CLADDING", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_SIDE_CLADDING_OPTIONS</doc>" }, //Show All
        { input: "TYP_ESC_SOFFIT_CLADDING", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_SOFFIT_CLADDING_OPTIONS</doc>" }, //Show All
        { input: "ESC_STEP_CHAIN", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_STEP_CHAIN</doc>" }, //Show All
        { input: "COL_ESC_ALU_STEP", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_STEP_COLOR</doc>" }, //Show All
        { input: "ESC_STEP_COMBS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_STEP_COMBS</doc>" }, //Show All
        { input: "ESC_SKIRTS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_SKIRTS</doc>" }, //Show All
        { input: "ESC_BRUSH_GUARDS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_BRUSH_GUARDS</doc>" }, //Show All
        { input: "ESC_FLOOR_COVER_PLATE", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_FLOOR_COVER_PLATES</doc>" }, //Show All
        { input: "ESC_BALUSTRADE_FRONT_PLATES", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_BALUSTRADE_FRONT</doc>" }, //Show All
        { input: "ESC_DIAGNOSTIC_DISPLAY", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_DIAGNOSTIC_DISPLAY</doc>" }, //Show All
        { input: "ESC_CONTROL_CABINET", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_CONTROL_CABINET</doc>" }, //Show All
        { input: "ESC_TRAFIC_LIGHTS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_LED_TRAFFIC_LIGHTS</doc>" }, //Show All
        //Key values image description
        { input: "ESC_MAIN_IMAGE", label: "" }, //keyvalues

        // Global Escalator stuff
        { input: "ESC_SAFETY_STEP_DEMARCATION", label: "<doc>bundle.KONE_ESCALATOR_TEXT_step_demarcation</doc>" },
        { input: "ESC_UF_CLADDING_OPTIONS", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_DOC_SIDE_CLADDING_OPTIONS</doc>" },
        { input: "ESC_UNDERSTEP_LIGHTING", label: "<doc>bundle.KONE_ESCALATOR_TEXT_understep_lighting</doc>" },

        { input: "Connected_service", label: "<doc>bundle.KONE_ESCALATOR_TEXT_table_services</doc>" },
        { input: "TYP_ESC_FALL_PROTECTION", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_passenger_fall_protection_barrier</doc>" },
        { input: "TYP_ESC_ANTICLIMB_BARRIER", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_passenger_anticlimb_protection_barrier</doc>" },
        { input: "TYP_ESC_ANTIRIDE_BARRIER", label: "<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_passenger_antiride_protection_barrier</doc>" },
        { input: "ESC_HANDRAIL_SANITIZER", label: $('label[for=ESC_HANDRAIL_SANITIZER]').text() }
    ];

    //var INPUT = new getInput('INPUT');//temp

    $(() => {
        var test = getAttributeData("CHANGE_COUNTRY");
        if (test.found) {
            dataTablesInit();
        } else {
            getInputAttributes("CHANGE_COUNTRY", function () {
                dataTablesInit();
            });
        }
    });
</script>

<script type="text/javascript" defer>
    //Old code, archived not used

    function getInput(selector) {
        //use getByElementId(...)
        //var input = document.querySelector(selector);
        var form = document.getElementById("ui");
        //form.elements[selector]

        var input = document.getElementById(selector);
        if (input == null) {
            //radio input
            input = document.querySelector('input[name="' + selector + '"]:checked');
        }

        this.type = null;

        this.isNull = true;
        if (input != null) {
            if (!inputEventsSet) {
                setDataTableInputEvents($(input));
            }
            this.type = input.type;
            this.isNull = false;
            if (this.type == "select-one") {
                this.input = input.options[input.selectedIndex];
            } else if (this.type == "text" || this.type == "radio") {
                this.input = input;
            }
        }

        this.val = function () {
            if (this.isNull) {
                return "";
            } else {
                //console.log("getInput Val "+input.name+" type="+input.type+" value="+input.value);
                return this.input.value;
            }
        }
        this.text = function () {
            if (this.isNull) {
                return "";
            } else {
                //console.log("getInput Text "+input.name+" type="+input.type);
                if (this.type == "radio") {
                    var label = document.getElementById('radioDiv_' + this.input.id).cloneNode(true).querySelectorAll('label')[1].textContent.trim();
                    return label;
                } else if (this.type == "select-one") {
                    return this.input.text.trim();
                } else {
                    return this.input.value;
                }
            }
        }
        return this;
    }
</script>
