/*---------------- ****************** PAGE 1 *********************** ---------------- */

/*---------------- Title image and input group 245829240 ---------------- */

/* Hide group header Name space Group*/
div[id^=collapse245829240] {
  display: none;
}

/* backround*/
.custom div[id^=accordion245829240]>div.input-group {
  background: url(/HTML/products/261612571/images/Hero_V3_1.png);
  background-repeat: no-repeat;
  background-size: 100% 342px;
  min-height: 342px;
  width: 100%;
}

.custom div[id^=accordion245829240]>div.input-group td {
  padding: 0px;
}

.custom div[id^=accordion245829240]>div.input-group>.group-body table {
  /*margin-left: 0;*/
  margin: unset;
  width: 100%;
}

/* Need to ensure that the input group body is 100% of the group width */
.custom div[id^=accordion245829240]>div.input-group>.group-body {
  /*margin-left: 0;*/
  margin: unset;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.custom div[id^=accordion245829240]>div.input-group>.group-body>#inputParameterTable {
  margin: unset;
  width: 100%;
}

/*END  Title image and input group */

/*---------------- configure options header 276212250---------------- */


/* Hide group header Building Group*/
div[id^=collapse276212250] {
  display: none;
}

/* background colour */
div[id^=accordion276212250]>div.input-group {
  background: #E8EAED;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

/* Left align contents */
div[id^=accordion276212250]>div.input-group>.group-body {
  margin-left: 30px;
  width: 100%;
}

.custom div[id^=accordion276212250]>div.input-group>.group-body table {
  width: 100%;
}

.custom div[id^=accordion276212250]>div.input-group>.group-body>#inputParameterTable {
  margin: unset;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/*END  configure options header */


/*---------------- BUILDING_TYPE header 229217260---------------- */


/* Hide group header Building Group*/
div[id^=collapse229217260] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=229217260].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion229217260]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=ESCALATOR_BUILDING_TYPE_HEADER_HTML_CUSTOM_HTML_TEMPLATE_CONTENT] {
    font-size: 50px !important;
  }
}

/* Left align contents */
div[id^=accordion229217260]>div.input-group>.group-body {
  margin: 0;
}

/*END  BUILDING_TYPE header */

/*---------------- Building Type 210534362--------------- */

/* Hide group header Units Group*/
div[id^=collapse210534362] {
  display: none;
}

.custom #TYP_ESCALATOR_RANGE_OF_USE_TD_tag {
  display: none;
}

/* background colour */
div[id^=accordion210534362]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #e9e9eb;
  margin-top: -20px;
}

@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210534362]>div.input-group {
    width: 900px;
  }
}

/* Left align contents */
div[id^=accordion210534362]>div.input-group>.group-body {
  margin: 0;
}

/*END  Building type */

/*---------------- Additional Details header 216829372---------------- */


/* Hide group header Building Group*/
div[id^=collapse216829372] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=216829372].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion216829372]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion216829372]>div.input-group>.group-body {
  margin: 0;
}

/*END  Additional Details header */

/*---------------- Additional details 235144372--------------- */

/* Hide group header Units Group*/
div[id^=collapse235144372] {
  display: none;
}

.custom #ESCALATOR_ADDITIONAL_DETAILS_MENU_TD_tag {
  display: none;
}

/* background colour */
div[id^=accordion235144372]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #e9e9eb;
  margin-top: -20px;
}

@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion235144372]>div.input-group {
    width: 900px;
  }
}

/* Left align contents */
div[id^=accordion235144372]>div.input-group>.group-body {
  margin: 0;
}

/*END  Additional Details */

/*---------------- Transport header 298527412---------------- */


/* Hide group header Building Group*/
div[id^=collapse298527412] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=298527412].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion298527412]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion298527412]>div.input-group>.group-body {
  margin: 0;
}

/*END  Transport header */

/*---------------- Transport 276536412--------------- */

/* Hide group header Units Group*/
div[id^=collapse276536412] {
  display: none;
}

.custom #ESC_TRANS_NEED_TD_tag {
  display: none;
}

/* background colour */
div[id^=accordion276536412]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #e9e9eb;
  margin-top: -20px;
}

/* Left align contents */
div[id^=accordion276536412]>div.input-group>.group-body {
  margin: 0;
}

/*END  Transport */

/*---------------- Duty cycle header 282106422---------------- */


/* Hide group header Building Group*/
div[id^=collapse282106422] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=282106422].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion282106422]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion282106422]>div.input-group>.group-body {
  margin: 0;
}

/*END  Duty cyle header */

/*---------------- Duty cycle 230420422--------------- */

/* Hide group header Units Group*/
div[id^=collapse230420422] {
  display: none;
}

/* background colour */
div[id^=accordion230420422]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #e9e9eb;
  margin-bottom: 40px;
  margin-top: -20px;
}

/* Left align contents */
div[id^=accordion230420422]>div.input-group>.group-body {
  margin: 0;
}

/*END  Duty cycle */

/*---------------- Suitable product 268504340---------------- */


/* Hide group header Building Group*/
div[id^=collapse268504340] {
  display: none;
}

/* background colour */
div[id^=accordion268504340]>div.input-group {
  background: #E8EAED;

}

/* iPad only */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion268504340]>div.input-group {
    width: 901px;
    left: 25px;
  }
}

/* Start: image grid selected image */
img[id^=IGImage_ESC_GD_TOP_SELECT].selected {
  padding: 5px;
  border-width: 3px;
}

.custom #ESC_GD_TOP_SELECT_TD_tag {
  display: none;
}

/* Suitable product Header */
div[id^=accordion210427270]>div.input-group {
  margin-right: 15px;
}

/* iPad only */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210427270]>div.input-group {
    width: 911px;
    left: 12px;
  }
}

/*END  Suitable product header */

/*---------------- Product selection 210427270---------------- */

/* Hide group header Building Group*/
div[id^=collapse210427270] {
  display: none;
}

/*END  Product selection */

/*---------------- reload 236607280---------------- */

/* Hide group header Building Group*/
div[id^=collapse236607280] {
  display: none;
}

/*END  reload */

/*---------------- ******************* PAGE 2 ******************** --------------- */
/*---------------- PAGE 2 Expand All 407920494---------------- */

/* Hide group header Group*/
div[id^=collapse1681354821] {
  display: none;
}

/* Left align contents */
div[id^=accordion1681354821]>div.input-group>.group-body {
  margin: 0;
}

/*END  Expand All*/

/*---------------- building header 248754360---------------- */
/* set width of group */
div[id^=accordion248754360] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion248754360] {
    width: 85%;
  }
}


/* Hide group header Building Group*/
div[id^=collapse248754360] {
  display: none;
}



/* Building text */

div[id^=248754360].input-group {
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
}

/* background colour */
div[id^=accordion248754360]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion248754360]>div.input-group>.group-body {
  margin: 0;
}

/*END  building header */

/********************* Input Group: Regulation - 244739370 *************************/

/* Input Group: Regulations  */
div[id^=accordion244739370] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion244739370] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion244739370]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse244739370].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 68px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion244739370]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion244739370]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion244739370]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Regulations Icon */
div[id^=collapse244739370].group-header.collapsible::before {
  content: "\189";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse244739370]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse244739370]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Regulation */

/********************* Input Group: Seismic - 243356370 *************************/

/* Input Group: Seismic  */
div[id^=accordion243356370] {
  width: 49%;
}

/* Fixed radio buttons alignment */
#TYP_ESC_SEISMIC_CODE_TR_tag>td:first-child {
  width: 1px;
  padding: 2px;
}

/* Fixed radio buttons alignment */
div[id^=accordion243356370] #TYP_ESC_SEISMIC_CODE_TD_tag {
  width: 6px;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion243356370] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion243356370]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse243356370].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;

}

/* input group open settings */
div[id^=accordion243356370]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion243356370]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion243356370]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Seismic Icon */
div[id^=collapse243356370].group-header.collapsible::before {
  content: "\102";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse243356370]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse243356370]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Seismic */

/********************* Input Group: Eco efficiency - 224415380 *************************/

/* Input Group: Eco efficiency  */
div[id^=accordion224415380] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion224415380] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion224415380]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse224415380].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion224415380]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion224415380]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion224415380]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Eco efficiency Icon */
div[id^=collapse224415380].group-header.collapsible::before {
  content: "\280";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse224415380]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse224415380]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Eco efficiency */

/********************* Input Group: Operational mode - 257834380 *************************/

/* Input Group: Operational mode  */
div[id^=accordion257834380] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion257834380] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion257834380]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse257834380].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion257834380]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion257834380]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion257834380]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Operational mode Icon */
div[id^=collapse257834380].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse257834380]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse257834380]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Operational mode */

/********************* Input Group: Operating environment - 296317571 *************************/

/* Input Group: Operating environment */
div[id^=accordion296317571] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion296317571] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion296317571]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse296317571].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion296317571]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion296317571]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion296317571]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Operating environment Icon */
div[id^=collapse296317571].group-header.collapsible::before {
  content: "\272";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse296317571]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse296317571]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Operating environment */

/********************* Input Group: Power - 257220431 *************************/

/* Input Group: Regulations  */
div[id^=accordion257220431] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion257220431] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion257220431]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse257220431].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 68px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion257220431]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion257220431]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion257220431]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Power Icon */
div[id^=collapse257220431].group-header.collapsible::before {
  content: "\108";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse257220431]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse257220431]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Power */

/********************* Input Group: Arrangement - 276055380 *************************/

/* Input Group: Arrangement */
div[id^=accordion276055380] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion276055380] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion276055380]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse276055380].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion276055380]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion276055380]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion276055380]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Arrangement Icon */
div[id^=collapse276055380].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse276055380]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse276055380]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Arrangement */

/*---------------- Escalator header 262459390---------------- */
/* set width of group */
div[id^=accordion262459390] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion262459390] {
    width: 85%;
  }
}


/* Hide group header Building Group*/
div[id^=collapse262459390] {
  display: none;
}

/* Building text */

div[id^=262459390].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion262459390]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion262459390]>div.input-group>.group-body {
  margin: 0;
}

/*END  escalator header */

/********************* Input Group: Vertical rise - 212844001 *************************/

/* Input Group: Vertical rise */
div[id^=accordion212844001] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion212844001] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion212844001]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse212844001].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion212844001]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion212844001]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion212844001]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Vertical rise Icon */
div[id^=collapse212844001].group-header.collapsible::before {
  content: "\50";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse212844001]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse212844001]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Vertical rise */

/********************* Input Group: Inclination  - 214738400 *************************/

/* Input Group: Inclination */
div[id^=accordion214738400] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion214738400] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion214738400]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse214738400].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion214738400]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion214738400]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion214738400]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Inclination Icon */
div[id^=collapse214738400].group-header.collapsible::before {
  content: "\338";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
  margin-left: 26px;
}

/* Close group icon */
div[id^=collapse214738400]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse214738400]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Inclination */

/********************* Input Group: Horizontal Steps  - 253846401 *************************/

/* Input Group: Horizontal Steps */
div[id^=accordion253846401] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion253846401] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion253846401]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse253846401].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion253846401]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion253846401]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion253846401]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Horizontal Steps Icon */
div[id^=collapse253846401].group-header.collapsible::before {
  content: "\338";
  width: 37px;
  margin-left: 26px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse253846401]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse253846401]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Horizontal steps */

/********************* Input Group: Transition Radii  - 929260900 *************************/

/* Input Group: Transition radii */
div[id^=accordion929260900] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion929260900] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion929260900]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse929260900].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion929260900]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion929260900]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion929260900]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Transition radii Icon */
div[id^=collapse929260900].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse929260900]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse929260900]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Transition Radii */

/********************* Input Group: Truss angle - 290151110 *************************/

/* Input Group: truss angle */
div[id^=accordion290151110] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion290151110] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion290151110]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse290151110].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion290151110]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion290151110]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion290151110]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Truss angle Icon */
div[id^=collapse290151110].group-header.collapsible::before {
  content: "\338";
  width: 37px;
  margin-left: 26px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse290151110]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse290151110]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Truss angle */

/********************* Input Group: Step width  - 215805410 *************************/

/* Input Group: Step width */
div[id^=accordion215805410] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion215805410] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion215805410]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse215805410].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion215805410]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion215805410]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion215805410]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Step width Icon */
div[id^=collapse215805410].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse215805410]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse215805410]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Step width */

/********************* Input Group: Intermidiate support  - 257622410 *************************/

/* Input Group: Intermidiate support */
div[id^=accordion257622410] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion257622410] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion257622410]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse257622410].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion257622410]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion257622410]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion257622410]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Intermidiate support Icon */
div[id^=collapse257622410].group-header.collapsible::before {
  content: "\76";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse257622410]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse257622410]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Intermidiate support */

/********************* Input Group: Ballustrade type - 224437410 *************************/

/* Input Group: Ballustrade type */
div[id^=accordion224437410] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion224437410] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion224437410]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse224437410].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion224437410]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion224437410]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion224437410]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Ballustrade type Icon */
div[id^=collapse224437410].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse224437410]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse224437410]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Ballustrade type */

/********************* Input Group: Ballustrade Height - 214059410 *************************/

/* Input Group: Ballustrade Height */
div[id^=accordion214059410] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion214059410] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion214059410]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse214059410].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion214059410]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion214059410]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion214059410]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Ballustrade Height Icon */
div[id^=collapse214059410].group-header.collapsible::before {
  content: "\344";
  width: 37px;
  margin-left: 26px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse214059410]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse214059410]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Ballustrade Height */

/********************* Input Group: Ballustrade Extension - 255611420 *************************/

/* Input Group: Ballustrade Extension */
div[id^=accordion255611420] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion255611420] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion255611420]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse255611420].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion255611420]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion255611420]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion255611420]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Ballustrade Extension Icon */
div[id^=collapse255611420].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse255611420]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse255611420]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Ballustrade Extension */

/*---------------- Design and Safety header 280503430---------------- */
/* set width of group */
div[id^=accordion280503430] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion280503430] {
    width: 85%;
  }
}

/* Hide group header Group*/
div[id^=collapse280503430] {
  display: none;
}

/* text */

div[id^=280503430].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* Left align contents */
div[id^=accordion280503430]>div.input-group>.group-body {
  margin: 0;
}

/* background colour */
div[id^=accordion280503430]>div.input-group {
  border: 1px solid #DAE2E7;
  border-radius: 2px;
  background-color: rgba(242, 243, 244, 0.6);
  margin-left: 30px;
}

/*END  Design and Safety header */

/*---------------- Design header 230317430---------------- */
/* set width of group */
div[id^=accordion230317430] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion230317430] {
    width: 85%;
  }
}


/* Hide group header Building Group*/
div[id^=collapse230317430] {
  display: none;
}

/* Building text */

div[id^=230317430].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion230317430]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion230317430]>div.input-group>.group-body {
  margin: 0;
}

/*END  design header */

/********************* Input Group: handrail - 210034451 *************************/

/* Input Group: Operating environment */
div[id^=accordion210034451] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion210034451] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion210034451]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse210034451].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion210034451]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion210034451]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion210034451]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Handrail Icon */
div[id^=collapse210034451].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse210034451]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse210034451]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Handrail */

/********************* Input Group: Step Color - 258905551 *************************/

/* Input Group: Operating environment */
div[id^=accordion258905551] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion258905551] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion258905551]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse258905551].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion258905551]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion258905551]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion258905551]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Operating environment Icon */
div[id^=collapse258905551].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse258905551]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse258905551]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Step Color */

/********************* Input Group: Side Cladding Options - 235147430 *************************/

/* Input Group: Side Cladding Options */
div[id^=accordion235147430] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion235147430] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion235147430]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse235147430].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion235147430]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion235147430]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion235147430]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Side Cladding Options - Standard Icon */
div[id^=collapse235147430].group-header.collapsible::before {
  content: "\231";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse235147430]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse235147430]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Side Cladding Options */

/********************* Input Group: Soffit Cladding Options - 299609440 *************************/

/* Input Group: Soffit Cladding Options - Standard */
div[id^=accordion299609440] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion299609440] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion299609440]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse299609440].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion299609440]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion299609440]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion299609440]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Soffit Cladding Options - Standard Icon */
div[id^=collapse299609440].group-header.collapsible::before {
  content: "\231";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse299609440]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse299609440]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Soffit Cladding Options - Standard*/



/********************* Input Group: Lighting - 279246460 *************************/

/* Input Group: Lighting */
div[id^=accordion279246460] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion279246460] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion279246460]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse279246460].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion279246460]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion279246460]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion279246460]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Lighting icon */
div[id^=collapse279246460].group-header.collapsible::before {
  content: "\258";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse279246460]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse279246460]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Lighting*/

/*---------------- safety header 235739440---------------- */
/* set width of group */
div[id^=accordion235739440] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion235739440] {
    width: 85%;
  }
}

/* Hide group header Building Group*/
div[id^=collapse235739440] {
  display: none;
}

/* Safety text */

div[id^=235739440].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion235739440]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion235739440]>div.input-group>.group-body {
  margin: 0;
}

/*END  safety header */

/********************* Input Group: Safety - 261019450 *************************/

/* Input Group: Safety */
div[id^=accordion261019450] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion261019450] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion261019450]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse261019450].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion261019450]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion261019450]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion261019450]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Safety icon */
div[id^=collapse261019450].group-header.collapsible::before {
  content: "\153";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse261019450]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse261019450]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Safety*/

/********************* Input Group: Step combs - 236107401 *************************/

/* Input Group: Operating environment */
div[id^=accordion236107401] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion236107401] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion236107401]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse236107401].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion236107401]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion236107401]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion236107401]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Step combs Icon */
div[id^=collapse236107401].group-header.collapsible::before {
  content: "\37";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse236107401]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse236107401]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Step Combs */
/********************* Input Group: Skirts - 215132401 *************************/

/* Input Group: Operating environment */
div[id^=accordion215132401] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion215132401] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion215132401]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse215132401].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion215132401]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion215132401]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion215132401]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Skirts Icon */
div[id^=collapse215132401].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse215132401]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse215132401]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Skirts */
/********************* Input Group: Control Cabinet - 213611551 *************************/

/* Input Group: Operating environment */
div[id^=accordion213611551] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion213611551] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion213611551]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse213611551].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion213611551]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion213611551]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion213611551]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Control cabinet Icon */
div[id^=collapse213611551].group-header.collapsible::before {
  content: "\75";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse213611551]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse213611551]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Control Cabinet */
/********************* Input Group: Brusch guards - 288059401 *************************/

/* Input Group: Operating environment */
div[id^=accordion288059401] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion288059401] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion288059401]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse288059401].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion288059401]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion288059401]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion288059401]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Brush guards Icon */
div[id^=collapse288059401].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse288059401]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse288059401]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Brush guards */
/********************* Input Group: Floor Cover Plates - 274813411 *************************/

/* Input Group: Operating environment */
div[id^=accordion274813411] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion274813411] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion274813411]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse274813411].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion274813411]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion274813411]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion274813411]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Floor Cover PlatesIcon */
div[id^=collapse274813411].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse274813411]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse274813411]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Floor Cover Plates */
/********************* Input Group: Balustrade Front Plates - 220905421 *************************/

/* Input Group: Operating environment */
div[id^=accordion220905421] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion220905421] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion220905421]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse220905421].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion220905421]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion220905421]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion220905421]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Balustrade Front Plates Icon */
div[id^=collapse220905421].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse220905421]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse220905421]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Balustrade Front Plates*/
/********************* Input Group: Diagnostic Display - 276224421 *************************/

/* Input Group: Operating environment */
div[id^=accordion276224421] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion276224421] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion276224421]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse276224421].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion276224421]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion276224421]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion276224421]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Diagnostic Display Icon */
div[id^=collapse276224421].group-header.collapsible::before {
  content: "\122";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse276224421]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse276224421]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Diagnostic Display*/
/********************* Input Group: Led Trafic Lights - 253942421 *************************/

/* Input Group: Operating environment */
div[id^=accordion253942421] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion253942421] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion253942421]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse253942421].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion253942421]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion253942421]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion253942421]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* Led Trafic Lights Icon */
div[id^=collapse253942421].group-header.collapsible::before {
  content: "\258";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 26px;
}

/* Close group icon */
div[id^=collapse253942421]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse253942421]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Led Trafic Lights*/



/*---------------- Summary header 248220480---------------- */
/* set width of group */
/*
div[id^=accordion248220480] {
  width: 50%;
}
*/

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion248220480] {
    width: 85%;
  }
}

/* Hide input vaules for carousel*/
#ESC_MAIN_IMAGE_FEEDER_TD_tag {
  display: none;
}

/* carousel  image boarder*/
img[id^=IGImage_ESC_MAIN_IMAGE_FEEDER] {
  border: 1px solid #d7d7d7;
}

/* Hide group header Building Group*/
div[id^=collapse248220480] {
  display: none;
}

/* Summary text */

div[id^=248220480].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion248220480]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion248220480]>div.input-group>.group-body {
  margin: 0;
}

/*END  Summary header */

/*---------------- downloads header 228751480---------------- */
/* set width of group */
div[id^=accordion228751480] {
  width: 50%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion228751480] {
    width: 85%;
  }
}


/* Hide group header Building Group*/
div[id^=collapse228751480] {
  display: none;
}

/* downloads text */

div[id^=228751480].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* background colour */
div[id^=accordion228751480]>div.input-group {
  background: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion228751480]>div.input-group>.group-body {
  margin: 0;
}

/*END  downloads header */


/*---------------- Personalize your drawing header 210959141---------------- */
/* set width of group */
div[id^=accordion210959141] {
  width: 100%;
  display: none;
}

/* Hide group header Group*/
div[id^=collapse210959141] {
  display: none;
}

/* text */

div[id^=210959141].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* Left align contents */
div[id^=accordion210959141]>div.input-group>.group-body {
  margin: 0;
}

/* background colour */
div[id^=accordion210959141]>div.input-group {
  background-color: rgba(232, 233, 235, 0.4);
  margin-left: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/*END  Personalize your drawing header */

/* Escalator header size Ipad view */
/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  .Esc-Section-Header {
    font-size: 22px !important;
  }
}