/* Restyle button */
body.escalator .reload-table #kone-reload-button {
    border: unset;
    padding: 0 11px;
    float: right;
    margin: 2px;
    background: var(--kone-blue) !important;
    color: white;
}

/* Button - selected */
body.escalator.landing .grid-btn.selected {
    background: var(--kone-blue) !important;
    color: white;
}

/* Add checkmark to selected button */
body.escalator.landing .grid-btn.selected::before {
    content: '\2713';
    font-size: 18px;
    /* Move to the left without changing text alignment*/
    margin-right: 30px;
    margin-left: -30px;
}

/* Button:hover - selected */
body.escalator.landing .kone-button.selected:hover {
    color: white !important;
    border: 2px solid var(--kone-blue);
}

/* Button:hover - not selected */
body.escalator.landing .kone-button:not(.selected):hover {
    background: var(--kone-blue) !important;
    border: 1px solid var(--kone-blue);
    color: white !important;
}

/* Layout */
body.escalator.landing .image-grid.no-table {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 248px);
    row-gap: 16px;
    column-gap: 16px;
}

body.escalator.landing .image-grid.no-table table {
    flex: unset;
    margin: 0;
    min-width: 248px;
}

body.escalator.landing .image-grid.no-table table td.image-cell img {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Prevent elements from expanding to fill space */
body.escalator.landing .image-grid.no-table > * {
    flex: 0 1;
    margin: 8px;
}

/* Specific - Attempt to generalize portrait mode in phones */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {
    body.escalator.landing .kone-continue-button .kone-button {
        width: 100%;
        padding: 0;
    }

    body.escalator.landing .kone-continue-button #action-button-configure-global {
        margin-top: 10px;
    }
}

/* Route indicator - Override original custom property to make it more prominent  */
body.escalator.landing .indicator.selected {
    top: 0;
    border-width: 20px 18px 0 18px;
}

/* Specific - Attempt to generalize portrait mode in phones */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {

    /* Left align content for main headers*/
    body.global.escalator.page.landing .inputParameterTable {
        margin: auto;
    }

    /* Fiz size for route selector */
    body.global.escalator.page.landing .choose-button {
        margin: unset;
        line-height: unset;
        min-width: unset;
        height: 36px;
        width: 30%;
        padding: 4px 0;
    }

    /* Correct font */
    body.global.escalator.page.landing .choose-button * {
        font-size: 14px !important;
    }

    /* Route indicator - Doesn't display properly otherwise */
    body.global.escalator.page.landing .indicator.selected {
        display: block;
    }
}

/* Reset margin and border - fill the width*/
body.global.escalator.page.landing div[id^="accordion210534362"] > div.input-group,
body.global.escalator.page.landing div[id^="accordion229217260"] > div.input-group,
body.global.escalator.page.landing div[id^="accordion210534362"] .group-body {
    text-align: center;
    margin: auto;
    border: unset;
}

/* Selector container width for most devices  */
/* Choose building type header */
body.global.escalator.page.landing div[id^="accordion229217260"] .group-body.expanded,
/* Choose product header */
body.global.escalator.page.landing div[id^="accordion268504340"] .group-body.expanded,
/* Building type selector */
body.global.escalator.page.landing div[id^="accordion210534362"] #groupInputTable,
/* Selected products */
body.global.escalator.page.landing div[id^="accordion210427270"] #groupInputTable {
    width: 80vw;
    margin: auto;
}

/* Selector container width for ipads */
/* Generic - (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {

    /* Building type selector */
    /* Choose building type header */
    body.global.escalator.page.landing div[id^="accordion229217260"] .group-body.expanded,
    /* Choose product header */
    body.global.escalator.page.landing div[id^="accordion268504340"] .group-body.expanded,
    /* Building type selector */
    body.global.escalator.page.landing div[id^="accordion210534362"] #groupInputTable,
    /* Selected products */
    body.global.escalator.page.landing div[id^="accordion210427270"] #groupInputTable {
        width: 90vw;
        /* border: 1px solid green; */
    }
}

/* Specific - Attempt to generalize portrait mode in phones */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {

    /* Layout */
    body.escalator.landing .image-grid.no-table {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* Image grid cell border */
body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .image-cell {
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    padding: 18px;
}

/* Add space between image, text and button */
body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .optionTitle {
    /* padding: 10px 0; */
    height: 43px;
    margin: unset;
    margin-bottom: 10px;
}

/* Remove ENA CSS values */
body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .image-grid.no-table .selectMenuGrid-Text-OptionBox {
    border: unset;
    padding: unset;
    margin: auto;
    height: auto;
    width: auto;
    /* Centralize image */
    display: block;
}

/* Hide real image elements  */
body.escalator.landing img[id^='IGImage_TYP_ESCALATOR_RANGE_OF_USE_'] {
    display: none;
}

/* Display fake images container */
body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .image-cell .image-mod {
    display: block !important;
    /* Adjust placement */
    margin: 30px auto;
    padding: 0 30px;
    border: none;
    width: 150px;
}

/* Specific - Attempt to generalize portrait mode in phones */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {

    /* Display fake images container */
    body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .image-cell .image-mod {
        display: block !important;
        /* Adjust placement */
        margin: 10px auto;
        padding: 0 16px;
        border: none;
        width: auto;
    }
}

/* Products without a set image will use this one. Must be first rule in this section to avoid using !important */
body.escalator.landing #TYP_ESCALATOR_RANGE_OF_USE_IMAGE_span .image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_medical.png');
}

/* Retail */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_RETAIL_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_retail.png');
}

/* Hotel */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_HOTEL_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_hotel.png');
}

/* Office */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_OFFICE_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_office.png');
}

/* Medical */
body.escalator.landing divmg#IGImage_TYP_ESCALATOR_RANGE_OF_USE_MEDICAL_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_medical.png');
}

/* Stadium/Arena */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_STADIUM_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_convention.png');
}

/* Convention/Exhibition */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_CONVENTION_EXHIBITION_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_convention.png');
}

/* Train/Bus Station */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_TRAIN_BUS_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_convention.png');
}

/* Metro */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_METRO_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_convention.png');
}

/* Airport */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_AIRPORT_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_airport.png');
}

/* Cruise ship */
body.escalator.landing div#IGImage_TYP_ESCALATOR_RANGE_OF_USE_CRUISE_SHIP_mod.image-mod {
    content: url('/HTML/products/261612571/images/global_esc_use_convention.png');
}

/* Border for each product and centralize content */
body.escalator.landing #ESC_GD_TOP_SELECT_IMAGE_span .image-grid table {
    border: 1px solid var(--light-gray);
    padding: 18px 0px;
    /* This is being in a jpoc somewhere */
    width: unset;
}

/* Prevent UI collapse on HTML update */
body.escalator.landing #ESC_GD_TOP_SELECT_TR_tag1 > td {
    min-height: 200px;
}

/* Set product label */
body.escalator.landing #ESC_GD_TOP_SELECT_IMAGE_span .label {
    color: var(--kone-blue);
    font-size: 24px;
}

/* Image */
body.escalator.landing #ESC_GD_TOP_SELECT_IMAGE_span img {
    border: unset;
}

/* Button size */
body.escalator.landing #ESC_GD_TOP_SELECT_IMAGE_span .grid-btn {
    width: 85%;
}

/* Correct selector and selected product details location */
body.escalator.landing div[id^="accordion210427270"] .input-group {
    margin: auto !important;
    /* border: 1px dashed red; */
    left: unset;
}

/* Remove padding from inner element containers */
body.escalator.landing div[id^="accordion210427270"] .group-body {
    padding: unset;
}

/* Correct table header location */
body.escalator.landing .selected-escalator-div {
    padding: unset;
    margin-top: 20px;
}

/* ENA escalator uses a different border. Unset it when Global  */
body.escalator.landing #SELECTED_PRODUCT_DETAILS_HTML_TR_tag > td:first-child {
    border: unset;
}

/* Why did we apply borders separately in all the tables... (?_?) */
body.escalator.landing #SELECTED_PRODUCT_DETAILS_HTML_TR_tag td {
    border: solid 1px var(--light-gray);
}
