<!-- /concept/custom/jpocs/kone/ena_elevator_planner/choose_product_application_text.html -->

<div id="choose-header">
    <doc>bundle.KONE_ENA_ELEVATOR_TEXT_choose_product_application</doc>
</div>

<div id="choose_options" class="choose_options">
    <div id="choose_application" name='APPLICATION' class="choose-button" onclick="topMenuMgr.chooseOption(this, 'APPLICATION');">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ENA_ELEVATOR_TEXT_choose_application</doc>
        </div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="choose_product" name='PRODUCT' class="choose-button" onclick="topMenuMgr.chooseOption(this, 'PRODUCT');">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ENA_ELEVATOR_TEXT_choose_product</doc>
        </div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="reload_configuration" name='RELOAD' class="choose-button" onclick="topMenuMgr.chooseOption(this, 'RELOAD');">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ENA_ELEVATOR_TEXT_reload_configuration</doc>
        </div>
        <div class="indicator"></div>
    </div>
</div>

<script type="text/javascript" defer>
    /*
        choose_application
        Building Type Header       accordion962736437
        Building Type              accordion1681405750
        Elevator Landings Header   accordion1633891377
        Elevator Landings          accordion875718242
        Building Population Header accordion1717920614
        Building Population        accordion892363875
        Suitable product Header    accordion825570915

        choose_product
        Product selection_data     accordion926103091
        Product selection          accordion393309807

        reload_configuration
        Reload Configuration       accordion828782691
    */

    var groupArrays = [
        // Application
        {
            allowed: ['APPLICATION'],
            title: 'Building Type Header',
            id: "accordion962736437"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Building Type',
            id: "accordion1681405750"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Elevator Landings Header',
            id: "accordion1633891377"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Elevator Landings',
            id: "accordion875718242"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Building Population Header',
            id: "accordion1717920614"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Building Population',
            id: "accordion892363875"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Suitable Product Header',
            id: "accordion825570915"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Product table',
            id: "accordion926103091"
        },
        {
            allowed: ['APPLICATION'],
            title: 'Get Recommendations',
            id: "accordion1381218879"
        },

        // Product
        {
            allowed: ['PRODUCT'],
            title: 'Choose Your Product',
            id: "accordion1736898592"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MonoSpace Product Header',
            id: "accordion1506614679"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MonoSpace DX 700 Product Group',
            id: "accordion2007804537"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MonoSpace DX 500 Product Group',
            id: "accordion481851984"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MonoSpace DX 300 Product Group',
            id: "accordion92006154"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MiniSpace Product Header',
            id: "accordion1780141350"
        },
        {
            allowed: ['PRODUCT'],
            title: 'MiniSpace Product Group',
            id: "accordion355013318"
        },
        {
            allowed: ['PRODUCT'],
            title: 'EcoSpace Product Header',
            id: "accordion1256261647"
        },
        {
            allowed: ['PRODUCT'],
            title: 'EcoSpace Product Group',
            id: "accordion333354857"
        },
        {
            allowed: ['PRODUCT'],
            title: 'Product Choice Footer',
            id: "accordion992359197"
        },

        // Application and product
        {
            allowed: ['APPLICATION', 'PRODUCT'],
            title: 'Product Selection',
            id: "accordion393309807"
        },

        // Reload
        {
            allowed: ['RELOAD'],
            title: 'Reload Configuration',
            id: "accordion828782691"
        }
    ];

    // Global used by buttons
    var topMenuMgr = null;
    $(() => {
        // Initialise new top menu manager
        topMenuMgr = new TopMenu('ENA_TOP_MENU', 'choose_options', groupArrays);
        topMenuMgr.initialise();
    });

    /**
     * Manage showing and hiding elements depending on which tab is available.
     * @param {String} id Configure one select list id
     * @param {String} menuId HTML menu id
     * @param {Array} groups Divs to be processed.
     *
     * groups format:
     * [{
     *      allowed: ['APPLICATION', 'RELOAD'],
     *      title: 'Building Type Header',
     *      id: "accordion962736437"
     * }]
     **/
    function TopMenu(id, menuId, groups) {
        this.id = id;
        this.menuId = menuId;
        this.groups = groups;
    }

    /*
     * Process menu items against C1 values
     */
    TopMenu.prototype.indexItems = function () {
        try {
            // Map buttons
            let menuElement = document.querySelectorAll('#' + this.menuId + ' .choose-button');
            this.options = new Map();

            for (let i = 0; i < menuElement.length; i++) {
                let values = { element: menuElement[i] };
                this.options.set(menuElement[i].getAttribute('name'), values);
            }

            // Map input options to button
            let menuInput = document.getElementById(this.id);

            for (let i = 0; i < menuInput.options.length; i++) {
                let match = this.options.get(menuInput.options[i].value);
                match.index = i;

                // Update button with c1 text
                //match.element.querySelector('.buttonTitle').textContent = menuInput.options[i].textContent;
            }
        } catch (error) {
            throw error;
        }
    }

    /**
     * Hide sections based target index
     * @param {String} group Target menu name
     */
    TopMenu.prototype.showHideSections = function (group) {
        try {
            for (let i = 0; i < this.groups.length; i++) {

                let div = $('div[id^=' + this.groups[i].id + ']');

                if( this.groups[i].allowed.includes(group) )
                    div.show();
                else
                    div.hide();
            }
        } catch (error) {
            throw error;
        }
    }

    /**
     * Process changes based on selected tab.
     * @param {Object} el Menu div.
     * @param {String} targetIndex Target index name.
     */
    TopMenu.prototype.chooseOption = function (el, targetIndex) {
        try {
            // Cancel if already selected
            if ($(el).hasClass('selected')) {
                return;
            } else if (el == null) {
                el = document.querySelector("#"+ this.menuId + " [name='" + targetIndex + "']");
            }

            // Update menu
            this.options.forEach(function (value, key) {
                // Define default key as first key with an index - see what the driver has available
                if (targetIndex == null && typeof value.index !== 'undefined') {
                    targetIndex = key;
                }

                // Alter menu css
                let el = value.element;
                if (key == targetIndex) {
                    el.classList.add('selected');
                    el.querySelector('.indicator').classList.add('selected');
                } else {
                    el.classList.remove('selected');
                    el.querySelector('.indicator').classList.remove('selected');
                }
            }.bind(this));

            // Trigger configure one changes or the values will be wrong
            document.getElementById(this.id).selectedIndex = this.options.get(targetIndex).index;
            forceChangeEventById(this.id);
            this.showHideSections(targetIndex);

            // Application tab specific behaviour
            if (targetIndex == 'APPLICATION') {
                // Force change event on the building to reset slider population.
                try {
                    if (typeof enaScrollMgr === 'undefined') throw 'enaScrollMgr is not defined yet.'
                    // Disable scrolling if it exists
                    enaScrollMgr.disable.all = true;
                    forceChangeEventById('ENA_ELEVATOR_RANGE_OF_USE');

                    // Reset behaviour
                    enaScrollMgr.disable.all = false;
                } catch (error) {
                    console.warn(error);
                }
            }

            // Add a special class to the classlist if we are on the
            // second tab so that we can apply some additional styling:
            if (el !== null) {
                if (targetIndex == 'PRODUCT') {
                    el.parentElement.classList.add("product-tab");
                } else {
                    el.parentElement.classList.remove("product-tab");
                }
            }

            // if everything was okay, store currect tab
            this.currentTab = targetIndex;
            return true;
        } catch (error) {
            throw error;
        }
    }

    /*
     * Hide select your application menu based on country
     */
    TopMenu.prototype.permaHideSelectApp = function () {
        try {
             let inputName = 'CHANGE_COUNTRY';

            getInputAttributes(inputName, function () {

                // Get country code and trigger changes
                var countryOptions = document.getElementById(inputName);
                var countryCode = countryOptions[countryOptions.selectedIndex].value;

                // Get attribute. It was created as a list (no idea why) so we need the first element.
                var hide = getAttributeValue(inputName, countryCode, 'HIDE_CHOOSE_APPLICATION');

                // Hide and change menu
                if (hide != null && hide == 'HIDE') {
                    // Hide button and spacer
                    document.getElementById('choose_application').style.display = 'none';
                    document.getElementById('choose_application').nextElementSibling.style.display = 'none';
                } else {
                    // Revert changes and select product
                    document.getElementById('choose_application').style.display = '';
                    document.getElementById('choose_application').nextElementSibling.style.display = '';
                }
            });
        } catch (error) {
            throw error;
        }
    }

    /*
     * Basic setup process
     */
    TopMenu.prototype.initialise = function() {
        this.indexItems();
        this.chooseOption(null, null); // Select first available option
        this.permaHideSelectApp();     // Hide and select correct tab based on country
    }
</script>
