<!-- /concept/custom/jpocs/kone/ena_elevator_planner/configurator_launch.html -->

<div class="button-set">
    <div class="kone-button" id="start-configurator" onclick="runPageAction();">
        <doc>bundle.KONE_SELECTOR_TEXT_configure_elevator</doc>
    </div>
</div>
