<!-- /concept/custom/jpocs/kone/ena_elevator_planner/populate_product_summary.html -->

<script type="text/javascript" defer>
    var attributeNameMap = [
        {"ENA_TYPE": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_TYPE</doc>"},
        {"ENA_LANDINGS": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_LANDINGS</doc>"},
        {"ENA_MAX_TRAVEL": "<doc>bundle.KONE_ENA_ELEVATOR_total_travel</doc>"},
        {"ENA_SPEED": "<doc>bundle.KONE_SELECTOR_TEXT_speed</doc>"},
        {"ENA_SEISMIC": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_SEISMIC</doc>"},
        {"ENA_OPENING_SIDE": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_OPENING_SIDE</doc>"},
        {"ENA_GROUP_SIZE": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_GROUP_SIZE</doc>"},
        {"ENA_CAPACITY": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_CAPACITY</doc>"},
        {"ENA_DESPATCH": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DISPATCHING</doc>"},
        {"ENA_CONTROL": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_CONTROL</doc>"},
        {"ENA_CLEAR_HEIGHT": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_CLEAR_HEIGHT</doc>"},
        {"ENA_DOOR_HEIGHT": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DOOR_HEIGHT</doc>"},
        {"ENA_FINISHES": "<doc>bundle.KONE_ENA_ELEVATOR_TABLE_TEXT_FINISHES</doc>"}
    ];

    var tableExclusions = [
        "ENA_TITLE",
        "ENA_DESCRIPTION",
        "SET_CAPACITY",
        "ENA_ADDITIONAL_INFO",
        "ENA_MAX_CAPACITY",
        "ENA_MAX_SPEED"
    ];

    var initial = true;

    const closeGroupEventString = "closeGroups(this);";
    const collapseGroupEventString = "collapse(this);";
    const elevatorSelectValueString = "document.ui.ENA_ELEVATOR_GD_TOP_SELECT.value=";
    const forceChangeEventString = "forceChangeEvent(document.ui.ENA_ELEVATOR_GD_TOP_SELECT);";

    const DATA_TABLE = "ENA_ELEVATOR_GD_TABLE";

    // Populate the accordion header of the product group with data from the product model.
    function adjustGroupHeaders(isMetric, productHeader, productModel, productID) {
        if (!initial) {
            $(productHeader).empty(); // Clear the header if it's already populated.
        }

        let productIcon = document.createElement("span");
        productIcon.classList.add("group-header-icon");
        productHeader.appendChild(productIcon);

        let groupTitleWrapper = document.createElement("div");
        groupTitleWrapper.classList.add("group-title-wrapper");
        productHeader.appendChild(groupTitleWrapper);

        let productTitle = document.createElement("div");
        productTitle.classList.add("group-header-title");
        groupTitleWrapper.appendChild(productTitle);

        let productDescription = document.createElement("div");
        productDescription.classList.add("group-header-description");
        groupTitleWrapper.appendChild(productDescription);

        let groupAttributeWrapper = document.createElement("div");
        groupAttributeWrapper.classList.add("group-attribute-wrapper");
        productHeader.appendChild(groupAttributeWrapper);

        let groupMaxTravel = document.createElement("div");
        groupMaxTravel.id = "max-travel";
        groupMaxTravel.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxTravel);

        let maxTravelIcon = document.createElement("span");
        maxTravelIcon.id = "attribute-icon";
        groupMaxTravel.appendChild(maxTravelIcon);

        let maxTravelLabel = document.createElement("div");
        maxTravelLabel.id = "attribute-name";
        maxTravelLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_TRAVEL</doc>";
        groupMaxTravel.appendChild(maxTravelLabel);

        let maxTravel = document.createElement("div");
        maxTravel.id = "attribute-value";
        groupMaxTravel.appendChild(maxTravel);

        let groupMaxLoad = document.createElement("div");
        groupMaxLoad.id = "max-load";
        groupMaxLoad.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxLoad);

        let maxLoadIcon = document.createElement("span");
        maxLoadIcon.id = "attribute-icon";
        groupMaxLoad.appendChild(maxLoadIcon);

        let maxLoadLabel = document.createElement("div");
        maxLoadLabel.id = "attribute-name";
        maxLoadLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_CAPACITY</doc>";
        groupMaxLoad.appendChild(maxLoadLabel);

        let maxLoad = document.createElement("div");
        maxLoad.id = "attribute-value";
        groupMaxLoad.appendChild(maxLoad);

        let groupMaxSpeed = document.createElement("div");
        groupMaxSpeed.id = "max-speed";
        groupMaxSpeed.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxSpeed);

        let maxSpeedIcon = document.createElement("span");
        maxSpeedIcon.id = "attribute-icon";
        groupMaxSpeed.appendChild(maxSpeedIcon);

        let maxSpeedLabel = document.createElement("div");
        maxSpeedLabel.id = "attribute-name";
        maxSpeedLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_SPEED</doc>";
        groupMaxSpeed.appendChild(maxSpeedLabel);

        let maxSpeed = document.createElement("div");
        maxSpeed.id = "attribute-value";
        groupMaxSpeed.appendChild(maxSpeed);

        for (let i = 0; i < productModel.length; i++) {
            let pair = productModel[i];

            if (pair.value !== null) {
                switch (pair.attr) {
                    case "ENA_TITLE":
                        productTitle.innerText = pair.value[0];
                        break;

                    case "ENA_DESCRIPTION":
                        productDescription.innerText = pair.value[0];
                        break;

                    case "ENA_MAX_TRAVEL":
                        groupMaxTravel.classList.add("show");
                        maxTravel.innerText = pair.value[0];
                        break;

                    case "ENA_MAX_CAPACITY":
                        groupMaxLoad.classList.add("show");
                        maxLoad.innerText = pair.value[0];
                        break;

                    case "ENA_MAX_SPEED":
                        groupMaxSpeed.classList.add("show");
                        maxSpeed.innerText = pair.value[0];
                        break;
                }
            }
        }

        // Remove the _IMPERIAL or _METRIC denotion so that we match
        // against an option in GD_TOP_SELECT.
        let productSelect = "";
        if (!isMetric) {
            productSelect = (elevatorSelectValueString + "'PRODUCT_" + productID.replace("_IMPERIAL", "").trim() + "';");
        } else {
            productSelect = (elevatorSelectValueString + "'PRODUCT_" + productID.replace("_METRIC", "").trim() + "';");
        }

        productHeader.setAttribute('onclick',
            closeGroupEventString +
            collapseGroupEventString +
            productSelect +
            forceChangeEventString
        );
    }

    // Fill a product model from attribute data.
    function populateProductModel(productID, dataTable) {
        let attributeData = getAttributeData(DATA_TABLE);
        for (let i = 0; i < attributeData.data.option.length; i++) {
            let option = attributeData.data.option[i];

            if (option.value === productID) {
                return attributeData.data.option[i].result;
            }
        }
    }

    // Populate the product summary table from a given product model.
    function populateProductTable(productTable, productModel) {
        let rows = new Array((productModel.length - tableExclusions.length) - 1);

        if (!initial) {
            $(productTable).empty(); // Clear the table if it's already populated.
        }

        for (let i = 0; i < productModel.length; i++) {
            let row = document.createElement("div");
            row.classList.add("table-row");
            row.setAttribute("data-row-id", productModel[i].attr.toUpperCase().replace(/ /g,"_"));

            let key = document.createElement("span");
            key.classList.add("table-cell");
            key.classList.add("product-key");

            let value = document.createElement("span");
            value.classList.add("table-cell");
            value.classList.add("product-value");

            let friendlyName = getFriendlyName(productModel[i].attr);
            if (friendlyName !== undefined) {
                key.innerHTML = friendlyName;
            } else {
                key.innerHTML = productModel[i].attr;
            }

            if (productModel[i].value !== null) {
                value.innerHTML = productModel[i].value[0]; // ASSUMPTION: There should only be one.
            }

            if (!tableExclusions.includes(productModel[i].attr)) {
                row.appendChild(key);
                row.appendChild(value);

                rows[(getIndex(productModel[i].attr))] = row; // TODO: If index not returned, just append.
            }
        }

        for (let i = 0; i < rows.length; i++) {
            productTable.appendChild(rows[i]);
        }
    }

    // Main
    function populateProductGroups() {
        let productSummaryParents = document.querySelectorAll("tr[id*='_PRODUCT_SUMMARY_TR_']");

        for (let i = 0; i < productSummaryParents.length; i++) {
            let isMetric = false;

            let productGroup = productSummaryParents[i].parentElement; // Grab the parent <tbody>
            let productAccordion = productSummaryParents[i].closest("div[id^='accordion']");
            let productSelector = productGroup.firstElementChild.querySelector(".element-select > select"); // Grab the first <tr> containing the hidden productID

            // Check the current country selection and change the value of the product
            // selector accordingly. The product selector should have a value of either
            // IMPERIAL or METRIC depending on whether we're in the US or CA respectivly.
            let countrySelector = document.getElementById("CHANGE_COUNTRY");
            if (countrySelector !== null) {
                switch (countrySelector.value) {
                    case "US":
                        productSelector.value = "IMPERIAL";
                        break;

                    case "CA":
                        productSelector.value = "METRIC";
                        break;
                }
            }

            let productType = productSelector.value;
            if (productType === "METRIC" || productType.includes("METRIC")) {
                isMetric = true;
            }

            let productID = $("#" + productSelector.id + " option:selected").text();

            // Populate the product model so that we can then generate both the
            // product summary table as well as the collapsable accordion header.
            getInputAttributes(DATA_TABLE, function () {
                let productModel = populateProductModel(productID, DATA_TABLE);
                if (productModel !== undefined) {
                    let productTable = productSummaryParents[i].querySelector(".product-table");
                    populateProductTable(productTable, productModel);
                    hintProductTable(productTable);

                    let productHeader = productAccordion.querySelector("div[id^='collapse']");
                    productHeader.innerText = ""; // Remove any lingering default text.
                    adjustGroupHeaders(isMetric, productHeader, productModel, productID);
                }
            });

            let nextAccordion = $(productAccordion).next()[0];
            if (nextAccordion !== undefined) {
                if (nextAccordion.querySelector(".product-header")) {
                    productAccordion.classList.add("border-product");
                }
            }

            if (i === (productSummaryParents.length - 1)) {
                productAccordion.classList.add("bottom-product");
            }
        }
    }

    // Apply a CSS class to every other table row.
    function hintProductTable(productTable) {
        for (let i = 0; i < productTable.children.length; i++) {
            if (isEven((i + 1))) {
                productTable.children[i].classList.add("row-hint");
            }
        }
    }

    // Get the index of a given attribute in the attribute map.
    function getIndex(attributeName) {
        for (let i = 0; i < attributeNameMap.length; i++) {
            let pair = attributeNameMap[i];

            for (let key in pair) {
                if (key == attributeName) {
                    return i;
                }
            }
        }
    }

    // Get the friendly name for a given attribute from the attribute map.
    function getFriendlyName(name) {
        for (let k = 0; k < attributeNameMap.length; k++) {
            let pair = attributeNameMap[k];

            for (let key in pair) {
                if (key == name) {
                    return pair[key];
                }
            }
        }
    }

    // Check to see if number is even or not.
    function isEven(number) {
        if (number % 2 == 1) {
            return true;
        } else {
            return false;
        }
    }

    $(() => {
        try {
            RunAfterDrivens('Initial Populate Routine', 100, populateProductGroups);

            // Refresh the summaries when the ENA_ELEVATOR_GD_TABLE input refreshes (driven):
            let elevatorSelector = document.getElementById(DATA_TABLE);
            if (elevatorSelector !== null) {
                let changeEvent = elevatorSelector.getAttribute("onchange");
                changeEvent = changeEvent + "RunAfterDrivens('Refresh Routine', 100, populateProductGroups);";
                elevatorSelector.setAttribute("onchange", changeEvent);
            }

            if (initial == true) initial = false; // If we've completed our first run, set init to false.
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
