<!-- /concept/custom/jpocs/kone/ena_elevator_planner/reload_configuration.html -->

<table class="reload-table">
    <tbody>
        <tr>
            <td rowspan="2" class="image-cell">
                <img class="reload-image" src="/HTML/images/kone-reload-configuration-2.png"/>
            </td>
            <td class="reload-text-cell">
                <doc>bundle.KONE_ESCALATOR_TEXT_reload_text</doc>
            </td>
        </tr>
        <tr>
            <td class="reload-input-cell">
                <div id="reload-input" class="reload-input">
                    <input id="ESC_TOP_MENU_RELOAD" name="ESC_TOP_MENU_RELOAD" placeholder="<doc>bundle.KONE_ENA_ELEVATOR_TEXT_configuration_ID</doc>" maxlength="15" value="" onkeypress="return noenter(event);" autocomplete="off" type="text">
                    <div class="button-set kone-reload-button-div">
                        <div id="kone-reload-button" class="kone-reload-button noselect" onclick="getConfiguration(document.ui.ESC_TOP_MENU_RELOAD,'909338214');"><doc>bundle.KONE_ESCALATOR_BUTTON_reload</doc></div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
