<!-- /concept/custom/jpocs/kone/ena_elevator_planner/show_all_details.html -->

<a id="showdetails" class="showdetails">
    <doc>bundle.KONE_ELEVATOR_BUTTON_show_all_details</doc>
</a>

<!-- The Modal -->
<div id="view-all-details-Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <table id="view-all-details-table" class="summaryTable2">
            <tbody class="show-all ena-elevator lift global">
                <tr>
                    <th colspan="3">
                        <div class="summary-table-header">
                            <span name="hide-on-print" class="goBack">
                                <doc>bundle.KONE_ELEVATOR_LINK_go_back_to_configuration</doc>
                            </span>
                            <span name="summary-title" class="summary-title">
                                <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                            </span>
                            <span name="hide-on-print" class="print-text" onclick="printPageArea('view-all-details-Modal')">
                                <doc>bundle.KONE_ESCALATOR_BUTTON_print</doc><span class="print-button-icon"></span>
                            </span>
                            <span name="hide-on-print" class="close">
                                <!--<doc>bundle.KONE_ELEVATOR_LINK_close_window</doc>-->
                                <span class="closeX">
                                    <!-- 'cross' in the font pack -->
                                    &#x186;
                                    <!-- <img src="/HTML/products/236324221/images/close.png" /> -->
                                </span>
                            </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_product_name</doc>
                        </div>
                        <div name="SELECT_ELEVATOR_data" class="summaryValue"></div>
                    </td>
                    <td class="nonEdit">
                        <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="WGT_RATED_LOAD_Q_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="WGT_RATED_LOAD_Q_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="VAL_RATED_SPEED_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="VAL_RATED_SPEED_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="VAL_POWER_SUPPLY_VOLTAGE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="VAL_POWER_SUPPLY_VOLTAGE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_CONTROLLER_SPACE_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_CONTROL_LOCATION_LABEL</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_CONTROLLER_SPACE_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="DIM_DOOR_HH_A_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_DOOR_HH_A_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_DOOR_LL_A_IN_NA_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_DOOR_LL_A_IN_NA_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_DOOR_A_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_DOOR_A_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="DIM_CAR_HEIGHT_CH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_CAR_HEIGHT_CH_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_STANDARD_CAR_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_STANDARD_CAR_SIZE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="show-all ena-elevator building global">
                <tr>
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <!-- <span id="NoLandings2Label" class="summaryLabel"></span> -->
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_LABEL_Landings</doc>
                        </div>
                        <div id="NO_LANDING2" class="summaryValue"><span></span></div>
                    </td>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_door_openings</doc>
                        </div>
                        <div class="summaryValue"><span></span></div>
                    </td>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_distance_between_floors</doc>
                        </div>
                        <div class="summaryValue"><span></span></div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="EMPTY_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="EMPTY_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_SEISMIC_REQ_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <span class="summaryValuefont" name="TYP_SEISMIC_REQ_data"></span>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_TRAVEL_HEIGHT_H_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <span class="summaryValuefont" name="DIM_TRAVEL_HEIGHT_H_data"></span>
                            <span class="summaryValuefont" name="DIM_TRAVEL_HEIGHT_H_DISP_IN_data"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="DIM_HEADROOM_SH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_HEADROOM_SH_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="SHAFT_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <span class="summaryValuefont" name="DIM_SHAFT_WIDTH_WW_data"></span>
                            <span class="summaryValuefont" name="DIM_SHAFT_DEPTH_WD_data"></span>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_PIT_HEIGHT_PH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_PIT_HEIGHT_PH_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="show-all ena-elevator design global">
                <!-- IF CSI included or Design section included and KONE Design Collection -->
                <tr condition="0">
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                    </th>
                </tr>
                <tr condition="0">
                    <td rowspan="4" class="nonEdit" style="padding-left: 15px; padding-top: 15px;">
                        <span id="show-all-image" style="display:inline-block;vertical-align:top"></span>
                        <span id="show-wall-help" style="display:inline-block;vertical-align:top"></span>
                    </td>
                    <!-- Design - block (spanned) row 1, col 2:3 -->
                    <td class="nonEdit">
                        <div condition="1">
                            <div name="TYP_COMBINATION_PACKAGE_label" class="summaryLabel"></div>
                            <div condition="1" class="summaryValue">
                                <span class="summaryValuefont" name="TYP_COMBINATION_PACKAGE_data"></span>
                                <span class="summaryValuefont" name="CAR_DESIGN_SOLUTIONS_data"></span>
                                <span class="summaryValuefont" name="TYP_DESIGN_SOLUTION_data"></span>
                            </div>
                        </div>
                        <div condition="2">
                            <div name="EMPTY_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="EMPTY_data"></div>
                            </div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="CAR_SIGNALIZATION_DESIGN_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_signalization</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="CAR_SIGNALIZATION_DESIGN_data"></div>
                        </div>
                    </td>
                </tr>
                <tr condition="0">
                    <td class="nonEdit">
                        <div name="HOIST_ENTRANCE_ENTERANCE_FINISH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="HOIST_ENTRANCE_ENTERANCE_FINISH_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_CAR_CEILING_label" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_ceiling</doc>
                        </div>
                        <div class="summaryValue">
                            <div condition="1" class="summaryValuefont" name="TYP_CAR_CEILING_data"></div>
                            <div condition="2" class="summaryValuefont" name="CAR_CEILING_DESIGN_data"></div>
                        </div>
                    </td>
                </tr>
                <tr condition="0">
                    <td class="nonEdit">
                        <div name="MAT_CAR_WALL_FINISH_B_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_car_side_walls</doc>
                        </div>
                        <div class="summaryValue">
                            <div condition="1" class="summaryValuefont" name="MAT_CAR_WALL_FINISH_B_data"></div>
                            <div condition="2" class="summaryValuefont" name="MAT_CAR_WALLS_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <!-- Label replacement is disabled -->
                        <div name="HANDRAILS_LOCATION_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_Handrails_location</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="HANDRAILS_LOCATION_data"></div>
                        </div>
                    </td>
                </tr>
                <tr condition="0">
                    <td class="nonEdit rear-wall">
                        <div name="DESIGN_REAR_WALL_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_car_rear_walls</doc>
                        </div>
                        <div class="summaryValue">
                            <div condition="1" class="summaryValuefont" name="MAT_CAR_WALL_FINISH_C_data"></div>
                            <div condition="2" class="summaryValuefont" name="DESIGN_REAR_WALL_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_CAR_HANDRAIL_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_TEXT_Handrail_finish</doc>
                        </div>
                        <div class="summaryValue">
                            <div condition="1" class="summaryValuefont" name="TYP_CAR_HANDRAIL_data"></div>
                            <div condition="2" class="summaryValuefont" name="HANDRAILS_FINISH_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="show-all ena-elevator other global">
                <tr condition="0">
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_other</doc>
                    </th>
                </tr>
                <tr condition="0">
                    <td class="nonEdit">
                        <div name="MAINTENANCE_SERVICE_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_GLOBAL_HEADER_MaintServ</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAINTENANCE_SERVICE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="CALL_BACK_SERVICE_label_disabled" class="summaryLabel">
                            <doc>bundle.KONE_GLOBAL_TEXT_CallBackService</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="CALL_BACK_SERVICE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="KONE_GLOBAL_HEADER_Additional_label" class="summaryLabel">
                            <doc>bundle.KONE_GLOBAL_HEADER_Additional</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="INDEPENDENT_SERVICE_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_HAC_BOTTOM_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_HAC_TOP_YES_data"></div>
                            <div class="summaryValuefont" name="CAR_SECURE_ACCESS_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_CAR_PROTECTION_PADS_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_CARD_READER_INTERFACE_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_ELEC_FEAT_HEC_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_ELEC_FEAT_CTV_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_INTERCOM_PRODUCT_ISE_YES_data"></div>
                            <div class="summaryValuefont" name="TYP_COP_DISPLAY_YES_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="disclaimer">
            <p class="disclaimer-text">
                <doc>bundle.KONE_ELEVATOR_TEXT_kone_shall_not_accept_responsibility</doc>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" defer>

    // Get the modal
    var modal = document.getElementById('view-all-details-Modal');

    // Get the button that opens the modal
    var btn = document.getElementById("showdetails");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var goBack = document.getElementsByClassName("goBack")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        var units = "<doc><out>configuration.getInputByName('UNIT_OF_MEASURE').getValue().getStringValue()</out></doc>";

        $('.landing_row_data').remove();

        var floorCount = $('#QTY_FLOORS_SERVED_TOTAL').val();

        // Update total floors landing
        $('#NO_LANDING2').text(floorCount);

        var headerRow = $('#landing_row');

        var inputPattern = { mm: "DIM_INTERFLR_HF_IN_", ft: "DIM_INTERFLOOR_DISP_FT_", in: "DIM_INTERFLOOR_DISP_IN_" };//imperial

        // Interfloor distance table
        for (var i = 1; i <= floorCount; i++) {
            var floorHeight = "";

            if (metric) {
                floorHeight = $('#' + inputPattern.mm + i).val() + " <doc>bundle.KONE_GLOBAL_MM_mm</doc>";
            } else {
                // 10'1"
                if (i > 1) { // Floor 1 doesn't exist in the floormanager
                    floorHeight = ImperialUnit.toFeet(document.floorMgr.floors[i].total).display;
                }
            }

            var openingFront = ($('#POS_FLR_ENTR_IN_A_' + i + '_1').attr('checked') ? true : false);
            var openingBack = ($('#POS_FLR_ENTR_IN_C_' + i + '_1').attr('checked') ? true : false);

            var frontText = "<doc>bundle.KONE_ELEVATOR_TEXT_front_door</doc>"; // TODO: translate
            var backText = "<doc>bundle.KONE_ELEVATOR_TEXT_back_door</doc>"; // TODO: translate

            var frontBackText = "<doc>bundle.KONE_ELEVATOR_TEXT_front_and_back_door</doc>"; // TODO: translate
            var openingsText = "<doc>bundle.KONE_ELEVATOR_TEXT_non_served_floor</doc>"; // Default // TODO: translate

            if (openingFront && !openingBack) {
                openingsText = frontText;
            } else if (!openingFront && openingBack) {
                openingsText = backText;
            } else if (openingFront && openingBack) {
                openingsText = frontBackText;
            }

            var html = '<tr class="landing_row_data" id="landing_row_' + i + '">'
                + '<td rowspan="2" class="nonEdit">'
                + '<div id="NO_LANDING2_' + i + '" class="summaryValue"><span>' + i + '</span></div>'
                + '</td>'
                + '<td rowspan="2" class="nonEdit">'
                + '<div id="OPENINGS2_' + i + '" class="summaryValue"><span>' + openingsText + '</span></div>'
                + '</td>';

            // Insert empty offset cell
            if (i == floorCount) {
                html += '<td class="nonEdit">&nbsp;</td>';
            }

            // Close row for first 2 columns
            html += "</tr>";

            // insert overlapping row
            if (i == 1) {
                html += '<tr class="landing_row_data"><td class="nonEdit">&nbsp;</td></tr>';
            } else {
                html += '<tr class="landing_row_data">'
                    + '<td rowspan="2" class="nonEdit">'
                    + '<div id="INTERFLOOR2_' + i + '" class="summaryValue"><span>' + floorHeight + '</span></div>'
                    + '</td></tr>';
            }

            $(html).insertAfter(headerRow);

            setAdditionalOptions();     // Insert options from additonal options input group
            showAllTableSelection();    // Show relevant info based on user selection
        }

        document.myoutput = test;

        //show car deign image
        //show-all-image
        //id^=IGImage_SPRING_
        var imageLocation = $('#show-all-image');
        var springImage;
        if ($("[name=KONE_DESIGN_OR_MIX_MATCH]:checked").val() == "STD") { // change image src based on selection
            springImage = $('#SPRING_IMAGE_span img').first();
        } else {
            springImage = $("img#DESIGN_REAR_WALL_IMAGE").first();
        }
        console.info("Spring Image SRC=" + springImage.attr('src'));
        imageLocation.html(springImage.clone());

        //show-wall-help
        var imageLocation = $('#show-wall-help');
        var carWallImage = $('#car-wall-help img').first();
        console.info("Car wall Image SRC=" + carWallImage.attr('src'));
        imageLocation.html(carWallImage.clone());

        modal.style.display = "block";
        document.body.style.overflow = "hidden";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        document.body.style.overflow = "auto";
        showAllTableSelection(true); // Reset view
    }

    // When the user clicks on <span> (Go Back), close the modal
    goBack.onclick = function () {
        modal.style.display = "none";
        document.body.style.overflow = "auto";
        showAllTableSelection(true); // Reset view
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.body.style.overflow = "auto";
            showAllTableSelection(true); // Reset view
        }
    }

    function printPageArea(areaID) {
        var width = parseFloat($('#' + areaID).width());
        var height = parseFloat($('#' + areaID).height());
        var printContent = document.getElementById(areaID);
        $('span[name=hide-on-print]').hide();
        var WinPrint = window.open('', '', 'width=' + width + ',height=' + height);
        WinPrint.document.write('<html><head>');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/htmlcss.css?ver=11.83.4">');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/koneglobal.css?ver=11.83.4">');
        WinPrint.document.write('<style type="text/css" media="print">@page { size: A4; orientation: landscape; margin: 12.5mm; }</style>');
        WinPrint.document.write('</head><body>');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        $('span[name=hide-on-print]').show();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }

    function print() {
        //hide the nonPrintable div
    }

    function onAfterPrint() {
        // Visible the nonPrintable div
    }

    /**
     * Change the view of the show all details table based on user selection.
     * @param {boolean} show Flag to ignore the rules and show all.
     */
    function showAllTableSelection(reset) {

        /**
         * Key and value pair
         *
         *  0, IF CSI Excluded or Design section excluded
         *  1, IF CSI included or Design section included and KONE Design Collection
         *  2, IF CSI included or Design section included and Car Interior Mix and Match Design
         */

        let condition = 0; // Default to no selection

        try {

            let rearWallTd = $('.rear-wall > div');

            // Reset view before processing
            $('[condition=0]').show();
            $('[condition=1]').show();
            $('[condition=2]').show();
            rearWallTd.show();

            // Reset and quit
            if (reset)
                return true;

            // Input flags affect what the user sees on the show all details table
            let csi = document.querySelector('input[id^=ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1][type=checkbox]').checked;
            let design = document.querySelector('input[id=DESIGN_HIDE_1][type=checkbox]').checked;
            let collection = document.querySelector('input[id=KONE_DESIGN_OR_MIX_MATCH_1][type=radio]').checked;
            let mix = document.querySelector('input[id=KONE_DESIGN_OR_MIX_MATCH_2][type=radio]').checked;


            // Get rule
            if ((csi || design) && collection)  // Rule 1
                condition = 1;
            else if ((csi || design) && mix)    // Rule 2
                condition = 2;
            else if (!csi || !design)    // Rule 3
                condition = 0;

            // Apply rules
            // This selection doesn't work in plain javascript. Not sure why. Might be a jQuery only feature.
            switch (condition) {
                case 0:
                    $('[condition=0]').hide();
                    $('[condition=1]').hide();
                    $('[condition=2]').hide();
                    break;
                case 1:
                    $('[condition=1]').show();
                    $('[condition=2]').hide();
                    break;
                case 2:
                    $('[condition=1]').hide();
                    $('[condition=2]').show();
                    break;
                default:
            }

            // Hide rear wall if car is through-type
            if ($('[name^=POS_FLR_ENTR_IN_C_]:checked').length > 0) {
                rearWallTd.hide();
            }
        } catch (error) {
            console.error(error);
        }

        return condition;
    }


    // Update additional option selection anywhere with the correct label
    function setAdditionalOptions() {

        // Input base names in additional options
        let checkboxes = [
            'INDEPENDENT_SERVICE_YES',
            'TYP_HAC_BOTTOM_YES',
            'TYP_HAC_TOP_YES',
            'CAR_SECURE_ACCESS_YES',
            'TYP_CAR_PROTECTION_PADS_YES',
            'TYP_CARD_READER_INTERFACE_YES',
            'TYP_ELEC_FEAT_HEC_YES',
            'TYP_ELEC_FEAT_CTV_YES',
            'TYP_INTERCOM_PRODUCT_ISE_YES',
            'TYP_COP_DISPLAY_YES'
        ];

        for (let i = 0; i < checkboxes.length; i++) {
            try {
                // Source and targets
                el = document.querySelector('input[name=' + checkboxes[i] + ']');   // checkbox
                if (el !== null) {
                    var headers = document.getElementsByName(checkboxes[i] + '_data');  // What to update
                    for (let j = 0; j < headers.length; j++) {
                        // If element is checked, use the label as text, else clear it.
                        if (el.checked) {
                            headers[j].innerText = document.querySelector('label[id^=' + checkboxes[i] + '][id$=checkbox_label]').innerText;
                        } else {
                            headers[j].innerText = "";
                        }
                    }
                }
            } catch (error) {
                console.error(error);
            }
        }
    }
</script>
