<!-- /concept/custom/jpocs/kone/ena_elevator_planner/show_recommendations.html -->

<script type="text/javascript" defer>
    // Toggle the 'Product Recommendations' accordion
    function showRecommendations() {
        let productAccordion = document.querySelector("div[id^='accordion926103091']");

        if (productAccordion.classList.contains("show")) {
            productAccordion.classList.remove("show");
        } else {
            productAccordion.classList.add("show");
        }
    }
</script>

<div class="button-set">
    <div class="kone-button" id="get-recommendations" onclick="showRecommendations();">
        <span class="button-icon"></span>
        <doc>bundle.KONE_PRODUCT_RECOMMENDATIONS_show_recommendation</doc>
    </div>
</div>
