<!-- /concept/custom/jpocs/kone/ena_elevator_planner/sideBarHeader.html -->

<!-- JPoC Type = HTML_VIEW_JPOC_CONFIG_UI_TOP -->

<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- configuration = com.configureone.api.configuration.Configuration -->
<!-- productId = java.lang.String -->

<!-- for CSS see sidebarheader.css -->

<doc>
    <set var="prodId" value="
        configuration
            .getInputByName('SELECT_ELEVATOR')
            .getProductInput()
            .getAttributeByName('PRODUCT_ID')
            .getAttributeValueFromConfigurationInputValue(
                configuration
                    .getInputByName('SELECT_ELEVATOR')
                    .getValue(), configuration)
            .getStringValue()
    " />
</doc>

<doc><set var="scrollOffset" value="274" scope="document" /></doc>
<doc><set var="navOffset" value="224" scope="document" /></doc>

<doc>
    <if condition="'YES'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">

        <doc><set var="anon" value="principal.getUser().isAnonymousIndicator()" /></doc>
        <doc><set var="user" value="principal.getUser().getUserName()" /></doc>
        <doc><set var="page" value="configuration.getInputByName('PLANNER_PAGE').getValue().getStringValue()" /></doc>

        <doc><set var="userType" value="'isNormal-'" scope="document" /></doc>

        <doc>
            <if condition="principal.getUser().isAnonymousIndicator()">
                <doc><set var="scrollOffset" value="150" scope="document" /></doc>
                <doc><set var="navOffset" value="100" scope="document" /></doc>
                <doc><set var="userType" value="'isAnon-'" scope="document" /></doc>
            </if>
        </doc>

        <script type="text/javascript" src="/HTML/products/<doc><out>prodId</out></doc>/jscripts/productrules.js"></script>

        <div id="KoneHeaderDiv" class="KoneHeaderDiv <doc><out>userType</out></doc>navTop">
            <table style="width: 100%; height:100%">
                <tr>
                    <td>
                        <doc>
                            <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==2">
                                <div id="headerBarText_KONE_PLANNER_TOOLS">
                                    <doc>bundle.KONE_ELEVATOR_HEADER_kone_elevator_tools</doc>
                                </div>
                            </if>
                        </doc>
                        <div id="headerBarText_PRODUCT_NAME">
                            <doc>
                                <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==1">
                                    <doc>bundle.KONE_ELEVATOR_HEADER_kone_elevator_tools</doc>
                                </if>
                            </doc>
                            <doc>
                                <if condition="configuration.getInputByName('PLANNER_PAGE').getValue().getIntegerValue()==2">
                                    <doc>
                                        <out>configuration.getInputByName('ENA_ELEVATOR_GD_TOP_SELECT').getValue().getLabel()</out>
                                    </doc>
                                </if>
                            </doc>
                        </div>
                    </td>
                    <td style="width:551px;">
                        <table class="hTable" style="width: 100%;">
                            <tr>
                                <td width="33%">
                                    <div id="headerBar_LANGUAGE">
                                        <span class="text">
                                            <doc>bundle.KONE_ELEVATOR_HEADER_language</doc>
                                        </span>
                                        <span class="icon"></span>
                                    </div>
                                </td>
                                <td>
                                    <div id="headerBar_HELP" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_help</doc>
                                    </div>
                                </td>
                                <td>
                                    <div style="display:none" id="headerBar_CONTACT" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_contact</doc>
                                    </div>
                                </td>
                                <td>
                                    <div id="headerBar_KONE">
                                        <a target="_blank" href="http:\\www.kone.com"><img src="/HTML/images/Logo_21_5_blue_rgb.jpg" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div id="KoneSideBarDiv" class="KoneSideBarDiv <doc><out>userType</out></doc>navTop">
            <div id="sideBarHOME" class="sideBar" href="KoneHeaderDiv" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_BUTTON_home</doc>
                </div>
            </div>
            <div id="sideBarBUILDING" class="sideBar" href="210055571" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                </div>
            </div>
            <div id="sideBarELEVATOR" class="sideBar" href="276109581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                </div>
            </div>
            <div id="sideBarDESIGN" class="sideBar" href="210030581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                </div>
            </div>
            <div id="sideBarOTHER" class="sideBar" href="277945581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_other</doc>
                </div>
            </div>
            <div id="sideBarSUMMARY" class="sideBar" href="280759171" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                </div>
            </div>
            <div id="sideBarDOWNLOADS" class="sideBar" href="210023591" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                </div>
            </div>
        </div>

        <script type="text/javascript" defer>
            $(() => {
                // move language div
                var currentLocaleDiv = $('#current-locale').detach();
                var localeSelectDiv = $('#locale-select').detach();
                var localScript = $('#locales').find('script').detach();
                $('#headerBar_LANGUAGE span.icon').append(currentLocaleDiv);
                $('#headerBar_LANGUAGE span.icon').append(localeSelectDiv);
                $('#headerBar_LANGUAGE span.icon').append(localScript);
            });
        </script>

        <script type="text/javascript" defer>
            var navLinks = [];
            var initLinks = true;
            var sideBarTimer;
            var page1 = true;

            $(() => {
                // am i on the first page?
                // Add back arrow to Home button
                if ($('#ENA_TITLE_TEXT_HTML').length == 0) {
                    page1 = false;
                    $('#sideBarHOME div.text').addClass('back-arrow');
                } else {
                    $('input[name=STORE_GLOSSARY_ENA_TD_TOP_SELECT]').val($('#inputhelp_ENA_ELEVATOR_GD_TOP_SELECT').attr('onclick').replace("popICHelpWindow", "window.open"));
                    $('input[name=STORE_CONTACT_ENA_CONTACTS_URL]').val($('#ENA_CONTACTS_URL option:selected').text().trim());
                }

                // Set help link
                $('#headerBar_HELP').attr('onclick', $('input[name=STORE_GLOSSARY_ENA_TD_TOP_SELECT]').val());

                // Set contacts link
                var contactLink = $('#STORE_CONTACT_ENA_CONTACTS_URL').val();
                if (contactLink != "NO_CONTACT") {
                    $('#headerBar_CONTACT').attr('onclick', 'contactsURL()');
                    $('#headerBar_CONTACT').show();
                }

                // set top of container
                $('#container').addClass('<doc><out>userType</out></doc>containerTop');

                // Remove the (country) part of the language text
                const countryRegExp = /(\s*)(\([a-zA-Z ]+)(\)?)/;
                const localeLabel = document.getElementById('current-locale-label');
                localeLabel.innerText = localeLabel.innerText.replace(countryRegExp, '');

                // Create search for locale selector
                LocaleModule.cleanAndBuild();

                // Bind to scroll
                var bind = "mousewheel DOMMouseScroll scroll";
                $(window).bind(bind, function (event) {
                    //console.debug("sidebar: event type = "+event.type);
                    if (event.type == "mousewheel" || event.type == "DOMMouseScroll") {
                        doUpdateSideBar();
                    } else if (event.type == "scroll") {
                        if (detectIE()) {
                            if (sideBarTimer) {
                                window.clearTimeout(sideBarTimer);
                            }
                            sideBarTimer = window.setTimeout(function () {
                                doUpdateSideBar();
                            }, 50);
                        } else {
                            doUpdateSideBar();
                        }
                    }
                });

                hideDesignSection();

                // KPT-204: changes the default behaviour. Accordions are
                // no longer supposed to close.
                //closeGroups();

                //setTimeout(hideDesignSection, 500, document.getElementById('DESIGN_HIDE_1'));
                //hideDesignSection(document.getElementById('ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1'));
                //hideDesignSection(document.querySelector('input[name=DESIGN_HIDE_1]'));
            });

            function doUpdateSideBar() {
                if (navLinks.length == 1) {
                    return; // only have one sidebar object do exit
                }

                var docElement = document.scrollingElement || document.documentElement;
                var jitter = 30;
                var scrollPos = docElement.scrollTop + jitter;//$(document).scrollTop()

                for (var i = 0; i < navLinks.length; i++) {
                    //console.debug("scrollPos = "+scrollPos+", "+i+") navLinks start="+navLinks[i].start+", navLinks end="+navLinks[i].end);
                    var currLink = $(navLinks[i].id);
                    var previousLink = $(navLinks[i].id);
                    if (i > 0) {
                        previousLink = $(navLinks[i - 1].id);
                    }

                    //check for bottom of page
                    var atBottom = false;
                    if (i == navLinks.length - 1) {
                        if (docElement.scrollTop + docElement.clientHeight == docElement.scrollHeight) {
                            atBottom = true;
                        }
                    }

                    if ((navLinks[i].start <= scrollPos && navLinks[i].end > scrollPos) || atBottom) {
                        currLink.addClass("selected");
                        if (atBottom) {
                            previousLink.removeClass("selected");
                        }
                    } else {
                        currLink.removeClass("selected");
                    }
                }
            }

            function selectedSection(div) {
                if (div.getAttribute('href') == "KoneHeaderDiv" && $('#ENA_TITLE_TEXT_HTML').length == 0) {
                    prevPageConfigPopup();
                    return;
                }

                var divHref = div.getAttribute('href');

                // KPT-204: changes the default behaviour. Accordions are
                // no longer supposed to close.
                //closeGroups();

                var href = "#" + $('div[id^=' + divHref + ']').attr('id');
                var target = $(href);
                var scrollTo = target.offset().top - <doc><out>navOffset</out></doc>;

                if ($('#' + div.id).attr('href') == "KoneHeaderDiv") {
                    scrollTo = 0;
                }

                //div.classList.add("selected");
                //unselectLinks(div);

                $('html, body').animate({ scrollTop: scrollTo }, 500);
            }

            function unselectLinks(selected) {
                let sidebar = selected.parentNode;

                for (i = 0; i < sidebar.children.length; i++) {
                    if (sidebar.children[i].id !== selected.id) {
                        sidebar.children[i].classList.remove("selected");
                    }
                }
            }

            function initNavLinks() {
                navLinks = [];

                $("div.sideBar:visible").each(function () {
                    var $this = $(this);
                    var href = "#" + $('div[id^=' + $this.attr('href') + ']').attr('id');

                    if ($(href).length > 0) {
                        var linkInfo = {
                            id: '#' + $this.attr('id'),
                            href: href,
                            start: 0,
                            end: 0
                        };
                        navLinks.push(linkInfo);
                    } else {
                        $(this).hide();
                    }
                });
            }

            function setNavLinks() {
                //console.debug("setNavLinks");
                /*Store nav links
                * Need to update positions when groups are expanded/collapsed
                */
                //if (detectIE(false)) return;
                var topMenu = $("#KoneHeaderDiv");
                var navTop = parseInt(topMenu.css('top'));
                var topMenuHeight = topMenu.outerHeight() + 1 + navTop;
                var screenTop = $(document).scrollTop();
                var i = 1;

                if (initLinks) {
                    i = 0;//make sure we only set Home once
                }

                for (; i < navLinks.length; i++) {
                    var start = $(navLinks[i].href).offset().top - topMenuHeight;
                    if (i == 0) {
                        start = 0;
                    }

                    navLinks[i].start = start;
                    if (i < navLinks.length - 1) {
                        var end = $(navLinks[i + 1].href).offset().top - <doc><out>scrollOffset</out></doc>;
                        navLinks[i].end = end;
                    } else {
                        navLinks[i].end = start + 5000;
                    }

                    if (i == 1) {
                        navLinks[0].end = navLinks[1].start;
                    }

                    //console.debug("id="+navLinks[i].id+",href="+navLinks[i].href+",start="+navLinks[i].start+",end="+navLinks[i].end);
                }

                initLinks = false;
                //console.debug(navLinks);
            }

            function contactsURL() {
                var url = $('input[name=STORE_CONTACT_ENA_CONTACTS_URL]').val();
                var contactLink = $('input[name=ENA_CONTACTS_URL]').val();
                //console.debug("contactsURL: " + contactLink);
                if (contactLink != "NO_CONTACT") {
                    window.open(url, '_blank');
                }
            }

            function hideDesignSection() {
                try {
                    // Checkbox statuses
                    let csi = document.getElementById('ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1');
                    let design = document.getElementById('DESIGN_HIDE_1');

                    if (csi) {
                        // Get value from mix and match radio button
                        let mixMatchVal = document.querySelector('[name=KONE_DESIGN_OR_MIX_MATCH]:checked').value;

                        // Checkbox logic setup
                        if (csi.checked) {
                            // don't show click to show design accordion
                            $('div[id^=accordion205795821]').hide(); // ENA Click to show Design

                            // set click to show design to false
                            document.getElementById('DESIGN_HIDE_1').checked = false
                        } else {
                            // show click to show design accordion
                            $('div[id^=accordion205795821]').show(); // ENA Click to show Design
                        }

                        if (!csi.checked && !design.checked) {  // Hide
                            $('div[id^=accordion210030581]').hide();// DESIGN HEADER
                            $('div[id^=accordion266523261]').hide();// KONE Design Collection
                            $('div[id^=accordion277945581]').hide();// OTHER HEADER
                            $('div[id^=accordion811688501]').hide();// Maintenance Service
                            $('div[id^=accordion1681405239]').hide();// Call Back Service
                            $('div[id^=accordion926049584]').hide();// Additional Options
                            $('#sideBarDESIGN').hide();// Sidebar
                            $('#sideBarOTHER').hide();// Sidebar

                            // New ENA inputs
                            $('div[id^=accordion1644108347]').hide();// Car wall finsih
                            $('div[id^=accordion772488649]').hide();// Car wall
                            $('div[id^=accordion1545700360]').hide();// Car front, door, and skirting finish
                            $('div[id^=accordion461667246]').hide();// Car ceiling
                            $('div[id^=accordion1180286962]').hide();// Handrails
                            $('div[id^=accordion788999843]').hide();// Car signalization
                            $('div[id^=accordion371564282]').hide();// Hall Signalization
                            $('div[id^=accordion629303733]').hide();// Hoistway Entrance
                        } else {
                            // Always show
                            $('div[id^=accordion210030581]').show();// DESIGN HEADER
                            $('div[id^=accordion277945581]').show();// OTHER HEADER
                            $('div[id^=accordion811688501]').show();// Maintenance Service
                            $('div[id^=accordion1681405239]').show();// Call Back Service
                            $('div[id^=accordion926049584]').show();// Additional Options
                            $('#sideBarDESIGN').show();// Sidebar
                            $('#sideBarOTHER').show();// Sidebar

                            $('div[id^=accordion788999843]').show();// Car signalization
                            $('div[id^=accordion371564282]').show();// Hall Signalization
                            $('div[id^=accordion629303733]').show();// Hoistway Entrance

                            // Design options radio button value (KONE_DESIGN_OR_MIX_MATCH)
                            // KONE Design Collection = STD || Car Interior Mix and Match Design = MIX
                            // When “KONE Design Collection” selected then:
                            if (mixMatchVal == 'STD') {
                                // Hide
                                $('div[id^=accordion266523261]').show();// KONE Design Collection

                                // Hide
                                $('div[id^=accordion1644108347]').hide();// Car wall finish
                                $('div[id^=accordion772488649]').hide();// Car wall
                                $('div[id^=accordion1545700360]').hide();// Car front, door, and skirting finish
                                $('div[id^=accordion461667246]').hide();// Car ceiling
                                $('div[id^=accordion1180286962]').hide();// Handrails
                            } else if (mixMatchVal == 'MIX') {
                                //hide
                                $('div[id^=accordion266523261]').hide();// KONE Design Collection

                                // Show
                                $('div[id^=accordion1644108347]').show();// Car wall finish
                                $('div[id^=accordion772488649]').show();// Car wall
                                $('div[id^=accordion1545700360]').show();// Car front, door, and skirting finish
                                $('div[id^=accordion461667246]').show();// Car ceiling
                                $('div[id^=accordion1180286962]').show();// Handrails
                            }
                        }
                    }
                } catch (error) {
                    throw error;
                }

                if (initLinks) {
                    setTimeout(function () {
                        //initNavLinks();
                        setNavLinks();

                        // Add event to radio buttons
                        $('[name=KONE_DESIGN_OR_MIX_MATCH]').on('click', function () {
                            hideDesignSection(event.target)
                        });
                    }, 500);
                } else {
                    //initNavLinks();
                    setNavLinks();
                }
            }

            function prevPageConfigPopup() {
                // This input only exists on the secong page when a configuration is reloaded.
                const existingFlag = $('#EXISTING_OR_NEW_FLAG');

                if (existingFlag.length && existingFlag.val() == 'EXISTING') {
                    const options = {
                        name: "return-to-first-page",
                        message: ResourceBundle.getString("KONE_ELEVATOR_SIDEBAR_previous_page_reload"),
                        okay_btn: true,
                        close_btn_txt: ResourceBundle.getString("Button_cancel"),
                        show: true,
                        destroy: true,
                        custom: function ($warning) {
                            // Setting it to NEW and saving will run the logic and create the first page.
                            $warning.find('.okay-btn').on('click', function () {
                                // Prevent user from click OK again.
                                $warning.detach();

                                // Change flag and save to reload logic
                                existingFlag.val('NEW');
                                saveDesign();
                                return;
                            });
                        }
                    };

                    new KoneDialog(options);

                } else {
                    prevPage();
                }

                return;
            }

            // Add search option to locale selector
            const LocaleModule = (function () {
                const conf = {
                    selectorId: 'locale-select',
                    searchDivId: 'locale-search',
                    placeholder: ResourceBundle.getString('Button_search'),
                    closeIcon: '&#x186;',

                    get html() {
                        return (
                            `<div id="${this.searchDivId}">` +
                            `<input type="text" id="search" name="search" autocomplete="off" placeholder="${this.placeholder}" />` +
                            '<span class="closeX">' +
                            this.closeIcon +
                            '</span>' +
                            '</div>'
                        );
                    }
                };

                // Inject locale selector search
                function inject() {
                    // Create search input
                    const $content = $(`#${conf.selectorId}`);
                    const $search = $(conf.html);

                    // Clean up during testing
                    remove();

                    // Build
                    $content.prepend($search);
                    $search.on('keyup', '#search', searchLocales);
                    $search.on('click', '.closeX', triggerLocaleSearch);

                    // Run initial search - causes .closeX to be hidden
                    triggerLocaleSearch('');

                }

                // Remove locale selector search
                function remove() {
                    $(`#${conf.selectorId}`).find(`div#${conf.searchDivId}`).detach();
                }

                // Run event handler with specific value
                function triggerLocaleSearch(searchString = '') {
                    if (typeof searchString !== 'string')
                        searchString = '';

                    // Change value and trigger search
                    $(`#${conf.selectorId} #search`).val(searchString).keyup();
                }

                // Hide and unhide locales
                function searchLocales(e) {
                    // Needs to be lowercase otherwise English and english won't match
                    const searchString = e.target.value.toLocaleLowerCase();
                    const $locales = $(`#${conf.selectorId} > .popup-contents > .locale-row`);
                    const $closeX = $(`#${conf.searchDivId} .closeX`);

                    // If search is empty then reset, else search titles
                    if (searchString === "") {
                        $locales.show();

                        // Hide clear search button
                        $closeX.hide();

                    } else {
                        // Show clear search button
                        $closeX.show();

                        // Go through each image's title
                        $locales.find('img.flag').each((i, el) => {
                            const $flag = $(el);
                            // Needs to be lowercase otherwise English and english won't match
                            const title = $flag.attr('title').toLocaleLowerCase();

                            if (title.includes(searchString))
                                $flag.parent().show();
                            else
                                $flag.parent().hide();
                        });
                    }
                }

                // Expose module
                return {
                    cleanAndBuild: inject,
                    remove: remove,
                    search: triggerLocaleSearch,
                    conf: conf
                };
            })();
        </script>

    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'V2_ENA_ESC_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript" src="/HTML/products/<doc><out>prodId</out></doc>/jscripts/productrules.js"></script>

        <script type="text/javascript" defer>
            function clickCSI(input) {
                try {
                    if (!input) return;

                    var designHideGroup = $('div[id^=accordion205795821');
                    var designHide = document.getElementById('DESIGN_HIDE_1');

                    if (input.checked) {
                        designHide.checked = true;
                        //$('#DESIGN_HIDE_1').prop('disabled', true);
                        designHide.disabled = true;
                        designHideGroup.hide();
                    } else {
                        designHide.checked = false;
                        //$('#DESIGN_HIDE_1').prop('disabled', false);
                        designHide.disabled = false;
                        designHideGroup.show();
                    }

                    hideDesignSection(designHide);
                } catch (error) {
                    console.warn('Error in clickCSI, the input DESIGN_HIDE_1 must have been removed.');
                }
            }

            function hideDesignSection() {
                try {
                    // Checkbox statuses
                    let csi = document.getElementById('ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1');
                    let design = document.getElementById('DESIGN_HIDE_1');

                    if (csi) {
                        // Get value from mix and match radio button
                        let mixMatchVal = document.querySelector('[name=KONE_DESIGN_OR_MIX_MATCH]:checked').value;

                        // Checkbox logic setup
                        if (csi.checked) {
                            // don't show click to show design accordion
                            $('div[id^=accordion205795821]').hide(); // ENA Click to show Design

                            // set click to show design to false
                            document.getElementById('DESIGN_HIDE_1').checked = false
                        } else {
                            // show click to show design accordion
                            $('div[id^=accordion205795821]').show(); // ENA Click to show Design
                        }

                        if (!csi.checked && !design.checked) {
                            $('div[id^=accordion210030581]').hide();  // DESIGN HEADER
                            $('div[id^=accordion266523261]').hide();  // KONE Design Collection
                            $('div[id^=accordion277945581]').hide();  // OTHER HEADER
                            $('div[id^=accordion811688501]').hide();  // Maintenance Service
                            $('div[id^=accordion1681405239]').hide(); // Call Back Service
                            $('div[id^=accordion926049584]').hide();  // Additional Options

                            $('#sideBarDESIGN').hide(); // Sidebar
                            $('#sideBarOTHER').hide();  // Sidebar

                            // New ENA inputs
                            $('div[id^=accordion1644108347]').hide(); // Car wall finsih
                            $('div[id^=accordion772488649]').hide();  // Car wall
                            $('div[id^=accordion1545700360]').hide(); // Car front, door, and skirting finish
                            $('div[id^=accordion461667246]').hide();  // Car ceiling
                            $('div[id^=accordion1180286962]').hide(); // Handrails
                            $('div[id^=accordion788999843]').hide();  // Car signalization
                            $('div[id^=accordion371564282]').hide();  // Hall Signalization
                            $('div[id^=accordion629303733]').hide();  // Hoistway Entrance
                        } else {
                            $('div[id^=accordion210030581]').show();  // DESIGN HEADER
                            $('div[id^=accordion277945581]').show();  // OTHER HEADER
                            $('div[id^=accordion811688501]').show();  // Maintenance Service
                            $('div[id^=accordion1681405239]').show(); // Call Back Service
                            $('div[id^=accordion926049584]').show();  // Additional Options

                            $('#sideBarDESIGN').show(); // Sidebar
                            $('#sideBarOTHER').show();  // Sidebar

                            $('div[id^=accordion788999843]').show(); // Car signalization
                            $('div[id^=accordion371564282]').show(); // Hall Signalization
                            $('div[id^=accordion629303733]').show(); // Hoistway Entrance

                            // Design options radio button value (KONE_DESIGN_OR_MIX_MATCH)
                            // KONE Design Collection = STD || Car Interior Mix and Match Design = MIX
                            // When “KONE Design Collection” selected then:
                            if (mixMatchVal == 'STD') {
                                $('div[id^=accordion266523261]').show();// KONE Design Collection

                                $('div[id^=accordion1644108347]').hide(); // Car wall finish
                                $('div[id^=accordion772488649]').hide();  // Car wall
                                $('div[id^=accordion1545700360]').hide(); // Car front, door, and skirting finish
                                $('div[id^=accordion461667246]').hide();  // Car ceiling
                                $('div[id^=accordion1180286962]').hide(); // Handrails
                            } else if (mixMatchVal == 'MIX') {
                                $('div[id^=accordion266523261]').hide(); // KONE Design Collection

                                $('div[id^=accordion1644108347]').show(); // Car wall finish
                                $('div[id^=accordion772488649]').show();  // Car wall
                                $('div[id^=accordion1545700360]').show(); // Car front, door, and skirting finish
                                $('div[id^=accordion461667246]').show();  // Car ceiling
                                $('div[id^=accordion1180286962]').show(); // Handrails
                            }
                        }
                    }

                    // Add event to radio buttons:
                    $('[name=KONE_DESIGN_OR_MIX_MATCH]').on('click', function () {
                        hideDesignSection(event.target)
                    });
                } catch (error) {
                    console.error(error.message);
                }
            }
        </script>
    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'YES,V2_ENA_NO_NAV,V2_ENA_ESC_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript">
            function jumpToGroup(target, _speed) {
                var speed = (typeof _speed != 'undefined') ? _speed : 50;
                var scrollTo = target.offset().top - 50 - <doc><out>navOffset</out></doc>;
                $('html, body').animate({ scrollTop: scrollTo }, speed);
            }
        </script>
    </if>
</doc>
