<!-- /concept/custom/jpocs/kone/ena_elevator_planner/summary_table.html -->

<div class="verifySummarySection">
    <div class="quickSummaryHolder">
        <div class="summaryTable grid-type">
            <div id="QUANTITY_EDIT" class="summary-content" onclick="jumpTo('collapse210117311');">
                <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
                </div>
                <div id="QuantityheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="CAPACITY_EDIT" class="summary-content" onclick="jumpTo('collapse2079600828');">
                <div name="WGT_RATED_LOAD_Q_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="WGT_RATED_LOAD_Q_data"></div>
                </div>
                <div id="CapacityFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <!--
            <div id="REGULATION_EDIT" class="summary-content" onclick="">
                <div name="TYP_ELEV_STANDARD_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_ELEV_STANDARD_data"></div>
                </div>
                <div id="QuantityheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            -->
            <div id="SPEED_EDIT" class="summary-content" onclick="jumpTo('collapse228702321');">
                <div name="VAL_RATED_SPEED_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="VAL_RATED_SPEED_data"></div>
                </div>
                <div id="SpeedFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="CARHEIGHT_EDIT" class="summary-content" onclick="jumpTo('collapse211121391');">
                <div name="DIM_CAR_HEIGHT_CH_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DIM_CAR_HEIGHT_CH_data"></div>
                </div>
                <div id="CarHeightFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOORTYPE_EDIT" class="summary-content" onclick="jumpTo('collapse244025321');">
                <div name="TYP_DOOR_A_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="TYP_DOOR_A_data"></div>
                </div>
                <div id="DoorTypeFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOORHEIGHT_EDIT" class="summary-content" onclick="jumpTo('collapse211121391');">
                <div name="DIM_DOOR_HH_A_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DIM_DOOR_HH_A_data"></div>
                </div>
                <div id="DoorHeightFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOOROPENING_EDIT" class="summary-content" onclick="jumpTo('collapse294229301_1');">
                <div name="DOOR_OPENING_FOR_SUMMARY_TABLE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DOOR_OPENING_FOR_SUMMARY_TABLE_data"></div>
                </div>
                <div id="DoorOpeningFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="NOLANDINGS_EDIT" class="summary-content" onclick="jumpTo('collapse241127261');">
                <div name="QTY_FLOORS_SERVED_TOTAL_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="QTY_FLOORS_SERVED_TOTAL_data"></div>
                </div>
                <div id="NoLandingsheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="HEADROOMHEIGHT_EDIT" class="summary-content">
                <div name="DIM_HEADROOM_SH_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont" name="DIM_HEADROOM_SH_data"></div>
                </div>
            </div>
            <div id="HOISTWAYSIZE_EDIT" class="summary-content">
                <div name="SHAFT_SIZE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <span class="summaryValuefont" name="DIM_SHAFT_WIDTH_WW_data"></span>
                    <span class="summaryValuefont" name="DIM_SHAFT_DEPTH_WD_data"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="verifySummarySection">
    <div class="quickSummaryHolder">
        <table class="summaryTable">
            <tbody>
                <tr>
                    <td onclick="jumpTo('collapse210117311')">
                        <div id="QUANTITY_EDIT">
                            <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
                                <div id="QuantityheadFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse241127261')">
                        <div id="NOLANDINGS_EDIT">
                            <div name="QTY_FLOORS_SERVED_TOTAL_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="QTY_FLOORS_SERVED_TOTAL_data"></div>
                                <div id="NoLandingsheadFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse2079600828')">
                        <div id="CAPACITY_EDIT">
                            <div name="WGT_RATED_LOAD_Q_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="WGT_RATED_LOAD_Q_data"></div>
                                <div id="CapacityFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td onclick="jumpTo('collapse228702321')">
                        <div id="SPEED_EDIT">
                            <div name="VAL_RATED_SPEED_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="VAL_RATED_SPEED_data"></div>
                                <div id="SpeedFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse211121391')">
                        <div id="CARHEIGHT_EDIT">
                            <div name="DIM_CAR_HEIGHT_CH_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DIM_CAR_HEIGHT_CH_data"></div>
                                <div id="CarHeightFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse294229301_1')">
                        <div id="TOTALTRAVEL_EDIT">
                            <div name="DIM_TRAVEL_HEIGHT_H_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div>
                                    <span class="summaryValuefont" name="DIM_TRAVEL_HEIGHT_H_data"></span>
                                    <span class="summaryValuefont" name="DIM_TRAVEL_HEIGHT_H_DISP_IN_data"></span></div>
                                <div id="TotalTravelheadFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td onclick="jumpTo('collapse244025321')">
                        <div id="DOORTYPE_EDIT">
                            <div name="TYP_DOOR_A_label" class="summaryLabel" style="width:200px;"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="TYP_DOOR_A_data"></div>
                                <div id="DoorTypeFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse211121391')">
                        <div id="DOORHEIGHT_EDIT">
                            <div name="DIM_DOOR_HH_A_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DIM_DOOR_HH_A_data"></div>
                                <div id="DoorHeightFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td onclick="jumpTo('collapse244025321_1')">
                        <div id="DOORWIDTH_EDIT">
                            <div name="DIM_DOOR_LL_A_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DIM_DOOR_LL_A_data"></div>
                                <div id="DoorWidthFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td onclick="jumpTo('collapse294229301_1')">
                        <div id="DOOROPENING_EDIT">
                            <div name="DOOR_OPENING_FOR_SUMMARY_TABLE_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DOOR_OPENING_FOR_SUMMARY_TABLE_data"></div>
                                <div id="DoorOpeningFlag" class="summaryFlag default">
                                    <doc>bundle.KONE_ELEVATOR_BUTTON_summary_table</doc>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div id="HOISTWAYSIZE_EDIT">
                            <div name="SHAFT_SIZE_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <span class="summaryValuefont" name="DIM_SHAFT_WIDTH_WW_data"></span>
                                <span class="summaryValuefont" name="DIM_SHAFT_DEPTH_WD_data"></span>
                            </div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div id="PITHEIGHT_EDIT">
                            <div name="DIM_PIT_HEIGHT_PH_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DIM_PIT_HEIGHT_PH_data"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div id="HEADROOMHEIGHT_EDIT">
                            <div name="DIM_HEADROOM_SH_label" class="summaryLabel"></div>
                            <div class="summaryValue">
                                <div class="summaryValuefont" name="DIM_HEADROOM_SH_data"></div>
                            </div>
                        </div>
                    </td>
                    <td class="nonEdit">

                    </td>
                    <td class="nonEdit">
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
-->

<script type="text/javascript" defer>

    //temp until references have been removed
    function setValues(seq) {
        //console.log("called setValues");
    }

    /*Area coded inputs

     WGT_RATED_LOAD_Q
     WGT_RATED_LOAD_Q_TEXT
     VAL_RATED_SPEED
     TYP_STANDARD_CAR_SIZE
     TYP_DOOR_A
     DIM_DOOR_LL_A

     I added new attribute called TYP_MARKET_AREA to SELECT_ELEVATOR attributes.

     Used values at the moment are:

     EU (= Europe)
     EA (= Asia)
     NA (= North America)

     SELECT_ELEVATOR attribute TYP_MARKET_AREA should set a hidden input so attribute retrieval is not needed
     */

    console.debug("elevatorproducts/summary_table.html");

    var units = '<doc><out>configuration.getInputByName("UNIT_OF_MEASURE").getValue().getStringValue()</out></doc>';
    var typeMarketArea = "<doc><out>configuration.getInputByName('SELECT_ELEVATOR').getProductInput().getAttributeByName('TYP_MARKET_AREA').getAttributeValueFromConfigurationInputValue(configuration.getInputByName('SELECT_ELEVATOR').getValue(),configuration).getStringValue()</out></doc>";
    var typeProductModel = "<doc><out>configuration.getInputByName('SELECT_ELEVATOR').getProductInput().getAttributeByName('TYP_PRODUCT_MODEL').getAttributeValueFromConfigurationInputValue(configuration.getInputByName('SELECT_ELEVATOR').getValue(),configuration).getStringValue()</out></doc>";

    console.debug("SELECT_ELEVATOR=<doc><out>configuration.getInputByName('SELECT_ELEVATOR').getValue().getStringValue()</out></doc>");
    console.debug("units=" + units);
    console.debug("typeMarketArea=" + typeMarketArea);
    console.debug("typeProductModel=" + typeProductModel);

    var metric = units == "METRIC" ? true : false;
    //define area input lookup
    var suffix = "_" + typeMarketArea;
    //console.debug("suffix="+suffix);
    //suffix = "";//temp until feature turned on
    var areaCodedInputs = [];
    var reverseAreaCodedInputs = [];

    areaCodedInputs["TYP_STANDARD_CAR_SIZE"] = "TYP_STANDARD_CAR_SIZE" + suffix;

    if (metric) {
        areaCodedInputs["WGT_RATED_LOAD_Q"] = "WGT_RATED_LOAD_Q" + suffix;
        areaCodedInputs["WGT_RATED_LOAD_Q_TEXT"] = "WGT_RATED_LOAD_Q_LB" + suffix + "_TEXT";
        areaCodedInputs["VAL_RATED_SPEED"] = "VAL_RATED_SPEED" + suffix;
        areaCodedInputs["TYP_DOOR_A"] = "TYP_DOOR_A" + suffix;
        areaCodedInputs["DIM_DOOR_LL_A"] = "DIM_DOOR_LL_A" + suffix;

    } else {
        areaCodedInputs["WGT_RATED_LOAD_Q_TEXT"] = "WGT_RATED_LOAD_Q_LB" + suffix + "_TEXT";
        areaCodedInputs["WGT_RATED_LOAD_Q"] = "WGT_RATED_LOAD_Q_LB_NA";
        areaCodedInputs["VAL_RATED_SPEED"] = "VAL_RATED_SPEED_FPM_NA";
    }

    // Set product dependent options
    var productCodedOptions = {};
    // Change which accordion has the label

    if (productId == GLOBAL_FLAGS.products.ENA) {
        // Capacity label
        productCodedOptions["WGT_RATED_LOAD_Q"] = { label: 2079600828 };

        // Imperial shaft sizes
        if (!metric) {
            productCodedOptions["DIM_SHAFT_WIDTH_WW"] = { attrFt: "DIM_SHAFT_WIDTH_WW_DISP_FT", attrIn: "DIM_SHAFT_WIDTH_WW_DISP_IN" };
            productCodedOptions["DIM_SHAFT_DEPTH_WD"] = { attrFt: "DIM_SHAFT_DEPTH_WD_DISP_FT", attrIn: "DIM_SHAFT_DEPTH_WD_DISP_IN" };
            reverseAreaCodedInputs["WGT_RATED_LOAD_Q_LB" + suffix + "_TEXT"] = "WGT_RATED_LOAD_Q_TEXT";
            reverseAreaCodedInputs["WGT_RATED_LOAD_Q_LB" + suffix] = "WGT_RATED_LOAD_Q";
            reverseAreaCodedInputs["VAL_RATED_SPEED_FPM" + suffix] = "VAL_RATED_SPEED";
            reverseAreaCodedInputs["DIM_DOOR_HH_A_FT"] = "DIM_DOOR_HH_A";
            reverseAreaCodedInputs["DIM_CAR_HEIGHT_CH_FT"] = "DIM_CAR_HEIGHT_CH";

            // Update height before everything else as it takes too long
            $('[name=DIM_TRAVEL_HEIGHT_H_data]').val(
                ImperialUnit.toFeet($('#DIM_TRAVEL_HEIGHT_H_IN').val()).display
            );
        } else {
        }
    } else {
        // Standard elevator products
        productCodedOptions["WGT_RATED_LOAD_Q"] = { label: 287634311 };
        reverseAreaCodedInputs["WGT_RATED_LOAD_Q" + suffix + "_TEXT"] = "WGT_RATED_LOAD_Q_TEXT";
    }

    reverseAreaCodedInputs["WGT_RATED_LOAD_Q" + suffix] = "WGT_RATED_LOAD_Q";
    reverseAreaCodedInputs["VAL_RATED_SPEED" + suffix] = "VAL_RATED_SPEED";
    reverseAreaCodedInputs["TYP_STANDARD_CAR_SIZE" + suffix] = "TYP_STANDARD_CAR_SIZE";
    reverseAreaCodedInputs["TYP_DOOR_A" + suffix] = "TYP_DOOR_A";
    reverseAreaCodedInputs["DIM_DOOR_LL_A" + suffix] = "DIM_DOOR_LL_A";
    // For Asia MiniSpace
    // reverseAreaCodedInputs["DIM_DOOR_HH_A" + suffix] = "DIM_DOOR_HH_A";
    reverseAreaCodedInputs["DIM_TRAVEL_HEIGHT_H_IN"] = "DIM_TRAVEL_HEIGHT_H"; // fake input used by ena
    reverseAreaCodedInputs["DIM_TRAVEL_HEIGHT_H_ROUNDED"] = "DIM_TRAVEL_HEIGHT_H"; // Input used to show values without decimals

    var dataTableInput = "DATA_TABLE_UI_" + typeProductModel;

    console.debug("dataTableInput=" + dataTableInput);

    var dataInputEvents = [];
    var dataInputSuffix = [];
    var dataTableInputs = [
        { ref: "ProductLine, Key Values Product Name", input: "SELECT_ELEVATOR" }, //key Values
        //{ ref: "Capacity", input: "WGT_RATED_LOAD_Q", refinput: areaCodedInputs["WGT_RATED_LOAD_Q"], label: getGroupHeaderText(productCodedOptions["WGT_RATED_LOAD_Q"].label) }, //summary, keyvalues
        { ref: "Capacity", input: "WGT_RATED_LOAD_Q", refinput: areaCodedInputs["WGT_RATED_LOAD_Q"], label: "<doc>bundle.KONE_ENA_ELEVATOR_capacity</doc>" }, //summary, keyvalues

        { ref: "Quantity", input: "QTY_ELEVATOR_GROUP_SIZE", label: getGroupHeaderText("210117311") }, //summary, key Values
        { ref: "Landings", input: "QTY_FLOORS_SERVED_TOTAL", label: getGroupHeaderText("241127261"), suffix: " <doc>bundle.KONE_ELEVATOR_LABEL_Landings</doc>" }, //summary, keyvalues
        { ref: "Speed", input: "VAL_RATED_SPEED", refinput: areaCodedInputs["VAL_RATED_SPEED"], label: getGroupHeaderText("228702321") }, //summary, keyvalues
        { ref: "EntranceType", input: "TYP_LDO_FRAME_FRONT", label: $('label[for=TYP_LDO_FRAME_FRONT]').text().trim() }, //summary
        { ref: "MAP", input: "POS_MAP_SETTING", label: $('label[for=POS_MAP_SETTING]').text().trim() }, //key Values
        { ref: "Ceiling", input: "TYP_CAR_CEILING", label: $('label[for=TYP_CAR_CEILING]').text().trim() }, //key Values
        { ref: "RightWall", input: "MAT_CAR_WALL_FINISH_B", label: $('label[for=MAT_CAR_WALL_FINISH_B]').text().trim() }, //key Values
        { ref: "BackWall", input: "MAT_CAR_WALL_FINISH_C", label: $('label[for=MAT_CAR_WALL_FINISH_C]').text().trim() }, //key Values
        { ref: "LeftWall", input: "MAT_CAR_WALL_FINISH_D", label: $('label[for=MAT_CAR_WALL_FINISH_D]').text().trim() }, //key Values
        { ref: "Floor", input: "MAT_CAR_FLOORING", label: $('label[for=MAT_CAR_FLOORING]').text().trim() }, //key Values
        { ref: "CarOperatingPanel", input: "TYP_COP_PRODUCT", label: $('label[for=TYP_COP_PRODUCT]').text().trim() }, //key Values
        { ref: "Handrail", input: "TYP_CAR_HANDRAIL", label: $('label[for=TYP_CAR_HANDRAIL]').text().trim() }, //key Values
        { ref: "Skirting", input: "MAT_CAR_SKIRTING", label: $('label[for=MAT_CAR_SKIRTING]').text().trim() }, //key Values
        { ref: "PowerSupply", input: "VAL_POWER_SUPPLY_VOLTAGE", label: getGroupHeaderText("262427460") }, //summary
        { ref: "DoorOpening", input: "DOOR_OPENING_FOR_SUMMARY_TABLE", label: $('label[for=DOOR_OPENING_FOR_SUMMARY_TABLE]').text().trim() }, //summary, keyvalues
        { ref: "Design Collection package", input: "TYP_COMBINATION_PACKAGE", label: "<doc>bundle.KONE_ELEVATOR_LINK_design_Collection</doc>", suffix: " " }, //key Values

        //SHAFT_SIZE appears to only be used for a label
        { ref: "Shaft Size Label", input: "SHAFT_SIZE", label: $('label[for=SHAFT_SIZE]').text().trim() }, //summary
        {
            ref: "Regulation", input: "TYP_ELEV_STANDARD", label: $('label[for=TYP_ELEV_STANDARD]').text().replace("?", "").trim(), function: function () {
                updateDataTableInput(this);
                setRegulationData();
            }
        }, //summary, keyvalues
        {
            ref: "Complementary Regulation", input: "TYP_ELEV_STANDARD_COMPLEMENT", function: function () {
                setRegulationData();
            }
        }, //summary

        // { ref: "Regulation Key Values", input: "TYP_ELEV_STANDARD_keyvalues", refinput: "TYP_ELEV_STANDARD", label: $('label[for=TYP_ELEV_STANDARD]').text().replace("?", "").trim() }, //key Values

        //ECO Space Only
        { ref: "Mirror", input: "MAT_CAR_MIRROR", label: $('label[for=MAT_CAR_MIRROR]').text().trim() }, //key Values

        //Transys
        { ref: "Ceilings Transys", input: "TRANSYS_CEILINGS", label: $('label[for=TRANSYS_CEILINGS]').text().trim() }, //summary
        { ref: "Lighting Transys", input: "TRANSYS_LIGHTING", label: $('label[for=TRANSYS_LIGHTING]').text().trim() }, //summary
        { ref: "Finishings Transys", input: "TRANSYS_FINISHINGS", label: $('label[for=TRANSYS_FINISHINGS]').text().trim() }, //summary
        { ref: "Wall Materials Transys", input: "TRANSYS_WALL_MATERIALS", label: $('label[for=TRANSYS_WALL_MATERIALS]').text().trim() }, //summary
        { ref: "Floor Materials Transys", input: "TRANSYS_FLOOR_MATERIALS", label: $('label[for=TRANSYS_FLOOR_MATERIALS]').text().trim() }, //summary
        { ref: "Door Finishes Transys", input: "TRANSYS_DOOR_FINISHES", label: $('label[for=TRANSYS_DOOR_FINISHES]').text().trim() }, //summary

        //KONE MonoSpace® 500 (Americas)
        { ref: "Seismic", input: "TYP_SEISMIC_REQ", label: '<doc>bundle.KONE_ESCALATOR_TEXT_SUMMARY_seismic</doc>' },
        { ref: "Additional power supply", input: "TYP_ELEC_FEAT_EBD", label: $('label[for=TYP_ELEC_FEAT_EBD]').text().trim() },
        { ref: "Control location", input: "TYP_CONTROLLER_SPACE", label: $('label[for=TYP_CONTROLLER_SPACE]').text().trim() },
        { ref: "Maintenance service", input: "MAINTENANCE_SERVICE", label: $('label[for=MAINTENANCE_SERVICE]').text().trim() },
        { ref: "Call back service", input: "CALL_BACK_SERVICE", label: $('label[for=CALL_BACK_SERVICE]').text().trim() },

        // Design Collection
        { ref: "Design Collection", input: "CAR_DESIGN_SOLUTIONS", suffix: " " }, //key Values
        { ref: "Design Collection", input: "TYP_DESIGN_SOLUTION" }, //key Values

        // ENA New Design accordions ------------------------------------------
        // Car signalisation
        { ref: "Car signalisation design", input: "CAR_SIGNALIZATION_DESIGN", label: $('label[for=CAR_SIGNALIZATION_DESIGN]').text().trim() },
        { ref: "Car signalisation mounting", input: "CAR_SIGNALIZATION_MOUNTING", label: $('label[for=CAR_SIGNALIZATION_MOUNTING]').text().trim() },
        { ref: "Car signalisation finish", input: "CAR_SIGNALIZATION_FINISH", label: $('label[for=CAR_SIGNALIZATION_FINISH]').text().trim() },
        { ref: "Car signalisation display color", input: "CAR_SIGNALIZATION_DISPLAY_COLOR", label: $('label[for=CAR_SIGNALIZATION_DISPLAY_COLOR]').text().trim() },
        { ref: "Car signalisation quantity", input: "CAR_SIGNALIZATION_QUANTITY", label: $('label[for=CAR_SIGNALIZATION_QUANTITY]').text().trim() },
        { ref: "Car signalisation options", input: "CAR_SIGNALIZATION_OPTIONS", label: $('label[for=CAR_SIGNALIZATION_OPTIONS]').text().trim() },
        { ref: "Car signalisation options", input: "CAR_SIGNALIZATION_OPTIONS", label: $('label[for=CAR_SIGNALIZATION_OPTIONS]').text().trim() },

        // Handrail signalisation
        { ref: "Handrail signalisation finish", input: "HALL_SIGNALIZATION_FINISH", label: $('label[for=HALL_SIGNALIZATION_FINISH]').text().trim() },
        { ref: "Handrail signalisation lantern", input: "HALL_SIGNALIZATION_LANTERN", label: $('label[for=HALL_SIGNALIZATION_LANTERN]').text().trim() },
        { ref: "Handrail signalisation indicator", input: "HALL_SIGNALIZATION_INDICATOR", label: $('label[for=HALL_SIGNALIZATION_INDICATOR]').text().trim() },
        { ref: "Handrail location", input: "HANDRAILS_LOCATION", label: $('label[for=HANDRAILS_LOCATION]').text().trim() },
        { ref: "Handrail finish", input: "HANDRAILS_FINISH" },
        { ref: "Handrail design", input: "HANDRAILS_DESIGN" },

        // Hoistway Entrance
        { ref: "Hoistway entrance entrance finish", input: "HOIST_ENTRANCE_ENTERANCE_FINISH", label: $('label[for=HOIST_ENTRANCE_ENTERANCE_FINISH]').text().trim() },
        { ref: "Hoistway entrance still finish", input: "HOIST_ENTRANCE_SILL_FINISH", label: $('label[for=HOIST_ENTRANCE_SILL_FINISH]').text().trim() },

        // Car wall finish
        { ref: "Design rear wall", input: "DESIGN_REAR_WALL", label: $('label[for=DESIGN_REAR_WALL]').text().trim() },
        { ref: "Design side walls", input: "DESIGN_SIDE_WALLS", label: $('label[for=DESIGN_SIDE_WALLS]').text().trim() },

        // Car walls
        { ref: "Car walls", input: "MAT_CAR_WALLS", label: $('label[for=MAT_CAR_WALLS]').text().trim() },
        { ref: "Revel Finish for Raised Panels", input: "REVEL_FINISH_FOR_RAISED_PANELS", label: $('label[for=REVEL_FINISH_FOR_RAISED_PANELS]').text().trim() },

        // Car front, door, and skirting finish
        { ref: "Car Front, Door and Skirting Finish", input: "CAR_FRONT_DOOR_SKIRTING_FINISH", label: $('label[for=CAR_FRONT_DOOR_SKIRTING_FINISH]').text().trim() },

        // Car ceiling
        { ref: "Car ceiling design", input: "CAR_CEILING_DESIGN", label: $('label[for=CAR_CEILING_DESIGN]').text().trim() },
        { ref: "Car ceiling finish", input: "CAR_CEILING_FINISH", label: $('label[for=CAR_CEILING_FINISH]').text().trim() },

        // M700 - Accessible Space Under Hoistway, Machine location in Hoistway
        { ref: "Accessible Space Under Hoistway", input: "TYP_CWT_SG_REQ", label: $('label[for=TYP_CWT_SG_REQ]').text().trim() },
        { ref: "Machine location in Hoistway", input: "POS_MACHINERY", label: $('label[for=POS_MACHINERY]').text().trim() },
    ];

    if (metric) {
        dataTableInputs.push({ ref: "CarSize", input: "TYP_STANDARD_CAR_SIZE", refinput: areaCodedInputs["TYP_STANDARD_CAR_SIZE"], label: $('label[for=' + areaCodedInputs["TYP_STANDARD_CAR_SIZE"] + ']').text().replace("?", "").trim() }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric CarHeight", input: "DIM_CAR_HEIGHT_CH", label: $('label[for=DIM_CAR_HEIGHT_CH]').text().trim() });//summary
        dataTableInputs.push({ ref: "Metric CarHeight", input: "DIM_CAR_HEIGHT_CH", refinput: "DIM_CAR_HEIGHT_CH_MR", label: $('label[for=DIM_CAR_HEIGHT_CH_MR]').text().trim() });//N MiniSpace (Asia) summary
        dataTableInputs.push({ ref: "Metric HeadroomHeight", input: "DIM_HEADROOM_SH", label: "<doc>bundle.KONE_ENA_ELEVATOR_minimum_clear_overhead</doc>", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric HeadroomHeight", input: "DIM_HEADROOM_SH", refinput: "DIM_HEADROOM_SH_MR", label: "<doc>bundle.KONE_ENA_ELEVATOR_minimum_clear_overhead</doc>", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); // MiniSpace (Asia) summary, keyvalues
        dataTableInputs.push({ ref: "Metric PitHeight", input: "DIM_PIT_HEIGHT_PH", label: $('label[for=DIM_PIT_HEIGHT_PH]').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary
        dataTableInputs.push({ ref: "Metric DoorHeight", input: "DIM_DOOR_HH_A", label: $('label[for=DIM_DOOR_HH_A]').text().trim() }); //summary
        dataTableInputs.push({ ref: "Metric DoorHeight", input: "DIM_DOOR_HH_A", refinput: 'DIM_DOOR_HH_A_MR', label: $('label[for=DIM_DOOR_HH_A_MR]').text().trim() }); //summary
        dataTableInputs.push({ ref: "Metric DoorType", input: "TYP_DOOR_A", refinput: areaCodedInputs["TYP_DOOR_A"], label: getGroupHeaderText("244025321") }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric DoorWidth", input: "DIM_DOOR_LL_A", refinput: areaCodedInputs["DIM_DOOR_LL_A"], label: $('label[for=' + areaCodedInputs["DIM_DOOR_LL_A"] + ']').text().trim() }); //summary
        //dataTableInputs.push({ ref: "Metric TotalTravel", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_ROUNDED", label: $('#DIM_TRAVEL_HEIGHT_H_subgroup_label').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric TotalTravel", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_ROUNDED", label: "<doc>bundle.KONE_ENA_ELEVATOR_total_travel</doc>", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary, keyvalues
        dataTableInputs.push({
            ref: "Shaft Size Width", input: dataTableInput, attribute: "DIM_SHAFT_WIDTH_WW", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc> x", function: function () {
                var $this = this;
                // Only run once to prevent display from flashing multiple times
                new RunAfterDrivens('DIM_SHAFT_WIDTH_WW', 200, function () { updateDataTableInput($this, "DIM_SHAFT_WIDTH_WW"); });
            }
        });
        dataTableInputs.push({
            ref: "Shaft Size Depth", input: dataTableInput, attribute: "DIM_SHAFT_DEPTH_WD", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>", function: function () {
                var $this = this;
                // Only run once to prevent display from flashing multiple times
                new RunAfterDrivens('DIM_SHAFT_DEPTH_WD', 200, function () { updateDataTableInput($this, "DIM_SHAFT_DEPTH_WD"); });
            }
        }); //summary, keyvalues
    } else {
        dataTableInputs.push({ ref: "Imperial CarHeight", input: "DIM_CAR_HEIGHT_CH", refinput: "DIM_CAR_HEIGHT_CH_FT", label: $('label[for=DIM_CAR_HEIGHT_CH_FT]').text().trim() });//summary
        dataTableInputs.push({
            ref: "Imperial HeadroomHeight", input: "DIM_HEADROOM_SH", refinput: "DIM_OVERHEAD_HEIGHT_H_COMBINED", label: "<doc>bundle.KONE_ENA_ELEVATOR_minimum_clear_overhead</doc>"
        }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial PitHeight", input: "DIM_PIT_HEIGHT_PH", refinput: "DIM_PIT_HEIGHT_PH_FT", label: $('label[for=DIM_PIT_HEIGHT_PH_FT]').text().trim() }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial DoorHeight", input: "DIM_DOOR_HH_A", refinput: "DIM_DOOR_HH_A_FT", label: $('label[for=DIM_DOOR_HH_A_FT]').text().trim() }); //summary
        dataTableInputs.push({ ref: "Imperial DoorType", input: "TYP_DOOR_A", refinput: "TYP_DOOR_A_NA", label: getGroupHeaderText("244025321") }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial DoorWidth", input: "DIM_DOOR_LL_A_IN_NA", refinput: "DIM_DOOR_LL_A_IN_NA", label: $('label[for=DIM_DOOR_LL_A_IN_NA]').text().trim(), funtion: function() {
            let $this = this;
            new RunAfterDrivens("DIM_DOOR_LL_A_IN_NA", 200, function() { updateDataTableInput($this, "DIM_DOOR_LL_A_IN_NA"); });
        }}); //summary

        // This is now managed by the FloorManager object.
        // dataTableInputs.push({ ref: "Imperial TotalTravel Ft", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_DISP_FT", label: $('#DIM_TRAVEL_HEIGHT_H_DISP_FT_subgroup_label').text().trim(), suffix: "'" }); //summary, keyvalues
        // dataTableInputs.push({ ref: "Imperial TotalTravel Inch", input: "DIM_TRAVEL_HEIGHT_H_DISP_IN", refinput: "DIM_TRAVEL_HEIGHT_H_DISP_IN", suffix: '" ' }); //summary, keyvalues
        dataTableInputs.push({
            //ref: "Imperial TotalTravel Ft", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_IN", label: $('#DIM_TRAVEL_HEIGHT_H_DISP_FT_subgroup_label').text().trim(), function: function () { return true; }
            ref: "Imperial TotalTravel Ft", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_IN", label: "<doc>bundle.KONE_ENA_ELEVATOR_total_travel</doc>", function: function () { return true; }
        }); //summary, keyvalues

        //summary, keyvalues
        dataTableInputs.push({
            ref: "Shaft Size Imperial", input: dataTableInput, function: function (event) {

                // Get output values
                let widthFt = getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_WIDTH_WW"].attrFt);
                let widthIn = getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_WIDTH_WW"].attrIn);
                let widthOutput = ImperialUnit.formatUnit(widthFt, widthIn);

                let depthFt = getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_DEPTH_WD"].attrFt);
                let depthIn = getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_DEPTH_WD"].attrIn);
                let depthOutput = ImperialUnit.formatUnit(depthFt, depthIn);

                // Update tables
                let target = document.getElementsByName('DIM_SHAFT_DEPTH_WD_data');
                for (let i = 0; i < target.length; i++) {
                    target[i].innerText = widthOutput + ' x ' + depthOutput;
                }
            }
        });
        //summary, keyvalues
    }

    //check if Regulation section is shown
    /*
    if (metric) {
        $('#REGULATION_EDIT').show();

    } else {
        $('#REGULATION_EDIT').hide();
    }
    */

    // TODO: cache data for single calls to speed up loading.
    // If it doesn't exist get it then store the data.
    $(() => {
        try {
            storedAttributeData.cacheable.push(dataTableInput);   // Enable caching for this input. Check designUI
            var test = getAttributeData(dataTableInput);

            dataTablesInit();
            setRegulationData();

            GLOBAL_FLAGS.dataTablesInit = true;     // Indicate this has been done.
            forceChangeEventById(dataTableInput);   // Force update shaft size
            forceChangeEventById('DIM_OVERHEAD_HEIGHT_H_FT');   // Force update the overhead clearance to have feet and inches
            forceChangeEventById(areaCodedInputs["WGT_RATED_LOAD_Q"]);  // Force update so capacity and number of passengers can be concatenated

            // ENA uses a static product title on the second page, mapping it to the refInputs
            // doesn't work, so we'll do this manually.
            if (productId == GLOBAL_FLAGS.products.ENA) { // ENA Elevator
                // Replace targets with product name
                var target = document.getElementsByName("SELECT_ELEVATOR_data");
                for (var i = 0; i < target.length; i++) {
                    target[i].innerHTML = document.allvalues.ENA_ELEVATOR_GD_TOP_SELECT_value.value;
                }

                // Hide this group header value as it's not used on ENA yet
                console.debug('-- Hiding group header values for TYP_STANDARD_CAR_SIZE');
                $('span[name=TYP_STANDARD_CAR_SIZE_data].group-header-values-data').parent().hide();
            }
        } catch (error) {
            console.error(error.message);
        }
    });

    function setRegulationData() {
        //label, value or text
        //console.debug("getRegulation(" + getWhat + ")");
        var result = "";

        // get Complementary Regulations
        var comp = [];
        $('input[id^=TYP_ELEV_STANDARD_COMPLEMENT]:checkbox:checked').each(function () {
            var label = $('label[for=' + $(this).attr("id") + ']').text().trim();
            comp.push(label);
        });

        result = $('label[for=TYP_ELEV_STANDARD]').text();
        if (comp.length > 0) {
            result += "<br>" + $('label[for=TYP_ELEV_STANDARD_COMPLEMENT]').text();
            for (var i = 0; i < comp.length; i++) {
                result += '<div class="summaryValuefont">' + comp[i] + '</div>';
            }
        }

        var target = document.getElementsByName("TYP_ELEV_STANDARD_label");
        for (var i = 0; i < target.length; i++) {
            target[i].innerHTML = result;
        }
    }
</script>
