<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_and_examples_header.html -->

<div id="brochures-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_brochures_and_examples</doc>
</div>

<script type="text/javascript" defer>
    $(() => {
        hideUsefulLinks();
    });

    function hideUsefulLinks() {
        try {
            // Enable getting values as they are needed, instead of everything
            if (!storedAttributeData.cacheable.includes('ANON_USE_GRP')) {
                storedAttributeData.cacheable.push('ANON_USE_GRP');
            }

            let isCommon = getAttributeValue('ANON_USE_GRP', $('#ANON_USE_GRP').val(), 'COMMON PLANNER') == 'COMMON';

            // Find inputs using this jpoc.
            // NOTE: currently this relies this the jpoc general naming scheme to hide them.
            //let brochure = $('input[value*="/elevatorproducts/brochures_"][value$=".html"]').closest('tr');
            let header = $('#brochures-header');

            if (isCommon) {
                header.hide();
            } else {
                header.show();
            }
        } catch (error) {
            console.error(error);
        }
    }
</script>
