<!-- /concept/custom/jpocs/kone/elevatorproducts/building_header.html -->

<div id="building-header">
    <div class="input-group-header">
        <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
    </div>
    <div class="input-group-text">
        <doc>bundle.KONE_ELEVATOR_TEXT_building</doc>
    </div>
</div>
