<!-- /concept/custom/jpocs/kone/selectorproduct/building_category.html -->

<div class="header-wrapper header-center" id="building-category">
    <div class="input-group-sub-header">
        <doc>bundle.KONE_SELECTOR_TEXT_building_category</doc>
    </div>
</div>
