<!-- /concept/custom/jpocs/kone/selectorproduct/building_type.html -->

<div class="header-wrapper header-center" id="building-type">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_SELECTOR_HEADER_building_type</doc>
    </div>
    <div class="input-group-text">
        <doc>bundle.KONE_SELECTOR_TEXT_building_type</doc>
    </div>
</div>
