<!-- /concept/custom/jpocs/kone/elevator_planner/ECOSPACE_HEADER.html -->

<div class="product-header" id="ecospace-header">
    <div class="product-image"></div>
    <div class="header-inner">
        <div class="product-title">
            <doc>bundle.KONE_HEADER_TEXT_ecospace</doc>
        </div>
        <div class="product-description">
            <doc>bundle.KONE_HEADER_TEXT_ecospace_desc</doc>
        </div>
    </div>
</div>
