<!-- /concept/custom/jpocs/kone/selectorproduct/elevator_load.html -->

<div class="header-wrapper header-center" id="elevator-load">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_SELECTOR_HEADER_load</doc>
    </div>
    <div class="input-group-text configSubHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_elevator_load</doc>
    </div>
</div>
