<!-- /concept/custom/jpocs/kone/elevatorproducts/landings_header.html -->

<doc>
    <if condition="configuration.getInputByName('SELECT_ELEVATOR').getValue().getStringValue() == 'N_MINISPACE_APAC'">
        <div class="inputgroup_text">
            <doc>bundle.KONE_ELEVATOR_TEXT_Landings_NMI</doc>
        </div>
    </if>
</doc>

<doc>
    <if condition="configuration.getInputByName('SELECT_ELEVATOR').getValue().getStringValue() != 'N_MINISPACE_APAC'">
        <div class="inputgroup_text">
            <doc>bundle.KONE_ELEVATOR_TEXT_Landings</doc>
        </div>
    </if>
</doc>
