<!-- /concept/custom/jpocs/kone/elevator_planner/MONOSPACE_HEADER.html -->

<div class="product-header" id="monospace-header">
    <div class="product-image"></div>
    <div class="header-inner">
        <div class="product-title">
            <doc>bundle.KONE_HEADER_TEXT_monospace</doc>
        </div>
        <div class="product-description">
            <doc>bundle.KONE_HEADER_TEXT_monospace_desc</doc>
        </div>
    </div>
</div>
