<!-- /concept/custom/jpocs/kone/selectorproduct/number_of_passangers.html -->

<div class="header-wrapper header-center" id="number-of-passengers">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_SELECTOR_HEADER_number_of_passengers</doc>
    </div>
    <div class="input-group-text configSubHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_elevator_passangers</doc>
    </div>
</div>
