<!-- /concept/custom/jpocs/kone/selectorproduct/number_of_occupants_header.html -->

<div class="header-wrapper header-center" id="number-of-occupants">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_SELECTOR_HEADER_number_of_occupants</doc>
    </div>
    <div class="input-group-text configSubHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_number_of_occupants</doc>
    </div>
</div>

<script type="text/javascript" defer>
    // Self execute
    updateDescText();

    (function () {
        updateDescText();
    })();

    // Update occupants heading with message building type
    function updateDescText() {
        // Run on trigger
        var action = function (event) {

            // Possible headings
            var headings = {
                none: "",
                residential: "<doc>bundle.KONE_SELECTOR_TEXT_number_of_occupants</doc>",
                office: "<doc>bundle.KONE_SELECTOR_TEXT_number_of_occupants_office</doc>",
                hotel: "<doc>bundle.KONE_SELECTOR_TEXT_number_of_occupants_hotel</doc>",
            };

            // Get input value
            var value = event.target.value;

            // Set sub-header text
            var text = '';
            switch (value) {
                case 'RESIDENTIAL':
                    text = headings.residential;
                    break;
                case 'OFFICE':
                    text = headings.office;
                    break;
                case 'HOTEL':
                    text = headings.hotel;
                    break;
                default:
                    text = headings.none;
            }

            // Replace target text
            document.querySelector('[id^=NUMBER_OF_OCCUPANTS_HEADER_HTML] .configSubHeading').innerText = text;
        }

        //$('.SELECTOR_TYP_ELEVATOR_RANGE_OF_USE_box').on('change', e => console.log(e))

        // Find input and attach event 
        // Firefox doesn't like plain javascript for this for some reason.
        var target = '#SELECTOR_TYP_ELEVATOR_RANGE_OF_USE';
        $(target).on('change', action);
    }
</script>
