<!-- /concept/custom/jpocs/kone/selectorproduct/passanger_goods.html -->

<div class="header-wrapper header-center" id="select-elevator-type">
    <div class="input-group-sub-header configSubHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_passanger_goods</doc>
    </div>
</div>
