<!-- /concept/custom/jpocs/kone/elevatorproducts/pit_depth_warning.html -->

<div id="pit-depth-warning" class="equipment-warning">
    <span class='message'>
      <doc>bundle.KONE_ELEVATOR_WARNING_additional_equipment</doc>
    </span>
  </div>

  <script>
    $(function () {
      // Allow unbind
      let handler = function (e) {
        checkRangeBanner(e, '#pit-depth-warning .message');
      };

      // Bind events and run the first time
      $('#PIT_DEPTH').on('keyup change', handler).change();
    });
</script>
