<!-- /concept/custom/jpocs/kone/selectorproduct/recommendations_header.html -->

<div class="header-wrapper header-center" id="sugested-products">
    <div class="input-group-header configSubHeading">
        <doc>bundle.KONE_SELECTOR_HEADER_recommendations</doc>
    </div>
</div>
