<!-- /concept/custom/jpocs/kone/elevatorproducts/summary_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ELEVATOR_TEXT_summary</doc>
</div>
