<!-- /concept/custom/jpocs/kone/elevator_planner/TRANSYS_HEADER.html -->

<div class="product-header" id="transys-header">
    <div class="product-image"></div>
    <div class="header-inner">
        <div class="product-title">
            <doc>bundle.KONE_HEADER_TEXT_transys</doc>
        </div>
        <div class="product-description">
            <doc>bundle.KONE_HEADER_TEXT_transys_desc</doc>
        </div>
    </div>
</div>
