<!-- JPoC Type = HTML_VIEW_JPOC_HEAD_JAVASCRIPT -->
<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- requestURI = java.lang.String -->

<!-- /concept/custom/jpocs/kone/configurationResults.html -->

<doc>
    <if condition="requestURI.equals('/spr/Configuration/results')&&principal.getUser().isAnonymousIndicator()">
        <style>
            .custom .page-loading {
                display: none !important;
            }

            /* Hide left nav-bar and set td width to 0 */
            .custom #left-nav {
                display: none !important;
            }

            .custom table#results>tbody>tr>td:first-child {
                width: 0px !important;
            }
        </style>
    </if>
</doc>

<doc>
    <if condition="requestURI.equals('/spr/Configuration/results')">
        <script type="text/javascript">
            $(() => {
                // Add the page-loading flag to reveal the page content:
                document.body.classList.add("page-loading");

                if (typeof refreshNav !== 'undefined' && $.isFunction(refreshNav)) {
                    refreshNav = function refreshNavNew() {
                        console.debug("refreshNav");
                        if("true" != $("#quitNavRefresh").val()) {
                            //showNav();//dont need to do this, stops the flickering of the configure another elevator button
                            showDocuments();
                            refreshNavTimer = setTimeout("refreshNav()", 3000);
                        } else {
                            clearTimeout(refreshNavTimer);
                            //showSatMetrix();
                            setTimeout("showSatMetrix()", 1000);
                        }
                    }
                }
            });

            var url = "https://kone.satmetrix.com/satmetrix/enterprise/kone/app/cx/resources/datacollection/kone_5031/popup/kone_5031_6187/popupsurvey_kone_5031_6187.js?a=" + new Date().getTime();
            function  showSatMetrix() {
                var script = document.createElement("script");
                script.src = url;
                document.getElementsByTagName("head")[0].appendChild(script);
            }

            function toggleDefaultHeader() {
                let header = $("header#header");
                let navtabs = $("table#nav-tabs");
                let container = $("div#container");

                if (header.is(":visible")) {
                    header.hide();
                    container.css("top", "0");
                } else {
                    header.show();
                    container.css("top", "70px");
                }

                if (navtabs.is(":visible")) {
                    navtabs.hide();
                } else {
                    navtabs.show();
                }
            }

            function toggleResultLinks() {
                let opt = document.querySelector('.custom .elevator.results-page table#results > tbody > tr > td:first-child');
                if (opt.style.display=='') {
                    opt.style.display='inline';
                } else {
                    opt.style.display='';
                }
            }
        </script>
    </if>
</doc>
