<!-- /concept/custom/jpocs/kone/global/headerV2.html -->

<!-- productId = java.lang.String -->

<!-- Unconditional CSS lives in headerV2.css -->
<!-- Only include this header when it's asked by INCLUDE_SIDEBAR_HEADER -->
<doc>
    <if condition="'HEADERV2,V2_OLD_NAV,V2_OLD_ENA_NAV,V2_ENA_ESC_NAV,V2_ENA_NO_NAV,V2_ELEV_NAV,V2_ELEV_NO_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <header id="headerV2" class="grid-container">

            <!-- First line -->
            <div id="planner" class="grid-item line1 title">
                <!-- Headertitle will be placed here -->
                <span></span>
            </div>

            <div id="logo" class="grid-item line1 icon-header">
                <span data-event-name="logo-event" class="link header-icon">
                    <!-- KONE logo -->
                    &#x33;
                </span>
            </div>

            <div id="contact" class="grid-item line1">
                <span data-event-name="contact-event" class="link">
                    <doc>bundle.KONE_ELEVATOR_BUTTON_contact_KONE</doc>
                </span>
            </div>

            <div id="language" class="grid-item line1 selector">
                <!-- The default language selector will be moved here -->
            </div>

            <!-- Second line -->
            <div id="return" class="grid-item line2">
                <!-- Hide by default. This is initialised by the headerV2 module -->
                <span data-event-name="return-event" class="link">
                    <doc>bundle.Button_back</doc>
                </span>
            </div>

            <div id="glossary" class="grid-item line2">
                <span data-event-name="glossary-event" class="link">
                    <doc>bundle.KONE_ELEVATOR_BUTTON_help</doc>
                </span>
            </div>

            <!-- Empty cell for background  -->
            <div id="empty" class="grid-item line2"></div>

            <!-- Third line -->
            <div id="product" class="grid-item line3 title">
                <!-- Product title will be placed here -->
                <span id="product-title"></span>
            </div>

            <div id="print" class="grid-item line3">
                <!-- <div data-event-name="print-event" class="kone-button noselect">
                    <span class="kone-icon"></span>
                </div> -->
                <span data-event-name="print-event" class="link header-icon">
                    <!-- KONE print icon -->
                    &#x130;
                </span>
            </div>
        </header>

        <!-- Create an ENA-specific headerV2 configuration specific to KONE ENA Elevator -->
        <doc>
            <if condition="'V2_ENA_ESC_NAV,V2_ENA_NO_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <script type="text/javascript" defer>
                    const conf = {
                        // Flags
                        eventsAdded: false, // Prevent events from being added more than once
                        hideAdminUi: false, // Toggle automatic UI hiding
                        noProduct: false,   // Hide product name and print option

                        // Title
                        headerTitle: "<doc>bundle.KONE_ENA_ELEVATOR_HEADER_kone_elevator_tools</doc>",

                        // Ids
                        headerId: 'headerV2',
                        productInput: 'ENA_ELEVATOR_GD_TOP_SELECT',          // Input id for product title (ENA)
                        glossaryInput: 'ENA_GLOSSARY_URL',                   // Input id for glossary file value
                        contactInput: 'ENA_CONTACTS_URL',                    // Contact url source
                        storeContactInput: 'STORE_CONTACT_ENA_CONTACTS_URL', // Contact url storage

                        eventMap: new Map(), // Map events to ids and functions

                        get isFirstPage() {
                            // The first page should have this input somewhere
                            const firstpage = document.getElementById('ANON_USE_GRP') != null;

                            // If reloading a built configuration we want to show the back button anyway
                            const input =  document.getElementById('EXISTING_OR_NEW_FLAG');
                            const existing = input && input.value == "EXISTING";

                            return firstpage && !existing;
                        }
                    };
                </script>
            </if>
        </doc>

        <doc>
            <if condition="'V2_ELEV_NAV,V2_ELEV_NO_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <script type="text/javascript" defer>
                    const conf = {
                        // Flags
                        eventsAdded: false, // Prevent events from being added more than once
                        hideAdminUi: false, // Toggle automatic UI hiding
                        noProduct: false,   // Hide product name and print option

                        // Title
                        headerTitle: "<doc>bundle.KONE_ELEVATOR_HEADER_kone_elevator_tools</doc>",

                        // Ids
                        headerId: 'headerV2',
                        productInput: 'SELECT_ELEVATOR',        // Input id for product title
                        glossaryInput: 'GLOSSARY_URLS',         // Input id for glossary file value
                        contactInput: 'CONTACT_URLs',           // Contact url source
                        storeContactInput: 'STORE_CONTACT_URL', // Contact url storage

                        eventMap: new Map(), // Map events to ids and functions

                        get isFirstPage() {
                            // The first page should have this input somewhere
                            const firstpage = document.getElementById('ANON_USE_GRP') != null;

                            // If reloading a built configuration we want to show the back button anyway
                            const input =  document.getElementById('EXISTING_OR_NEW_FLAG');
                            const existing = input && input.value == "EXISTING";

                            return firstpage && !existing;
                        }
                    };
                </script>
            </if>
        </doc>

        <!-- Create a catch-all headerV2 configuration if we're not KONE ENA Elevator -->
        <doc>
            <if condition="'HEADERV2,V2_OLD_NAV,V2_OLD_ENA_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <script type="text/javascript" defer>
                    const conf = {
                        // Flags
                        eventsAdded: false, // Prevent events from being added more than once
                        hideAdminUi: false, // Toggle automatic UI hiding
                        noProduct: false,   // Hide product name and print option

                        // Title
                        headerTitle: "<doc>bundle.KONE_ESCALATOR_HEADER_kone_escalator_tools</doc>",

                        // Ids
                        headerId: 'headerV2',
                        productInput: 'ESC_GD_TOP_SELECT',                   // Input id for product title
                        glossaryInput: 'ESC_GLOSSARY_URL',                   // Input id for glossary file value
                        contactInput: 'ESC_CONTACTS_URL',                    // Contact url source
                        storeContactInput: 'STORE_CONTACT_ESC_CONTACTS_URL', // Contact url storage

                        eventMap: new Map(), // Map events to ids and functions

                        get isFirstPage() {
                            // The first page should have this input somewhere
                            const firstpage = document.getElementById('ANON_USE_GRP') != null;

                            // If reloading a built configuration we want to show the back button anyway
                            const input =  document.getElementById('EXISTING_OR_NEW_FLAG');
                            const existing = input && input.value == "EXISTING";

                            return firstpage && !existing;
                        }
                    };
                </script>
            </if>
        </doc>

        <script type="text/javascript" defer>
            const headerV2 = (() => {
                if (typeof conf === 'undefined') {
                    console.error("Missing headerV2 configuration.");
                    return;
                }

                // Default eventMap uses the attribute [data-event-name=some-event]
                conf.eventMap.set('logo-event', manufacturerLinkConfirm);
                conf.eventMap.set('contact-event', contact);
                conf.eventMap.set('return-event', prevPageConfigPopup);
                conf.eventMap.set('glossary-event', glossary);
                conf.eventMap.set('print-event', () => console.warn('print-page has not been configured'));

                // ------------------------------------------------------------
                // Methods
                // ------------------------------------------------------------

                // Handle all header events
                function events(event='some-event') {
                    let eventName = '';

                    // Let function be called without event by using the correct event name
                    if (typeof event === 'string') {
                        eventName = event;
                    } else {
                        eventName = event.target.dataset.eventName;
                    }

                    // Run matching event
                    if (conf.eventMap.has(eventName)) {
                        const action = conf.eventMap.get(eventName);
                        if (typeof action === 'function') {
                            action();
                        } else {
                            console.warn('Found event with matching name but it is not a function...');
                        }
                    } else {
                        console.warn('No matching event found...');
                    }
                }

                // Original function from sidebar. Show popup before returning on existing configurations.
                function prevPageConfigPopup() {
                    // This input only exists on the secong page when a configuration is reloaded.
                    const existingFlag = $('#EXISTING_OR_NEW_FLAG');

                    if (existingFlag.length && existingFlag.val() == 'EXISTING') {
                        const options = {
                            name: "return-to-first-page",
                            message: ResourceBundle.getString("KONE_ELEVATOR_SIDEBAR_previous_page_reload"),
                            okay_btn: true,
                            close_btn_txt: ResourceBundle.getString("Button_cancel"),
                            show: true,
                            destroy: true,
                            custom: function ($warning) {
                                // Setting it to NEW and saving will run the logic and create the first page.
                                $warning.find('.okay-btn').on('click', function () {
                                    // Prevent user from click OK again.
                                    $warning.detach();

                                    // Change flag and save to reload logic
                                    existingFlag.val('NEW');
                                    saveDesign();
                                    return;
                                });
                            }
                        };

                        new KoneDialog(options);
                    } else {
                        prevPage();
                    }
                }

                function contact() {
                    // Lives on the allValues form when not on the first page so we need this query,
                    const input = document.querySelector(`[name="${ conf.storeContactInput }"]`);
                    if (input.value != "NO_CONTACT") {
                        window.open(input.value, '_blank');
                    }
                }

                // Open glossary
                function glossary() {
                    let filename = "";

                    try {
                        const input = document.getElementById(conf.glossaryInput);

                        // If the input isn't part of this page, grab it from the allValues form.
                        if (input) {
                            filename = input.options[input.selectedIndex].text;
                        } else {
                            let filepath = document.allvalues[`${ conf.glossaryInput }_value`].value;

                            // If the filepath has been defined as a JavaScript call (window.open('')):
                            if (filepath.includes("window")) {
                                let _filepath = filepath.match(/\'(.*?)\'/);
                                let _filename = _filepath[1];

                                let filesplit = _filename.split("/");
                                filename = filesplit[(filesplit.length - 1)]; // Get the file name at the end of the path
                                filename = filename.split('.').slice(0, -1).join('.'); // Remove file extension
                            }
                        }
                    } catch (error) {
                        console.error(error.message);
                    } finally {
                        // productId => made available in designUI.
                        let link = `/HTML/products/${ productId }/help/${ filename }.html`;
                        window.open(link, '_blank');
                    }
                }

                // ------------------------------------------------------------
                // Setup
                // ------------------------------------------------------------
                function setupEvents(add = true) {
                    // Prevent duplicating events
                    if (add && conf.eventsAdded == add) {
                        console.warn('Events are already', add);
                        return;
                    }

                    // Bind button events.
                    // This will setup all links on the page that use said events.
                    // Quite useful for setting links across page automatically
                    for (let eventName of conf.eventMap.keys()) {
                        // Search all entries that match the data-event-name.
                        document.querySelectorAll(`[data-event-name=${eventName}]`).forEach(target => {
                            if (add) {
                                target.addEventListener('click', events);
                            } else {
                                target.removeEventListener('click', events);
                            }
                        });
                    }

                    conf.eventsAdded = add;
                }

                // Set header title
                function setHeaderTitle() {
                    document.querySelector('#headerV2 #planner.title span').innerText = conf.headerTitle;
                }

                <doc>
                    <if condition="'HEADERV2,V2_OLD_NAV,V2_OLD_ENA_NAV,V2_ENA_ESC_NAV,V2_ENA_NO_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                        // Set title automatically or override by passing a string.
                        function setProductName(override) {
                            let productTitle = "";

                            try {
                                const input = document.getElementById(conf.productInput);

                                // Get product name
                                if (override && typeof override === "string") {
                                    productTitle = override; // Let user override name
                                } else if (input !== null) {
                                    productTitle = input.options[input.selectedIndex].text;
                                } else {
                                    // If the input isn't part of this page, grab it from the allValues form.
                                    let allValues = document.allvalues[`${ conf.productInput }_value`];
                                    if (allValues !== undefined) {
                                        productTitle = allValues.value;
                                    }
                                }
                            } catch (error) {
                                console.debug('Product name could not be set.', error.message);
                            } finally {
                                document.querySelector('#headerV2 #product.title span').innerText = productTitle;
                            }
                        }
                    </if>
                </doc>

                // Move language selector to header
                function moveLocaleSelector(destinationQuery = '#headerV2 div#language') {
                    try {
                        const target = document.querySelector(destinationQuery);
                        target.appendChild(document.getElementById('current-locale'));
                        target.appendChild(document.getElementById('locale-select'));

                        // Remove the (country) part of the language text
                        const countryRegExp = /(\s*)(\([a-zA-Z ]+)(\)?)/;
                        const localeLabel = target.querySelector('#current-locale-label');

                        // Try to get from currect selected locale
                        let currentLocale = target.querySelector('#current-locale-image').title.trim();
                        localeLabel.innerText = currentLocale.replace(countryRegExp, '');
                    } catch (error) {
                        console.error(error.message);
                    }
                }

                <doc>
                    <if condition="'V2_ELEV_NAV,V2_ELEV_NO_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                        // Set title automatically or override by passing a string.
                        async function setProductName(override) {
                            let productTitle = "";

                            try {
                                const input = document.getElementById(conf.productInput);
                                const inputData = await GetC1InputData.find('SELECT_ELEVATOR');

                                let productRelease = null;
                                if (document.getElementById("TYP_PRODUCT_RELEASE") !== null) {
                                    productRelease = document.getElementById("TYP_PRODUCT_RELEASE").value;
                                }

                                switch(productRelease) {
                                    case "19.2":
                                    case "20.1":
                                    case "20.2":
                                    case "21.1":
                                        if (digitalData.page.pageInfo.country == "TR") {
                                            productTitle = inputData.getAttribute(input.options[input.selectedIndex].value, "SOC Product Name 20.1 Turkey").value;
                                        } else {
                                            productTitle = inputData.getAttribute(input.options[input.selectedIndex].value, "SOC Product Name 19.2").value;
                                        }
                                        break;

                                    default:
                                        if (productTitle === "" || productTitle === null) {
                                            if (override && typeof override === "string") {
                                                productTitle = override; // Let user override name
                                            } else if (input !== null) {
                                                productTitle = input.options[input.selectedIndex].text;
                                            } else {
                                                // If the input isn't part of this page, grab it from the allValues form.
                                                let allValues = document.allvalues[`${ conf.productInput }_value`];
                                                if (allValues !== undefined) {
                                                    productTitle = allValues.value;
                                                }
                                            }
                                        }
                                        break;
                                }
                            } catch (error) {
                                console.debug('Product name could not be set.', error.message);
                            } finally {
                                document.querySelector('#headerV2 #product.title span').innerText = productTitle;
                            }
                        }
                    </if>
                </doc>

                // Move header to it's designated location
                function moveHeader(destinationQuery = '#container table#main') {
                    const target = document.querySelector(destinationQuery)
                    target.before(document.getElementById(conf.headerId));
                }

                // Hide original ui Elements
                function hideUiElements(hide = conf.hideAdminUi) {
                    // Add this class to the body so we can hide the body without causing issues
                    // in admin screens
                    document.querySelector('body').classList.add('isConfig');

                    // Prevent anon users from unhiding UI elements
                    if (hide) {
                        document.querySelector('body').classList.add('isAnon');
                    } else {
                        document.querySelector('body').classList.remove('isAnon');
                    }

                    // Store current status
                    conf.hideAdminUi = hide;
                }

                function hideProduct(flag = conf.noProduct) {
                    // Hide product and print part of the header
                    if (flag) {
                        document.querySelector(`#${conf.headerId}`).classList.add('no-product');
                    } else {
                        document.querySelector(`#${conf.headerId}`).classList.remove('no-product');
                    }

                    // Store status
                    conf.noProduct = flag;
                }

                // Set contact URL if available
                function setContact() {
                    const src = document.getElementById(conf.contactInput);
                    const target = document.getElementById(conf.storeContactInput);

                    if (src && target) {
                        target.value = src.options[src.selectedIndex].text;
                    }
                }

                // Make it easier to scope CSS by adding classes to the body. See body on the DOM
                function identifiers(add = true) {
                    // Store all identifier classes that will be added
                    const classes = [];

                    try {
                        const productId = '<doc><out>productId</out></doc>';
                        // Check if user is global or north america
                        const anon = "<doc><out>configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue()</out></doc>";
                        classes.push( ['US', 'CA'].includes(anon) ? 'not-global' : 'global' );

                        // TODO: add all product class identifiers
                        if (productId == 261612571) {
                            // Escalator
                            classes.push('escalator');
                        }
                    } catch (error) {
                        console.error('Failed to get identifier classes', error.message);
                    } finally {
                        // Let classes be removed too!
                        if (add) {
                            document.body.classList.add(...classes);
                        } else {
                            document.body.classList.remove(...classes);
                        }
                    }
                }

                // ------------------------------------------------------------
                // Initialisation
                // ------------------------------------------------------------
                // Complete init function.
                function init(){
                    // Immediate fire
                    hideUiElements(); // Call with settings from conf.hideAdminUI
                    hideProduct();
                    moveHeader();
                    setHeaderTitle();
                    moveLocaleSelector();
                    identifiers();

                    // On ready fire
                    initOnReady();
                }

                // On ready init function. Run these events once jQuery on ready is fired
                function initOnReady() {
                    $(() => {
                        setProductName();  // Wait until the allvalues form has been loaded
                        setupEvents(true); // Wait until inputs are populated
                        setContact();

                        if (conf.isFirstPage) {
                            document.querySelector(`#${conf.headerId}`).classList.add('no-return');
                        }
                    });
                }

                // ------------------------------------------------------------
                // Reveal module
                // ------------------------------------------------------------
                return {
                    init: init,
                    conf: conf,
                    get container() { return document.getElementById(conf.headerId); },
                    addEvents: () => setupEvents(true),
                    removeEvents: () => setupEvents(false),
                    showUi: () => hideUiElements(false),
                    hideUi: () => hideUiElements(true),
                    toggleUi: () => hideUiElements(!conf.hideAdminUi),
                    hideProduct: hideProduct,
                    setContact: setContact,
                    identifiers: identifiers,

                    events: events,
                    moveLocaleSelector: moveLocaleSelector,
                    moveHeader: moveHeader,
                };
            })();

            // Module - Add search option to locale selector
            const localeMod = (function () {

                // ------------------------------------------------------------
                // Configuration
                // ------------------------------------------------------------
                const conf = {
                    selectorId: 'locale-select',
                    searchDivId: 'locale-search',
                    placeholder: ResourceBundle.getString('Button_search'),
                    closeIcon: '&#x186;',

                    get html() {
                        return (
                            `<div id="${this.searchDivId}">
                                <input type="text" id="search" name="search" autocomplete="off" placeholder="${this.placeholder}" />
                                <div class="closeX">
                                    ${this.closeIcon}
                                </div>
                            </div>`
                        );
                    }
                };

                // ------------------------------------------------------------
                // Methods
                // ------------------------------------------------------------

                // Inject locale selector search
                function inject() {
                    // Create search input
                    const $content = $(`#${conf.selectorId}`);
                    const $search = $(conf.html);

                    // Clean up during testing
                    remove();

                    // Build
                    $content.prepend($search);
                    $search.on('keyup', '#search', searchLocales);
                    $search.on('click', '.closeX', triggerLocaleSearch);

                    // Run initial search - causes .closeX to be hidden
                    triggerLocaleSearch('');
                }

                // Remove locale selector search
                function remove() {
                    $(`#${conf.selectorId}`).find(`div#${conf.searchDivId}`).detach();
                }

                // Run event handler with specific value
                function triggerLocaleSearch(searchString = '') {
                    if (typeof searchString !== 'string') {
                        searchString = '';
                    }

                    // Change value and trigger search
                    $(`#${conf.selectorId} #search`).val(searchString).keyup();
                }

                // Hide and unhide locales
                function searchLocales(e) {
                    // Needs to be lowercase otherwise English and english won't match
                    const searchString = e.target.value.toLocaleLowerCase();
                    const $locales = $(`#${conf.selectorId} > .popup-contents > .locale-row`);
                    const $closeX = $(`#${conf.searchDivId} .closeX`);

                    // If search is empty then reset, else search titles
                    if (searchString === "") {
                        $locales.show();
                        // Hide clear search button
                        $closeX.hide();

                    } else {
                        // Show clear search button
                        $closeX.show();

                        // Go through each image's title
                        $locales.find('img.flag').each((i, el) => {
                            const $flag = $(el);
                            // Needs to be lowercase otherwise English and english won't match
                            const title = $flag.attr('title').toLocaleLowerCase();

                            if (title.includes(searchString))
                                $flag.parent().show();
                            else
                                $flag.parent().hide();
                        });
                    }
                }

                // ------------------------------------------------------------
                // Initialisation
                // ------------------------------------------------------------
                // Complete init function.
                function init() {
                    // Immediate fire

                    // On ready fire
                    initOnReady();
                }

                // On ready init function. Run these events once jQuery on ready is fired
                function initOnReady() {
                    $(() => {
                        inject();
                    });
                }

                // ------------------------------------------------------------
                // Reveal module
                // ------------------------------------------------------------
                return {
                    init: inject,
                    remove: remove,
                    search: triggerLocaleSearch,
                    searchEvent: searchLocales,
                    conf: conf,
                };
            })();

            // Hide the admin panels if we're an anonymous user:
            <doc>
                <if condition="principal.getUser().isAnonymousIndicator()">
                    headerV2.conf.hideAdminUi = true;
                </if>
            </doc>

            // Assign the 'V2_OLD_NAV' class to body if that's what we're using:
            <doc>
                <if condition="'V2_OLD_NAV,V2_OLD_ENA_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                    document.body.classList.add('V2_OLD_NAV');
                </if>
            </doc>

            // TODO: this should probably be inside one of the modules above but uses bits of both.
            // Not sure what to do yet. Maybe convert headerV2 to clone the header too. Ideally we
            // want to let header and locale search modify the locale selector and only then clone it.
            function cloneLocaleSelector() {
                // Clone selector
                const $current = $('#current-locale').clone();
                const $options = $('#locale-select').clone();
                $current.addClass('cloned');
                $options.addClass('cloned');

                // Decide where to show the element
                $current.on('click', () => {
                    $options
                        .toggle()
                        .css("top", "0")
                        .css("left", "0");

                    $options.position({
                        my: "left top",
                        at: "left bottom",
                        of: $current,
                        offset: "-18 8"
                    });
                });

                // Add highlight during hover
                $options.on('mouseenter', '.locale-row', event => {
                    $(event.target).addClass("blue-3-gradient");
                });

                // Remove highlight during hover
                $options.on('mouseenter', '.locale-row', event => {
                    $(event.target).removeClass("blue-3-gradient");
                });

                // Change locale on click
                $options.on('click', '.locale-row', event => {
                    // For some reason the event targets the label and not the div
                    changeLocale($(event.target.closest('.locale-row')));
                });

                // Reattach search mod events if present
                const $search = $options.find('#locale-search');
                if ($search.length > 0) {
                    $search.on('keyup', '#search', localeMod.searchEvent);
                    $search.on('click', '.closeX', localeMod.search);
                }

                // Return both elements without jQuery
                return [$current[0], $options[0]];
            }

            try {
                // If we've already pre-defined an appropriate configuration for the header module, assign it:
                if (typeof conf !== 'undefined') {
                    headerV2.conf = conf;
                }

                // Run complete module setup
                localeMod.init();
                headerV2.init();
            } catch (error) {
                console.error(error.message);
            }
        </script>
    </if>
</doc>

<doc>
    <if condition="'V2_OLD_NAV,V2_OLD_ENA_NAV,V2_ENA_ESC_NAV,V2_ELEV_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <!-- Create an ENA-specific sidebarV2 and configuration specific to KONE ENA Elevator -->
        <doc>
            <if condition="'V2_ENA_ESC_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <div id="KoneSideBarDivV2" class="KoneSideBarDiv">
                    <div id="sideBarDOWNLOADS" class="sideBar" data-scroll-to="downloads">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                        </div>
                    </div>
                    <div id="sideBarBUILDING" class="sideBar" data-scroll-to="building">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                        </div>
                    </div>
                    <div id="sideBarELEVATOR" class="sideBar" data-scroll-to="elevator">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                        </div>
                    </div>
                    <div id="sideBarDESIGN" class="sideBar" data-scroll-to="design">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                        </div>
                    </div>
                    <div id="sideBarOTHER" class="sideBar" data-scroll-to="other">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_other</doc>
                        </div>
                    </div>
                    <div id="sideBarSUMMARY" class="sideBar" data-scroll-to="summary">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" defer>
                    const sidebarConf = {
                        targets: new Map(),
                        linkAttribute: 'data-scroll-to',
                        targetAttribute: 'data-nav-link',
                        headerSelector: '#headerV2',
                        sidebarSelector: '#KoneSideBarDivV2',
                        activeClass: 'selected',

                        // Calculate header offset
                        get headerOffset() {
                            const client = document.querySelector(this.headerSelector).getBoundingClientRect();
                            return client.top + client.height;
                        },

                        // Get target sections throughtout the page
                        get targetTiles() {
                            return document.querySelectorAll(`[${this.targetAttribute}]`)
                        },

                        // Get all nav bar tiles
                        get navTiles() {
                            return document.querySelectorAll(`[${this.linkAttribute}]`)
                        },

                        // Get Selected nav tile
                        get currentNavTile() {
                            return document.querySelector(`${this.sidebarSelector} .${this.activeClass}`)
                        }
                    };

                    // Store references - can be configured externally. Run .init to bind new locations.
                    // This module could be made independed from the sidebar by moving the queries
                    // to the sidebar as data attribute (data-target).
                    sidebarConf.targets.set('building', '[id^="210055571"]');
                    sidebarConf.targets.set('elevator', '[id^="276109581"]');
                    sidebarConf.targets.set('design', '[id^="210030581"]');
                    sidebarConf.targets.set('other', '[id^="277945581"]');
                    sidebarConf.targets.set('summary', '[id^="280759171"]');
                    sidebarConf.targets.set('downloads', '[id^="210023591"]');
                </script>
            </if>
        </doc>

        <doc>
            <if condition="'V2_ELEV_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <div id="KoneSideBarDivV2" class="KoneSideBarDiv">
                    <div id="sideBarBUILDING" class="sideBar" data-scroll-to="building">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                        </div>
                    </div>
                    <div id="sideBarELEVATOR" class="sideBar" data-scroll-to="elevator">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                        </div>
                    </div>
                    <div id="sideBarDESIGN" class="sideBar" data-scroll-to="design">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                        </div>
                    </div>
                    <div id="sideBarSUMMARY" class="sideBar" data-scroll-to="summary">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                        </div>
                    </div>
                    <div id="sideBarDOWNLOADS" class="sideBar" data-scroll-to="downloads">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" defer>
                    const sidebarConf = {
                        targets: new Map(),
                        linkAttribute: 'data-scroll-to',
                        targetAttribute: 'data-nav-link',
                        headerSelector: '#headerV2',
                        sidebarSelector: '#KoneSideBarDivV2',
                        activeClass: 'selected',

                        // Calculate header offset
                        get headerOffset() {
                            const client = document.querySelector(this.headerSelector).getBoundingClientRect();
                            return client.top + client.height;
                        },

                        // Get target sections throughtout the page
                        get targetTiles() {
                            return document.querySelectorAll(`[${this.targetAttribute}]`)
                        },

                        // Get all nav bar tiles
                        get navTiles() {
                            return document.querySelectorAll(`[${this.linkAttribute}]`)
                        },

                        // Get Selected nav tile
                        get currentNavTile() {
                            return document.querySelector(`${this.sidebarSelector} .${this.activeClass}`)
                        }
                    };

                    // Store references - can be configured externally. Run .init to bind new locations.
                    // This module could be made independed from the sidebar by moving the queries
                    // to the sidebar as data attribute (data-target).
                    sidebarConf.targets.set('building', '[id^="210055571"]');
                    sidebarConf.targets.set('elevator', '[id^="276109581"]');
                    sidebarConf.targets.set('design', '[id^="210030581"]');
                    sidebarConf.targets.set('other', '[id^="277945581"]');
                    sidebarConf.targets.set('summary', '[id^="280759171"]');
                    sidebarConf.targets.set('downloads', '[id^="881697589"]');
                </script>
            </if>
        </doc>

        <!-- Create an alternative sidebarV2 and configuration if we're not KONE ENA Elevator -->
        <doc>
            <if condition="'V2_OLD_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <nav id="KoneSideBarDivV2" class="KoneSideBarDiv">
                    <div id="sideBarBUILDING" class="sideBar" data-scroll-to="building">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                        </div>
                    </div>
                    <div id="sideBarESCALATOR" class="sideBar" data-scroll-to="escalator">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ESCALATOR_HEADER_escalator</doc>
                        </div>
                    </div>
                    <div id="sideBarDESIGN" class="sideBar" data-scroll-to="design">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                        </div>
                    </div>
                    <div id="sideBarSAFETY" class="sideBar" data-scroll-to="safety">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_safety</doc>
                        </div>
                    </div>
                    <div id="sideBarSUMMARY" class="sideBar" data-scroll-to="summary">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                        </div>
                    </div>
                    <div id="sideBarDOWNLOADS" class="sideBar" data-scroll-to="downloads">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                        </div>
                    </div>
                </nav>

                <script type="text/javascript" defer>
                    const sidebarConf = {
                        targets: new Map(),
                        linkAttribute: 'data-scroll-to',
                        targetAttribute: 'data-nav-link',
                        headerSelector: '#headerV2',
                        sidebarSelector: '#KoneSideBarDivV2',

                        activeClass: 'selected',

                        // Calculate header offset
                        get headerOffset() {
                            const client = document.querySelector(this.headerSelector).getBoundingClientRect();
                            return client.top + client.height;
                        },

                        // Get target sections throughtout the page
                        get targetTiles() {
                            return document.querySelectorAll(`[${this.targetAttribute}]`)
                        },

                        // Get all nav bar tiles
                        get navTiles() {
                            return document.querySelectorAll(`[${this.linkAttribute}]`)
                        },

                        // Get Selected nav tile
                        get currentNavTile() {
                            return document.querySelector(`${this.sidebarSelector} .${this.activeClass}`)
                        }
                    };

                    // Store references - can be configured externally. Run .init to bind new locations.
                    // This module could be made independed from the sidebar by moving the queries
                    // to the sidebar as data attribute (data-target).
                    sidebarConf.targets.set('building', '[id^="248754360"]');
                    sidebarConf.targets.set('escalator', '[id^="262459390"]');
                    sidebarConf.targets.set('design', '[id^="230317430"]');
                    sidebarConf.targets.set('safety', '[id^="235739440"]');
                    sidebarConf.targets.set('summary', '[id^="248220480"]');
                    sidebarConf.targets.set('downloads', '[id^="294325360"]');
                </script>
            </if>
        </doc>

        <doc>
            <if condition="'V2_OLD_ENA_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
                <nav id="KoneSideBarDivV2" class="KoneSideBarDiv">
                    <div id="sideBarDOWNLOADS" class="sideBar" data-scroll-to="downloads">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                        </div>
                    </div>
                    <div id="sideBarBUILDING" class="sideBar" data-scroll-to="building">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                        </div>
                    </div>
                    <div id="sideBarESCALATOR" class="sideBar" data-scroll-to="escalator">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ESCALATOR_HEADER_escalator</doc>
                        </div>
                    </div>
                    <div id="sideBarDESIGN" class="sideBar" data-scroll-to="design">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                        </div>
                    </div>
                    <div id="sideBarSAFETY" class="sideBar" data-scroll-to="safety">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_safety</doc>
                        </div>
                    </div>
                    <div id="sideBarSUMMARY" class="sideBar" data-scroll-to="summary">
                        <div class="icon"></div>
                        <div class="text">
                            <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                        </div>
                    </div>
                </nav>

                <script type="text/javascript" defer>
                    const sidebarConf = {
                        targets: new Map(),
                        linkAttribute: 'data-scroll-to',
                        targetAttribute: 'data-nav-link',
                        headerSelector: '#headerV2',
                        sidebarSelector: '#KoneSideBarDivV2',

                        activeClass: 'selected',

                        // Calculate header offset
                        get headerOffset() {
                            const client = document.querySelector(this.headerSelector).getBoundingClientRect();
                            return client.top + client.height;
                        },

                        // Get target sections throughtout the page
                        get targetTiles() {
                            return document.querySelectorAll(`[${this.targetAttribute}]`)
                        },

                        // Get all nav bar tiles
                        get navTiles() {
                            return document.querySelectorAll(`[${this.linkAttribute}]`)
                        },

                        // Get Selected nav tile
                        get currentNavTile() {
                            return document.querySelector(`${this.sidebarSelector} .${this.activeClass}`)
                        }
                    };

                    // Store references - can be configured externally. Run .init to bind new locations.
                    // This module could be made independed from the sidebar by moving the queries
                    // to the sidebar as data attribute (data-target).
                    sidebarConf.targets.set('downloads', '[id^="294325360"]');
                    sidebarConf.targets.set('building', '[id^="248754360"]');
                    sidebarConf.targets.set('escalator', '[id^="262459390"]');
                    sidebarConf.targets.set('design', '[id^="230317430"]');
                    sidebarConf.targets.set('safety', '[id^="235739440"]');
                    sidebarConf.targets.set('summary', '[id^="248220480"]');
                </script>
            </if>
        </doc>

        <script type="text/javascript" defer>
            // TODO: Should be refactored into a class
            var sidebarV2 = (function () {
                if (typeof sidebarConf === 'undefined') {
                    console.error("Missing sidebarV2 configuration.");
                    return;
                }

                /**
                 * Add or remove events from targets.
                 * @param add Add or remove events
                 */
                function events(add = true) {
                    if (add) {
                        //console.log('Attempting to remove events before adding event listeners...');
                        events(false);
                    }

                    // Add/remove event listeners
                    sidebarConf.navTiles.forEach(element => {
                        // TODO: this could be evolved into a 'ScrollManager' that handles changes.
                        if (add) {
                            element.addEventListener('click', clickHandler);
                        } else {
                            element.removeEventListener('click', clickHandler);
                        }
                    });

                    // Add remove scroll event
                    if (add) {
                        window.addEventListener('scroll', scrollHandler, { passive: true });
                    } else {
                        window.removeEventListener('scroll', scrollHandler);
                    }

                    // Add matching attribute to scrolled to target
                    sidebarConf.targets.forEach((valueQuery, key) => {
                        const target = document.querySelector(valueQuery);

                        if (target !== null) {
                            if (add) {
                                target.setAttribute(sidebarConf.targetAttribute, key);
                            } else {
                                target.removeAttribute(sidebarConf.targetAttribute);
                            }
                        }
                    });

                    // Hightlight top element
                    highlight(sidebarConf.navTiles[0]);
                }

                /**
                 * Scroll to matching page section.
                 * @param event
                 */
                function clickHandler(event) {

                    // Get matching event
                    const scrollToSelector = event.currentTarget.getAttribute(sidebarConf.linkAttribute);
                    if (sidebarConf.targets.has(scrollToSelector)) {

                        // Scroll to destination area
                        scroll(sidebarConf.targets.get(scrollToSelector));

                        // Scrolling to the next area triggers the scroll event which highlights the correct area
                        // highlight(event.currentTarget);
                    }
                }

                /**
                 * Handle nav hightlighting. Highlights whichever section is closer to the nav (up or down).
                 * @param event
                 */
                function scrollHandler(event) {
                    // TODO: improve. Triggers too often. Needs to be reduce for performance improvement

                    // Convert NodeList to Array and reduce elements to find closest element to header
                    const closest = [...sidebarConf.targetTiles].reduce((lowest, next) => {

                        // Calculate absolute distance from header (remove header offset to adjust Y location)
                        const lowestDist = Math.abs(lowest.getBoundingClientRect().top - sidebarConf.headerOffset);
                        const nextDist = Math.abs(next.getBoundingClientRect().top - sidebarConf.headerOffset);

                        // Remove header offset so we can calculate which one is lower:
                        //const prevOffset = Math.abs(lowestDist - sidebarConf.headerOffset);
                        //const nextOffset = Math.abs(nextDist - sidebarConf.headerOffset);
                        
                        // Disabled (12/1/2021); in the instance that either calculation returns a negative
                        // number, this can fool the calculation into thinking that one tile is lower than
                        // the other, even though it isn't - it's just because Math.abs converts negatives
                        // into positives, resulting in flukes.

                        return (lowestDist < nextDist) ? lowest : next;
                    });

                    // Get matching nav tile
                    const navTile = document.querySelector(`[${sidebarConf.linkAttribute}="${closest.getAttribute(sidebarConf.targetAttribute)}"]`);
                    highlight(navTile);
                }

                /**
                 * Scroll to page section while taking headers into consideration.
                 * @param {*} targetQuery main argument. See mapped events
                 * @param {*} targetElement (optional) Use one or the other
                 */
                function scroll(targetQuery, targetElement) {
                    // Get target element
                    const element = targetElement ? targetElement : document.querySelector(targetQuery);

                    // Calculate scroll distance and correct distance from header
                    const y = element.getBoundingClientRect().top + window.pageYOffset - sidebarConf.headerOffset;

                    // Scroll instantly to correct location:
                    //window.scrollTo({ top: y, behavior: 'smooth' });

                    // Scroll smoothly to the correct location:
                    $('html, body').animate({ scrollTop: y }, 500);
                }

                /**
                 * Highlight all but selected nav tile.
                 * @param target nav tile element to be highlighted
                 */
                function highlight(target) {
                    // Remove all highlighting
                    sidebarConf.navTiles.forEach(tile => tile.classList.remove(sidebarConf.activeClass));
                    // Add to currect target
                    target.classList.add(sidebarConf.activeClass)
                }

                return {
                    conf: sidebarConf,
                    attach: add => events(add),
                    scroll: scroll,
                }
            })();

            // Fill for original function. See original sidebar header
            function jumpToGroup($target) {
                sidebarV2.scroll(null, $target[0]);
            }

            // Fill for original function. See original sidebar header
            function setNavLinks() {
                // Trigger sidebar recalculation if this function is run. It's attached to the accordion collapse
                window.dispatchEvent(new Event('scroll'));
                return;
            }

            // Hide certain sidebar items that haven't got an accordion
            // to link to on the page.
            function hideSidebarItems() {
                var sidebar = document.getElementById("KoneSideBarDivV2");

                sidebarConf.targets.forEach(function(key, value) {
                    if (document.querySelector(key) === null) {
                        let item = sidebar.querySelector('div[data-scroll-to="' + value + '"]');
                        if (item !== null) {
                            item.classList.add("item-hide");
                            //$(item).hide();
                        }
                    }
                });
            }

            $(() => {
                try {
                    document.getElementById('headerV2').after(document.getElementById('KoneSideBarDivV2')); // Move sidebar below the header
                    sidebarV2.attach(); // Initialse the nav links

                    hideSidebarItems();
                } catch (error) {
                    console.error(error.message);
                }
            });
        </script>
    </if>
</doc>

<doc>
    <if condition="'V2_OLD_NAV,V2_OLD_ENA_NAV,V2_ENA_ESC_NAV,V2_ELEV_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript" defer>
            // Reposition the sidebar if we're KONE
            function repositionSidebarKONE() {
                let parentNavbar = document.createElement("div");
                let parentContent = document.createElement("div");
                let parentSidebar = document.createElement("div");

                parentNavbar.id = "kone-navbar-parent";
                parentContent.id = "kone-content-parent";
                parentSidebar.id = "kone-sidebar-parent";

                let navbar = document.getElementById("KoneSideBarDivV2");
                if (navbar !== null) {
                    navbar.classList.add("kone-navbar");
                    parentNavbar.appendChild(navbar);
                } else {
                    throw new Error("repositionSidebarKONE: Unable to find the #KoneSideBarDivV2 element.");
                }

                let content = document.getElementById("main");
                if (content !== null) {
                    parentContent.appendChild(content);
                } else {
                    throw new Error("repositionSidebarKONE: Unable to find the #main element.");
                }

                let container = document.getElementById("container");
                if (container !== null) {
                    container.appendChild(parentNavbar);
                    container.appendChild(parentContent);
                    container.appendChild(parentSidebar);
                } else {
                    throw new Error("repositionSidebarKONE: Unable to find the #container element.");
                }
            }

            // ...
            function repositionStaticElements() {
                try {
                    let navbarParent = document.getElementById("kone-navbar-parent");
                    let contentParent = document.getElementById("kone-content-parent");
                    let sidebarParent = document.getElementById("kone-sidebar-parent");

                    let containerParent = document.getElementById("container");

                    let staticParent = document.createElement("div");
                    staticParent.id = "kone-static-parent";
                    containerParent.appendChild(staticParent);

                    staticParent.appendChild(navbarParent);
                    staticParent.appendChild(contentParent);
                    staticParent.appendChild(sidebarParent);
                } catch (error) {
                    console.error(error.message);
                }
            }

            $(() => {
                try {
                    let productID = "<doc><out>productId</out></doc>";
                    if (productID !== "") {
                        switch (productID) {
                            case "261612571": // KONE Escalator Planner
                                repositionSidebarKONE();
                                repositionStaticElements();
                                break;

                            case "909338214": // KONE ENA Elevator Planner
                                repositionSidebarKONE();
                                repositionStaticElements();
                                break;

                            case "236324221": // KONE EU/SOC Elevator Planner
                                repositionSidebarKONE();
                                repositionStaticElements();
                                break;
                        }
                    }
                } catch (error) {
                    console.error(error.message);
                }
            });
        </script>
    </if>
</doc>

<script type="text/javascript" defer>
    function setDefaultLanguage(defaultToggle = false) {
        // Since we don't have access to the .escalator class until later,
        // we need to check to see whether each type of ANON_USE_GRP input
        // is being asked on the page one-at-a-time.
        let localeInput = document.getElementById("ESC_ANON_USE_GRP");
        if (localeInput === null) {
            localeInput = document.getElementById("ANON_USE_GRP");
            if (localeInput === null) {
                localeInput = document.getElementById("STORE_ANON_USE_GRP");
                if (localeInput === null) {
                    throw new Error("setDefaultLanguage: Unable to find the #ANON_USE_GRP or the #STORE_ANON_USE_GRP elements.");
                }
            }
        }

        let currentLocale = "";
        for (let i = 0; i < localeInput.options.length; i++) {
            if (localeInput.options[i].selected == true) {
                currentLocale = localeInput.options[i].value;
                break;
            }
        }

        let localeButton = document.querySelector("#headerV2 #language #current-locale");
        if (localeButton === null) {
            throw new Error("setDefaultLanguage: Unable to find the #current-locale element.");
        }

        let contactButton = document.querySelector("#headerV2 #contact");
        if (contactButton === null) {
            throw new Error("setDefaultLanguage: Unable to find the #contact element.");
        }

        // TODO: Change this to use an array of country codes, passed in as a
        // function parameter, so that we don't have to break it up like this.
        if (defaultToggle == false && currentLocale !== "") {
            switch (currentLocale) {
                case "CA":
                case "CN":
                case "CZ":
                case "DE":
                case "DK":
                case "ES":
                case "EE":
                case "FI":
                case "FR":
                case "IT":
                case "MX":
                case "NL":    // Netherlands R19.2
                case "NLXXX": // Netherlands R20.1
                case "NO":
                case "PL":
                case "RU":
                case "SE":
                case "TR":
                case "US":
                case "KDI":
                    localeButton.style.display = "block";
                    //contactButton.style.gridArea = "contact";
                    break;

                case "ALL":
                    localeButton.style.display = "block";
                    //contactButton.style.gridArea = "contact";
                    break;

                default:
                    localeButton.style.display = "none";
                    //contactButton.style.gridArea = "language";
                    contactButton.style.paddingRight = "40px";
                    contactButton.style.margin = "0";
                    break;
            }
        } else if (defaultToggle == true  && currentLocale !== "") {
            switch (currentLocale) {
                case "AU":
                case "NL":    // Netherlands R19.2
                case "NLXXX": // Netherlands R20.1
                case "NZ":
                case "SG":
                    localeButton.style.display = "none";
                    //contactButton.style.gridArea = "language";
                    contactButton.style.paddingRight = "40px";
                    contactButton.style.margin = "0";
                    break;

                case "ALL":
                    localeButton.style.display = "block";
                    //contactButton.style.gridArea = "contact";
                    break;

                default:
                    localeButton.style.display = "block";
                    //contactButton.style.gridArea = "contact";
                    break;
            }
        }
    }

    $(() => {
        try {
            let productID = "<doc><out>productId</out></doc>";
            if (productID !== "") {
                switch (productID) {
                    case "261612571": // KONE Escalator Planner
                        setDefaultLanguage(false);
                        break;

                    case "909338214": // KONE ENA Elevator Planner
                        break;

                    case "236324221": // KONE EU/SOC Elevator Planner
                        setDefaultLanguage(true);
                        break;
                }
            }
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
