<!-- ipaddress.html -->

<textarea id="text" style="width:100%;height:120px;"></textarea>

<script type="application/javascript">
    function getIP(json) {
        document.getElementById("text").value = JSON.stringify(json, null, 2);

        for (key in json) {
            document.write("<br>" + key + " : ", json[key]);
        }
    }
</script>

<script type="application/javascript" src="http://ipinfo.io/?format=jsonp&callback=getIP"></script>
