<!-- /com/configureone/api/plugin/kone/bookmarkurl/modify-url.html -->

<doc>
    <if condition="requestURI.indexOf('/spr/Configuration/interface/edit') > -1">
        <script type="text/javascript" defer>
            // Modify url after load so users can bookmark the original url
            history.pushState( { id: 'Rewrite URL for bookmark' }, document.title , location.origin);
        </script>
    </if>
</doc>
