<!-- /concept/custom/jpocs/kone/escalator_planner/show_all_details_us.html -->

<style>
    /* printer icon ref: \e906 */
    .print-text {
        display: inline-block;
        position: absolute;
        top: 51px !important;
        right: 210px;
        text-decoration: none;
        z-index: 2;
        font-size: 18px !important;
        color: #0071b9 !important;
        font-weight: bold;
        background-position: 0; /* Overrides the .print class setting */
    }

    .print-button-icon {
        top: 6px;
    }

    .print-button-icon::after {
        content: "\130";
        color: #0071b9;
        font-family: KONE-Icon-Font !important;
        font-size: 24px !important;
        margin-left: 14px;
    }
</style>

<a id="showdetails" class="showdetails">
    <doc>bundle.KONE_ELEVATOR_BUTTON_show_all_details</doc>
</a>

<!-- The Modal -->
<div id="view-all-details-Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <table id="view-all-details-table" class="summaryTable2">
            <tbody class="show-all escalator building global">
                <tr>
                    <th colspan="3">
                        <div class="summary-table-header">
                            <span name="hide-on-print" class="goBack">
                                <doc>bundle.KONE_ELEVATOR_LINK_go_back_to_configuration</doc>
                            </span>
                            <span name="summary-title" class="summary-title">
                                <doc>bundle.KONE_ESCALATOR_HEADER_escalator</doc>
                            </span>
                            <span name="hide-on-print" class="print-text" onclick="printPageArea('view-all-details-Modal')">
                                <doc>bundle.KONE_ESCALATOR_BUTTON_print</doc><span class="print-button-icon"></span>
                            </span>
                            <span name="hide-on-print" class="close">
                                <!--<doc>bundle.KONE_ELEVATOR_LINK_close_window</doc>-->
                                <span class="closeX">
                                    &#x186;
                                    <!-- <img src="/HTML/products/236324221/images/close.png" /> -->
                                </span>
                            </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_GD_TOP_SELECT_label" class="summaryLabel">
                            <doc>bundle.KONE_ESCALATOR_HEADER_product_name</doc>
                        </div>
                        <div class="summaryValue">
                            <div class="summaryValuefont">
                                <doc>
                                    <out>configuration.getInputByName('ESC_GD_TOP_SELECT').getValue().getLabel()</out>
                                </doc>
                            </div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="CODES_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="CODES_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="INC_OR_TR_ANGLE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="INC_OR_TR_ANGLE_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" class="nonEdit" style="text-align: center;">
                        <span id="show-all-image"></span>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_ESC_VERTICAL_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_ESC_VERTICAL_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_RADII_SELECTION_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_RADII_SELECTION_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_HORIZONTAL_STEPS_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_HORIZONTAL_STEPS_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_ESC_STEP_WIDTH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_ESC_STEP_WIDTH_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_ESC_BA_TYPE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_BA_TYPE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_ESC_BA_HEIGHT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_ESC_BA_HEIGHT_data"></div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_OPERATING_ENV_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_OPERATING_ENV_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_ESC_MOTOR_TYPE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_MOTOR_TYPE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_ESC_SEISMIC_CODE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_SEISMIC_CODE_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_ESC_ARRANGEMENT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_ARRANGEMENT_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_OPERATIONAL_MODE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_OPERATIONAL_MODE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_ESC_POWER_SUPPLY_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_POWER_SUPPLY_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="MAT_ESC_SIDE_CLADDING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_ESC_SIDE_CLADDING_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_ESC_SOFFIT_CLADDING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ESC_SOFFIT_CLADDING_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_STEP_CHAIN_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_STEP_CHAIN_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="COL_ESC_ALU_STEP_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="COL_ESC_ALU_STEP_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_STEP_COMBS_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_STEP_COMBS_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_SKIRTS_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_SKIRTS_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_BRUSH_GUARDS_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_BRUSH_GUARDS_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_FLOOR_COVER_PLATE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_FLOOR_COVER_PLATE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_BALUSTRADE_FRONT_PLATES_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_BALUSTRADE_FRONT_PLATES_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_DIAGNOSTIC_DISPLAY_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_DIAGNOSTIC_DISPLAY_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_CONTROL_CABINET_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_CONTROL_CABINET_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_LIGHTING_CONT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_LIGHTING_CONT_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_LIGHTING_COMB_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_LIGHTING_COMB_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_LIGHTING_SKIRTING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_LIGHTING_SKIRTING_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_LIGHTING_SOFFIT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_LIGHTING_SOFFIT_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="ESC_LIGHTING_COVE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_LIGHTING_COVE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="ESC_TRAFIC_LIGHTS_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="ESC_TRAFIC_LIGHTS_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="disclaimer">
            <p class="disclaimer-text">
                <doc>bundle.KONE_ELEVATOR_TEXT_kone_shall_not_accept_responsibility</doc>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    // Get the modal
    var modal = document.getElementById('view-all-details-Modal');

    // Get the button that opens the modal
    var btn = document.getElementById("showdetails");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var goBack = document.getElementsByClassName("goBack")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";

        //show car deign image
        //show-all-image
        //id^=IGImage_SPRING_
        var imageLocation = $('#show-all-image');
        var springImage = $('#ESC_GD_TOP_SELECT_image').first();
        console.info("Spring Image SRC=" + springImage.attr('src'));
        imageLocation.html(springImage.clone());
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks on <span> (Go Back), close the modal
    goBack.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function printPageArea(areaID) {
        var width = parseFloat($('#' + areaID).width());
        var height = parseFloat($('#' + areaID).height());
        var printContent = document.getElementById(areaID);
        $('span[name=hide-on-print]').hide();
        var WinPrint = window.open('', '', 'width=' + width + ',height=' + height);
        WinPrint.document.write('<html><head>');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/htmlcss.css?ver=11.83.4">');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/koneglobal.css?ver=11.83.4">');
        WinPrint.document.write('<style type="text/css" media="print">@page { size: A4; orientation: landscape; margin: 12.5mm; }</style>');
        WinPrint.document.write('</head><body>');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        $('span[name=hide-on-print]').show();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }

    function print() {
        //hide the nonPrintable div  
    }

    function onAfterPrint() {
        // Visible the nonPrintable div
    }
</script>
