/* ------------------------------------------------------------------------- */
/* Start - Header position settings for anon/normal users */

/* Remove UI components */
body.isConfig table#main form[name="NavForm"], /* Hide admin nav in configurations */
body.isConfig.isAnon #header,
body.isConfig.isAnon #nav-tabs,
body.isConfig.isAnon #navCreateButton,
body.isConfig.isAnon .bottom-buttons,
body.isConfig.isAnon a.translationPopupTrigger {
  display: none;
}

/* Anon user - desktop offset */
.custom.autodesk360 body.isConfig.isAnon #container {
  top: 0px;
}

/* Normal user - desktop offset */
.custom.autodesk360 body.isConfig:not(.isAnon) #container {
  top: 123px;
}

/* Dont' let custom header overlap with original navigation*/
body.isConfig:not(.isAnon) #headerV2 {
  top: 123px;
}

/* Generic - Icon spacing - Match before and after font size - (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Normal user - desktop offset */
  .custom.autodesk360 body.isConfig:not(.isAnon) #container {
    top: 70px;
  }

  /* Dont' let custom header overlap with original navigation*/
  body.isConfig:not(.isAnon) #headerV2 {
    top: 70px;
  }
}

/* End - Header position settings for anon/normal users */
/* ------------------------------------------------------------------------- */
/* Start - Generic Settings */

/* Generic font settings */
#headerV2 div.grid-item,
#headerV2 div.grid-item.title span,
#footerV2 div.grid-item,
#footerV2 div.grid-item.title span {
  font-size: 26px;
  font-family: "KONE-Information";
}

/* Generic - Title text shadow */
#headerV2 .title {
  text-shadow: 0px 1px 1px rgba(100, 100, 100, 0.30);
}

/* Generic - Icon font */
#headerV2 .icon-header .link,
#headerV2 .header-icon,
#headerV2 ::before,
#headerV2 ::after,
#footerV2 .icon-header .link,
#footerV2 .header-icon,
#footerV2 ::before,
#footerV2 ::after {
  font-family: "KONE-Icon-Font" !important;
  color: var(--kone-blue, blue);
}

/* Generic - Icon hover */
#headerV2 :hover::before,
#headerV2 :hover::after,
#footerV2 :hover::before,
#footerV2 :hover::after  {
  color: var(--kone-blue-hover, lightblue);
}

/* Generic - Link colour */
#headerV2 .link,
#footerV2 .link {
  color: var(--kone-blue, blue);
  font-size: 20px;
}

/* Generic - Link hover colour */
#headerV2 .link:hover,
#footerV2 .link:hover {
  color: var(--kone-blue-hover, lightblue);
  cursor: pointer;
}

/* Generic - Icon spacing - Match before and after font size */
#headerV2 ::before,
#headerV2 ::after,
#footerV2 ::before,
#footerV2 ::after {
  --default-icon-size: 22px; /* Default sizing */
  --enlarged-icon-size: 26px; /* The SVG for some icons is smaller. This size is for them */

  /* Font */
  font-size: var(--default-icon-size);

  /* Prevent icons from creating a border when text is bold */
  font-weight: normal;
}

/* Generic - Icon spacing - Match before and after font size - (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Generic - Icon spacing - Match before and after font size */
  #headerV2 ::before,
  #headerV2 ::after,
  #footerV2 ::before,
  #footerV2 ::after {
    --default-icon-size: 16px; /* Default sizing */
    --enlarged-icon-size: 20px; /* The SVG for some icons is smaller. This size is for them */
  }
}

/* Generic - ::before spacing.
 * Don't add left padding as it will add to the the grid left padding
 */
#headerV2 ::before,
#footerV2 ::before {
  margin-right: 14px;
}

/* Generic - ::after spacing.
 * Space icon from both sides
 */
#headerV2 ::after,
#footerV2 ::after {
  margin-left: 14px;
  /* Doesn't seem necessary and prevents another rule from being created for the languages chevron */
  /* margin-right: 14px; */
}

/* Line 1 - generic settings */
#headerV2 .line1 {
  background: transparent;
}

/* Line 2 - generic settings */
#headerV2 .line2 {
  background: var(--light-gray, gray);
}

/* End - Generic Settings */
/* ------------------------------------------------------------------------- */
/* Start - Grid layout and some cell specific CSS (::after, ::before) */

/* Default header layout for grid container */
#headerV2.grid-container {
  /* Adjust to viewport */
  margin: 0px;
  /* width: 100vw; */

  /* Layout */
  display: grid;
  grid-template-areas:
    "planner    logo    contact language"
    "return     empty   empty   glossary"
    "title      title   title   print   ";

  /* Change columns and row sizing */
  grid-template-columns: 1.25fr 1fr 1fr auto;
  grid-template-rows: 2fr 1.5fr 2fr;

  /* Make it act as a sticky header - header will be moved with JS to the correct parent */
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
}

/* Default header layout for grid container - (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Change columns and row sizing */
  #headerV2.grid-container {
    grid-template-columns: 1.5fr auto 1fr auto;
    grid-template-rows: 1.5fr 1fr 1fr;
  }
}

/* Default header layout for grid container - Attempt to generalize portrait mode in phones but avoid iPads */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {

  /* Default header layout for grid container */
  #headerV2.grid-container {

    /* Change layout */
    grid-template-areas:
      "planner    planner   logo"
      "return     glossary  glossary"
      "title      title     print"
      "contact    language  language";

    /* Change columns and row sizing */
    grid-template-columns: repeat(3, 1fr);

    /* Hide contact and language - needs visibility: hidden too */
    grid-template-rows: 1.25fr 1fr 1fr 0;
    /* grid-template-rows: 1.25fr auto 1fr 0; */
  }

  /* Hide contact and language */
  #headerV2 #language.grid-item,
  #headerV2 #contact.grid-item,
  /* Hide content but preserve background */
  #headerV2 #glossary.grid-item * {
    visibility: hidden;
  }
}

/* Default header layout for grid container - Attempt to generalize landscape mode in phones but avoid iPads */
@media only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape ) {

  /* Default header layout for grid container */
  #headerV2.grid-container {
    width: 99vw;
    /* Change layout */
    grid-template-areas:
      "planner planner  logo  contact contact language"
      "return  title    title title   print   glossary";

    /* Change columns and row sizing */
    grid-template-columns: 1fr 1fr auto 1fr 1fr;

    /* Hide contact and language - needs visibility: hidden too */
    grid-template-rows: 1.5fr 1fr ;
    height: 70px;
  }

  /* Fix background since there's new items in line 2*/
  #headerV2 #product.grid-item,
  #headerV2 #print.grid-item {
    background: var(--light-gray, gray);
    justify-content: flex-end;
  }
}


/* Enable alignment control while filling the entire grid cell.
 * Vertically align elements inside grids
 */
#headerV2 .grid-item,
#headerV2 .grid-item > span  {
  /* https://stackoverflow.com/questions/44207311/how-to-use-grid-row-align-and-grid-column-align */
  /* NEW */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* Line 1 - grid cell - Planner title */
#headerV2 #planner.grid-item {
  grid-area: planner;
  justify-content: flex-start;
}

/* Line 1 - grid cell - KONE logo */
#headerV2 #logo.grid-item {
  grid-area: logo;
  justify-content: center;
}

/* Line 1 - grid cell - KONE logo font */
#headerV2 #logo.icon-header .link {
  font-size: 80px !important;
  line-height: 60px;
  cursor: pointer;
}

/*  Line 1 - grid cell - KONE logo font - (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Fix font overrides in tablet mode */
  #headerV2 #logo.icon-header .link {
    font-size: 80px !important;
    line-height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  #headerV2 #logo.icon-header .link {
    font-size: 60px !important;
    line-height: 60px;
  }
}

/*  Line 1 - grid cell - Attempt to generalize portrait mode in phones but avoid iPads */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) ,
/* Line 1 - grid cellr - Attempt to generalize landscape mode in phones but avoid iPads */
only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape ) {
  /* Fix font overrides in tablet mode */
  #headerV2 #logo.icon-header .link {
    font-size: 60px !important;
    line-height: 40px;
  }

  /* Fix logo positioning */
  #headerV2 #logo.grid-item {
    justify-content: flex-end;
  }
}

/* Line 1 - grid cell - Contact link */
#headerV2 #contact.grid-item {
  grid-area: contact;
  justify-content: flex-end;
}

/* Line 1 - grid cell - Contact icon */
#headerV2 #contact.grid-item .link:after {
  content: "\53";
}

/* Line 1 - grid cell - Language selector */
#headerV2 #language.grid-item {
  grid-area: language;
  justify-content: flex-end;

  /* Show popup */
  overflow: visible;
  height: 100%;

  /* Separate #contact from #language*/
  padding-left: 40px;
}

/* Line 2 - grid cell - Return */
#headerV2 #return.grid-item {
  grid-area: return;
  justify-content: flex-start;
  text-transform: uppercase;
}

/* Line 2 - grid cell - Return icon */
#headerV2 #return.grid-item .link:before {
  content: "\52";
}

/* Line 2 - grid cell - Empty area. Must exist to fill background */
#headerV2 #empty.grid-item {
  grid-area: empty;
}

/* Line 2 - grid cell - Glossary */
#headerV2 #glossary.grid-item {
  grid-area: glossary;
  justify-content: center;
}

/* Line 2 - grid cell - Logo & Glossary - Attempt to generalize portrait mode in phones but avoid iPads */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait),
/* Variables- Attempt to generalize landscape mode in phones but avoid iPads */
only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape) {

  /* Force element to display on right since this cell is larger on mobiles */
  #headerV2 #glossary.grid-item,
  #headerV2 #logo.grid-item {
    justify-content: flex-end;
  }
}

/* Line 2 - grid cell - Glossary icon */
#headerV2 #glossary.grid-item .link:before {
  content: "\115";
  font-size: var(--enlarged-icon-size);
}

/* Line 3 - grid cell - Product title */
#headerV2 #product.grid-item {
  grid-area: title;
  justify-content: flex-start;
}

/* Line 3 - grid cell - Product title - Attempt to generalize landscape mode in phones but avoid iPads */
@media only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape) {

  /* Force element to display on right since this cell is larger on mobiles */
   #headerV2 #product.grid-item {
    justify-content: center;
  }
}

/* Line 3 - grid cell - Print button */
#headerV2 #print.grid-item {
  grid-area: print;
  justify-content: flex-end;
  padding-right: var(--column-padding);
}

/* Line 3 - grid cell content - Print button settings */
#headerV2 #print.grid-item .header-icon {
  font-size: var(--default-icon-size);
  border: 2px solid;
  border-radius: 4px;
  border-color: var(--kone-blue, blue);
  padding: 2px 10px;
}

/* Line 3 - grid cell content - Print button settings hover */
#headerV2 #print.grid-item .header-icon:hover {
  border-color: var(--kone-blue-hover);
}

/* End - Grid layout and some cell specific CSS (::after, ::before) */
/* ------------------------------------------------------------------------- */
/* Start - Header borders, and position/spacing from body */

/* Variables */
#headerV2 {
  /* Default padding - changed by media*/
  --column-padding: 40px;
}

/* Variables - Attempt to generalize portrait mode in phones but avoid iPads */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait),
/* Variables- Attempt to generalize landscape mode in phones but avoid iPads */
only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape ) {
  #headerV2 {
    /* Default padding - changed by media*/
    --column-padding: 10px;
  }

  /* Fix logo positioning */
  #headerV2 #logo.grid-item {
    padding-right: var(--column-padding);
  }
}

/* Grid styling - First column spacing */
#headerV2 #planner.line1,
#headerV2 #return.line2,
#headerV2 #product.line3 {
  padding-left: var(--column-padding);
}

/* Grid styling - Last column spacing */
#headerV2 #language.line1,
#headerV2 #glossary.line2,
#headerV2 #product.line3 {
  padding-right: var(--column-padding);
}

/* End - Header borders, and position/spacing from body */
/* ------------------------------------------------------------------------- */
/* Start - JS Conditional CSS */

/* Hide Product name and print button when passed */
body.V2_OLD_NAV #headerV2.grid-container {
/* Hide contact and language - needs visibility: hidden too */
  height: 100px;
  grid-template-rows: 1fr 1fr 0 0;
}

/* Hide Product name and print button when passed */
body.V2_OLD_NAV #headerV2 .grid-item.line3 > * {
  visibility: hidden;
}

/* Left Margin for Side Bar */
body.V2_OLD_NAV #configuration-interface {
  margin: 0px 0px 0px 120px !important;
}

/* Correct interface location on landscape phones when using new header with old nav */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body.V2_OLD_NAV #configuration-interface {
    margin: 0px 0px 0px 80px !important;
  }
}

/* End - JS Conditional CSS */
/* ------------------------------------------------------------------------- */
/* Start - Language selector overrides */

/* Overrides to match rest of the header */
#headerV2 #current-locale,
#footerV2 #current-locale {
  cursor: pointer;
  margin: 0;
  position: unset;
  right: 0;
  top: 0;
  transform: unset;
}

/* Correct locale selector height on phones in landscape  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  #headerV2 #locale-select .locale-selector {
    max-height: 50vh;
  }
}

/* Align image and locale */
#headerV2 #current-locale > *,
#footerV2 #current-locale > * {
  vertical-align: middle;
}

/* Overrides to match rest of the header */
#headerV2 #current-locale-label,
#footerV2 #current-locale-label {
  /* Force label to be shown */
  display: inline;

  /* Unset silly background and spacing */
  background: transparent;
  padding: 0px;

  /* Font */
  color: var(--kone-blue, blue);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: unset;
}

/* Overrides to match rest of the header */
#headerV2 #current-locale-label:hover {
  color: var(--kone-blue-hover, lightblue);
}

/* Selector chevron */
#headerV2 #current-locale-label::after {
  /* icon-icon-chevron-down */
  content: '\59';
  font-size: var(--enlarged-icon-size);
}

/* End - Language selector overrides */
/* ------------------------------------------------------------------------- */
/* Start - Locale search mod */

/* Styling for injected search */
#headerV2 #locale-search,
#footerV2 #locale-search {
  padding-right: 12px;
  text-align: left;

  /* Prevent background from showing through */
  background-color: white;

  /* Blend border */
  border-top: 1px solid var(--light-gray);
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}

/* Input stlying  */
#headerV2 #locale-search #search,
#footerV2 #locale-search #search {
  padding: 12px 12px;
  width: 85%;
  border: none;
  box-shadow: none;
}

/* Remove input styling on focus */
#headerV2 #locale-search #search:focus,
#footerV2 #locale-search #search:focus {
  box-shadow: none !important;
}

/* Clear input button */
#headerV2 #locale-search .closeX,
#footerV2 #locale-search .closeX {
  margin: 10px 0 0 -30px;
  cursor: pointer;
  float: right;
  font-size: 12px !important;
  color: var(--semi-light-gray);
}

/* Clear input button */
#headerV2 #locale-search .closeX:hover,
#footerV2 #locale-search .closeX:hover {
  color: var(--kone-blue);
}

/* Show shadow over the whole popup */
#headerV2  #locale-select,
#footerV2  #locale-select {
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 4px;
}

/* Remove original shadow and merge search div with popup contents */
#headerV2 #locale-select .popup-contents,
#footerV2 #locale-select .popup-contents {
  border-radius: 0 0 2px 2px;
  border-top: none !important;
  box-shadow: none !important;
}

/* Make each row smaller */
#headerV2 .locale-row,
#footerV2 .locale-row {
  padding: 12px 16px;
}

/* End - Locale search mod */
/* ------------------------------------------------------------------------- */
/* Start -Locale selector mod */

/* Corrects placement and lets the search expand to the left */
#headerV2 #locale-select {
  margin-top: 46px;
  top: 0px !important;
  left: auto !important;
  margin-right: 8px;
  right: 0px;
}

/* scrollbar width */
#headerV2 ::-webkit-scrollbar {
  width: 3px;
}

/* scrollbar track */
#headerV2 ::-webkit-scrollbar-track {
  background: white;
}

/* scrollbar handle */
#headerV2 ::-webkit-scrollbar-thumb {
  background: var(--semi-light-gray, #888);
}

/* End - Locale selector mod */
/* ------------------------------------------------------------------------- */
/* Start - Footer controls - belongs to headerV2 */

/* Don't display footer in normal mode, only on phones */
#footerV2 {
  display: none;
}

/* Shrink default footer height  on phones in landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .custom #footer {
    height: 48px;
  }

  .custom #footer * {
    font-size: 12px !important;
  }
}

/* Default header layout for grid container - Attempt to generalize portrait mode in phones but avoid iPads */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {

  /* Shrink default footer height */
  .custom #footer {
    height: 64px;
  }

  /* Shrink default footer font */
  .custom #footer * {
    font-size: 12px !important;
  }


  /* Custom footer location*/
  #footerV2 {

    /* Stick to below main content when scrolling */
    position: sticky;
    bottom: 62px;
    /* Correct position above configuration disclaimer */
    height: 32px;

    /* Display as 3 equal columns */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* Show above old sidebar */
    z-index: 100;
  }

  /* Custom footer looks */
  #footerV2 .grid-item {
    /* For some reason setting bg at parent level shows a weird input glitch */
    background: var(--light-gray, gray);

    /* Centralize content */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* Didn't want to create a new bundle just for capitals*/
    text-transform: uppercase;
  }

  /* Language selector */
  #footerV2 #language.grid-item {

    /* Show popup */
    overflow: visible;
    height: 100%;
  }

  #footerV2 #language .locale-selector  {
    height: 200px;
  }

  #footerV2 #language > div {
    top: auto !important;
    bottom: 40px !important;
    right: 10px;
    left: auto !important;
  }

  #footerV2 #current-locale-image {
    display: none;
  }
}

/* End - Footer controls - belongs to headerV2 */
/* ------------------------------------------------------------------------- */
