/* Product Selector Header */

#ProductSelectorHeader {
  text-align: center;
}

div[id^="accordion299238471"] > div.input-group > .group-body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 65px;
}

div[id^="accordion299238471"] > div.input-group > .group-body > table {
  width: 100%;
}

div[id^="accordion299238471"]
  > div.input-group
  > .group-body
  > table
  tr
  td:first-child
  table {
  width: 100%;
  text-align: center;
}

#koneLogo {
  display: inline-block;
  text-align: center;
  left: 40px; /*20*/
  top: 5px;
}

#koneLocale {
  vertical-align: middle;
  float: right;
  left: -50px;
  top: 0px;
}

#anonHeaderBar_LANGUAGE {
  display: inline-block;
  top: 4px;
}

#anonHeaderBar_LANGUAGE div.text {
  display: inline-block;
  font-family: KONE-Information;
  font-size: 16px;
  color: #3b4245;
  margin: 16px 0 16px 0;
  top: -15px;
}

#anonHeaderBar_LANGUAGE span.icon {
  display: inline-block;
}

/* End Product Selector Header */

/*  Product Selector Title */

.elev_sel_head {
  font-size: 80px !important;
  text-align: center;
  top: 180px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.elev_sel_cont {
  font-size: 22px !important;
  text-align: center;
  top: 180px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/*  End Product Selector Title */

/* Let's get started header */
.Play_Icon {
  width: 35px;
  height: 34px;
  letter-spacing: 0.2px;
  color: #0071b9;
  top: 10px;
}

.Play_Icon:after {
  content: "\214";
  font-family: KONE-Icon-Font;
  font-size: 34px;
  cursor: pointer;
}
/* End Let's get started header */

/* Product Selector - Down Arrow Button */
.downArrow {
  display: block;
  height: 54px;
  width: 66px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-radius: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  text-decoration: none;
  top: 180px;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

div.DownArrowBtn:after {
  content: "\51";
  color: #ffffff;
  width: 28px;
  height: 46px;
  font-family: KONE-Icon-Font;
  font-size: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  top: 7px;
  left: 14px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/* End Product Selector - Down Arrow Button */

/* Product Selector - Get Recommendation Button */

.blueButton {
  display: block;
  border: 2px solid #0070b8;
  text-align: center;
  text-decoration: none;
  color: #0071b9 !important;
  min-width: 220px;
  max-width: 400px;
  line-height: 40px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.blueButton:hover {
  color: #3d9edb !important;
  border: 2px solid #3d9edb;
}

/* EndProduct Selector - Get Recommendation Button */

/* Product Selector - Recommendation Products */

/* Fix chrome row gap */
.reco_table tr {
  background-color: #f2f3f4;
}

.reco_table,
.reco_one {
  width: 680px;
}

.reco_two {
  width: 1360px;
}

@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  .reco_table,
  .reco_one {
    width: 500px;
  }

  .reco_two {
    width: 1000px;
  }

  div[id^="accordion225639142"] > div.input-group > .group-body {
    padding-left: 0;
  }
}

#recommenedRow {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.recDiv {
  display: table-cell;
}

.recDivider {
  display: table-cell;
  width: 50px;
}

#recoFootNoteRow,
#recoFooterRow {
  display: table;
}

/* Dynamic warning message */
#inner-container {
  display: inline-block;
  padding: 20px 50px;
  max-width: 100%;
  margin: 20px 0 10px 0;
  padding: auto;
}

div.recoFootNote,
div.recoFooter {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  vertical-align: middle;
  height: 57px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: KONE-Information;
  display: table-cell;
  padding-left: 30px;
  padding-right: 30px;
}

.reco_table td.reco_header {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  vertical-align: middle;
  height: 57px;
  color: #ffffff;
  font-size: 16px;
  font-family: KONE-Information;
}

.reco_primary {
  background-color: #0071b9;
}

.reco_secondary {
  background-color: #d2d6dc;
  color: #3b4245 !important;
}

.reco_table td.reco_elevator {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  background-color: #ffffff;
  font-size: 28px;
  font-family: KONE-Information;
  border-bottom: solid 1px #e8eaed;
  height: 57px;
  vertical-align: middle;
}

.reco_table td.reco_label {
  background-color: #ffffff;
  font-size: 16px;
  font-family: KONE-Information;
  width: 50%;
  padding-left: 30px;
  border-bottom: solid 1px #e8eaed;
}

.reco_table td.attribute {
  background-color: #ffffff;
  font-size: 12px;
  font-family: KONE-Information;
  text-align: right;
  width: 50%;
  padding-right: 30px;
  border-bottom: solid 1px #e8eaed;
}

.reco_table td.attribute .contact-sales {
  font-size: 14px;
}

.reco_table td.gen_details_title {
  border-bottom: none;
}

/* Conditional highlight */
.custom .highlight {
  color: #856404;
  background: #fff3cd !important;
}

.gen_details {
  background-color: #ffffff;
  font-size: 12px;
  color: #3b4245;
  font-family: Arial;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  height: 5em;
  text-align: left !important;
  padding-left: 30px !important;
}

@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  .gen_details {
    height: 7em;
  }
}

/* Secondary cell background colours */
#secondaryRec .reco_table td.reco_label,
#secondaryRec .reco_table td.attribute,
#secondaryRec .reco_table td.reco_elevator,
#secondaryRec .reco_table td.gen_details {
  background-color: #f2f3f4;
}

.reco_table td.reco_prod_page {
  background-color: #f2f3f4;
  color: #0071b9;
  font-size: 16px;
  font-family: KONE-Information;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  vertical-align: middle;
  height: 96px;
}

#secondaryRec .reco_table td.reco_prod_page {
  background-color: #e8eaed !important;
}

/* EndProduct Selector - Recommendation Products */

/* 1 Choose Level of Details */

.lod1 {
  width: 15px;
  vertical-align: top;
}

.lod2 {
  width: 217px;
}

.lod3 {
  width: 50px;
}

/* End 1 Choose Level of Details */

/* 3_scroll_down_to_configure */

.viewsummary {
  color: #ffffff !important;
  display: inline-block;
  width: 183px;
  height: 48px;
  border-radius: 2px;
  background-color: #0071b9;
  text-align: center;
  text-decoration: none;
  font-family: KONE-Information !important;
  font-size: 16px !important;
  line-height: 45px;
  cursor: pointer;
  top: 24px;
  margin-bottom: 6px;
}

.viewsummary:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

.downloads {
  color: #ffffff !important;
  display: inline-block;
  width: 193px;
  height: 48px;
  border-radius: 2px;
  background-color: #0071b9;
  text-align: center;
  text-decoration: none;
  font-family: KONE-Information !important;
  font-size: 16px !important;
  line-height: 45px;
  cursor: pointer;
  top: 24px;
  left: 20px;
  margin-bottom: 6px;
}

.downloads:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* End 3_scroll_down_to_configure */

/* Set All Floors */

.setallfloorsbutton {
  display: block;
  border: 2px solid #0071b9;
  text-align: center;
  text-decoration: none;
  color: #0071b9 !important;
  width: auto;
  /*min-width: 70px;*/
  padding: 0px 10px;
  height: 37px;
  line-height: 37px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px !important;
  position: relative;
  top: -5px;
}

.setallfloorsbutton:hover {
  color: #3d9edb !important;
  border: 2px solid #3d9edb;
}

/*
 .setallfloorsbutton:after {
    content:"\53";
    font-family: KONE-Icon-Font;
    font-size: 22px;
      letter-spacing: 0.2px;
      text-align: center;
    position: relative;
    top: 8px;
    right: 0px;
    }
*/

/* End Set All Floors */

/* Carousel Test*/

#carousel {
  width: 690px;
  height: 200px;
  margin: 0 auto;
  cursor: pointer;
  /*border:1px solid #8cb3f6;*/
}

#slides {
  overflow: hidden;
  /* fix ie overflow issue */
  position: relative;
  width: 620px;
  height: 200px;
  /*border:1px solid #ccc;*/
}

/* remove the list styles, width : item width * total items */
#slides ul {
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 850px; /* determines how many images get displayed */
  /*border:1px solid #e87e28;*/
}

/* width of the item, in this case I put 250x250x gif */

.transform-active {
  background: #e8e8e8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#slides li {
  width: 210px;
  height: 220px;
  float: left;
}

#slides li img {
  padding: 0px;
}

#slides li img:hover {
  width: 200px;
  height: 200px;
  background: #e8e8e8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  /*
  -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; */
}

/* Styling for prev and next buttons */

.clear {
  clear: both;
}

.circle_pre {
  height: 34px;
  width: 45px;
  border: 2px solid #0071b9;
  border-radius: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #0071b9;
  text-decoration: none;
  font-size: 40px;
  float: left;
  top: 60px;
}

.circle_pos {
  height: 34px;
  width: 45px;
  border: 2px solid #0071b9;
  border-radius: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #0071b9;
  text-decoration: none;
  font-size: 40px;
  float: right;
  top: -137px;
}

div.circle_arrow_pre:after {
  content: "\52";
  color: #0071b9;
  width: 28px;
  height: 46px;
  font-family: KONE-Icon-Font;
  font-size: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  top: -2px;
  left: 4px;
}

div.circle_arrow_pos:after {
  content: "\53";
  color: #0071b9;
  width: 28px;
  height: 46px;
  font-family: KONE-Icon-Font;
  font-size: 38px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  top: -2px;
  left: 4px;
}

/* End carousel test */

/* Key Values Table */
.keyValuesTable {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-spacing: 0;
  margin-bottom: 10px;
}

.keyValuesTable td {
  border: 1px solid #d7d7d7;
  vertical-align: top;
  transition: border 0.15s ease-in;
  width: 50%;
  min-width: 55%;
  max-width: 65%;
}

.keyValuesTable th {
  text-align: left;
}

.keyValuesTable [name="DIM_HEADROOM_SH_label"] {
  /*   font-weight: 600; */
  min-width: 50%;
  max-width: 62%;
}

.keyValuesTable .keySummaryLabel {
  padding: 8px 0px 8px 10px;
  float: left;
  overflow: visible;
  font-size: 16px;
  width: auto;
  /*max-width: 50%;*/
}

.keyValuesTable .KeySummaryValue {
  padding: 8px 0px 8px 0px;
  float: right;
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
  font-family: KONE-Information;
  width: auto;
  max-width: 50%;
}

.keyValuesTable .KeySummaryValuefont {
  font-family: KONE-Information;
  font-size: 16px;
  font-weight: bold;
}

.konegrey {
  color: #e8e9eb;
}

.konewhite {
  color: #ffffff;
}

.koneblue {
  color: #0071b9;
}

.koneygrey-background {
  background-color: #fbfbfb;
}

.koneywhite-background {
  background-color: #ffffff;
}

.koneyblue-background {
  background-color: #0071b9;
}

.bt {
  border-top: 1px;
  border-top-style: solid;
  border-color: #e8e9eb;
}

.bl {
  border-left: 1px;
  border-left-style: solid;
  border-color: #e8e9eb;
}

.br {
  border-right: 1px;
  border-right-style: solid;
  border-color: #e8e9eb;
}

.bb {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #e8e9eb;
}

.bbox {
  border: 1px;
  border-style: solid;
  border-color: #e8e9eb;
}

.fontsize14 {
  font-size: 14px;
}

.fontsize16 {
  font-size: 16px;
}

.fontsize18 {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.pad {
  padding: 10px;
}

.tdpad {
  padding-top: 10px;
  padding-bottom: 10px;
}

.KONE16 {
  font-family: KONE-Information;
  font-size: 16px;
}

.KONE18 {
  font-family: KONE-Information;
  font-size: 18px;
}

.talign-r {
  text-align: right;
}

/* End Key Values Table */

/* Summary Table */

.verifySummarySection {
  padding-top: 1px;
  text-align: center;
  color: #fff;
  z-index: 96;
}

.summaryTable {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-spacing: 0;
  /*   background: #fff; */
  color: #3b4245;
  font-size: 16px;
}

.summaryTable.grid-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: unset;
  margin-bottom: 20px;
}

.summaryTable td,
.summaryTable > div {
  border: 1px solid #d7d7d7;
  background: #fff;
  vertical-align: top;
  width: 420px;
  height: 80px;
  transition: border 0.15s ease-in;
  cursor: pointer;
}

.summaryTable td:hover,
.summaryTable > div:hover {
  border-color: #0071b9;
}

.summaryTable td.nonEdit {
  cursor: default;
}

.summaryTable td.nonEdit:hover {
  border-color: #d7d7d7;
}

.summaryTable td.landing {
  background: #f6f5f5;
}

.summaryTable .summaryLabel {
  font-size: 15px !important;
  font-family: Arial !important;
  padding: 21px 0px 0px 16px;
  color: #0071b9;
  float: left;
  overflow: visible;
  width: 55%; /*230px*/
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

/* when tablet*/
@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  .summaryTable .summaryLabel {
    width: 50%;
  }
}
.summaryTable .summaryValue {
  padding: 21px 0px 0px 0px;
  float: right;
  text-align: right;
  margin-right: 25px;
}

.summaryTable .summaryValuefont {
  font-size: 15px !important;
  font-family: Arial !important;
  letter-spacing: 0.1px;
  color: #3b4245;
}

.summaryTable .summaryFlag {
  display: inline-block;
  width: 89px;
  height: 25px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  margin-left: auto;
  margin-top: 4px;
  font-size: 14px;
  line-height: 25px;
}

.summaryTable .summaryFlag.default {
  background: #0071b9;
}

.summaryTable .check {
  display: inline-block;
  position: relative;
  top: 0px;
  left: -12px;
  color: #58ab27;
  font-size: 12px;
  letter-spacing: 0.1px;
  font-family: Arial;
  height: 16px;
  width: 60px;
}

.summaryTable div.check img {
  position: relative;
  top: 4px;
  left: 5px;
  height: 16px;
  width: 16px;
}

/* when tablet*/
@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  .summaryTable {
    font-size: 16px;
  }
  .summaryTable .summaryLabel,
  .summaryTable .summaryValuefont {
    font-size: 14px !important;
  }
}

/* End Summary Table */

/* Show All Details Table */

.fullSummaryContent {
  font-family: KONE-Information;
  font-size: 14px;
  color: #3b4245;
  margin: 0;
}

.summaryHeader {
  text-align: center;
  color: #3b4245;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.summaryHeader hr {
  width: 10%;
  border-top: 3px solid #3b4245;
}

.summaryHeader .summaryConfigurationId {
  border: 1px solid #3b4245;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.summaryTable2 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-spacing: 0;
  background: #fff;
  color: #3b4245;
  font-size: 14px;
}

.summaryTable2 th {
  border: 1px solid #d7d7d7;
  padding: 20px;
  /*font-size: 14px;*/
  text-align: center;
}

.summaryTable2 td {
  border: 1px solid #d7d7d7;
  border-collapse: collapse;
  vertical-align: top;
  width: 33%;
}

.summaryTable2 td.landing {
  background: #f6f5f5;
}

.summaryTable2 .summaryLabel {
  padding: 15px 10px 15px 10px;
  color: #0070b8;
  float: left;
  max-width: 70%;
}

.summaryTable2 .summaryValue {
  padding: 15px;
  float: right;
  text-align: right;
}

.summaryTable2 .summaryValue {
  max-width: 60%;
}

.summaryTable2 td:hover {
  border-color: #0071b9;
}

.summaryTable2 td.nonEdit {
  cursor: default;
}

.summaryTable2 td.nonEdit:hover {
  border-color: #d7d7d7;
}

.summaryTable2 .smallSummaryCell {
  width: 45%;
}

.summaryTable2 .summaryCabImgHolder {
  text-align: center;
  vertical-align: middle;
}

.summaryTable2 .summaryCabImg {
  width: 80%;
}

.summaryTable2 .tableFooter {
  padding: 30px;
}

.summaryFooter {
  width: 100%;
  border: none;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

.summaryFooter img {
  height: 30px;
  vertical-align: middle;
  background: #fff;
}

.disclaimer {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Original */
.showdetails {
  color: #0071b9 !important;
  display: block;
  width: auto;
  height: 40px;
  border: 2px solid #0071b9;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-family: KONE-Information !important;
  font-size: 20px !important;
  line-height: 40px;
  left: unset;
  margin-left: 500px;
  float: left;
  padding: 0px 80px;
  cursor: pointer;
}

/* when tablet*/
@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  .showdetails {
    /*     left:300px; */
    margin-left: 280px;
  }
}

.showdetails:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(10, 10, 10, 0.85); /* Black w/ opacity */
  max-height: calc(100vh - 190px);
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* Go back button */
.goBack {
  display: inline-block;
  position: absolute;
  top: 63px;
  left: 45px;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  /*font-size: 16px !important;*/
  color: #0071b9;
  font-weight: bold;
}

/* The Close Button */
.close {
  display: inline-block;
  position: absolute;
  top: 55px !important;
  right: 30px;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  /*font-size: 16px !important;*/
  color: #0071b9 !important;
  font-weight: bold;
}

.closeX {
  font-family: "KONE-Icon-Font" !important;
  /*   top:5px; */
  /*   left:5px; */
  margin-left: 5px;
}

/* End Show All Details Table */

/* Summary Help Button */

.helpButton {
  border-radius: 2px;
  background-color: #3b4245;
  display: block;
  border: 2px solid;
  text-align: right;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff !important;
  width: 98px;
  height: 48px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: KONE-Information;
  float: right;
  bottom: 58px;
}

.helpButton:hover {
  color: #3d9edb;
  border: 2px solid #3d9edb;
}

.helpButton:after {
  content: "\115";
  font-family: KONE-Icon-Font;
  font-size: 22px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  top: 5px;
  right: 60px;
}

/* End Summary Help Button */

/* Download Section - Continue Button */

.continuebutton {
  display: block;
  width: 125px;
  height: 48px;
  border-radius: 2px;
  background-color: #0071b9;
  text-align: center;
  font-family: KONE-Information !important;
  font-size: 16px !important;
  color: #ffffff !important;
  line-height: 45px;
  float: right;
  top: 20px;
  right: 4px;
  cursor: pointer;
}

.continuebutton:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* End Download Section - Continue Button */

/* Send Files Button */
.SendFilesBtn {
  display: inline-block;
  /*width: 183px;*/
  padding: 0px 80px;
  height: 40px;
  border: 2px solid #0071b9;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-family: KONE-Information;
  font-size: 20px !important;
  color: #0071b9;
  line-height: 40px;
  cursor: pointer;
}

/* .SendFilesBtnInactive {
  background-color: #d2d6dc !important;
  cursor: default !important;
} */
.SendFilesBtnInactive,
.SendFilesBtnInactive:hover {
  border: 2px solid #939191 !important;
  border-radius: 4px;
  background-color: white !important;
  color: #939191 !important;
  cursor: default !important;
}

.SendFilesBtn:hover {
  color: #3d9edb;
  border-color: #3d9edb;
}

/* End Send Files Button */

/* Start Configure Button */

.custom .kone-button {
  display: inline-block;
  vertical-align: top;
  /* min-width: 229px; */
  height: 40px;
  color: #0071b9;
  background-color: white !important;
  border: 2px solid #0071b9;
  border-radius: 2px;
  text-decoration: none;
  font-family: KONE-Information;
  font-size: 20px !important;
  line-height: 40px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 80px;
}

.custom .kone-button:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* End Configure Button */

/* Start Reload Configuration Button */

.custom .kone-reload-button-div {
  display: inline;
  margin-left: 19px;
}

.custom .kone-reload-button {
  display: inline-block;
  vertical-align: top;
  /* min-width: 229px; */
  height: 46px;
  color: #0071b9;
  background-color: white !important;
  border: 2px solid #0071b9;
  border-radius: 2px;
  text-decoration: none;
  font-family: KONE-Information;
  font-size: 20px !important;
  line-height: 45px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  cursor: pointer;
  padding-left: 80px;
  padding-right: 80px;
}

.kone-reload-button:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* End Reload Configuration Button */

/* Re-open past configurations */

/* currently in
/concept/custom/jpocs/kone/elevatorproducts/reopen_configuration.html
*/

/* End Re-open past configurations */

/* Input help icon position */

.help_icon {
  position: absolute;
  right: -40px;
  top: -8px;
}

.help_icon:after {
  content: "\123";
  font-family: KONE-Icon-Font;
  text-align: center;
  color: #0071b9;
  width: 31px;
  height: 30px;
  font-size: 30px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

/* End Input help icon position */

/* Input text size 17px */
.inputgroup_text {
  font-size: 17px !important;
}
/* End Input text size 17px */

/* input group help file psoition*/

/* END Car Design Table */

.car-design .carLabel {
  font-size: 16px !important;
}
/* END Car Design Table */

/* START - ENA_EXPAND_ALL css */

/* Fix overlapping helpmark and input */
[id$="_EXPAND_ALL_TD_tag"] {
  left: 20px;
}

/* Hide indicator container */
[id$="_EXPAND_ALL_EXPAND"] label.control.control--checkbox {
  display: none;
}

/* Label borders and generic settings */
div[id$="_EXPAND_ALL_EXPAND"] label {
  padding: 6px 14px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #0071b9;
  width: 100%;
}

/* CSS when expand all is active */
div[id$="_EXPAND_ALL_EXPAND"].ena-expand-all label {
  color: white;
  background: #0071b9;
}

/* COLLAPSED - Push expanded indicator to end */
div[id$="_EXPAND_ALL_EXPAND"] label:not(.control)::after {
  content: "\f1b4";
  text-align: right;
  float: right;
}

/* EXPANDED - Push collapsed indicator to end */
div[id$="_EXPAND_ALL_EXPAND"].ena-expand-all label:not(.control)::after {
  content: "\f1b7";
  text-align: right;
  float: right;
}
/* END - ENA_EXPAND_ALL css */

#div_MARKETING_OPT_OUT_1 label.control {
  padding-right: 24px;
}

/* START - Override default group accordion size */
.custom div.processHeader > div.group-header {
  vertical-align: middle;
  height: 44px;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 0;
  margin-top: 0px;
}

.custom div.processHeader > div.group-header.collapsible::before {
  bottom: -5px;
}

.custom div.processHeader > div.group-header > span.indicator::after {
  top: 3px;
}

.custom div.processHeader > div.groupHeaderValues,
.custom div.processHeader > div.groupHeaderValues > span {
  padding-bottom: 5px !important;
}
/* END - Override default accordion size for Elevator and ENA */

/* START - Re-skin C1 jQuery popDialogError to be KONE Orange */
.custom .dialog-error {
  background: rgb(246, 168, 0);
  border-color: rgb(246, 168, 0);
}

.custom .dialog-error .ui-dialog-titlebar {
  background: rgb(246, 168, 0);
  border-color: rgb(246, 168, 0);
}
/* END - Re-skin C1 jQuery popDialogError to be KONE Orange */

/* Fix locale sector missing scrollbar */
div.popup-contents.locale-selector {
  overflow-y: auto;
  max-height: 73vh;
}
