.KONE_Information {
  font-family: 'KONE-Information';
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'KONE-Icon-Font' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* End: Fonts */
.custom .scrollable {
  overflow-x: hidden;
  /*make sure we dont see a horizontal scroll bar*/
}

/*top bar colour*/
.autodesk360 #header-welcome {
  background: #ffffff
}

/*top bar colour*/
.autodesk360 #header-links table#links-table {
  background: #ffffff
}

/*top bar size*/
.autodesk360 #header-welcome td#header-user-icon img {
  height: 60px;
}

/*background*/
.autodesk360 #background {
  background: white;
}

.custom .concept-ui-form {
  background: #fbfbfb;
}

/*hide top buttons*/
#configuration-interface-body .top-buttons {
  display: none;
}

#configuration-interface-body.radius-2-bottom.section-body {
  padding-top: 0px;
}

/*hide configuration name and serial*/
#ui-info,
#ui-step-help {
  display: none !important;
}

/*move logo to center*/
#welcome-table {
  width: 100%;
  text-align: center;
}

/*hide required field message*/
#configuration-interface .required-msg {
  display: none;
}

#interface {
  padding-top: 0px;
}

.group-header {
  font-weight: normal;
}

.custom .group-body table {
  margin-left: inherit;
  margin-right: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}

/* Select menu with image change as a grid, selection style */
.image-grid img.selected {
  border-color: #0071b9;
  border-style: solid;
  border-radius: 1px;
  border-width: 1px;
}

.image-grid .label {
  font-size: 17px;
  color: #3b4245;
}

/* full screen width */
.autodesk360 .side-nav-td {
  width: 0px;
  /* Needs to be zero and display none */
  display: none;
}

.custom #interface {
  margin: 0px;
  padding-top: 0px; /* For sidebar */
  background-color: #fbfbfb; /* Colour for bottom of side bar */
}

/* Left Margin for Side Bar */
.custom #configuration-interface {
  margin: 0px 0px 0px 120px;
}

/* move translation popup icon*/
.custom .translationPopupTrigger {
  bottom: 40px;
}

/* remove Margin for bottom of the form */
.custom .concept-ui-form {
  margin-bottom: 0px;
}

/* Select elevator table*/
.custom .dataTable td,
.dataTable td a {
  font-family: "KONE-Information";
}

.input-group td {
  vertical-align: top;
}

/* Nav menu */
.custom #nav-tabs,
.custom #navCreateButton {
  z-index: 1097;
}

/* when tablet */
@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  /* Left Margin for Side Bar */
  .custom #configuration-interface {
    margin: 0px 0px 0px 90px;
  }

  .custom #footer {
    position: fixed;
    line-height: 10px;
  }
}

/* make sure footer is on top of everything */
.custom #footer {
  z-index: 1000;
}

/* remove login registration*/
#login-right {
  display: none;
}
