/* Default text font supplied by KONE. */
@font-face {
  font-family: "KONE-Information";
  src: url("/HTML/css/fonts/KONE_Information.eot");
  src: url("/HTML/css/fonts/KONE_Information.eot?#iefix") format("embedded-opentype"),
       url('/HTML/css/fonts/KONE_Information.woff2') format('woff2'),
       url("/HTML/css/fonts/KONE_Information.woff") format("woff"),
       url("/HTML/css/fonts/KONE_Information.ttf") format("truetype"),
       url("/HTML/css/fonts/KONE_Information.svg#KONE-Information") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Older icon font supplied by KONE. */
@font-face {
  font-family: "KONE-Icon-Font";
  src: url("/HTML/css/fonts/Kone-icons.eot");
  src: url("/HTML/css/fonts/Kone-icons.eot?#iefix") format("embedded-opentype"),
       url("/HTML/css/fonts/Kone-icons.woff") format("woff"),
       url("/HTML/css/fonts/Kone-icons.ttf") format("truetype"),
       url("/HTML/css/fonts/Kone-icons.svg#KONE-Icon-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Older icon font supplied by KONE. */
@font-face {
  font-family: "KONE-Icon-Font-New";
  src: url("/HTML/css/fonts/Kone-icons-new.eot");
  src: url("/HTML/css/fonts/Kone-icons-new.eot?#iefix") format("embedded-opentype"),
       url("/HTML/css/fonts/Kone-icons-new.woff") format("woff"),
       url("/HTML/css/fonts/Kone-icons-new.ttf") format("truetype"),
       url("/HTML/css/fonts/Kone-icons-new.svg#KONE-Icon-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Newer icon font supplied by KONE. */
@font-face {
  font-family: "KONE-Icon-Font-Alt";
  src: url("/HTML/css/fonts/KONE-Icon-Font.eot");
  src: url("/HTML/css/fonts/KONE-Icon-Font.eot?#iefix") format("embedded-opentype"),
       url("/HTML/css/fonts/KONE-Icon-Font.woff") format("woff"),
       url("/HTML/css/fonts/KONE-Icon-Font.ttf") format("truetype"),
       url("/HTML/css/fonts/KONE-Icon-Font.svg#KONE-Icon-Font-Alt") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Legacy icon font supplied by KONE. */
@font-face {
  font-family: 'KONE-Icon-Font-custom';
  font-family: 'KONE-Icon-Font-Custom';
  src: url('/HTML/css/fonts/KONE-Icon-Font-custom.eot?wvzyod');
  src: url('/HTML/css/fonts/KONE-Icon-Font-custom.eot?wvzyod#iefix') format('embedded-opentype'),
       url('/HTML/css/fonts/KONE-Icon-Font-custom.ttf?wvzyod') format('truetype'),
       url('/HTML/css/fonts/KONE-Icon-Font-custom.woff?wvzyod') format('woff'),
       url('/HTML/css/fonts/KONE-Icon-Font-custom.svg?wvzyod#KONE-Icon-Font-custom') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family--default: "KONE-Information" !important; /* Override _root.scss */
  --font-family--icon: "KONE-Icon-Font" !important;      /* Override _root.scss */
  --font-family--icon-alt: "KONE-Icon-Font-Alt";
  --font-family--icon-new: "KONE-Icon-Font-New";
  --font-family--icon-custom: "KONE-Icon-Font-Custom";

  --font-size--default: 16px !important; /* Override _root.scss */

  --font-colour--default: #000000;
  --font-colour--default-alt: #333333;

  /* Standard Colours */

  --colour--white: #FFFFFF;
  --colour--black: #000000;

  --colour--white-100: #F5F6F7;
  --colour--white-200: #EEF0F1;
  --colour--white-300: #EDEFF0;
  --colour--white-350: #E8EAED;
  --colour--white-400: #E3E5E6;
  --colour--white-500: #E0E4E6;
  --colour--white-600: #D2D6DC;

  --colour--black-100: #333333;

  --colour--grey-100: #D4D7D9;
  --colour--grey-200: #AAAFB3;
  --colour--grey-300: #8C9499;
  --colour--grey-400: #717A80;
  --colour--grey-500: #566066;
  --colour--grey-600: #3B4245;
  --colour--grey-700: #313131;
  --colour--grey-800: #262E33;
  --colour--grey-900: #00000029;

  --colour--blue-50:  #E0F2FB;
  --colour--blue-100: #CCE3F1;
  --colour--blue-150: #89C0EA;
  --colour--blue-200: #99C6E3;
  --colour--blue-250: #3D9EDB;
  --colour--blue-300: #338DC7;
  --colour--blue-400: #0E70B8;
  --colour--blue-500: #0071B9;
  --colour--blue-600: #0060AD;
  --colour--blue-700: #005A94;

  /* Legacy Colours */

  --cool-grey:  rgb(124, 165, 188);
  --dark-gray:  rgb(59, 66, 69);
  --light-blue: rgb(152, 202, 236);
  --light-gray: rgb(224, 228, 230);
  --navy-blue:  rgb(0, 73, 135);

  --kone-blue:    rgb(0, 113, 185);
  --kone-green-2: rgb(198, 214, 108);
  --kone-green:   rgb(88, 171, 39);
  --kone-magenta: rgb(229, 26, 146);
  --kone-orange:  rgb(246, 168, 0);
  --kone-yellow:  rgb(255, 198, 39);

  --black: rgb(0, 0, 0);
  --red:   rgb(199, 31, 37);
  --white: rgb(255, 255, 255);

  --semi-dark-gray:  rgb(141, 145, 148);
  --semi-light-blue: rgb(134, 194, 230);
  --semi-light-gray: rgb(186, 189, 191);

  --ultra-dark-gray:  rgb(30, 37, 40);
  --ultra-light-blue: rgb(224, 242, 251);
  --ultra-light-gray: rgb(237 ,239, 240);

  --kone-blue-hover: rgb(61, 158, 219);

  --color--dodger-blue: var(--kone-blue);
  --color--dodger-blue-light: var(--light-blue);
  --color--dodger-blue-dark: var(--navy-blue);
  --color--slate-gray: var(--dark-gray);

  /* Icon Codes */

  --icon-code--chevron-up:       "\e934"; /* (KONE-Icon-Font-Alt) without circle */
  --icon-code--chevron-down:     "\e933"; /* (KONE-Icon-Font-Alt) without circle */
  --icon-code--chevron-down-alt: "\59";   /* (KONE-Icon-Font) without circle */
  --icon-code--chevron-left:     "\e931"; /* (KONE-Icon-Font-Alt) without circle */
  --icon-code--chevron-right:    "\e932"; /* (KONE-Icon-Font-Alt) without circle */

  --icon-code--arrow-up:        "\e92b"; /* (KONE-Icon-Font-Alt) */
  --icon-code--arrow-down:      "\e92c"; /* (KONE-Icon-Font-Alt) */
  --icon-code--arrow-left:      "\e929"; /* (KONE-Icon-Font-Alt) */
  --icon-code--arrow-right:     "\e92a"; /* (KONE-Icon-Font-Alt) */
  --icon-code--arrow-right-alt: "\53";   /* (KONE-Icon-Font) */

  --icon-code--safety:    "\e971"; /* (KONE-Icon-Font-Alt) */
  --icon-code--check:     "\e93e"; /* (KONE-Icon-Font-Alt) */
  --icon-code--check-alt: "\e927"; /* (KONE-Icon-Font-Alt) */
  --icon-code--download:  "\241";  /* (KONE-Icon-Font) */
  --icon-code--cross:     "\130";  /* (KONE-Icon-Font) */
  --icon-code--summary:   "\235";  /* (KONE-Icon-Font) */
  --icon-code--other:     "\77";   /* (KONE-Icon-Font) */
  --icon-code--design:    "\273";  /* (KONE-Icon-Font) */
  --icon-code--escalator: "\37";   /* (KONE-Icon-Font) */
  --icon-code--elevator:  "\35";   /* (KONE-Icon-Font) */
  --icon-code--building:  "\158";  /* (KONE-Icon-Font) */
  --icon-code--home:      "\155";  /* (KONE-Icon-Font) */
  --icon-code--autowalk:  "\e936"; /* (KONE-Icon-Font-Alt) */

  --icon-code--send-me-1: "\e945"; /* (KONE-Icon-Font-Alt) */
  --icon-code--send-me-2: "\241";  /* (KONE-Icon-Font) */

  --icon-code--max-travel: "\345";  /* (KONE-Icon-Font) */
  --icon-code--max-speed:  "\e970"; /* (KONE-Icon-Font-Alt) */
  --icon-code--max-load:   "\e901"; /* (KONE-Icon-Font-Alt) */

  /* Icon Images */

  --icon-url--edit: url("/HTML/images/edit-field-24.png");
  --icon-url--expand: url("/HTML/images/chevron-down-button-32.png"); /* within circle */
  --icon-url--collapse: url("/HTML/images/chevron-up-button-32.png"); /* within circle */

  --icon-url--building-type--retail: url("/HTML/products/261612571/images/kone-buildingtype-retail.png");
  --icon-url--building-type--residential: url("/HTML/products/261612571/images/kone-buildingtype-residential.png");
  --icon-url--building-type--public-transport: url("/HTML/products/261612571/images/kone-buildingtype-publictransport.png");
  --icon-url--building-type--other: url("/HTML/products/261612571/images/kone-buildingtype-other.png");
  --icon-url--building-type--office: url("/HTML/products/261612571/images/kone-buildingtype-office.png");
  --icon-url--building-type--medical: url("/HTML/products/261612571/images/kone-buildingtype-medical.png");
  --icon-url--building-type--leisure-educational: url("/HTML/products/261612571/images/kone-buildingtype-leisureeducational.png");
  --icon-url--building-type--industrial: url("/HTML/products/261612571/images/kone-buildingtype-industrial.png");
  --icon-url--building-type--hotel: url("/HTML/products/261612571/images/kone-buildingtype-hotel.png");
  --icon-url--building-type--airport: url("/HTML/products/261612571/images/kone-buildingtype-airport.png");
  --icon-url--building-type--cruiseship: url("/HTML/products/261612571/images/kone-buildingtype-cruiseship.png");

  /* Background Images */

  --background-url--namespace: url("/HTML/images/escalator-planner-hero-image.jpg");
  --background-url--ena-namespace: url("/HTML/images/kone-ena-elevator-page1-background.png");

  /* Header Images */

  --image-url--monospace-header: url("/HTML/images/product-header-monospace.png");
  --image-url--minispace-header: url("/HTML/images/product-header-minispace.png");
  --image-url--transys-header: url("/HTML/images/product-header-transys.png");

  /* Other Images */

  --image-url--reload-config: url("/HTML/images/kone-reload-configuration-1.png");
  --image-url--quick-tool-icon: url("/HTML/images/quick-tool-icon.jpg");
}

.autodesk360 * {
  font-family: var(--font-family--default);
  font-size: var(--font-size--default);
}

.autodesk360 body.isAnon.page-loading {
  display: none !important;
}

.custom .elevator label,
.custom .ena-elevator label,
.custom .escalator label {
  white-space: normal;
}

.custom #footerV2 {
  display: none !important;
}

/* (Firefox) Hide the contents of the results page until the JavaScript has been executed: */
.custom .isAnon.resultsPage:not(.results-page) {
  display: none !important;
}

/************************* 'KONE Sidebar (#KoneSideBarDivV2)' *************************/

.custom div#kone-navbar-parent {
  position: relative;
  z-index: 100;
  top: 24px;
  left: 32px;
}

.custom .kone-navbar {
  position: fixed;
  margin: 0;
  left: unset;
  top: unset;
  background-color: transparent;
}

.custom .kone-navbar .sideBar {
  height: 64px;
  width: 64px;
  border: 0;
  background-color: transparent;
  display: block;
}

.custom .kone-navbar .sideBar:not(:last-child) {
  margin: 0 0 10px 0;
}

.custom .kone-navbar .sideBar.item-hide {
  display: none;
}

.custom .kone-navbar .sideBar .text {
  display: none;
}

.custom .kone-navbar .sideBar .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: unset;
  left: unset;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.custom .kone-navbar .sideBar .icon::before {
  font-family: var(--font-family--icon);
  font-size: 24px;
  text-align: center;
  color: var(--colour--grey-200);
  object-fit: contain;
}

.custom .kone-navbar .sideBar.selected .icon::before {
  color: var(--colour--blue-500);
}

.custom .kone-navbar .sideBar#sideBarHOME .icon::before {
  content: var(--icon-code--home);
}

.custom .kone-navbar .sideBar#sideBarBUILDING .icon::before {
  content: var(--icon-code--building);
}

.custom .kone-navbar .sideBar#sideBarELEVATOR .icon::before {
  content: var(--icon-code--elevator);
  font-size: 30px !important;
}

.custom .kone-navbar .sideBar#sideBarESCALATOR .icon::before {
  content: var(--icon-code--escalator);
}

.custom .kone-navbar .sideBar#sideBarDESIGN .icon::before {
  content: var(--icon-code--design);
}

.custom .kone-navbar .sideBar#sideBarOTHER .icon::before {
  content: var(--icon-code--other);
}

.custom .kone-navbar .sideBar#sideBarSUMMARY .icon::before {
  content: var(--icon-code--summary);
}

.custom .kone-navbar .sideBar#sideBarSAFETY .icon::before {
  content: var(--icon-code--safety);
  font-family: var(--font-family--icon-alt);
  font-size: 42px;
}

.custom .kone-navbar .sideBar#sideBarDOWNLOADS .icon::before {
  content: var(--icon-code--download);
}

@media only screen and (max-width: 576px) {
  .custom div#kone-navbar-parent {
    left: 0;
    z-index: 1001;
  }

  .custom .kone-navbar {
    width: 100%;
    bottom: 0;
    height: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--colour--white);
    box-shadow: 0 -3px 6px var(--colour--grey-900);
  }
}

@media only screen and (max-width: 576px) {
  .custom .kone-navbar .sideBar:not(:last-child) {
    margin: 0;
  }
}
