/* ########################################################################### */
/* Start - Custom slick slider image carousel CSS */

[id^="IGCarousel_"] {
  width: 100%;
  max-width: 70%;
  margin: 30px auto auto auto;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

/* Place button in front of track */
[id^="IGCarousel_"] .slick-prev {
  z-index: 1;
}

/* Center image on track */
[id^="IGCarousel_"] img {
  height: auto;
  width: auto;
  margin: 0 auto; /* it centers any block level element */
}

/* Fix arrow offset caused image label */
[id^="IGCarousel_"] .slick-arrow {
  /*   top: 150px; */
  top: calc(40%);
}

/* Format arrows to like circles */
[id^="IGCarousel_"] .slick-arrow,
[id^="IGCarousel_"] .slick-arrow:focus {
  font-family: "Kone-Icon-Font", Arial;
  font-size: 38px;
  color: #0071b9;
  border-radius: 50%;
  background: transparent;
  /* Reset minimum size */
  min-width: 50px;
  height: 50px;
  border: none; /* Remove autodesk button border */
}

/* Format arrows to like circles */
[id^="IGCarousel_"] .slick-arrow:hover {
  border: none; /* Remove autodesk button border */
  color: #3d9edb;
  background: transparent;
}

/* Unset original icons */
[id^="IGCarousel_"] .slick-arrow::before {
  content: none;
}

/* Make dots buttons smaller*/
[id^="IGCarousel_"] .slick-dots li button {
  min-width: 20px;
}

/* Remove blue overlay*/
[id^="IGCarousel_"] .slick-dots li button:hover,
[id^="IGCarousel_"] .slick-dots li button:focus {
  border: none;
  background: transparent;
}

/* Change default button color */
[id^="IGCarousel_"] .slick-dots li button:before {
  color: #3d9edb;
  font-size: 10px;
}

/* Change highlighted option */
[id^="IGCarousel_"] .slick-dots li.slick-active button:before {
  color: #005189;
}

/*  This is the easier way to move center the dots where I need them */
[id^="IGCarousel_"] .slick-dots {
  height: 40px;
}

/* Modify C1 image label */
[id^="IGCarousel_"] .image-label {
  margin: 20px 0px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 10;
  min-height: 28px;
  text-align: center;
}

/* When tablet */
@media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
  /* Format arrows to like circles */
  [id^="IGCarousel_"] .slick-arrow {
    /* Override autodesk font-size */
    font-size: 38px !important;
  }
}

/* END - Custom slick slider image carousel CSS */
/* ########################################################################### */
/* Start - Main Image Feeders generic css */

/* Limit image size on carousel */
[id^="IGCarousel_MAIN_IMAGE_"] img {
  /* This is the next resolution down */
  height: 305px;
  border: 1px solid #d7d7d7;
}
