.custom.theme2020.autodesk360 label {
  text-transform: unset;
}

.custom.theme2020.autodesk360 #interface .control input {
  margin: 0;
  opacity: 0.5;
}

.custom.theme2020.autodesk360 #interface .control input~.control__indicator--radio,
.custom.theme2020.autodesk360 #interface .control input~.control__indicator--checkbox {
  display: inline-block;
  margin-left: -1em;
  vertical-align: middle;
  border: 1px solid var(--dark-gray);
}

.custom.theme2020.autodesk360 #interface .control input:checked~.control__indicator--radio,
.custom.theme2020.autodesk360 #interface .control input:checked~.control__indicator--checkbox {
  background: var(--kone-blue);
  border: 1px solid var(--kone-blue);
}

.custom.theme2020.autodesk360 #interface .control input:disabled {
  pointer-events: none !important;
}

.custom.theme2020.autodesk360 #interface .control input:disabled~.control__indicator--radio,
.custom.theme2020.autodesk360 #interface .control input:disabled~.control__indicator--checkbox {
  pointer-events: none !important;
  background: var(--semi-light-gray);
  opacity: 0.3;
}

.custom.theme2020.autodesk360 #interface .control input~.control__indicator--radio {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
}

.custom.theme2020.autodesk360 #interface .control input~.control__indicator--checkbox {
  height: 1.3em;
  width: 1.3em;
  border-radius: 2px;
}

.custom.theme2020.autodesk360 .group-header {
  background: transparent;
  border: unset;
}

.custom.theme2020.autodesk360 .help-mark {
  height: 31px;
  width: 30px;
}
