/* The .isConfig class added by headerV2 */
.custom body.isConfig #configuration-interface {
  /* Remove excessive margin for mobiles */
  margin: 0px;
  /*   width: 50%; */
}

/* Remove gray background and margin */
.custom body.isConfig:not(.V2_OLD_NAV) #interface,
.print-clone body.isConfig #interface,
.custom body.isConfig .concept-ui-form,
.print-clone body.isConfig .concept-ui-form {
  margin: auto;
  background: transparent !important;
}

/* -------------------------------------------------------------------------- */
/* Start - Print CSS */

@media print {
  /* Set page width */
  @page {
    width: 21cm;
    height: 29.7cm;
    margin: 5mm;
  }

  /* Fix print margin*/
  .print-clone .group-body {
    margin: 0;
    padding: 0;
  }

  /* Correct container sizing */
  .print-clone table {
    width: 1124px !important;
    margin: 0px;
  }

  /* Fix support message on cloned page */
  .print-clone .message-container * {
    font-size: 15px !important;
  }

  /* Generic variables */
  div[id^="accordion274824010"] {
    --table-width: 94% !important;
    --table-flex-size: 50%; /* Show 2 cells per column */
    --slider-width: 58%;
  }

  /* Remove background */
  div#background {
    background: transparent !important;
  }

  /* Fix container location for print */
  #container {
    top: 0px !important;
  }

  /* Fix offset introduced by sidebar */
  #configuration-interface {
    margin: 0px !important;
  }

  /* Remove UI components */
  table#main > tbody > tr:first-child,
  #headerV2,
  #KoneHeaderDiv,
  #KoneSideBarDiv,
  .quicktool.button-set,
  #header,
  #nav-tabs,
  #navCreateButton,
  .bottom-buttons,
  a.translationPopupTrigger,
  footer#footer {
    display: none !important;
  }

  /* Show print header and footer */
  header#qt-header,
  footer#qt-footer {
    /* Only needs to be shown when printing */
    display: block !important;
  }

  /* Fix top input width */
  #QT_DIM_VR_TR_tag .subgroup > table {
    width: 100%;
  }

  /* Fix table distance */
  #quicktool-container {
    margin-bottom: 40px;
  }

  /* Needed for everything by Chrome */
  header#qt-header .icon {
    font-size: 140px !important;
    margin: 10px;
  }

  /* Needed for everything by Chrome */
  header#qt-header h1,
  header#qt-header h2 {
    font-size: 22px !important;
  }

  footer#qt-footer span {
    font-size: 18px !important;
  }

  /* Needed for everything by Chrome */
  footer#qt-footer .icon {
    font-size: 50px !important;
  }

  /* Firefox specific CSS - resizes table and fonts correctly */
  @supports (-moz-appearance: meterbar) {
    /* Variables */
    .custom div[id^="accordion274824010"] {
      --table-width: 100% !important;
    }
  }
}

/* End - Pring CSS */
/* -------------------------------------------------------------------------- */
/* Start - Cloned Print CSS */

/* Set page width */
.print-clone {
  width: 1240px;
}

/* Prevent clicking */
.print-clone * {
  /*   pointer-events: none; */
  font-family: "KONE-Information";
  /*    user-select: none !important; */
}

/* Remove empty tds in quicktool */
.print-clone td:empty {
  display: none;
}

/* Generic variables */
.print-clone div[id^="accordion274824010"] {
  --table-width: 90% !important;
  --table-flex-size: 50%;
  /* Show 2 cells per column */
  --slider-width: 65%;
}

/* Remove UI components */
.print-clone table#main > tbody > tr:first-child,
.print-clone #headerV2,
.print-clone #KoneHeaderDiv,
.print-clone #KoneSideBarDiv,
.print-clone .quicktool.button-set,
.print-clone #header,
.print-clone #nav-tabs,
.print-clone #navCreateButton,
.print-clone .bottom-buttons,
.print-clone a.translationPopupTrigger,
.print-clone footer#footer {
  display: none !important;
}

/* Show print header and footer */
.print-clone header#qt-header,
.print-clone footer#qt-footer {
  /* Only needs to be shown when printing */
  display: block !important;
}

/* Fix top input width */
.print-clone #QT_DIM_VR_TR_tag .subgroup > table {
  width: 100%;
}

/* Override default input width*/
.print-clone #QT_DIM_VR {
  width: 25% !important;
}

/* Print preview radios in blue even when disabled */
.print-clone .control--radio input:disabled ~ .control__indicator--radio:after {
  background: #0071b9 !important;
}

/* Print preview inputs without fading the font when disabled */
.print-clone input:disabled {
  color: rgb(102, 102, 102) !important;
}

/* End - Cloned Print CSS */
/* -------------------------------------------------------------------------- */
/* Start - media queries (overrides default css) and setup */

/* (1366x768) WXGA Display */
@media screen and (width: 1366px) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    --table-width: calc(100vw - 60px) !important;
    --slider-width: 58% !important;
  }
}

/* (1920x1080) Full HD Display - we actually want anything bigger than WXGA */
@media screen and (min-width: 1337px) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    /* --table-width: 1440px; */
    margin: auto 26px;
    --slider-width: 67%;
  }

  /* Remvove default marging */
  .custom body.isConfig.V2_OLD_NAV .group-body.expanded {
    /*       margin-left: auto !important; */
  }
}

/* Generic - (1024x768) iPad 1 & 2 */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  /* Generic - (768x1024) iPad 1 & 2,
  Portrait */ only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape),
  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    /* 1 cell per row */
    --table-flex-size: 100%;
  }

  /* Reset canvas float & left image now takes the whole width */
  #quicktool-container div.canvas {
    float: none !important;
    width: 100% !important;
  }
}

/* iPad 1 & 2 and phones - Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  only screen and (max-width: 1023px) and (max-height: 768px) and (orientation: landscape),
  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    --slider-width: 90%;
    /* screen - sidebar - left border distance */
    --table-width: calc(100vw - 40px) !important;
    margin: 0px 10px !important;
  }

  /* Override default input width*/
  .custom #QT_DIM_VR {
    width: 80% !important;
  }

  /* Control split layout - Steps image*/
  #quicktool-container div.canvas.right article#qt-steps {
    float: left;
    width: 40%;
  }

  /* Control split layout - Mounting image*/
  #quicktool-container div.canvas.right article#qt-mounting {
    float: right;
    width: 50%;
  }

  /* Prevent footer from overlapping with app container */
  .custom #container {
    padding-bottom: 10px;
  }
}

/* Iphones, iPads, and a lot of Android devices  */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (min-width: 768px) and (max-width: 1024px) and (device-pixel-ratio: 1.5) and (orientation: portrait),
  only screen and (min-width: 768px) and (max-width: 1024px) and (device-pixel-ratio: 3) and (orientation: portrait) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    --slider-width: 75%;
    /* screen - sidebar - left border distance */
    --table-width: calc(100vw - 10px) !important;
  }

  /* Ensure slider is inside TR */
  .custom #QT_DIM_VR_TR_tag .subgroup td.QT_DIM_VR_TD_tag {
    padding-bottom: 23px;
  }

  /* Generict td settings */
  .custom #QT_DIM_VR_TR_tag .subgroup td {
    width: 100% !important;
    display: block;
  }
}

/* Specific - (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    --slider-width: 88%;
    /* screen - sidebar - left border distance */
    --table-width: calc(100vw - 30px) !important;
    margin-left: 10px;
  }

  /* Override default input width*/
  .custom #QT_DIM_VR {
    width: 76% !important;
  }

  /* Fix table distance */
  #quicktool-container {
    margin-bottom: 30px;
  }

  /* Change container positioning */
  #quicktool-container div.canvas.right {
    display: flex;
  }

  /* Control split layout - Steps image*/
  #quicktool-container div.canvas.right article#qt-steps {
    width: 100% !important;
  }

  /* Control split layout - Mounting image*/
  #quicktool-container div.canvas.right article#qt-mounting {
    width: 50% !important;
  }

  /* Let canvas fill most of the area */
  #quicktool-container #QT_IMG_2-canvas {
    width: 90% !important;
  }

  /* Change display method so we can reorder them */
  #quicktool-container #qt-mounting {
    display: flex;
    flex-wrap: wrap;
  }

  /* Expand all immediate children */
  #quicktool-container #qt-mounting > * {
    width: 100% !important;
  }

  /* Display title first */
  #quicktool-container #qt-mounting h2 {
    order: 0;
  }

  /* Display top load 1st (usually 2nd) */
  #quicktool-container #qt-mounting .right {
    order: 1;
  }

  /* Display bottom load 2nd (usually 1nd) */
  #quicktool-container #qt-mounting .left {
    order: 2;
  }

  /* Prevent footer from overlapping with app container */
  .custom #container {
    padding-bottom: 10px;
  }
}

/* Specific - Attempt to generalize portrait mode in phones */
@media only screen and (max-width: 768px) and (max-height: 1023px) and (orientation: portrait) {
  /* Variables*/
  .custom div[id^="accordion274824010"] {
    /* Width for mobiles */
    --table-width: calc(100vw - 10px) !important;
    --slider-width: 90% !important;
    /* Show 1 cell per row */
    --table-flex-size: 100%;
  }

  /* The .isConfig class added by headerV2 */
  .custom body.isConfig #configuration-interface {
    /* Remove excessive margin for mobiles */
    margin: 0px;
  }

  /* Correct row width (doesn't expand fully in some phones otherwise) */
  .custom #QT_DIM_VR_TR_tag .subgroup tr {
    width: 100%;
  }

  /* Display as rows settings */
  .custom #QT_DIM_VR_TR_tag .subgroup td {
    display: block;
    width: 100% !important;
  }

  /* Override default input width*/
  .custom #QT_DIM_VR {
    width: 85% !important;
  }

  /* Reset canvas float & left image now takes the whole width */
  #quicktool-container div.canvas {
    float: none !important;
    width: 100% !important;
  }

  /* Table container settings */
  #quicktool-key-values.table {
    margin-top: 30px !important;
  }

  /* Change display method so we can reorder them */
  #quicktool-container #qt-mounting {
    display: flex;
    flex-wrap: wrap;
  }

  /* Expand all immediate children */
  #quicktool-container #qt-mounting > * {
    width: 100% !important;
  }

  /* Display title first */
  #quicktool-container #qt-mounting h2 {
    order: 0;
  }

  /* Display top load 1st (usually 2nd) */
  #quicktool-container #qt-mounting .right {
    order: 1;
  }

  /* Display bottom load 2nd (usually 1nd) */
  #quicktool-container #qt-mounting .left {
    order: 2;
  }

  /* Prevent footer from overlapping with app container */
  .custom #container {
    padding-bottom: 30px;
  }

  /* Rise layout - display under image on small phones */
  #quicktool-container #qt-rise #legend {
    /* Placement */
    position: relative !important;
    top: unset !important;
    margin: unset !important;
  }
}

/* End - media queries (overrides default css) and setup */
/* -------------------------------------------------------------------------- */
/* Start - Quicktool top level */

/* The Quicktool page has a white background for some bizarre reason  */
.custom div[id^="accordion274824010"] {
  /*   padding-top: 10px; */
  background: white;
  padding-bottom: 20px;
}

/* Hide input group header and link */
.custom div[id^="accordion274824010"] > div.input-group > a,
.custom div[id^="accordion274824010"] > div.input-group > div.group-header {
  display: none;
}

/* Fill application view - note: why is everything a table? */
.custom div[id^=accordion274824010] div.group-body, /* Main group body */
  .custom div[id^=accordion274824010] table.inputParameterTable, /* Main group table */
  .custom div[id^=accordion274824010] table#groupInputTable, /* For input groups */
  .custom div[id^=accordion274824010] .subgroup > table, /* For subgroup*/
  
  /* When using the old sidebar let the old CSS spacing be resused - class = V2_OLD_NAV */
  .custom body.isConfig:not(.V2_OLD_NAV) .concept-ui-form.scrollable,
  .custom body.isConfig:not(.V2_OLD_NAV) div[id^=accordion274824010] .group-body.expanded {
  /* I think this can be moved to the end as 100vw */
  /*   border: 1px dashed red; */
  /*   margin-left: 0; */
  padding: 0;
  width: var(--table-width, 100%);
}

/* Remvove default marging */
.custom body.isConfig .group-body.expanded {
  margin-left: 0;
}

/* Hide all empty cells - helps when aligning things */
.custom div[id^="accordion274824010"] table#groupInputTable td:empty {
  /*   border: 1px solid red; */
  display: none;
}

/* End - Quicktool top level */
/* -------------------------------------------------------------------------- */
/* Start- Top controls */

/* Hide ununused sub group labe - creates too much white space */
.custom div[id^="accordion274824010"] #QT_DIM_VR_label,
.print-clone div[id^="accordion274824010"] #QT_DIM_VR_label {
  display: none;
}

/* Help mark location */
.custom div[id^="accordion274824010"] .help-mark {
  float: right;

  /* Let it overlap with label */
  margin-left: -10px;
}

/* Help mark stlying */
.custom div[id^="accordion274824010"] .help-mark::before {
  /* Square info icon*/
  content: "\123";
}

/* Separate controls vertically without creating a horizontal gap */
.custom #QT_DIM_VR_TR_tag .subgroup table,
.print-clone #QT_DIM_VR_TR_tag .subgroup table {
  border-collapse: separate;
  border-spacing: 8px 0;
}

/* Generict td settings */
.custom #QT_DIM_VR_TR_tag .subgroup td,
.print-clone #QT_DIM_VR_TR_tag .subgroup td {
  width: 33%;
  background: var(--ultra-light-gray, #d7d7d7);
}

/* Spacing for this sub-group */
.custom #QT_DIM_VR_TR_tag .subgroup td > *:not(.help-mark),
.print-clone #QT_DIM_VR_TR_tag .subgroup td > *:not(.help-mark) {
  margin: 6px 6px 6px 10px;
}

/*
    Bottom row (controls) settings.
    The labels get moved here through clever use of JS.
   */
.custom #QT_DIM_VR_TR_tag .subgroup tr td,
.print-clone #QT_DIM_VR_TR_tag .subgroup tr td {
  /* TODO: is this needed? */
  /*   height: 130px; */
  border-radius: 4px;
  padding: 10px 0;
  margin: 10px 0;
}

/* End - Top controls */
/* -------------------------------------------------------------------------- */
/* Start - Key values */

/* Make sure flexbox 0 50% doesn't get affected by borders  */
#quicktool-key-values * {
  box-sizing: border-box;
}

/* Table container settings */
#quicktool-key-values.table {
  margin: 0 0 20px 0;
  border: 1px solid var(--ultra-light-gray, gray);
}

/* Header and key label */
#quicktool-key-values .thead,
#quicktool-key-values .key-label {
  font-weight: 600;
}

/* Wrap flex items in the body but not the header */
#quicktool-key-values div.tbody {
  display: flex;
  flex-wrap: wrap;
}

/* Setup rows when on small resolution */
/* TODO: move, clean up, test better queries */
@media only screen and (max-width: 1124px) {
  /* Cell content spacing */
  #quicktool-key-values div.td {
    /* Fit 2 cells per row */
    /*     flex: 1; */
  }
}

/* Cell content spacing */
#quicktool-key-values div.td {
  flex: 1;
  /* If screen is too small, change to single cells mode */
  flex-basis: var(--table-flex-size, 50%);
  flex-grow: 0; /* Don't expand cell when in 2 columns mode */
  padding: 14px 26px;
  border: 1px solid var(--ultra-light-gray, gray);
}

/* Table header */
#quicktool-key-values div.thead {
  background: var(--ultra-light-gray, gray);
}

/* Split each cell equally between spans*/
#quicktool-key-values span {
  width: 50%;
}

/* Left align keys */
#quicktool-key-values .key-label {
  float: left;
}

/* Right align values */
#quicktool-key-values .key-value {
  float: right;
  text-align: right;
}

/* End - Key values */
/* -------------------------------------------------------------------------- */
/* Start - Configuration buttons */

/* Right align buttons */
.quicktool.button-set.kone-continue-button {
  /* Using float on the divs alters button the order */
  text-align: right;
}

/* Icon generic configuration */
.quicktool .kone-button .kone-icon:after {
  font-family: "KONE-Icon-Font";
  font-size: 32px;
  color: var(--kone-blue, blue);
}

/* Override original border radius */
.quicktool .kone-button {
  border-radius: 4px;
}

/* Fix text location due to new span element */
.quicktool .kone-button > * {
  vertical-align: top;
}

/* Full-Configuration icon */
.quicktool #action-button-configure .kone-icon:after {
  /* Sliders icon */
  content: "\275";
  /* Needed to rotate pseudo-element*/
  display: inline-block;
  font-size: 24px;
}

/* Print button size */
.quicktool #action-button-configure {
  padding: 0 34px;
}

/* Print icon */
.quicktool #action-button-print .kone-icon:after {
  content: "\130";
  font-size: 24px;
}

/* Print button size */
.quicktool #action-button-print {
  padding: 0 14px;
}

/* End -  Configuration buttons */
/* -------------------------------------------------------------------------- */
/* Start - Quicktool slider specific css */

/* Align slider with input and make them fit together */
#QT_DIM_VR-nouislider {
  float: left;
  margin: 8px 20px 8px 10px;

  width: var(--slider-width, 65%);
  height: 8px;
  border-radius: 8px;
  /* When the media query kicks in this prevents the input box from overlapping*/
  margin-bottom: 50px;
}

/* Remove one border to join with div */
.custom #QT_DIM_VR,
.print-clone #QT_DIM_VR {
  height: 20px;
  text-align: right;
  font-family: "KONE-Information", Arial, sans-serif;

  /* Align text vertically and with mm-marker */
  padding: 2px 36px 6px 10px;

  /* Let mm-marker overlap inside input. Using 'left' causes misalignment in @media queries */
  margin-right: -30px;
  /* If media query is set, then use that, otherwise use C1 width */
}

/* Make input + div look like a single element  */
.custom #QT_DIM_VR + div.mm-marker,
.print-clone #QT_DIM_VR + div.mm-marker {
  display: inline;
  color: rgb(178, 178, 178);
  top: -1px;
}

/* End - Quicktool slider specific css */
/* -------------------------------------------------------------------------- */
/* Start - Image canvas */

/* Prevent borders from affecting size */
#quicktool-container * {
  box-sizing: border-box;
}

/* Layout control */
#quicktool-container article {
  /*   border: 1px dashed var(--semi-dark-gray, #d7d7d7); */
  text-align: center;
  margin: 8px;
}

/* Split layout control */
#quicktool-container div.canvas {
  display: inline-block;
}

/* Default left split to control canvas sizing */
#quicktool-container div.canvas.left {
  width: 66%;
  /*   width: var(--canvas-left, 66%); */
}

/* Default right split to control canvas sizing */
#quicktool-container div.canvas.right {
  width: 33%;
  float: right;
}

/* Canvas title */
#quicktool-container h2 {
  font-weight: normal;
  text-align: left;
  color: var(--semi-dark-gray, #d7d7d7);
  border-bottom: 1px solid var(--light-gray, #d7d7d7);

  padding: 6px 0;
  line-height: 30px;
}

/* Canvas */
#quicktool-container canvas {
  margin: 12px 0;
  /*   border: 1px solid gray; */
}

/* Canvas sizes */
#quicktool-container #QT_IMG_1-canvas,
#quicktool-container #QT_IMG_3-canvas,
#quicktool-container #QT_IMG_4-canvas {
  width: 100%;
}

/* Canvas sizes */
#quicktool-container #QT_IMG_2-canvas {
  width: 80%;
}

/* End - Image canvas */
/* -------------------------------------------------------------------------- */
/* Start - Canvas legends */

/* Legend value color */
#quicktool-container #legend span.value {
  color: var(--kone-blue, blue);
}

/* Configure legend icon */
#quicktool-container #qt-mounting .load:before {
  font-family: "KONE-Icon-Font";
  margin-right: 20px;
  content: "\119";
  font-size: 24px;
  vertical-align: -25%;
}

/* Rise layout */
#quicktool-container #qt-rise #legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 10%;
  left: 35%;
  margin: 0;
  padding: 4px 12px;
  position: absolute;
  text-align: left;
  background: var(--ultra-light-blue, red);
  border-radius: 4px;
}

#quick-tool-icon {
  display: none;
}

/* Rise - Icon settings
   * This icon had to be placed on the HTML because of its placement.
   */
#quicktool-container #qt-rise #legend .icon-font {
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
  font-size: 22px !important;
}

#quicktool-container #qt-rise #legend .icon-font::before {
  content: '\119';
  font-family: "KONE-Icon-Font";
  font-size: 22px !important;
}

/* Rise Display icon and text side by side */
#quicktool-container #qt-rise #legend .col {
  display: inline-block;
}

#quicktool-container #qt-rise #legend .col.message-container {
  display: flex;
  margin: 0;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  #quicktool-container #qt-rise #legend {
    left: 0%;
  }
}

/* Display mounting canvases side by side  */
#quicktool-container #qt-mounting .left,
#quicktool-container #qt-mounting .right {
  width: 50%;
}

/* Mounting left */
#quicktool-container #qt-mounting .left {
  float: left;
}

/* Mounting right */
#quicktool-container #qt-mounting .right {
  float: right;
}

/* End - Mounting legent */
/* -------------------------------------------------------------------------- */
/* Start -  noUiSlider overrides */
/* TODO: move this css to it's own file */

/* Change handle shape */
.custom-nouislider .noUi-handle {
  width: 26px;
  height: 26px;
  right: -13px;
  top: -10px;
  border-radius: 50%;
  background: var(--kone-blue, white);
  box-shadow: none;
  border: 6px solid var(--light-blue, blue);
}

/* Remove handle markers */
.custom-nouislider .noUi-handle:before,
.custom-nouislider .noUi-handle:after {
  content: unset;
}

/* Set font for large values */
.custom-nouislider .noUi-value-large {
  margin-top: 10px;
  font-size: 14px !important;
}

/* Connect lower value to handle */
.custom-nouislider .noUi-connect {
  background: var(--kone-blue, gray);
}

/* End -  noUiSlider overrides */
/* -------------------------------------------------------------------------- */
/* Start -  Print header and footer */

/* Only needs to be shown when printing */
header#qt-header {
  display: none;
}

/* Centralise */
header#qt-header,
footer#qt-footer {
  text-align: center;
}

/* Header bottom separator */
header#qt-header {
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 20px;
  width: 100%; /* Only used before it's moved to the td */
}

/* Footer top separator */
footer#qt-footer {
  /*   display: table-header-group; */
  margin-top: 20px; /* Space from table */
  padding-top: 20px; /* Space for text */
  border-top: 1px solid var(--light-gray);
}

/* Generic icon settings */
header#qt-header .icon,
footer#qt-footer .icon {
  font-family: "KONE-Icon-Font" !important;
  color: var(--kone-blue);
}

/* Header KONE icon */
header#qt-header .icon {
  font-size: 140px;
  margin: 10px;
}

/* Inline KONE icon */
footer#qt-footer .icon {
  font-size: 50px;
}

/* Generic text settings */
header#qt-header h1,
header#qt-header h2 {
  font-size: 22px;
}

footer#qt-footer span {
  font-size: 18px;
}

/* This row doesn't always expand */
.custom #QT_DIM_VR_TR_tag .subgroup tr,
.print-clone #QT_DIM_VR_TR_tag .subgroup tr {
  width: 100%;
}

/* Custom spacing for header Escalator Planner text */
header#qt-header h2 {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Prevent text from merging into a line */
footer#qt-footer > * {
  display: block;
}

/* Space from buttons and values table */
footer#qt-footer .planner {
  margin-top: 10px;
}

/* Escalator Planner text */
footer#qt-footer .planner span {
  /* Align with icon */
  vertical-align: middle;
}

/* End -  Print footer and footer */
/* -------------------------------------------------------------------------- */
/* Start -  Datatable containing all equation values */

/* There are too many cells in this table so we'll display columns as rows */
#QT_EQUATION_RESULTS_dataTable.dataTable.responsive {
  display: flex;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive thead {
  background-color: #eee;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive tr {
  flex-direction: column;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive td,
#QT_EQUATION_RESULTS_dataTable.dataTable.responsive th {
  display: block;
  height: 20px;
  vertical-align: middle;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive td {
  background-image: none !important;
  padding: 4px 8px !important;
  border-left: 0;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive th:last-child,
#QT_EQUATION_RESULTS_dataTable.dataTable.responsive td:last-child {
  border-bottom: 0;
}

#QT_EQUATION_RESULTS_dataTable.dataTable.responsive tbody {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

#QT_EQUATION_RESULTS_dataTable {
  border: none;
}

/* End -  Datatable containing all equation values */
/* -------------------------------------------------------------------------- */
/* Start - Disclaimer */

.custom #qt-dimensions.disclaimer {
  margin-bottom: 20px;
  display: block;
  width: auto;
  background: #fff3cd;
  padding: 12px;
}

/* End - Disclaimer */
/* -------------------------------------------------------------------------- */
