.autodesk360 .section-header {
  display: none;
}

.ui-buttons {
  float: left;
}

.side-nav-body > .links-header,
.links-header {
  font-size: 22px;
}

/*
 div #create-button div {
    font-size: 22px !important;
   font-family: "KONE-Information" !important;
    }
*/

div #edit-button {
  display: none;
}

div #nextSteps {
  font-family: "KONE-Information" !important;
}
