/* CSS for Side Bar and Header */

/* Set Header Z-Index */
.custom #header {
    z-index:98;
}

/* Custom Header and Side Bar */
.KoneHeaderDiv {
    position: fixed;
    left: 0px;
    z-index: 97;/*make sure where in front of header but behind locale select*/
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 120px;
    background-color: #f2f3f4;
}

.KoneSideBarDiv {
    display:inline-block;
    position: fixed;
    left: 0px;
    z-index: 99;/*make sure where in front of header*/
    margin: 0 0px 0px 0px;
}

.sideBar {
    margin: 0 0px 0px 0px;
    width: 120px;
    height: 119px;
    background-color: #3b4245;
    border: none;
    border-bottom: solid 1px #8d8d8d;
    text-align: center;
}

.sideBar.selected {
    background-color: #0071b9;
    border-bottom-color: #0071b9;
}

.sideBar .text {
    font-family: KONE-Information;
    font-size: 16px;
    text-align: center;
    color: #ffffff !important;
    position: relative;
    top: 24px; /*34*/
}

.sideBar .icon {
    position: relative;
    top: 30px;
    left: 34px;
}

/* Generic icon settings */
.sideBar .icon:before {
    font-family: "KONE-Icon-Font" !important;
    object-fit: contain;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

#sideBarHOME .icon:before {
    content:"\155";
    /* Fix alignment issue due to back arrow */
    margin-left: 6px;
}

#sideBarBUILDING .icon:before {
    content:"\158";
}

/* This icon is too small and in the wrong place */
#sideBarELEVATOR .icon {
    top: 20px;
    left: 38px;
}

/* This icon is too small and in the wrong place */
#sideBarELEVATOR .icon:before {
    content:"\35";
    font-size: 40px;
}

#sideBarDESIGN .icon:before {
    content:"\273";
}

#sideBarOTHER .icon:before {
    content:"\77";
}

#sideBarSUMMARY .icon:before {
    content:"\235";
}

/*#sideBarSAFETY .icon:before {
    content: "\e971";
}*/

#sideBarDOWNLOADS .icon:before {
    content:"\241";
}
.sideBarHighlight {
    background-color: #ffffff;
}

#headerBarText_KONE_ELEVATOR_TOOLS {
    font-family: "KONE-Information";
    font-size: 16px;
    text-align: left;
    color: #8d8d8d !important;
    position: relative;
    left: 147px;
}
#headerBarText_PRODUCT_NAME {
    font-family: "KONE-Information";
    font-size: 38px;
    text-align: left;
    color: #3b4245 !important;
    position: relative;
    left: 147px;
}

#headerBar_LANGUAGE {
    /*width: 131px;*/
    height: 48px;
    /*position: relative;*/
    /*line-height: 48px;*/
}

#headerBar_LANGUAGE span.icon {
    display:inline-block;
}

#headerBar_LANGUAGE span.text {
    /*     display:inline-block; */
    display: none /* KPT-843 */;
    font-family: "KONE-Information";
    font-size: 16px;
    color: #3b4245;
    position: relative;
    left: 0px;
    top: -15px;
}

#headerBar_HELP {
    display: table-cell;
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    height: 28px;
    border-radius: 2px;
    background-color: #3b4245;
    position: relative;
    line-height: 18px;
    padding: 10px;
    color: #ffffff;
    vertical-align: middle;
}

#headerBar_HELP.text {
    font-family: "KONE-Information";
    font-size: 16px;
    position: relative;
}

#headerBar_HELP.icon:before {
    content:"\115";
    font-family: "KONE-Icon-Font";
    font-size: 16px;
    position: relative;
    /* top: 4px; */
    padding-right: 10px;
}

#headerBar_CONTACT {
    display: table-cell;
    cursor: pointer;
    white-space: nowrap;
    width: auto;
    height: 28px;
    border-radius: 2px;
    background-color: #3b4245;
    position: relative;
    line-height: 18px;
    padding: 10px;
    color: #ffffff;
    vertical-align: middle;
}

#headerBar_CONTACT.text {
    font-family: "KONE-Information";
    font-size: 16px;
    position: relative;
}

#headerBar_CONTACT.icon:before {
    content:"\112";
    font-family: "KONE-Icon-Font";
    font-size: 16px;
    position: relative;
    /* top: 4px; */
    padding-right: 10px;
}

#headerBar_KONE {
    /*width: 96px;*/
    height: 48px;
    /*position: relative;
    line-height: 48px;*/
}

#headerBar_KONE img {
    width:96px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For tablets */
@media
    only screen and (max-device-width: 1024px), (max-device-width: 1280px),
    /* ----------- Non-Retina Screens ----------- */
    screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1),
    /* ----------- Retina Screens ----------- */
    screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)
{
    .sideBar {
        margin: 0 0px 0px 0px;
        width: 90px;
        height: 89.25px;
        background-color: #3b4245;
        border: none;
        border-bottom: solid 1px #8d8d8d;
        text-align: center;
    }

    .sideBar .text {
        font-family: KONE-Information;
        font-size: 16px;
        text-align: center;
        color: #ffffff !important;
        position: relative;
        top: 10px;
    }

    .sideBar .icon {
        position: relative;
        top: 14px;
        left: 22px;
    }

    /* This icon is too small and in the wrong place */
    #sideBarELEVATOR .icon {
        top: 10px;
        left: 23px;
    }

    /* This icon is too small and in the wrong place */
    #sideBarELEVATOR .icon:before {
        font-size: 40px !important;
    }

    /* Generic icon settings */
    .sideBar .icon:before {
        font-size: 32px !important;
    }

    /* Left Margin for Side Bar */
    .custom #configuration-interface {
      margin-left: 90px;
    }

    .Esc-Section-Header {
        font-size: 22px !important;
    }

    /* Fix product description placement on ipad view */
    #headerBarText_KONE_ELEVATOR_TOOLS,
    #headerBarText_KONE_PLANNER_TOOLS,
    #headerBarText_PRODUCT_NAME {
        left: 98px;
    }

    /* when tablet  hide Key values*/
    .ESC_KEY_VALUES_TABLE_HTML_TR_tag {
        display: none;
    }

    /* Escalator header size Ipad view */
    #ESC_MAIN_IMAGE_TR_tag {
        display: none;
    }

    /* Escalator header size Ipad view */
    #ESC_MAIN_IMAGE_FEEDER_TR_tag1 {
        display: none;
    }

    /* Escalator hide configuration info */
    .configuration-info {
        display: none !important;
    }

    /* Fix anon header size */
    .KoneHeaderDiv.isAnon-navTop {
        height: 90px;
    }
}


/* ------------------------------------------------------------------ ------ */
/* Start - Locale search mod */

/* Styling for injected search */
#headerBar_LANGUAGE #locale-search {
    padding-right: 12px;
    text-align: left;

    /* Prevent background from showing through */
    background-color: white;

    /* Blend border */
    border-top: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
}

/* Input stlying  */
#headerBar_LANGUAGE #locale-search #search {
    padding: 12px 12px;
    width: 85%;
    border: none;
    box-shadow: none;
}

/* Remove input styling on focus */
#headerBar_LANGUAGE #locale-search #search:focus {
    box-shadow: none !important;
}

/* Clear input button */
#headerBar_LANGUAGE #locale-search .closeX {
    margin: 16px 0 0 -30px;
    padding: 0;
    cursor: pointer;
    float: right;
    font-size: 12px !important;
    color: var(--semi-light-gray);
}

/* Clear input button */
#headerBar_LANGUAGE #locale-search .closeX:hover {
    color: var(--kone-blue);
}

/* Show shadow over the whole popup */
#headerBar_LANGUAGE #locale-select {
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 4px;
}

/* Remove original shadow and merge search div with popup contents */
#headerBar_LANGUAGE #locale-select .popup-contents {
    border-radius: 0 0 2px 2px;
    border-top: none !important;
    box-shadow: none !important;
}

/* Make each row smaller */
#headerBar_LANGUAGE .locale-row {
    padding: 12px 16px;
}

/* End - Locale search mod */
/* ------------------------------------------------------------------ ------ */
/* Start - Sidebar - Locale selector mod */

/* Corrects placement and lets the search expand to the left */
#headerBar_LANGUAGE #locale-select {
    margin-top: 46px;
    top: 0px !important;
    left: auto !important;
    margin-right: 8px;
    right: 0px;
}

/* Modify language selector when not in ipad portrait mode. Showing the text-align
 * plays havoc when in this mode since it was originally build like a table.
 *
 * Match almost everything that isn't an ipad in portrait mode
 */
@media (orientation:landscape) and (min-device-height:1000px),
all and (min-width:1000px) {


    /* Fix LANGUAGE positionining */
    #headerBar_LANGUAGE span.text {
        top: 0px;
        margin-top: 15px;
        margin-right: 10px;
    }

    /* Alight with language text */
    #headerBar_LANGUAGE {
        text-align: right;
    }

    /* Show language string */
    #headerBar_LANGUAGE .icon #current-locale span {
        display: inline-block;
    }

    /* Show chevron to to the right of the language string */
    #headerBar_LANGUAGE .icon #current-locale::after{
        font-family: "KONE-Icon-Font";
        content: "\59";
        font-size: 15px;
        font-weight: bold;
        color: var(--semi-dark-gray);
        margin: 0 10px;
    }

    /* Remove underline from language */
    #headerBar_LANGUAGE #current-locale-label {
        text-decoration: unset;
    }

    /* Correct selector width when language string is shown */
    #headerBar_LANGUAGE span.icon {
        width: auto;
        float: right;
    }

    /* Correct selector width when language string is shown */
    #headerBar_LANGUAGE .icon #current-locale {
        position: relative;
        margin-left: 16px;
    }

    /* Correct selector width when language string is shown */
    #headerBar_LANGUAGE {
        width: 340px;
    }
}

/* scrollbar width */
#headerBar_LANGUAGE ::-webkit-scrollbar {
    width: 3px;
}

/* scrollbar track */
#headerBar_LANGUAGE ::-webkit-scrollbar-track {
    background: white;
}

/* scrollbar handle */
#headerBar_LANGUAGE ::-webkit-scrollbar-thumb {
    background: var(--semi-light-gray, #888);
}

/* End - Sidebar - Locale selector mod */
/* ------------------------------------------------------------------ ------ */
/* Start - HeaderV2 sidebar mod */

body.isConfig.V2_OLD_NAV #headerBarText_KONE_PLANNER_TOOLS {
    font-family: KONE-Information;
    font-size: 16px;
    text-align: left;
    color: #8d8d8d !important;
    position: relative;
    left: 147px;
}

body.isConfig.V2_OLD_NAV #sideBarHOME div.back-arrow::before {
    content: "\58";
    /*  */
    font-family: KONE-Icon-Font;
    font-size: 15px;
    position: relative;
    top: 2px;
    padding-right: 3px;
}

body.isConfig.V2_OLD_NAV #sideBarHOME div.back-arrow {
    margin-right: 18px;
    /*back-arrow::before font-size + padding-right */
}

body.isConfig.V2_OLD_NAV #sideBarESCALATOR .icon:before {
    content: "\37";
    font-family: KONE-Icon-Font;
    object-fit: contain;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

body.isConfig.V2_OLD_NAV .KoneSideBarDiv {
    height: 100%;
    background-color: #3b4245;
}
