/* Start: image grid selected image */
img[id^=IGImage_CAR_DESIGN_SOLUTIONS].selected,
img[id^=IGImage_TYP_DESIGN_SOLUTION].selected,
img[id^=IGImage_TRANSYS_CEILINGS].selected,
img[id^=IGImage_TRANSYS_FLOOR_MATERIALS].selected,
img[id^=IGImage_TRANSYS_WALL_MATERIALS].selected,
img[id^=IGImage_TRANSYS_DOOR_FINISHES].selected {
    padding: 5px;
    border-width: 3px;
}
/* End: image grid selected image */

/* Start: design image-grid css */
.selected-design {
    border-color: #0071b9;
    border-style: solid;
    border-radius: 1px;
    border-width: 3px;
}

/* Override default border */
.custom .selected-design img {
    border: none;
}

/* End: design image-grid css */

/* Start: image grid prevent image jump when selected */
.image-grid img {
    border-color: transparent;
    padding: 30px 5px 5px 5px !important;
    border-width: 3px;
}
/* End: image grid prevent image jump when selected */

/* Start: Slider CSS */
.ui-slider-value-box {
    top: -10px;
    left: 258px;
    width: 69px;
    height: 50px !important;
    display: inline-block;
    border: solid 1px #0071b9 !important;
    border-radius: 0px !important;
    position: absolute;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 16px !important;
    letter-spacing: 0.1px;
    color: #0071b9 !important;
    white-space: nowrap;
    padding: 0px !important;
}

.ui-slider-tick-mark {
    display: inline-block;
    width: 2px;
    background: #0071b9;
    border: none;
    height: 7px;
    position: absolute;
    top: 22px;
}

.ui-slider-tick-mark-text {
    display: inline-block;
    overflow: hidden;
    border: none;
    position: absolute;
    top: 32px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    width: 70px;
    /*fix for misaligned text (60px)*/
    font-family: KONE-Information !important;
    font-size: 16px !important;
    letter-spacing: 0.1px;
    color: #3b4245;
    white-space: normal;
    /*nowrap*/
}

.custom .sliderData,
.custom .sliderLeft,
.custom .sliderRight {
    display: none;
}

.custom div[id*=slider]>.ui-state-default {
    color: #0071b9;
    background: #0071b9;
    border: none !important;
}

.custom div[id*=slider]>.ui-state-focus {
    color: #0071b9;
    border: none !important;
    background: #0071b9;
}

.custom .ui-slider-horizontal .ui-slider-handle {
    top: -.40em;
    margin-left: -.6em;
}

.custom .ui-slider-horizontal {
    height: 12px;
    /*.8em*/
    width: 560px;
    border-radius: 4px;
    border: none !important;
    background-image: linear-gradient(to right, #cdd0d2, #0071b9);
}

.custom .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    /*1.2em*/
    height: 25px;
    /*1.2em*/
    cursor: default;
    border-radius: 14px;
    /*0.6em*/
    color: #0071b9;
    background-color: #0071b9;
    border-color: #0071b9;
}
/* End: Slider CSS */

/* Start: Group Header Values */
div.groupHeaderValues {
    padding-left: 64px;
    padding-bottom: 20px;
}

div.groupHeaderValues span.group-header-values-label,
div.groupHeaderValues span.group-header-values-data {
    display: inline;
    font-family: KONE-Information;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #0071b9;
    background: #ffffff;
    padding-bottom: 2px !important;
}
/* End: Group Header Values */

/* Start: Input styles - radio and checkbox */
.control {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    top: -15px;
    /*left:-22px;*/
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
    /*added by: I Carter*/
}

/* checkbox */
.control__indicator--checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background: #ffffff;
    border-radius: 2px;
    border: solid 1px #3b4245;
}

.control input:checked~.control__indicator--checkbox {
    background: #0071b9;
    border-color: #0071b9;
}

.control:hover input:not([disabled]):checked~.control__indicator--checkbox,
.control input:checked:focus~.control__indicator--checkbox {
    background: #0e647d;
}

.control input:disabled~.control__indicator--checkbox {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator--checkbox:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator--checkbox:after {
    display: block;
}

.control--checkbox .control__indicator--checkbox:after {
    left: 8px;
    top: 5px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator--checkbox:after {
    border-color: #7b7b7b;
}

/* radio */
.control__indicator--radio {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #ffffff;
    border-radius: 50%;
    border: solid 1px #0071b9;
}

.control input:checked~.control__indicator--radio {
    background: #ffffff;
    border-color: #0071b9;
}

.control input:disabled~.control__indicator--radio {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator--radio:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator--radio:after {
    display: block;
}

.control--radio .control__indicator--radio:after {
    left: 2px;
    top: 2px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #0071b9;
}

.control--radio input:disabled~.control__indicator--radio:after {
    background: #7b7b7b;
}
/* End: Input styles - radio and checkbox */

/* Start: Input styles - Text Grid  */
.selectMenuGrid-Text-OptionBox {
    border: 1px solid #DAE2E7;
    width: 90%;
    display: inline-block;
    /*margin: 1%;*/
    padding: 20px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    cursor: pointer;
    height: 120px;
}

.selectMenuGrid-Text-OptionBox .optionTitle {
    display: block;
    font-size: 18px;
    color: #3b4245;
    font-family: KONE-Information;
    letter-spacing: 0.1px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    position: relative;
    top: 0px;
    width: inherit;
    /*100%*/
    /*left:0px;*/
    margin-bottom: 10px;
}

.selectMenuGrid-Text-OptionBox .optionText {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #9b9b9b;
    /*height: 40px;*/
    font-family: KONE-Information;
    width: inherit;
    /*100%*/
    margin-bottom: 20px;
}

/* Input styles - Image Grid  */
.selectMenuGrid-Image-OptionBox {
    border: solid 1px #DAE2E7;
    border-radius: 1px;
    width: 166px;
    display: inline-block;
    margin: 0px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    cursor: pointer;
    height: 235px;
}

.selectMenuGrid-Image-OptionBox .optionTitle {
    display: block;
    font-size: 16px;
    color: #3b4245;
    font-family: KONE-Information;
    letter-spacing: 0.1px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    position: relative;
    top: 20px;
    width: inherit;
    /*100%*/
}

/* Common */
.selectMenuGrid-Selected {
    border: solid 3px #0071b9;
}
/* End: Input styles - Text Grid  */

/* Start: Key Values panel */
/*keyValuesPanel Styling*/
.keyValuesPanel {
    position: absolute;
    right: 4%;
    width: 40%;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    background-color: transparent;
    border: none;
    z-index: 95;
}

.keyValuesPanel.sticky {
    position: fixed;
    right: 4%;
    width: 40%;
    /*top:30%;*/
}

.keyValuesPanel.stickToBottom {
    bottom: 50%;
}

#KEY_VALUES_INFO,
#KEYVALUES_MAIN_IMAGE_TEXT {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

/* End: Key Values panel */

/* Start: Car Design info panel */
.carDesignInfoPanel {
    top: 0px;
    /* align with header bottom */
    left: 860px;
    display: none;
    position: absolute;
    z-index: 95;
    opacity: 1;
    padding: 15px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dae2e7;
    box-shadow: 8px 8px 10px -2px rgb(141, 145, 148);
    /* KONE SEMI-DARK GRAY */
    overflow: hidden;
    width: 90%;
    /* When at 100% zoom */
    max-width: 800px;
    /* Prevent overstretch on zoom out */
    right: 4%;
}
/* End: Car Design info panel */

/* Start - car design info panel close button */

/* Expand C1 table but not the ones deeper inside the element.
* This ensures the close buttons can reach the right side of
* the div.
*/
#carDesignInfoPopup>#help-content>table {
    width: 100%;
}

/* Loosely place contents */
#car-option-image,
#car-spring-image {
    float: left;
}

/* Remove defaults from all elements */
#car-spring-image * {
    padding: 0px;
    margin: 0px;
    border: none;
}

/* Float design table below containers */
#car-design-help .car-design {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 20px;
}

/* Cell paddings - removed from inline css */
#car-design-help .car-design td {
    padding: 2px 10px;
}

/* Float image information between material and wall help  */
#car-image-info {
    position: absolute;
    bottom: 0;
    max-width: 300px;
}

/* Block display image info */
#car-image-info div {
    margin: 6px;
    display: block;
    max-width: 100%;
}

/* Alight close buttons to the right of the container */
div.car-design-help {
    width: 100%;
    text-align: right;
}

/* Prevent floating header overlapping with images/info */
#car-design-help .table-title {
    clear: both;
    padding: 10px 0px 10px 5px;
}

/* Align close button on footer */
.car-design-help.bottom-close {
    margin-bottom: 15px;
    margin-top: 12px;
    border-top: 1px #d7d7d7 solid;
    clear: both;
}

/* Change footer close button to a lighter colour on hover */
.car-design-help span.close-btn:hover {
    color: #3d9edb !important;
    border-color: #3d9edb;
}

/* Close buttons */
.car-design-help span.close-btn,
.car-design-help span.close-x {
    cursor: pointer;
}

.car-design-help span.close-x::before {
    font-size: 26px;
    font-family: 'KONE-Icon-Font-Alt';
    color: #878787;
    content: '\e940';
}

/* TODO: make warningmessagemodal somewhat global so this doesn't have to be done */
/* Close button on footer */
.car-design-help span.close-btn {
    top: 15px;
    margin: 2px;
    padding: 6px 22px;
    color: #0071b9;
    background-color: white !important;
    border-radius: 2px;
    border: 2px solid #0071b9;
    border-radius: 2px;
    font-size: 20px !important;
    font-weight: normal;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    min-width: 40px;
}
/* END - car design info panel close button */

/* Start: Section help */
.infoPopup {
    display: none;
    position: absolute;
    z-index: 97;
    /*120*/
    opacity: 1;
    padding: 20px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #dae2e7;
    box-shadow: 5px 5px rgb(0, 113, 185);
    overflow: hidden;
}

.groupInfo {
    width: 40%;
    right: 4%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
    .groupInfo {
        width: 40%;
        right: 8%;
    }
}

.infoPopup #help-content,
.infoPopup .help-close {
    display: inline-block;
}

.infoPopup #help-content {
    width: 100%;
    font-family: KONE-Information !important;
    font-size: 16px !important;
}

.infoPopup .help-close {
    position: absolute;
    top: 20px;
    right: 20px;
    float: right;
    width: 23px;
    padding: 0px;
}

.help_header {
    font-family: KONE-Information !important;
    font-size: 21px !important;
    margin-bottom: 22px;
}

/* End: Section help */

/* Start: Input group help icon*/
.help-icon {
    display: inline-block;
    float: right;
}

.custom .help-mark::before,
.autodesk360 .info-mark::before {
    font-family: KONE-Icon-Font;
    content: "\123";
    /*icon-info-box=123,  icon-information=123*/
    font-size: 24px;
    color: #0071b9;
}

.custom .help-mark {
    height: 31px;
    width: 30px;
}

/* Start: Special help-mark with different text */
.custom .help-mark.custom-mark {
    border: 1px solid #0071b9;
    color: #0071b9 !important;
    border-radius: 20px;
    width: auto;
    padding: 5px 10px;
    height: auto;
    font-weight: 200;
}

.help-mark.custom-mark::before {
    content: none !important;
}

.custom .help-mark.custom-mark:hover {
    color: #3d9edb !important;
    border-color: #3d9edb;
}
/* End: Special help-mark with different text */

/* hide main help reference as used by top bar help button */
div[id^=help_icon_267544131] {
    display: none;
}
/* End: Input group help icon*/
