/* ########################################################################### */
/* Start - Warning Message CSS */
/* Standardised modal CSS to go along with the function KoneDialog() inside designUI */

/* Warning overlay */
.modal-warning {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  /* Used to clear header */
  /* top: 50px; */
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, 0.45) !important;
  max-height: calc(100vh - 127px);
}

/* Warning overlay content  */
div.modal-warning>div.warning-modal-content {
  /* Centralize */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  /* Modal container shape*/
  background: #ffffff;
  min-width: 40%;
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(10, 10, 10, 0.9);
  padding: 5px 10px;
}

/* Warning header - display title and close on same level*/
div.warning-header {
  /* overflow: auto; */
  display: inline-block;
  width: 100%;
}

/* Left align warning title */
div.warning-header .warning-title {
  float: left;
  color: #3B4245;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  height: auto !important;
  ;
}

/* Right align print and close */
div.modal-warning #header-tools {
  float: right;
  top: -5px;
}

/* Configure buttons and prin text*/
div.modal-warning span.btn,
div.warning-modal-content span.print-text {
  display: inline-block;
  margin-left: 5px;
  /*! margin-top: 2px; */
  color: #0071b9;
  font-weight: bold;
}

/* Print button icon*/
div.modal-warning .print-button-icon::after {
  content: "\130";
  color: #0071b9;
  font-family: 'KONE-Icon-Font' !important;
  font-size: 30px;
}

/* Ensure close x and print options are always aligned if one is missing */
div.modal-warning .warning-header span {
  display: inline-block;
}

/* Modifidy close X   */
div.modal-warning .warning-header span.modal-close {
  font-size: 22px;
  font-weight: 300px;
  font-family: 'KONE-Icon-Font';
  color: #878787;
  margin: 0px 5px;
  height: 30px;
  text-align: center;
}

/* Align close x*/
div.modal-warning .warning-header .modal-close {
  margin-top: 10px !important;
  top: 3px;
}

/* Align print button  */
div.modal-warning .print-button-icon {
  top: 7px;
  margin: 0px 5px;
}

/* Button pointer */
div.warning-modal-content span.print-text,
div.modal-warning span.modal-close,
div.modal-warning span.btn {
  cursor: pointer;
}

/* Right align close window button */
div.modal-warning span.btn {
  margin: 2px;
  padding: 6px 22px;
  color: #0071b9;
  background-color: white !important;
  border-radius: 2px;
  border: 2px solid #0071b9;
  border-radius: 2px;
  font-size: 20px !important;
  font-weight: normal;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  min-width: 40px;
}

/* Button - change on hover */
div.modal-warning span.btn:hover {
  color: #3d9edb !important;
  border-color: #3d9edb;
}

/* Warning message container */
div.modal-warning .warning-container {
  margin: 5px 0px;
  padding: 15px 0px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
  overflow: auto;
  max-height: 70vh;
}

/* Warning message CSS */
div.modal-warning .warning-container .warning-message {
  margin: 0px 25px;
  padding: 20px 5px;
  background: #ffffff;
  text-align: left;
}

/* Custom behaviour - Warning message left aling */
div.modal-warning .warning-message.align-left {
  text-align: left;
}

/* Custom behaviour - Warning message center aling */
div.modal-warning .warning-message.align-center {
  text-align: center;
}

/* Custom behaviour - Warning message center aling */
div.modal-warning .warning-message.align-right {
  text-align: right;
}

/* Align title, message, and footer inside warning borders */
div.modal-warning .warning-header .warning-title,
div.modal-warning .warning-footer {
  margin-left: 30px;
  overflow: auto;
  /* ensure divs grow with content */
}

/* Left align footer buttons */
div.modal-warning .warning-footer {
  float: right;
}

/* Print options */
@media print {
  @page {
    size: A4;
  }

  html,
  body {
    margin: 0px;
    padding: 0px;
  }

  /* Hide buttons */
  #header-tools,
  .close-btn {
    display: none;
  }
}


/* End - Warning Message CSS */
/* ########################################################################### */
/* Start - ENA elevator compared products offerings table */

/* Override centralized content */
#ena_compare_products,
#compare-disclaimer {
  text-align: left;
}

/* Get rid of border spacing and set font */
table#ena_compare_products,
#ena_compare_products th,
#ena_compare_products td {
  border: solid 1px #D7D7D7;
  border-collapse: collapse;
  font-size: 16px;
}

/* Match first column in thead and tbody */
table#ena_compare_products tr *:first-of-type {
  min-width: 200px;
}

/* Header css */
table#ena_compare_products th {
  background: #3B4245;
  color: #ffffff;
}

/* Product column width*/
table#ena_compare_products tr td:nth-child(n+2) {
  min-width: 300px;
}

/* TH, TD text spacing */
table#ena_compare_products th,
table#ena_compare_products td {
  padding: 8px 12px;
}

/* Space disclaimer from table */
.warning-message #compare-disclaimer {
  padding-top: 10px;
}

/* Change font sizing */
.warning-message #compare-disclaimer span {
  font-size: inherit !important;
}

/* Link pointer event */
.warning-message .requirements-exceeding-link {
  cursor: pointer;
}

/* End - ENA elevator compared products offerings table */
/* ########################################################################### */
/* Start - Help files used in popups */

/* Help file modal table */
.warning-container .help_table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.warning-container .help_table th {
  padding: 0 0 8px 0;
}

/* Draw borders*/
.warning-container .help_table table,
.warning-container .help_table td {
  border: 1px #d7d7d7 solid;
  padding: 4px 10px;
}

/* Table header stlying */
.warning-container .help_table tr:first-child td {
  padding: 8px 12px;
  font-weight: 600;
}

/* Set product column width for LOD details*/
.warning-container .help_table.lod_table td:first-child {
  width: 180px;
}

/* Escalator compare - 24/7 tickmark */
.warning-container #connected-services td:not(:first-child) {
  color: green;
  font-size: 24px;
}

/* End - Help files used in popups */
/* ########################################################################### */
/* Start - Elevator Product Change popup */

/* Cancel button */
#modal-warning-change-product .warning-footer span.close-btn {
  border: 2px solid #939191;
  color: #939191;
}

/* Override kone default hover */
#modal-warning-change-product .warning-footer span.close-btn:hover {
  border-color: #b6b6b6 !important;
  color: #c6c6c6 !important;
  ;
}

/* End - Elevator Product Change popup */
/* ########################################################################### */
/* Start - Media carousel popup */

/* Expand container */
#modal-warning-MediaContainer .warning-container {
  height: 100vh;
  max-width: 180vh;
}

/* Resize popup message area to fit container */
#modal-warning-MediaContainer .warning-message {
  /* Give the image width otherwise the auto scalling in the rules for img won't work */
  height: 92%;
  /* Prevent overflow */
  max-height: 92%;
  text-align: center;
}


/* Resize image to fit modal */
#modal-warning-MediaContainer img {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  margin: auto;
  border: none;
}

/* End - Media carousel popup */
/* ########################################################################### */