/*---------------- ****************** PAGE 1 *********************** ---------------- */

/*---------------- Title image and input group 1664235315 ---------------- */

/* Hide group header Name space Group*/
div[id^=collapse1664235315] {
  display: none;
}

/* backround*/
.custom div[id^=accordion1664235315]>div.input-group {
  background: url(/HTML/products/247109161/images/KONE_Elevator_Configurator_Hero.png);
  /*background: url(/HTML/products/236324221/images/elevator_planner_winner_picture.jpg);*/
  /*background: url(/HTML/products/236324221/images/elevator_planner_7.jpg);*/
  /*background: url(/HTML/products/236324221/images/Elevator_planner_5.jpg);*/
  /*background: url(/HTML/products/236324221/images/elevator_planner_1.jpg);*/
  /*background: url(/HTML/products/236324221/images/Toolbox-hero-image-v2.jpg);*/
  /*background: url(/HTML/products/247109161/images/KONE_Elevator_Configurator_Hero.png);*/
  background-repeat: no-repeat;
  background-size: 100% 342px;
  min-height: 342px;
  width: 100%;
}

.custom div[id^=accordion1664235315]>div.input-group td {
  padding: 0px;
}

.custom div[id^=accordion1664235315]>div.input-group>.group-body table {
  /*margin-left: 0;*/
  margin: unset;
  width: 100%;
}

/* Need to ensure that the input group body is 100% of the group width */
.custom div[id^=accordion1664235315]>div.input-group>.group-body {
  /*margin-left: 0;*/
  margin: unset;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.custom div[id^=accordion1664235315]>div.input-group>.group-body>#inputParameterTable {
  margin: unset;
  width: 100%;
}


/*END  Title image and input group */

/*---------------- configure options header 825714230---------------- */


/* Hide group header Building Group*/
div[id^=collapse825714230] {
  display: none;
}

/* background colour */
div[id^=accordion825714230]>div.input-group {
  background: #E8EAED;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

/* Left align contents */
div[id^=accordion825714230]>div.input-group>.group-body {
  margin-left: 30px;
  width: 100%;
}

.custom div[id^=accordion825714230]>div.input-group>.group-body table {
  width: 100%;
}

.custom div[id^=accordion825714230]>div.input-group>.group-body>#inputParameterTable {
  margin: unset;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/*END  configure options header */


/*---------------- BUILDING_TYPE header 962736437---------------- */


/* Hide group header Building Group*/
div[id^=collapse962736437] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=962736437].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion962736437]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=ESCALATOR_BUILDING_TYPE_HEADER_HTML_CUSTOM_HTML_TEMPLATE_CONTENT] {
    font-size: 50px !important;
  }
}

/* Left align contents */
div[id^=accordion962736437]>div.input-group>.group-body {
  margin: 0;
}

/*END  BUILDING_TYPE header */

/*---------------- Building Type 1681405750--------------- */

/* Hide group header Units Group*/
div[id^=collapse1681405750] {
  display: none;
}

.custom #ENA_ELEVATOR_RANGE_OF_USE_TD_tag {
  display: none;
}

/* background colour */
div[id^=accordion1681405750]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #d7d7d7;
  margin-top: -20px;
}

/*
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1681405750]>div.input-group {
    width: 900px;
  }
}
*/

/* Left align contents */
div[id^=accordion1681405750]>div.input-group>.group-body {
  margin: 0;
}

/*END  Building type */

/*---------------- Number of Landings header 1633891377 ---------------- */


/* Hide group header Building Group */
div[id^=collapse1633891377] {
  display: none;
}

/* BUILDING_TYPE text */

div[id^=1633891377].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion1633891377]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion1633891377]>div.input-group>.group-body {
  margin: 0;
}

/*END  Number of Landings header */

/*---------------- Number of Landings  875718242 --------------- */

/* Hide group header Units Group*/
div[id^=collapse875718242] {
  display: none;
}

.custom #ESCALATOR_ADDITIONAL_DETAILS_MENU_TD_tag {
  display: none;
}

/* background colour */
div[id^=accordion875718242]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #d7d7d7;
  margin-top: -20px;
}

/*
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion875718242]>div.input-group {
    width: 900px;
  }
}
*/

/* Left align contents */
div[id^=accordion875718242]>div.input-group>.group-body {
  margin: 0;
}

/*END  Number of Landings  */

/*---------------- Building Population header 1717920614 ---------------- */


/* Hide group header Building Group*/
div[id^=collapse1717920614] {
  display: none;
}

/* BUILDING POPULATION_TYPE text */

div[id^=1717920614].input-group {
  font-family: KONE-Information;
}

/* background colour */
div[id^=accordion1717920614]>div.input-group {
  background-color: #fbfbfb;
  margin-left: 14px;
}

/* Left align contents */
div[id^=accordion1717920614]>div.input-group>.group-body {
  margin: 0;
}

/*END  Number of Landings header */

/*---------------- Building Population  892363875 --------------- */

/* Hide group header Units Group*/
div[id^=collapse892363875] {
  display: none;
}


/* background colour */
div[id^=accordion892363875]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #d7d7d7;
  margin-top: -20px;
  margin-bottom: 20px;
}

/*
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion892363875]>div.input-group {
    width: 900px;
  }
}
*/

/* Left align contents */
div[id^=accordion892363875]>div.input-group>.group-body {
  margin: 0;
}

/*END  Building population  */


/*---------------- Suitable product 825570915---------------- */


/* Hide group header Building Group*/
div[id^=collapse825570915] {
  display: none;
}

/* background colour */
div[id^=accordion825570915]>div.input-group {
  background: #E8EAED;

}

/* iPad only */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion825570915]>div.input-group {
    width: 901px;
    left: 25px;
  }
}

/* Start: image grid selected image */
img[id^=IGImage_ENA_ELEVATOR_GD_TOP_SELECT].selected {
  padding: 5px;
  border-width: 3px;
}


.custom #ENA_ELEVATOR_GD_TOP_SELECT_TD_tag {
  display: none;
}

/* Suitable product Header */
div[id^=accordion825570915]>div.input-group {
  margin-right: 15px;
}

/* iPad only */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion825570915]>div.input-group {
    width: 911px;
    left: 12px;
  }
}

/*END  Suitable product header */

/*---------------- Product selection  393309807 --------------- */

/* Hide group header Units Group*/
div[id^=collapse393309807] {
  display: none;
}


/* background colour */
div[id^=accordion393309807]>div.input-group {
  background: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid #d7d7d7;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion393309807]>div.input-group {
    width: 900px;
  }
}

/* Left align contents*/
div[id^=accordion393309807]>div.input-group>.group-body {
  margin: 0;
}

/*END  Product selection  */

/*---------------- Product selection Data 926103091 ---------------- */

/* Hide group header Building Group*/
div[id^=collapse926103091] {
  display: none;
}

/* background colour */
div[id^=accordion926103091]>div.input-group {

  margin-left: 25px;
  margin-right: 25px;

  margin-top: 20px;
  margin-bottom: 0px;
}

/*END  Product selection Data */

/*---------------- reload 828782691---------------- */

/* Hide group header Building Group*/
div[id^=collapse828782691] {
  display: none;
}

/* Left align contents */
div[id^=accordion828782691]>div.input-group>.group-body {
  margin-left: 0px;
}

/* background colour */
div[id^=accordion828782691]>div.input-group {
  margin-left: 10px;
  margin-top: -25px;
}

/*END  reload */

/*---------------- PAGE 2 Expand All 407920494---------------- */

/* Hide group header Group*/
div[id^=collapse407920494] {
  display: none;
}



/* Left align contents */
div[id^=accordion407920494]>div.input-group>.group-body {
  margin: 0;
}



/*END  Expand All*/
/*---------------- PAGE 2 Design and Safety header 205795821---------------- */
/* set width of group */
div[id^=accordion205795821] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion205795821] {
    width: 85%;
  }
}

/* Hide group header Group*/
div[id^=collapse205795821] {
  display: none;
}

/* text */

div[id^=205795821].input-group {
  width: 89px;
  height: 31px;
  font-size: 30px;
  font-family: KONE-Information;
  letter-spacing: 0.2px;
  text-align: left;
  vertical-align: bottom;
  color: #4a4a4a;
  position: relative;
  bottom: 4px;
  left: 16px;
}

/* Left align contents */
div[id^=accordion205795821]>div.input-group>.group-body {
  margin: 0;
}

/* background colour */
div[id^=accordion205795821]>div.input-group {
  border: 1px solid #DAE2E7;
  border-radius: 2px;
  background-color: rgba(242, 243, 244, 0.6);
  margin-left: 30px;
}

/*END  Design and Safety header */

/********************* Input Group: Car Wall Finish- 1644108347 *************************/

/* Input Group: Car Wall Finish */
div[id^=accordion1644108347] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1644108347] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1644108347]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse1644108347].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1644108347]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1644108347]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1644108347]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* CAR WALL FINISH Icon */
div[id^=collapse1644108347].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse1644108347]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse1644108347]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Car Wall Finish*/
/********************* Input Group: Car Wall - 772488649 *************************/

/* Input Group: Car Wall */
div[id^=accordion772488649] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion772488649] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion772488649]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse772488649].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion772488649]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion772488649]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion772488649]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/* CAR WALL  Icon */
div[id^=collapse772488649].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse772488649]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse772488649]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Car Wall */
/********************* Input Group: Car Front, Door and Skirting Finish - 1545700360 *************************/

/* Input Group: Car Front, Door and Skirting Finish */
div[id^=accordion1545700360] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1545700360] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1545700360]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse1545700360].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1545700360]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1545700360]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1545700360]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse1545700360].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse1545700360]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse1545700360]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Car Front, Door and Skirting Finish */
/********************* Input Group: Car Ceiling- 461667246 *************************/

/* Input Group: Car Ceiling */
div[id^=accordion461667246] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion461667246] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion461667246]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse461667246].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion461667246]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion461667246]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion461667246]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse461667246].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse461667246]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse461667246]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Car Ceiling */
/********************* Input Group: Handrails- 1180286962 *************************/

/* Input Group: Handrails */
div[id^=accordion1180286962] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion1180286962] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion1180286962]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse1180286962].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion1180286962]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion1180286962]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion1180286962]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse1180286962].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse1180286962]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse1180286962]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Handrails */
/********************* Input Group: Car Signalization- 788999843 *************************/

/* Input Group: Car Signalization */
div[id^=accordion788999843] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion788999843] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion788999843]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse788999843].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion788999843]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion788999843]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion788999843]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse788999843].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse788999843]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse788999843]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Car Signalization */
/********************* Input Group: Hall Signalization- 371564282 *************************/

/* Input Group: Hall Signalization */
div[id^=accordion371564282] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion371564282] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion371564282]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse371564282].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion371564282]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion371564282]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion371564282]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse371564282].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse371564282]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse371564282]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Hall Signalization */
/********************* Input Group: Hoistway Entrance- 629303733 *************************/

/* Input Group: Hoistway Entrance */
div[id^=accordion629303733] {
  width: 49%;
}

/* when tablet */
@media only screen and (max-device-width: 1024px),
(max-device-width: 1280px) {
  div[id^=accordion629303733] {
    width: 85%;
  }
}

/*input group border*/
div[id^=accordion629303733]>div.input-group {
  border-width: 1px;
  border-color: #dae2e7;
  border-style: solid;
  border-radius: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  background-color: #ffffff;
  margin-left: 30px;
}

/*input group header changes*/
div[id^=collapse629303733].group-header {
  background: #ffffff;
  border-radius: 2px;
  border-color: #ffffff;
  font-weight: normal;
  color: #3b4245;
  height: 64px;
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: KONE-Information;
  vertical-align: middle;
  padding: 10px 0px 10px 20px;
}

/* input group open settings */
div[id^=accordion629303733]>div.input-group>div.group-open {
  display: none;
  background: #0071b9;
  border-color: #0071b9;
  color: #ffffff;
}

/* input group close settings */
div[id^=accordion629303733]>div.input-group>div.group-closed {
  display: none;
  background: #ffffff;
  border-color: #ffffff;
  color: #3b4245;
}

/* group body settings */
div[id^=accordion629303733]>div.input-group>.group-body {
  margin: 0px;
  padding-bottom: 10px;
}

/*  Icon */
div[id^=collapse629303733].group-header.collapsible::before {
  content: "\273";
  width: 37px;
  height: 36px;
  font-family: KONE-Icon-Font;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  position: relative;
  bottom: -8px;
  padding-right: 16px;
}

/* Close group icon */
div[id^=collapse629303733]>span.indicator:after {
  content: "\60";
  color: #ffffff;
  width: 23px;
  height: 22px;
  font-family: KONE-Icon-Font;
  font-size: 20px;
  letter-spacing: 0.1px;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  top: 20px;
  left: -30px;
}

/* Open group icon */
div[id^=collapse629303733]>span.indicator.closed:after {
  content: "\59";
  color: #3b4245;
}

/* End Group: Hoistway Entrance */

/* MAC */
/* slidercss.css */
@media only screen and (min-device-width : 1440px) and (max-device-width : 1440px) {
  img[id^="IGImage_CAR_DESIGN_SOLUTIONS"],
  img[id^="IGImage_TYP_DESIGN_SOLUTION"] {
    width: 70px !important;
  }

  img[id^="IGImage_TRANSYS_CEILINGS"],
  img[id^="IGImage_TRANSYS_WALL_MATERIALS"],
  img[id^="IGImage_TRANSYS_FLOOR_MATERIALS"],
  img[id^="IGImage_TRANSYS_DOOR_FINISHES"] {
    width: 80px !important;
  }
}
