<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_MONOSPACE300.html -->

<a class="brochure-link" id="MONO_300_BROCHURE" href="[url]" target="_blank">
    <doc>bundle.KONE_ELEVATOR_LINK_mono_300_brochures</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setMono300BrochUrl();
  });

  function setMono300BrochUrl() {
    var url = $("#MONOSPACE300_BROCHURES_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
    $("#MONO_300_BROCHURE").attr("href", url);
    //console.info("url=["+url+"]");
  }
</script>
