<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_link.html -->

<a class="brochure-link" id="BROCHURE_LINK" href="[url]" target="_blank">
  <doc>bundle.KONE_ELEVATOR_LINK_BROCHURE_LINKs</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setBrochureUrl();
  });

  function setBrochureUrl() {
    const $input = $("select[id$=_BROCHURES_URL]");
    $input.attr("id");

    // Set link and bundle tag
    const url = $input.find("option:selected").text().trim();
    const product = $("#SELECT_ELEVATOR option:selected").text().trim();
    $("#BROCHURE_LINK").attr("href", url).html(product);
  }
</script>
