<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_TRANSYS.html -->

<a class="brochure-link" id="TRANSYS_BROCHURE" href="[url]" target="_blank">
    <doc>bundle.KONE_ELEVATOR_LINK_transys_brochures</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setTransysBrochUrl();
  });

  function setTransysBrochUrl() {
    var url = $("#TRANSYS_BROCHURES_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
    $("#TRANSYS_BROCHURE").attr("href", url);
    //console.info("url=["+url+"]");
  }
</script>
