<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_MONOSPACE500.html -->

<a class="brochure-link" id="MONO_500_BROCHURE" href="[url]" target="_blank">
    <doc>bundle.KONE_ELEVATOR_LINK_mono_500_brochures</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setMono500BrochUrl();
  });

  function setMono500BrochUrl() {
    var url = $("#MONOSPACE500_BROCHURES_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
    $("#MONO_500_BROCHURE").attr("href", url);
    //console.info("url=["+url+"]");
  }
</script>
