<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_ECOSPACE.html -->

<a class="brochure-link" id="ECOSPACE_BROCHURE" href="[url]" target="_blank">
  <doc>bundle.KONE_ELEVATOR_LINK_ecospace_brochures</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setEcospaceBrochUrl();
  });

  function setEcospaceBrochUrl() {
    var url = $("#ECOSPACE_BROCHURES_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
    $("#ECOSPACE_BROCHURE").attr("href", url);
    //console.info("url=["+url+"]");
  }
</script>
