<!-- /concept/custom/jpocs/kone/elevatorproducts/brochures_MONOSPACE700.html -->

<a class="brochure-link" id="MONO_700_BROCHURE" href="[url]" target="_blank">
    <doc>bundle.KONE_ELEVATOR_LINK_mono_700_brochures</doc>
</a>

<script type="text/javascript" defer>
  $(() => {
    setMono700BrochUrl();
  });

  function setMono700BrochUrl() {
    var url = $("#MONOSPACE700_BROCHURES_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
    $("#MONO_700_BROCHURE").attr("href", url);
    //console.info("url=["+url+"]");
  }
</script>
