<!-- /concept/custom/jpocs/kone/escalator_planner/building_type_additional_details_header.html -->

<div class="header-wrapper header-center">
    <div class="Esc-Section-Header input-group-header">
        <doc>bundle.KONE_ESCALATOR_HEADER_1b_additional_details</doc>
    </div>
    <div class="input-group-text">
        <doc>bundle.KONE_ESCALATOR_HEADER_1b_additional_details_desc</doc>
    </div>
</div>
