<!-- /concept/custom/jpocs/kone/escalator_planner/building_type_header.html -->

<div class="header-wrapper header-center" id="building-type">
    <div class="Esc-Section-Header input-group-header header-only">
        <doc>bundle.KONE_ESCALATOR_HEADER_1_choose_building_type</doc>
    </div>
</div>
