<!-- /concept/custom/jpocs/kone/escalator_planner/contact_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ESCALATOR_TEXT_contact_header</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ESCALATOR_TEXT_contact</doc>
</div>
