<!-- /concept/custom/jpocs/kone/elevatorproducts/contactdetails.html -->

<div class="Esc-Section-Header input-group-header">
    <doc>bundle.KONE_ELEVATOR_TEXT_CONTACT_your_contact_details</doc>
</div>
<div class="input-group-text" id="contact-description">
    <doc>bundle.KONE_ELEVATOR_TEXT_CONTACT_description</doc>
</div>
