<!-- /concept/custom/jpocs/kone/escalator_planner/design_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ESCALATOR_TEXT_design</doc>
</div>
