<!-- /concept/custom/jpocs/kone/escalator_planner/design_and_safety_text.html -->

<!-- productId = java.lang.String -->

<div id="design-safety-text">
    <doc>bundle.KONE_ESCALATOR_TEXT_design_and_safety</doc>
</div>

<script type="text/javascript" defer>
    $(() => {
        $('#DESIGN_HIDE_1').click(function () {
            hideDesignSection(this);
        });

        // Check whether we are KONE based on the prodId value:
        let productID = '<doc><out>productId</out></doc>';
        if (productID !== "") {
            switch(productID) {
                case "261612571": // KONE Escalator Planner
                    clickCSI(document.getElementById('ESC_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1'));
                    break;

                case "909338214": // KONE ENA Elevator Planner
                    clickCSI(document.getElementById('ENA_ELEVATOR_CSI_CONSTRUCTION_SPECIFICATION_DOCX_1'));
                    break;
            }
        }
    });
</script>
