<!-- /concept/custom/jpocs/kone/escalator_planner/downloads_header.html -->

<div class="input-group-header" id="downloads-header">
    <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ELEVATOR_HEADER_downloads_text</doc>
</div>
