<!-- /concept/custom/jpocs/kone/escalator_planner/ESC_INT_SUPPORT_TEXT.html -->

<div id="inter-support-sales" class="inputgroup_text">
    <doc>bundle.KONE_ESCALATOR_INTERMEDIATE_SUPPORT_TEXT</doc>
</div>

<script>
    $(() => {
        try {
            document.querySelector('#inter-support-sales a').href = document.allvalues['STORE_CONTACT_ESC_CONTACTS_URL_value'].value;
        } catch (e) {
            console.error(e);
        }
    });
</script>
