<!-- /concept/custom/jpocs/kone/escalator_planner/escalator_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ESCALATOR_HEADER_escalator</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ESCALATOR_TEXT_escalator</doc>
</div>
