<!-- /concept/custom/jpocs/kone/escalator_planner/operating_enviroment.html -->

<div id="op-env-sales" class="inputgroup_text">
    <doc>bundle.KONE_ESCALATOR_OPERATING_ENVIRONMENT_semi_full</doc>
</div>

<script>
    $(() => {
        try {
            document.querySelector('#op-env-sales a').href = document.allvalues['STORE_CONTACT_ESC_CONTACTS_URL_value'].value;
        } catch (e) {
            console.error(e);
        }
    });
</script>
