<!-- /concept/custom/jpocs/kone/escalator_planner/safety_header.html -->

<div class="input-group-header">
    <doc>bundle.KONE_ESCALATOR_HEADER_safety</doc>
</div>
<div class="input-group-text">
    <doc>bundle.KONE_ESCALATOR_HEADER_TEXT_safety</doc>
</div>
