<!-- /concept/custom/jpocs/kone/escalator_planner/side_cladding_options_standard_text.html -->

<div class="inputgroup_text">
    <doc>bundle.KONE_ESCALATOR_TEXT_side_cladding_options_standard</doc>
</div>
