<!-- /concept/custom/jpocs/kone/escalator_planner/soffit_cladding_options_premium_text.html -->

<div class="inputgroup_text">
    <doc>bundle.KONE_ESCALATOR_TEXT_soffit_cladding_options_premium</doc>
</div>
