<!-- /concept/custom/jpocs/kone/escalator_planner/suitable_product_header.html -->

<div class="header-wrapper header-center">
    <div class="Esc-Section-Header input-group-header header-only">
        <doc>bundle.KONE_ESCALATOR_HEADER_suitable_product</doc>
    </div>
</div>
