<!-- /concept/custom/jpocs/kone/escalator_planner/transport_need_header.html -->

<div style="font-size:22px; padding-bottom:15px;">
    <doc>bundle.KONE_ESCALATOR_HEADER_2_transportation_need</doc>
</div>
