<!-- /concept/custom/jpocs/kone/escalator_planner/vertical_rise_text.html -->

<!-- productId = java.lang.String -->

<div class="inputgroup_text" id="vertical_rise_description"></div>

<style>
    sup.fraction, sub.fraction {
        font-size: 12px;
        color: inherit;
    }

    sup.fraction {
        top: 2px;
    }

    sub.fraction {
        top: -3px;
    }
</style>

<script type="text/javascript">
    var units = "";

    $(function () {
        $('#VERTICAL_RISE_INC_FEET, #VERTICAL_RISE_INC, #VERTICAL_RISE_INC_FRACTIONS').change(function () {
            updateVerticalRiseImp();
        });

        var metric = $('#DIM_ESC_VERTICAL_METRIC').length > 0 ? true : false;
        var input = "";
        if (metric) {
            input = $('#DIM_ESC_VERTICAL_METRIC');
            units = "mm";
        } else {
            //imperial
            input = $('#VERTICAL_RISE_INC_FEET');
            units = "\'";
        }
        var onchange = input.attr('onchange');
        var onfocus = input.attr('onfocus');

        input.attr('onchange', onchange.replace('checkRange', 'checkRangeVR'));
        input.attr('onfocus', onfocus.replace('setFocusElement', 'setFocusVRElement'));

        updateVerticalRiseImp();
        updateDescription();
    });

    function updateDescription() {
        let productID = document.getElementById("ESC_GD_TOP_SELECT"); // We expect it to be here.
        let inputDescription = document.getElementById("vertical_rise_description");

        if (productID !== null && inputDescription !== null) {
            switch (productID.value) {
                case 'TM110_EU':
                case 'TM110_EU_NS':
                case 'TM110T_EU':
                case 'TM110T_EU_NS':
                    inputDescription.innerHTML = "<doc>bundle.KONE_ESCALATOR_TEXT_vertical_rise_tm110</doc>";
                    break;

                case 'TM115_EU':
                case 'TM115_EU_NS':
                    inputDescription.innerHTML = "<doc>bundle.KONE_ESCALATOR_TEXT_vertical_rise_tm115</doc>";
                    break;

                case 'TM120_EU':
                case 'TM120_EU_NS':
                case 'TM120T_EU':
                case 'TM120T_EU_NS':
                    inputDescription.innerHTML = "<doc>bundle.KONE_ESCALATOR_TEXT_vertical_rise_tm120</doc>";
                    break;
            }
        }
    }

    function updateVerticalRiseImp() {
        //console.debug("updateVerticalRiseImp");
        /*
         * Set the field "DIM_ESC_VERTICAL_IMPERIAL" to the sum of 
         * (VERTICAL_RISE_INC_FEET*12)+VERTICAL_RISE_INC+VERTICAL_RISE_INC_FRACTIONS(decimal)
         */

        //if metric then return
        if (document.ui.DIM_ESC_VERTICAL_METRIC)
            return

        var feet = parseInt(document.ui.VERTICAL_RISE_INC_FEET.value);
        var inches = parseInt(document.ui.VERTICAL_RISE_INC.value);
        var fraction = parseFloat(document.ui.VERTICAL_RISE_INC_FRACTIONS.value);

        var imperialInput = document.ui.DIM_ESC_VERTICAL_IMPERIAL;
        imperialInput.value = (feet * 12) + inches + fraction;

        var imperialDisplayInput = document.ui.DIM_ESC_VERTICAL_IMPERIAL_DISPLAY;
        var inchesDisplay = inches + '"';
        //'&nbsp;<sup class="fraction">1</sup>&frasl;<sub class="fraction">10</sub>"'
        var fractionDisplay = document.ui.VERTICAL_RISE_INC_FRACTIONS.value;
        if (document.ui.VERTICAL_RISE_INC_FRACTIONS.value != "0") {
            inchesDisplay = inches + getFraction(fractionDisplay) + '"';
        }

        var text = feet + "' " + inchesDisplay;

        imperialDisplayInput.value = text;
        forceChangeEvent(imperialDisplayInput);
        forceChangeEvent(imperialInput);
    }


    function  getFraction(x) {
        var base = [2, 4, 8, 16, 32, 64];
        var denominator = 2;

        for (var i = 0; i < base.length; i++) {
            if ((x * base[i]) % 1 == 0) {
                denominator = base[i];
                break;
            }
        }

        var num = x * denominator;
        return '&nbsp;<sup class="fraction">' + num + '</sup>&frasl;<sub class="fraction">' + denominator + '</sub>';
    }


    /*
     * Input range check override 
     */
    function checkRangeVR(input, label) {
        //console.debug("checkRangeHeights "+input.name);
        var $input = $(input);
        if ($input.data("processingRange")) {
            return;
        }
        $input.data("processingRange", true);
        processingRange = true;
        var parameters = [];

        parameters[0] = new Parameter("String", label);
        parameters[1] = new Parameter("String", input.value);
        parameters[2] = new Parameter("String", document.ui[input.name + "_low"].value);
        parameters[3] = new Parameter("String", document.ui[input.name + "_high"].value);
        parameters[4] = new Parameter("String", document.ui[input.name + "_warninglow"].value);
        parameters[5] = new Parameter("String", document.ui[input.name + "_warninghigh"].value);
        parameters[6] = new Parameter("String", document.ui[input.name + "_rangemsg"].value);
        parameters[7] = new Parameter("String", document.ui[input.name + "_rangewarningmsg"].value);
        parameters[8] = new Parameter("String", ".");

        handler = new RangeCheckerCallbackHandlerVR(input, function () {
            $input.removeData('processingRange');
            processingRange = false;
        });

        // synchronous api call for validation
        executeApi("concept.core.validation.InputValidator", "validateTextWithRange", parameters, handler.callback, true);
    }

    var focusVRElement = null;
    var focusVRElementValue = null;
    function setFocusVRElement(ele) {
        //console.debug("setFocusVRElement: "+ele.name);
        focusVRElement = ele;
        focusVRElementValue = ele.value;
        if (focusVRElement.select) {
            focusVRElement.select();
        }
    }

    // This javascript "object" processes the callback for the above checkRange AJAX
// call.
    function RangeCheckerCallbackHandlerVR(input, finished) {
        var inputElement = input;
        //The vertical rise must be between <low>mm and <high>mm
        var messageTemplate = "<doc>bundle.KONE_ESCALATOR_WARNING_vertical_rise_metric</doc>";

        this.callback = function (result) {
            // alert the user if the value is not valid
            if (result.isValid() == 'false') {
                if (focusVRElement) {
                    input.value = focusVRElementValue;
                } else {
                    input.value = '';
                }
                var message = messageTemplate.replace('<low>', result.getMinValue())
                        .replace('<high>', result.getMaxValue())
                        .replaceAll('<units>', units);
                console.log("message=" + message);
                popDialogError(message, {
                    'closeCallback': finished
                });
                /* popDialogError(result.getMessage(), {
                 'closeCallback': finished
                 });
                 */
                // force focus on the input in case there is a warning on thos
                // one
                input.focus();
                // reset slider on change
                resetJQueryObjects(input.name);
                return false;
            } else if (result.isWarning() == 'true') {
                simpleConfirm(result.getMessage(), function () {
                    showEtoLink(input.name);
                    if (finished && $.isFunction(finished)) {
                        finished();
                    }
                }, function () {
                    hideEtoLink(input.name);
                    input.value = result.getValue();
                    resetJQueryObjects(input.name);
                    if (finished && $.isFunction(finished)) {
                        finished();
                    }
                });
            } else {
                hideEtoLink(input.name);
                if (finished && $.isFunction(finished)) {
                    finished();
                }
            }
            return true;
        }
    }
</script>
