<!-- /concept/custom/jpocs/kone/escalator_planner/ena_title_text.html -->

<style>
    #nameSpace.title-header {
        height: 342px;
    }

    .custom .titleRightDiv {
        display: inline-block;
        float: right;
        width: 359px;
        height: 100%;/* same as background-size for input-group */
        background-color: rgba(59,66,69,0.7);
    }
    .custom .titleLeftDiv {
        display: inline-block;
        font-size:40px; 
        top: 0px; 
        left: 60px;
        width:50%; /*to be responsive this section will need to wrap text before the change country select list*/
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
    }

    .custom .configuration_title {
        top: 40px;
        color: white;
    }
    .countryLabel {
        top:215px;
        left:30px;
    }

    .countryList {
        top: 226px;
        left:30px;
    }
    .countryLabel label {
        color: white !important;
    }

    @media only screen and (max-device-width: 1280px) {/*IPAD*/
        .custom div[id^="accordion245829240"] > div.input-group {
            background-size: 100% 241px !important;
            min-height: 241px !important;
        }

        #nameSpace.title-header {/*new*/
            height: 241px; 
        }

        .custom .titleLeftDiv {
            font-size: 26px !important;
        }

        .countryLabel {
            top: 114px ;
        }

        .countryList {
            top: 125px;
        }
    }

    @media only screen and (max-device-width: 1024px) {/*IPAD*/
        .custom div[id^="accordion245829240"] > div.input-group {
            background-size: 100% 190px !important;
            min-height: 190px !important;
        }

        #nameSpace.title-header {/*new*/
            height: 190px; 
        }

        .custom .configuration_title {
            top: 18px;
        }

        .countryLabel {
            top: 63px ;
        }

        .countryList {
            top: 74px;
        }
    } 

    #CHANGE_COUNTRY {
        color: #000000 !important;
        font-family: KONE-Information;
        border-radius: 2px;
        background-color: white;
        border: solid 2px #ffffff;
        width:299px !important;
        height: 50px;
        padding-left: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    /* Escalator header size Ipad view */
    /* when tablet */
    @media only screen and (max-device-width: 1024px), (max-device-width: 1280px) {
        #CHANGE_COUNTRY {
            width:270px !important;
        }
    }    

    .custom .CHANGE_COUNTRY-input-div select {
        display: inline-block;
        width: 100%  !important;
        cursor: pointer;
        outline: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
        background: #FFFFFF !important;
        color: #7b7b7b !important;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .CHANGE_COUNTRY-input-div select::-ms-expand {
        display: none;
    }
    .CHANGE_COUNTRY-input-div select:hover,
    .CHANGE_COUNTRY-input-div select:focus {
    }
    .CHANGE_COUNTRY-input-div select:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .CHANGE_COUNTRY-input-div .select__arrow {
        display:inline-block;
        position: relative;
        top: 8px;
        right: 38px;
        width: 0;
        height: 0;
        pointer-events: none;
    }
    .CHANGE_COUNTRY-input-div .select__arrow:after {
        font-family: KONE-Icon-Font;
        font-size: 22px;
        color: #000000;
        content: "\59";
    }

    .CHANGE_COUNTRY-input-div .select select:hover ~ .select__arrow,
    .CHANGE_COUNTRY-input-div .select select:focus ~ .select__arrow {
        border-top-color: #000;
    }
    .CHANGE_COUNTRY-input-div .select select:disabled ~ .select__arrow {
        border-top-color: #ccc;
    }
</style>

<div id="nameSpace" class="title-header">
    <div class="titleLeftDiv"><BR><doc>bundle.KONE_ELEVATOR_HEADER_configuration_title</doc>
        <div class="configuration_title">
            <!-- to be responsive this section will need to wrap text before the change country select list -->
            <doc>bundle.KONE_ELEVATOR_TEXT_configuration_title</doc>
        </div>
    </div>
    <div class="titleRightDiv">
        <div id="countryLabel" class="countryLabel"></div>
        <div id="countryList" class="countryList"></div>
    </div>
</div>


<script>
    $(function () {
        var countryTR = $('#CHANGE_COUNTRY_TR_tag').detach();
        var label = countryTR.find('label[for=CHANGE_COUNTRY]');
        var input = countryTR.find('.CHANGE_COUNTRY-input-div');
        input.addClass("select");
        $('<div class="select__arrow"></div>').appendTo(input);
        $('#countryLabel').append(label);
        $('#countryList').append(input);
    });
</script>
