<!-- /concept/custom/jpocs/kone/elevatorproducts/3_scroll_down_to_configure.html -->

<div style="font-size:22px; padding-bottom:0px;">
    <doc>bundle.KONE_ELEVATOR_HEADER_scroll_down</doc>
</div>

<a id="viewsummary" class="viewsummary" href="#280759171_1">
    <doc>bundle.KONE_ELEVATOR_BUTTON_view_summary</doc>
</a>

<a id="downloads" class="downloads" href="#210023591_1">
    <doc>bundle.KONE_ELEVATOR_BUTTON_proceed_to_downloads</doc>
</a>

<script type="text/javascript">
    $("#viewsummary").click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
            this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 30
                }, 1000);
                return false;
            }
        }
    })

    $("#downloads").click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
            this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 30
                }, 1000);
                return false;
            }
        }
    })
</script>
