<!-- /concept/custom/jpocs/kone/elevatorproducts/cad_bim_downloads.html -->

<style>
    /* Make sure all elements don't wrap */
    #cad-bim-lod-img-holder,
    #cad-bim-downloads-output-options {
        display: inline-block;
    }

    .cad-bim-downloads-header {
        font-size: 22px;
        padding-bottom: 15px;
    }

    img[id="ENA_ELEVATOR_GD_TOP_SELECT_image"] {
        padding: 0px;
        border: 1px solid #0071B9;
        border-radius: 1px;
    }

    #cad-bim-downloads-image {
        display: inline-block;
        width: 279px;
        height: 282px;
    }

    #cad-bim-downloads-input {
        display: inline-block;
        margin-left: 20px;
        padding: 10px 0px 21px 30px;
        position: relative;
        float: right;
        top: 0px;
        height: 273px;
        /* 282 - borders - padding */
        /*width: 803px;*/
        width: auto;
        border: 1px solid #D2D6DC;
        background-color: #FFFFFF;
    }

    #cad-bim-downloads-title {
        height: 27px;
        color: #3B4245;
        font-family: KONE-Information;
        font-size: 22px;
        line-height: 27px;
    }


    #cad-bim-downloads-output-options {
        margin-top: 15px;
        float: left;
        padding-right: 30px;
        /*23*/
    }

    #cad-bim-downloads-output-options label[id$=checkbox_label] {
        margin-left: 18px;
        height: 22px;
        color: #3B4245;
        font-family: KONE-Information;
        font-size: 18px;
        letter-spacing: 0.11px;
        line-height: 22px;
    }

    .div-column {
        display: table-row;
    }

    .div-column div[id^=cell-] {
        height: 34px;
        vertical-align: middle;
    }

    .div-column div[id^=cell-]>div {
        vertical-align: middle;
    }

    /*.div-column div:first-child,
    .div-column div:nth-child(2) */
    .div-column div:first-child,
    .div-column div:nth-child(2) {
        display: table-cell;
        /*padding-bottom: 4px;*/
    }

    .output-files-label {
        width: 335px;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        /* word-wrap: break-word; */
        white-space: -webkit-pre-wrap;
        /* word-break: break-all; */
        white-space: normal;
    }

    #cell-r1c1 {
        width: 50%;
        /*450px*/
    }

    /* Align help-mark */
    #cell-r1c2 div[id^=inputhelp] {
        left: 10px;
        top: -2px;
    }

    /* Hide on load */
    #cell-r1c2 {
        display: none;
    }

    /* left align contents */
    div[id^=accordion828728930]>div.input-group>.group-body {
        margin: 0px;
    }

    div[id^=accordion828728930]>div.input-group>div.group-header {
        display: none;
    }

    /* START - CSS  for moved image */
    #cad-bim-lod-img-holder div {
        float: right;
        height: 260px;
        top: -20px;
        margin-right: 20px;
    }

    #cad-bim-lod-img-holder>div>img {
        max-width: 100%;
        max-height: 100%;
    }

    /* END - CSS  for moved image */
</style>

<doc>
    <set var="CSI_CONSTRUCTION_HIDE" value="'none'" scope="document" />
</doc>

<div id="cad-bim-downloads-container">
    <div id="cad-bim-downloads-input">
        <div id="cad-bim-downloads-title">
            <doc>bundle.KONE_ESCALATOR_HEADER_select_your_output_files</doc>
        </div>
        <div class="cad-bim-downloads-wrapper">
            <div id="cad-bim-downloads-output-options">
                <div class="div-column">
                    <div id="cell-r0c1">
                        <div>
                            <input id="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1" name="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('ELEVATOR_TECHNICAL_SPECIFICATION_PDF').getValue()!=null?'checked ':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1_checkbox" name="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1" id="ELEVATOR_TECHNICAL_SPECIFICATION_PDF_1_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('ELEVATOR_TECHNICAL_SPECIFICATION_PDF').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r1c1">
                        <div>
                            <input id="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1" name="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('ELEVATOR_CONFIGURATION_SUMMARY_PDF').getValue()!=null?'checked ':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox" name="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1" id="ELEVATOR_CONFIGURATION_SUMMARY_PDF_1_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('ELEVATOR_CONFIGURATION_SUMMARY_PDF').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r2c1">
                        <div>
                            <input id="CAD_DRAWING_PDF_YES" name="CAD_DRAWING_PDF_YES"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('CAD_DRAWING_PDF').getValue()!=null?' checked':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="CAD_DRAWING_PDF_YES_checkbox" name="CAD_DRAWING_PDF_YES_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="CAD_DRAWING_PDF_YES" id="CAD_DRAWING_PDF_1_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('CAD_DRAWING_PDF').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r3c1">
                        <div>
                            <input id="CAD_DRAWING_DWG_YES" name="CAD_DRAWING_DWG_YES"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('CAD_DRAWING_DWG').getValue()!=null?' checked':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="CAD_DRAWING_DWG_YES_checkbox" name="CAD_DRAWING_DWG_YES_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="CAD_DRAWING_DWG_YES" id="CAD_DRAWING_DWG_1_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('CAD_DRAWING_DWG').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r4c1">
                        <div>
                            <input id="BIM_IFC_IFC" name="BIM_IFC_IFC"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('BIM_IFC').getValue()!=null?' checked ':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="BIM_IFC_IFC_checkbox" name="BIM_IFC_IFC_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="BIM_IFC_IFC" id="BIM_IFC_IFC_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('BIM_IFC').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r5c1">
                        <div>
                            <input id="BIM_RFA_RFA" name="BIM_RFA_RFA"
                                <doc>
                                    <out>
                                        (configuration.getInputByName('BIM_RFA').getValue()!=null?' checked ':'')
                                    </out>
                                </doc>
                                onfocus="setFocusElement(this);" autocomplete="off" type="checkbox"
                            >
                            <input id="BIM_RFA_RFA_checkbox" name="BIM_RFA_RFA_checkbox" value="" autocomplete="off" type="hidden">
                        </div>
                        <div>
                            <label class="output-files-label" for="BIM_RFA_RFA" id="BIM_RFA_RFA_checkbox_label">
                                <doc>
                                    <out>
                                        configuration.getInputByName('BIM_RFA').getProductInput().getValues().get(0).getLabel()
                                    </out>
                                </doc>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cad-bim-downloads-lod-options">
                <div class="div-column">
                    <div id="cell-r1c2">
                        <div id="bim-title-wrapper">
                            <div id="bim-detail-level-title">
                                <doc>bundle.KONE_ELEVATOR_chose_level_of_detail</doc>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-column">
                    <div id="cell-r2c2"></div>
                </div>
                <div class="div-column">
                    <div id="cell-r3c2"></div>
                </div>
                <div class="div-column">
                    <div id="cell-r4c2">
                        <doc>bundle.KONE_ELEVATOR_LOD200message</doc>
                    </div>
                </div>
            </div>
            <div id="cad-bim-downloads-image-display">
                <div class="div-column">
                    <div id='cad-bim-lod-img-holder'>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        initHeader();
        initLevelOfDetail();
        //hideDesignSection();
        //uncheckSelectAllEvent();
        disableLOD();
    });

    function initHeader() {
        var checkBoxes = [
            //{ cell: "#cell-r0c1", input: "ELEVATOR_SELECT_ALL_OUTPUT_FILES" },
            //{ cell: "#cell-r1c1", input: "CSI_CONSTRUCTION_SPECIFICATION_DOCX" },
            { cell: "#cell-r0c1", input: "ELEVATOR_TECHNICAL_SPECIFICATION_PDF" },
            { cell: "#cell-r1c1", input: "ELEVATOR_CONFIGURATION_SUMMARY_PDF" },
            { cell: "#cell-r2c1", input: "CAD_DRAWING_PDF" },
            { cell: "#cell-r3c1", input: "CAD_DRAWING_DWG" },
            { cell: "#cell-r4c1", input: "BIM_IFC" },
            { cell: "#cell-r5c1", input: "BIM_RFA" }
        ];

        for (var i = 0; i < checkBoxes.length; i++) {
            var inputTR = $('#' + checkBoxes[i].input + '_TR_tag').detach();//just remove original
        }
    }

    // Check all file tickboxes
    function selectAllFiles() {
        // Handlers
        var checkboxes = $('[id^=cell-r] :checkbox'); // All checkboxes
        var selectAll = checkboxes.first();           // Select all box should be the first object
        var outputFiles = checkboxes.not(':first');   // All other checkboxes

        // if checked, check all
        if ((selectAll.attr('checked'))) {
            //console.debug(selectAll.attr('name') + ' not checked');

            // Trigger dataEvent on all uncheched textboxes
            outputFiles.not(':checked').trigger('click');

            // Uncheck all boxes if unchecked (on click only)
        } else {
            //console.debug(selectAll.attr('name') + ' checked');
            outputFiles.filter(':checked').trigger('click');
        }
    }

    // Uncheck select all box when an output file is unchecked
    // Attach event to boxes.
    function uncheckSelectAllEvent() {
        // Handlers
        var checkboxes = $('[id^=cell-r] :checkbox'); // All checkboxes
        var selectAll = checkboxes.first();           // Select all box should be the first object
        var outputFiles = checkboxes.not(':first');   // All other checkboxes

        // Attach events to checkboxes, except select all
        outputFiles.on('change', function () {
            //console.debug($(this).attr('name') + ' changed');

            // Check select all if all boxes are checked
            if (outputFiles.filter(':checked').length === outputFiles.length)
                selectAll.attr('checked', true);

            // Uncheck select all if it is checked when a checkbox unchecked
            if (!($(this).attr('checked')) && selectAll.attr('checked')) {
                selectAll.attr('checked', false);
            }
        });
    }

    // Move Level of details input to the correct place
    function initLevelOfDetail() {
        // Source
        var input = 'TYPE_BIM_LOD';
        // Radio buttons to be disabled
        var handler = $('[id^=' + input + ']').filter(':radio');

        // Destination and input to attach
        var items = [];
        items.push({ dest: "#bim-title-wrapper", input: '#inputhelp_TYPE_BIM_LOD' }); // Move help-mark
        items.push({ dest: "#cell-r2c2", input: '#radioDiv_' + input + '_1' });
        items.push({ dest: "#cell-r3c2", input: '#radioDiv_' + input + '_2' });
        items.push({ dest: "#cad-bim-lod-img-holder", input: '.' + input + '-image' });

        // Modify help-mark onclick event
        hijackPopICHelp('inputhelp_TYPE_BIM_LOD');

        // Find input and append to target
        for (var i = 0; i < items.length; i++) {
            $(items[i].dest).append($(items[i].input));
        }

        // Remove original TR
        $('#' + input + '_TD_tag').detach();

        // Find match (using multi selector) and add event
        $('[id*=BIM_IFC]:checkbox').on('change', disableLOD);
        $('[id*=BIM_RFA]:checkbox').on('change', disableLOD);
    }

    function disableLOD() {
        // Elements
        var cb1 = $('[id*=BIM_IFC]:checkbox');
        var cb2 = $('[id*=BIM_RFA]:checkbox');
        var targets = $('#cad-bim-lod-img-holder, #cell-r1c2, #cell-r2c2, #cell-r3c2, #cell-r4c2');

        // Radio buttons to be disabled
        var radios = $('[name=TYPE_BIM_LOD]:radio');

        // Checkbox status
        var status1 = cb1.prop('checked');
        var status2 = cb2.prop('checked');

        // Enable input unless IFC or RFA are checked
        if (status1 || status2) {
            // Enable panel and show image
            targets.show();
            // radios.attr('disabled', false);
            // radios.removeClass('disabled');
        } else {
            // Disable panel and hide img
            targets.hide();
            // radios.attr('disabled', '');
            // radios.addClass('disabled');
        }
        // Run default behaviour that actually hides based on the .disabled class
    }

    // window.disableElements = function () {
    //     // This function has been overriden so this input can be locked on load depending
    //     // on it's value
    //     $('.disabled:not([name=ELEVATOR_TYPE_BIM_LOD])').prop('disabled', 'disabled');
    // }

    // window.enableElements = function () {
    //     // This function has been overriden so this input can be locked on load depending
    //     // on it's value
    //     $('#ui').find(':input:not([name=ELEVATOR_TYPE_BIM_LOD])').prop('disabled', false);
    // }
</script>
