<!-- /concept/custom/jpocs/kone/elevatorproducts/car_designer_link.html -->

<div class="car-designer-link">
    <doc>bundle.KONE_ELEVATOR_TEXT_car_design_solutions</doc>
    <a id="CAR_DESIGNER_LINK" href="[url]" target="_blank">
        <doc>bundle.KONE_ELEVATOR_LINK_car_design_solutions</doc>
    </a>
    <doc>bundle.KONE_ELEVATOR_TEXT_car_design_solutions_2</doc>
</div>

<script type="text/javascript" defer>
    //http://download.kone.com/cardesigner/
    $(() => {
        setCarDesignerUrl();
    });

    function setCarDesignerUrl() {
        var url = $("#CAR_DESIGNER_URL option:selected").text().trim(); //.replace(/&nbsp;/gi,"");//%A0
        $('#CAR_DESIGNER_LINK').attr('href', url);
        //console.info("url=["+url+"]");
    }
</script>
