<!-- /concept/custom/jpocs/kone/elevatorproducts/car_designer_link_US_CA.html -->

<div class="car-designer-link">
    <doc>bundle.KONE_ELEVATOR_TEXT_US_CA_car_design_solutions</doc>
    <a id="CAR_DESIGNER_LINK" href="https://cardesigner.kone.us/#/" target="_blank">
        <doc>bundle.KONE_ELEVATOR_LINK_US_CA_car_design_solutions</doc>
    </a>
</div>
