<!-- /concept/custom/jpocs/kone/elevatorproducts/transys/car_design_summary.html -->

<!-- Transys Car Design Summary -->

<div id="car-design-help">
    <div style="font-size:18px;padding-left:10px;">
        <doc>bundle.KONE_ELEVATOR_HEADER_car_design_solutions_table</doc>
    </div>

    <table class="car-design bbox" cellpadding="10">
        <tr>
            <td class="br bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_CEILINGS_label"></span></td>
            <td class="bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_CEILINGS_data"></span></td>	
        </tr>
        <tr class="koneygrey-background">
            <td class="br bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_LIGHTING_label"></span></td>
            <td class="bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_LIGHTING_data"></span></td>	
        </tr>
        <tr>
            <td class="br bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_FINISHINGS_label"></span></td>
            <td class="bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_FINISHINGS_data"></span></td>	
        </tr>
        <tr class="koneygrey-background">
            <td class="br bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_WALL_MATERIALS_label"></span></td>
            <td class="bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_WALL_MATERIALS_data"></span></td>	
        </tr>
        <tr>
            <td class="br bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_FLOOR_MATERIALS_label"></span></td>
            <td class="bb" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_FLOOR_MATERIALS_data"></span></td>	
        </tr>
        <tr class="koneygrey-background">
            <td class="br" style="padding:0px 10px"><span class="carLabel" name="TRANSYS_DOOR_FINISHES_label"></span></td>
            <td style="padding:0px 10px"><span class="carLabel" name="TRANSYS_DOOR_FINISHES_data"></span></td>	
        </tr>
    </table>
</div>
