<!-- /concept/custom/jpocs/kone/elevatorproducts/car_design_summary.html -->

<div id="car-design-help">
    <div class="car-design-images">
        <div id="car-image">
            <div id="car-spring-image"></div>
        </div>
        <div id="wall-image">
            <img class="car-wall-image" src="/HTML/products/236324221/images/D-C-B_image_140x140px.jpg" width="140px" />
        </div>
    </div>

    <div class="car-design-title">
        <doc>bundle.KONE_ELEVATOR_HEADER_car_design_solutions_table</doc>
    </div>

    <div class="car-design">
        <div class="car-design-row" id="car-ceiling">
            <span class="car-header" name="TYP_CAR_CEILING_label"></span>
            <span class="car-label" name="TYP_CAR_CEILING_data"></span>
        </div>
        <div class="car-design-row" id="car-wall-b">
            <span class="car-header" name="MAT_CAR_WALL_FINISH_B_label"></span>
            <span class="car-label" name="MAT_CAR_WALL_FINISH_B_data"></span>
        </div>
        <div class="car-design-row" id="car-wall-c">
            <span class="car-header" name="MAT_CAR_WALL_FINISH_C_label"></span>
            <span class="car-label" name="MAT_CAR_WALL_FINISH_C_data"></span>
        </div>
        <div class="car-design-row" id="car-wall-d">
            <span class="car-header" name="MAT_CAR_WALL_FINISH_D_label"></span>
            <span class="car-label" name="MAT_CAR_WALL_FINISH_D_data"></span>
        </div>
        <div class="car-design-row" id="car-flooring">
            <span class="car-header" name="MAT_CAR_FLOORING_label"></span>
            <span class="car-label" name="MAT_CAR_FLOORING_data"></span>
        </div>
        <div class="car-design-row" id="cop-product">
            <span class="car-header" name="TYP_COP_PRODUCT_label"></span>
            <span class="car-label" name="TYP_COP_PRODUCT_data"></span>
        </div>
        <div class="car-design-row" id="car-handrail">
            <span class="car-header" name="TYP_CAR_HANDRAIL_label"></span>
            <span class="car-label" name="TYP_CAR_HANDRAIL_data"></span>
        </div>
        <div class="car-design-row" id="car-skirting">
            <span class="car-header" name="MAT_CAR_SKIRTING_label"></span>
            <span class="car-label" name="MAT_CAR_SKIRTING_data"></span>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        // Show design options when the user selection changes.
        $('#CAR_DESIGN_SOLUTIONS, #TYP_DESIGN_SOLUTION').on('change', () => {
            hasRearWallDesignInfoPopup();
        });
    });

    function hasRearWallDesignInfoPopup() {
        let rearWall = $('#car-design-help [name=MAT_CAR_WALL_FINISH_C_label]');
        if (rearWall !== null) {
            let rearWallParent = rearWall.parent().parent();
            if (rearWallParent !== null) {
                if (!$('[name^=POS_FLR_ENTR_IN_C_]:checked')[0]) {
                    rearWallParent.show();
                } else {
                    rearWallParent.hide();
                }
            }
        }
    }
</script>
