<!-- /concept/custom/jpocs/kone/elevator_planner/choose_product_application_text.html -->

<div id="choose-header">
    <doc>bundle.KONE_ELEVATOR_TEXT_choose_product_application</doc>
</div>

<div id="choose_options" class="choose_options">
    <div id="choose_application" class="choose-button" onclick="chooseOption(this, 0);">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ELEVATOR_TEXT_choose_application</doc>
        </div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="choose_product" class="choose-button" onclick="chooseOption(this, 1);">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ELEVATOR_TEXT_choose_product</doc>
        </div>
        <div class="indicator"></div>
    </div>
    <div class="div-space"></div>
    <div id="reload_configuration" class="choose-button" onclick="chooseOption(this, 2);">
        <div class="buttonTitle noselect">
            <doc>bundle.KONE_ELEVATOR_TEXT_reload_configuration</doc>
        </div>
        <div class="indicator"></div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        let applicationSelect = document.getElementById('choose_application');
        let productSelect = document.getElementById('choose_product');

        // Attach a new function to the country selector's on-change handler.
        // This'll detect when the user has changed the project country, and
        // decide whether to show or hide the 'By Building Function' tab accordingly.
        let countrySelector = document.getElementById('SELECTOR_CHANGE_PROJECT_COUNTRY');

        let countrySelectorEvent = countrySelector.getAttribute("onchange");
        countrySelectorEvent = countrySelectorEvent + "listenCountryChange();";
        countrySelector.setAttribute("onchange", countrySelectorEvent);

        if (checkCountryWhitelist()) {
            // We set the building selector to the first tab if it appears in the
            // whitelist. Then we trigger the country selector's change event so
            // that the available products will refresh properly. We have to do
            // this because by this point the drivers have already been executed.
            $('#SELECTOR_BY_BUILDING_FUNCTION').val("BUILDING");
            forceChangeEventById("SELECTOR_CHANGE_PROJECT_COUNTRY");

            // Set the default tab to choose_application (0):
            chooseOption(applicationSelect, 0);
        } else {
            $('#SELECTOR_BY_BUILDING_FUNCTION').val("PRODUCT");
            forceChangeEventById("SELECTOR_CHANGE_PROJECT_COUNTRY");

            // Set the default tab to choose_product (1):
            chooseOption(productSelect, 1);

            // Hide/Disable the choose_application (0) tab:
            $(applicationSelect).hide();
            $(applicationSelect).off("click");
        }
    });

    // When the project country has been changed by the user, conduct
    // another test to see whether or not the 'By Building Function'
    // tab needs to be shown or hidden.
    function listenCountryChange() {
        let applicationSelect = document.getElementById('choose_application');
        let productSelect = document.getElementById('choose_product');

        if (checkCountryWhitelist()) {
            $(applicationSelect).show();

            //let onclick = applicationSelect.getAttribute("onclick");
            //onclick = onclick + "chooseOption(this, 0);";
            //applicationSelect.setAttribute("onclick", onclick);
        } else {
            if (applicationSelect.classList.contains("selected")) {
                $('#SELECTOR_BY_BUILDING_FUNCTION').val("PRODUCT");

                // Move to the choose_product (1) tab if the
                // choose_application (0) tab has been opened:
                chooseOption(productSelect, 1);
            }

            // Hide/Disable the choose_application (0) tab:
            $(applicationSelect).hide();
            $(applicationSelect).off("click");
        }
    }

    // Check to see whether the currently-selected project country
    // appears in the country whitelist, and if it does, enable the
    // 'By Building Function' tab on the page.
    function checkCountryWhitelist() {
        let countrySelector = document.getElementById('SELECTOR_CHANGE_PROJECT_COUNTRY');
        let countryWhitelist = document.getElementById('BY_BUILDING_FUNCTION_WHITELIST');

        let countrySelection = countrySelector.value;
        if (countrySelection === "PS" || countrySelection === "Please Select") {
            return false;
        } else {
            for (let i = 0; i < countryWhitelist.options.length; i++) {
                let option = countryWhitelist.options[i];
                if (countrySelection === option.value) {
                    return true;
                }
            }
        }

        return false;
    }

    function chooseOption(el, index) {
        // If the tab has already been selected, cancel:
        if ($(el).hasClass('selected')) {
            return;
        }

        var choose_application = $('#choose_application');
        var choose_product = $('#choose_product');
        var reload_configuration = $('#reload_configuration');

        if (index == 0) {
            $('#SELECTOR_BY_BUILDING_FUNCTION').val("BUILDING");

            choose_application.addClass('selected');
            choose_application.find('.indicator').addClass('selected');
            choose_product.removeClass('selected');
            choose_product.find('.indicator').removeClass('selected');
            reload_configuration.removeClass('selected');
            reload_configuration.find('.indicator').removeClass('selected');

            showHideSections("choose_application", true);
            showHideSections("choose_product", false);
            showHideSections("reload_configuration", false);

            $('#SELECTOR_BY_BUILDING_FUNCTION').trigger('change');
        } else if (index == 1) {
            $('#SELECTOR_BY_BUILDING_FUNCTION').val("PRODUCT");

            choose_application.removeClass('selected');
            choose_application.find('.indicator').removeClass('selected');
            choose_product.addClass('selected');
            choose_product.find('.indicator').addClass('selected');
            reload_configuration.removeClass('selected');
            reload_configuration.find('.indicator').removeClass('selected');

            showHideSections("choose_application", false);
            showHideSections("choose_product", true);
            showHideSections("reload_configuration", false);

            $('#SELECTOR_BY_BUILDING_FUNCTION').trigger('change');
        } else {
            $('#SELECTOR_BY_BUILDING_FUNCTION').val("RELOAD");

            choose_application.removeClass('selected');
            choose_application.find('.indicator').removeClass('selected');
            choose_product.removeClass('selected');
            choose_product.find('.indicator').removeClass('selected');
            reload_configuration.addClass('selected');
            reload_configuration.find('.indicator').addClass('selected');

            showHideSections("choose_application", false);
            showHideSections("choose_product", false);
            showHideSections("reload_configuration", true);

            $('#SELECTOR_BY_BUILDING_FUNCTION').trigger('change');
        }
    }

    function showHideSections(group, show) {
        var groups = groupArrays[group];

        for (var i = 0; i < groups.length; i++) {
            if (groups[i].id !== "") {
                let div = $('div[id^=' + groups[i].id + ']');
                if (show) {
                    if (groups[i].id !== "accordion225639142") { 
                        div.show(); // Avoid showing the product recommendations just in-case they haven't been calculated yet.
                    }
                } else {
                    div.hide();
                }
            }
        }
    }

    var groupArrays = [];
    groupArrays["choose_application"] = [
        {
            title: 'Building Type Header',
            id: "accordion215221441"
        },
        {
            title: 'Building Type',
            id: "accordion250241171"
        },
        {
            title: 'Additional Details',
            id: "accordion219939091"
        },
        {
            title: 'Elevator Landings',
            id: "accordion211330221"
        },
        {
            title: 'Elevator Landings Slider',
            id: "accordion215109191"
        },
        {
            title: 'Building Population',
            id: "accordion220833191"
        },
        {
            title: 'Suitable Product Table',
            id: "accordion225639142"
        },
        {
            title: 'Product Group Table',
            id: "elevator-product-group-table"
        }
    ];
    groupArrays["choose_product"] = [
        {
            title: 'MonoSpace Product Header',
            id: "accordion473831525"
        },
        {
            title: 'MonoSpace 700 EUR 19.2 Product Group',
            id: "accordion1386358609"
        },
        {
            title: 'MonoSpace 700 EUR 20.2 Product Group',
            id: "accordion507676183"
        },
        {
            title: 'MonoSpace 500 EUR 19.2 Product Group',
            id: "accordion1877671068"
        },
        {
            title: 'MonoSpace 500 EUR 20.2 Product Group',
            id: "accordion1620809261"
        },
        {
            title: 'MonoSpace 300 EUR 19.2 Product Group',
            id: "accordion685130396"
        },
        {
            title: 'MonoSpace 300 EUR 20.2 Product Group',
            id: "accordion654181074"
        },
        {
            title: 'MonoSpace 300 EUR FI Product Group',
            id: "accordion1583181982"
        },
        {
            title: 'N MonoSpace APAC 19.2 Product Group',
            id: "accordion1580860426"
        },
        {
            title: 'N MonoSpace APAC 20.1 Product Group',
            id: "accordion1235582724"
        },
        {
            title: 'N MonoSpace APAC 20.2 Product Group',
            id: "accordion559648095"
        },
        {
            title: 'N MonoSpace APAC SS550 Product Group',
            id: "accordion127033971"
        },
        {
            title: 'S MonoSpace APAC 19.2 Product Group',
            id: "accordion1619464677"
        },
        {
            title: 'S MonoSpace APAC 20.1 Product Group',
            id: "accordion302256499"
        },
        {
            title: 'S MonoSpace APAC 20.2 Product Group',
            id: "accordion1675296332"
        },
        {
            title: 'S MonoSpace APAC SS550 Product Group',
            id: "accordion285057043"
        },
        {
            title: 'E MonoSpace APAC 19.2 Product Group',
            id: "accordion1238443965"
        },
        {
            title: 'E MonoSpace APAC 20.1 Product Group',
            id: "accordion686778659"
        },
        {
            title: 'E MonoSpace APAC 20.2 Product Group',
            id: "accordion1006648019"
        },
        {
            title: 'MiniSpace Product Header',
            id: "accordion1555097961"
        },
        {
            title: 'N MiniSpace APAC 19.2 Product Group',
            id: "accordion1277940877"
        },
        {
            title: 'N MiniSpace APAC 20.1 Product Group',
            id: "accordion334004109"
        },
        {
            title: 'N MiniSpace APAC 20.2 Product Group',
            id: "accordion960007747"
        },
        {
            title: 'N MiniSpace APAC SS550 Product Group',
            id: "accordion1447446636"
        },
        {
            title: '3000 MiniSpace APAC 19.2 Product Group',
            id: "accordion1018101906"
        },
        {
            title: '3000 MiniSpace APAC 20.2 Product Group',
            id: "accordion886175590"
        },
        {
            title: '3000 MiniSpace APAC SS550 Product Group',
            id: "accordion2033921663"
        },
        {
            title: 'TranSys Product Header',
            id: "accordion1284954609"
        },
        {
            title: 'TranSys EUR 19.2 Product Group',
            id: "accordion1070458570"
        },
        {
            title: 'TranSys EUR 20.2 Product Group',
            id: "accordion1140540203"
        },
        {
            title: 'Product Choice Footer',
            id: "accordion216286268"
        },
        {
            title: 'Product Group Table',
            id: "elevator-product-group-table"
        }
    ];
    groupArrays["reload_configuration"] = [
        {
            title: 'Reload Configuration',
            id: "accordion1800608056"
        }
    ];
</script>
