<!-- /concept/custom/jpocs/kone/selectorproduct/contact_sales.html -->

<div id="contact_sales" class="sectionHeader">
    <div class="configHeading">
        <doc>bundle.KONE_SELECTOR_TEXT_contact_sales</doc>
    </div>
    <a id="contactSalesBtn" class="kone-button" onclick="contactSalesBtn();">
        <doc>bundle.KONE_SELECTOR_BUTTON_contact_sales</doc>
    </a>
</div>

<script type="text/javascript" defer>
    function contactSalesBtn() {
        var contactLink = $('#SELECTOR_CONTACTS_URL option:selected').text().trim();
        if (contactLink != "NO_CONTACT") {
            window.open(contactLink, '_blank');
        }
    }
</script>
