<!-- /concept/custom/jpocs/kone/elevatorproducts/contact_form_select.html -->

<style>
    .custom .elevator tr[id^="SEND_ME"],
    .custom .escalator tr[id^="SEND_ME"],
    .custom .ena-elevator tr[id^="SEND_ME"] {
        display: none;
    }

    .custom .elevator .select-form,
    .custom .escalator .select-form,
    .custom .ena-elevator .select-form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 8px;
        margin: 16px 8px 0 0;
    }

    .custom .elevator .select-form .select-option,
    .custom .escalator .select-form .select-option,
    .custom .ena-elevator .select-form .select-option {
        display: grid;
        grid-template-columns: 48px auto;
        grid-template-rows: 100%;
        height: 80px;
        border: 1px solid var(--colour--white-400);
        padding: 8px 12px 8px 8px;
        align-items: center;
        cursor: pointer;
    }

    .custom .elevator .select-form .select-option.selected,
    .custom .escalator .select-form .select-option.selected,
    .custom .ena-elevator .select-form .select-option.selected {
        background-color: var(--colour--blue-700);
    }

    .custom .elevator .select-form .select-option .option-text,
    .custom .escalator .select-form .select-option .option-text,
    .custom .ena-elevator .select-form .select-option .option-text {
        font-size: var(--font-size--default) !important;
        line-height: 18px;
        white-space: normal;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 0 0 8px;
        color: var(--colour--blue-500);
    }

    .custom .elevator .select-form .select-option.selected .option-text,
    .custom .escalator .select-form .select-option.selected .option-text,
    .custom .ena-elevator .select-form .select-option.selected .option-text {
        color: var(--colour--white);
    }

    .custom .elevator .select-form .select-option .option-icon::before,
    .custom .escalator .select-form .select-option .option-icon::before,
    .custom .ena-elevator .select-form .select-option .option-icon::before {
        color: var(--colour--blue-500);
    }

    .custom .elevator .select-form .select-option.selected .option-icon::before,
    .custom .escalator .select-form .select-option.selected .option-icon::before,
    .custom .ena-elevator .select-form .select-option.selected .option-icon::before {
        color: var(--colour--white);
    }

    .custom .elevator .select-form .select-option[data-val^="DWD_INFO"] .option-icon::before,
    .custom .escalator .select-form .select-option[data-val^="DWD_INFO"] .option-icon::before,
    .custom .ena-elevator .select-form .select-option[data-val^="DWD_INFO"] .option-icon::before,
    .custom .elevator .select-form .select-option[data-val^="DWD_QUOTE"] .option-icon::before,
    .custom .escalator .select-form .select-option[data-val^="DWD_QUOTE"] .option-icon::before,
    .custom .ena-elevator .select-form .select-option[data-val^="DWD_QUOTE"] .option-icon::before {
        font-family: var(--font-family--icon-alt);
        content: var(--icon-code--send-me-1);
        font-size: 42px;
    }

    .custom .elevator .select-form .select-option[data-val^="DWG"] .option-icon::before,
    .custom .escalator .select-form .select-option[data-val^="DWG"] .option-icon::before,
    .custom .ena-elevator .select-form .select-option[data-val^="DWG"] .option-icon::before {
        font-family: var(--font-family--icon);
        content: var(--icon-code--send-me-2);
        font-size: 32px;
    }

    @media only screen and (max-width: 768px) {
        .custom .elevator .select-form,
        .custom .escalator .select-form,
        .custom .ena-elevator .select-form {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: auto auto;
            grid-column-gap: 0;
            grid-row-gap: 8px;
            margin: 16px 8px 0 0;
        }
    }
</style>

<div class="select-form" id="select-form-contact"></div>

<div class="select-option" id="template-select-option" style="display: none;" onclick="toggleSelectInput(this);" data-val="">
    <div class="option-icon"></div>
    <div class="option-text"></div>
</div>

<script type="text/javascript" defer>
    var selectInput;
    var selectFormInput;

    var selectFormInputEntries = [];

    function toggleSelectInput(element) {
        selectInput.value = element.dataset.val;
        $(selectInput).change();

        // Clear selections:
        for (let i = 0; i < selectFormInputEntries.length; i++) {
            if (selectFormInputEntries[i].classList.contains("selected")) {
                selectFormInputEntries[i].classList.remove("selected");
            }
        }

        if (!element.classList.contains("selected")) {
            element.classList.add("selected");
        }
    }

    function init() {
        selectInput = document.getElementById("SEND_ME");
        selectFormInput = document.getElementById("select-form-contact");

        if (!selectInput || !selectFormInput) return false;
        return true;
    }

    $(() => {
        try {
            let result = init();
            if (!result) console.error("Couldn't find one or more of the crutial inputs.");

            // Create the tabs based on what options are available from the select input:
            for (let i = 0; i < selectInput.options.length; i++) {
                let option = selectInput.options[i];
                if (option.value !== "PS") {
                    let entry = document.getElementById("template-select-option").cloneNode(true);
                    entry.removeAttribute("style");
                    entry.removeAttribute("id");

                    entry.dataset.val = option.value;

                    let entryText = entry.querySelector(".option-text");
                    if (entryText) {
                        entryText.textContent = option.textContent;
                    }

                    selectFormInputEntries.push(entry); // Keep a reference to each tab separately
                    selectFormInput.append(entry);
                }
            }

            // Set the default selection:
            for (let i = 0; i < selectFormInputEntries.length; i++) {
                if (selectFormInputEntries[i].dataset.val === selectInput.value) {
                    selectFormInputEntries[i].classList.add("selected");
                    break;
                }
            }

            // Rig-up the scrolling animation triggers:
            if (document.body.classList.contains("ena-elevator")) {
                assignCustomScroll([
                    { target: ".select-option[data-val='DWD_INFO']", destination: "#PROJECT_BUILDING_DETAILS_HTML_TR_tag", type: "onclick" },
                    { target: ".select-option[data-val='DWG']", destination: "#PROJECT_BUILDING_DETAILS_HTML_TR_tag", type: "onclick" }
                ]);
            } else if (document.body.classList.contains("elevator")) {
                assignCustomScroll([
                    { target: ".select-option[data-val='DWD_INFO']", destination: "#CAD_BIM_DOWNLOADS_HTML_TR_tag", type: "onclick" },
                    { target: ".select-option[data-val='DWG']", destination: "#CAD_BIM_DOWNLOADS_HTML_TR_tag", type: "onclick" }
                ]);
            } else if (document.body.classList.contains("escalator")) {
                assignCustomScroll([
                    { target: ".select-option[data-val='DWD_INFO']", destination: "#PROJECT_BUILDING_DETAILS_HTML_TR_tag", type: "onclick" },
                    { target: ".select-option[data-val='DWG']", destination: "#PROJECT_BUILDING_DETAILS_HTML_TR_tag", type: "onclick" }
                ]);
            }
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
