<!-- /concept/custom/jpocs/kone/elevatorproducts/elevator_attribute_list_mod.html -->

<div id="ELEVATOR_TABLE_dataTable" style="display:none;">
    <table id="SELECT_ELEVATOR_dataTable" class="ELEVATOR_TABLE_dataTable dataTable configuration-input">
        <!-- put SELECT_ELEVATOR_dataTable thead here -->
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr id="dataRow" class="odd">
                <td id="radio"><input value="MONOSPACE_500_EUR" name="ELEVATOR_TABLE_dataTableRadio" onclick="checkChangeProduct(this)" type="radio"></td>
                <td id="product"></td>
                <td id="description"></td>
                <td id="machineRoom"></td>
                <td id="maxLoad"></td>
                <td id="maxSpeed"></td>
                <td id="maxTravel"></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" defer>
    var productChange = false;

    $(() => {
        var test = getAttributeData("SELECT_ELEVATOR");
        if (test.found) {
            updateElavatorTable();
        } else {
            //console.debug("not found");
            getInputAttributes("SELECT_ELEVATOR", function () {
                getAttributeData("SELECT_ELEVATOR");
                updateElavatorTable();
            });
        }

        inputCache.SELECT_ELEVATOR = document.ui.SELECT_ELEVATOR.value;
    });

    function checkChangeProduct(input) {
        var allow = true;
        if (allow) {
            changeProduct(input);
        }
    }

    function changeProduct(input) {
        if (input.value == document.ui.SELECT_ELEVATOR.value || productChange) return;

        // Store as this needs to be used by the interval at the bottom or when the popup is closed
        var allowChangeInterval = null;

        // Function to alter popup buttons
        var changeButtons = function (warning) {

            var reloadProduct = function (event) {
                if (drivensWorking()) {
                    let options = {
                        title: ResourceBundle.getString("Text_warning"),
                        message: ResourceBundle.getString("InputCollectorRules_drivensWorking")
                    };
                    new KoneDialog(options);
                } else {
                    productChange = true;
                    document.ui.SELECT_ELEVATOR.value = input.value;

                    //forceChangeEvent(document.ui.SELECT_ELEVATOR);
                    refreshDesign();

                    // Prevent multiple execution after first run
                    event.target.removeEventListener('click', reloadProduct);
                }
            };

            var resetProduct = function () {
                // Restore original selection
                productChange = false;
                document.querySelector("input.dataEvent[value='" + inputCache.SELECT_ELEVATOR + "']").checked = true;
            };

            // Perform product change
            var okay = warning.find('.okay-btn');
            okay.on('click', reloadProduct);

            // Cancel product change
            var cancel = warning.find('.close-btn, .modal-close');
            cancel.on('click', resetProduct);

            // When the user clicks anywhere outside of the modal, close it and reset the selection
            $(window).on('click', function (event) {
                if (event.target == warning[0]) {
                    $(warning).detach();
                    resetProduct();
                }
            });
        }

        // Create modified popup
        var options = {
            name: "change-product",
            title: "<doc>bundle.KONE_ELEVATOR_WARNING_TITLE_product_change</doc>",
            message: "<doc>bundle.KONE_ELEVATOR_WARNING_product_change</doc>",
            close_btn_txt: "<doc>bundle.Button_cancel</doc>",
            okay_btn: true,
            show: true,
            destroy: true,
            custom: changeButtons
        };

        // Show popup
        new KoneDialog(options);
    }

    async function updateElavatorTable() {
        var isSelectorProduct = productId == "247109161" ? true : false; // Select elevator

        if (isSelectorProduct) {
            $('#LETS_GET_STARTED_HEADER_HTML_TR_tag').hide();
        }

        var thead = $('#SELECT_ELEVATOR_dataTable thead').clone();

        // Get attribute names:
        var attributeTitles = [];
        thead.find('.title').each(function (i, el) {
            var title = $(el).html().trim().split("\n")[0].trim();

            if (i > 1) {
                attributeTitles.push(title)
            }
        });

        // Change product name and description for products some soc products on release 19.2:
        const useAlternative = $('#TYP_PRODUCT_RELEASE').val() === '19.2';

        // We only need this becase of this silly change above.
        // Cache all input attributes for this input. There isn't a lot so it should be very fast.
        // Done to avoid having to keep calling the server with the original implementation by Ian.
        const inputData = await GetC1InputData.find('SELECT_ELEVATOR');

        var attributes = [
            {
                input: "SELECT_ELEVATOR",
                attributeName: "getvalue",
                attributeName_v19_2: "SOC Product Name 19.2",
                attributeName_v20_1_TR: "SOC Product Name 20.1 Turkey",
                id: '#product',
            },
            {
                input: "SELECT_ELEVATOR",
                attributeName: attributeTitles[0], // "Description + segment"
                // attributeName_v19_2: attributeTitles[0] + '19.2', //Description + segment 20.1
                id: '#description',
            },
            {
                input: "SELECT_ELEVATOR",
                attributeName: attributeTitles[1], // "Machine room"
                id: '#machineRoom',
            },
            {
                input: "SELECT_ELEVATOR",
                attributeName: attributeTitles[2], // "Max Load/Persons"
                id: '#maxLoad',
            },
            {
                input: "SELECT_ELEVATOR",
                attributeName: attributeTitles[3], // "Max Speed"
                id: '#maxSpeed',
            },
            {
                input: "SELECT_ELEVATOR",
                attributeName: attributeTitles[4], // "Max Travel"
                id: '#maxTravel',
            }
        ];

        var trTag = $('#ELEVATOR_ATTRIBUTE_LIST_TR_tag');
        trTag.first('td').attr('colspan', '2');
        trTag.prepend('<td id="ELEVATOR_ATTRIBUTE_LIST_TD_tag" class="inputlabel type-AD"></td>');
        trTag.prepend('<td></td>');

        var table = $('.ELEVATOR_TABLE_dataTable');
        var tbody = $('.ELEVATOR_TABLE_dataTable').find('tbody');
        var dataRow = $('#dataRow').clone();

        table.prepend(thead);

        var list = document.ui.SELECT_ELEVATOR;

        let currentLocale = getCurrentLocale();

        for (i = 0; i < list.length; i++) {
            if (isSelectorProduct) {
                if (list[i].value != document.ui.SELECT_ELEVATOR.value) {
                    continue;
                }
            }

            var row = dataRow.clone();
            var target = list[i].value + '_row';
            row.attr('id', target);
            row.find('input').val(list[i].value);

            if (list[i].value == document.ui.SELECT_ELEVATOR.value) {
                row.find('input').prop("checked", true);
                if (isSelectorProduct) {
                    row.find('input').attr('onclick', '');
                }
            }

            tbody.append(row);

            for (var j = 0; j < attributes.length; j++) {
                try {
                    // Check if the attribute has an alternative attributeName (a V20.1 variant):
                    let originalValue;
                    let alternativeValue;

                    if (attributes[j].attributeName_v20_1_TR !== undefined && currentLocale === "TR") {
                        // Gracefully fallback to a normal attributeName if there isn't a Turkish V20.1 variant available:
                        alternativeValue = inputData.getAttribute(list[i].value, attributes[j].attributeName_v20_1_TR).value;
                    } else if (attributes[j].attributeName_v19_2 !== undefined) {
                        // Gracefully fallback to a normal attributeName if there isn't a V19.2 variant available:
                        alternativeValue = inputData.getAttribute(list[i].value, attributes[j].attributeName_v19_2).value;
                    } else {
                        alternativeValue = inputData.getAttribute(list[i].value, attributes[j].attributeName).value;
                    }

                    if (attributes[j].attributeName == "getvalue") {
                        // Grab original value from select input (?)
                        originalValue = $('#' + attributes[j].input + ' option').eq(i).text();
                    } else {
                        // Get attribute and alternative attribute
                        originalValue = inputData.getAttribute(list[i].value, attributes[j].attributeName).value;
                    }

                    // Choose which value to use
                    let finalValue = useAlternative && alternativeValue ? alternativeValue : originalValue;

                    // Update cell
                    $('#' + target).find(attributes[j].id).html(finalValue);
                } catch (error) {
                    console.error(error.message);
                    continue;
                }
            }
        }

        $('#dataRow').remove();
        $('#ELEVATOR_TABLE_dataTable').show();

        setNavLinks(); //in sidebarheader.html

        // Update product name accross the page if we are currently processing it. 
        // I don't like how any of this is done but don't have time to rewrite the whole thing.
        const selectedProduct = $('[name=ELEVATOR_TABLE_dataTableRadio]:checked')
            .closest('tr')
            .find('#product')
            .text();

        $('[name=SELECT_ELEVATOR_data], #headerBarText_PRODUCT_NAME')
            .text(selectedProduct);

        // Change this row after table is built (KPT-292)
        const $row = $('#MINISPACE_EUR_row');
        $row.find('#description')
            .on('click', contactsURL)
            .addClass('link')
            .css('color', 'var(--kone-blue, blue)');

        $row.find('#radio input').detach();
    }

    function setDataFromStoredAttributeList(inputName, inputValue, attributeName, attrData, cell) {
        var attrValue = getAttributeValue(inputName, inputValue, attributeName);
        var dataCell = $('#' + cell).find(attrData.id);
        if (attrValue !== "" && attrValue !== null) {
            //console.debug("input " + inputName + ",val:" + inputValue + ",attr:" + attributeName + "=[" + attrValue + "]");
            dataCell.html(attrValue);
        }
    }

    function getCurrentLocale() {
        let currentLocale;

        try {
            let localeInput = document.getElementById("ANON_USE_GRP");
            if (localeInput === undefined) return;

            for (i = 0; i < localeInput.options.length; i++) {
                if (localeInput.options[i].selected == true) {
                    currentLocale = localeInput.options[i].value;
                }
            }
        } catch (error) {
            console.error(error.message);
        }

        return currentLocale;
    }
</script>
