<!-- /concept/custom/jpocs/kone/selectorproduct/get_recommendation_button.html -->

<div id="get-recommendation-set" class="button-set">
    <a id="get-recommendation" href="#collapse225639142_1" class="kone-button">
        <doc>bundle.KONE_SELECTOR_BUTTON_get_recommendation</doc>
    </a>
</div>

<script type="text/javascript" defer>
    $(() => {
        $('div[id^=accordion225639142]').hide();
        checkPendingAjaxRequests();
    });

    function checkPendingAjaxRequests() {
        window.setTimeout(checkPendingAjaxRequests, 1000);
    }

    $("#get-recommendation").click(function () {
        updateRecommendedTable();

        sendAllInputData({
            'action': 'get recommendation',
            'options': getAllInputData()
        });

        $('div[id^=accordion225639142]').show();

        /*
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');

            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top + 800
                }, 1000);
                return false;
            }
        }
        */
    });
</script>
