<!-- /concept/custom/jpocs/kone/elevatorproducts/key_values_table.html -->

<!-- productId = java.lang.String -->

<table class="keyValuesTable">
    <tr>
        <th colspan="2" class="koneyblue-background KONE18 pad">
            <doc>bundle.KONE_ELEVATOR_HEADER_key_values_table</doc>
            <span name="SELECT_ELEVATOR_data"></span>
        </th>
    </tr>
    <tr>
        <td>
            <div>
                <div name="SHAFT_SIZE_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <span class="KeySummaryValuefont" name="DIM_SHAFT_WIDTH_WW_data"></span>
                <span class="KeySummaryValuefont" name="DIM_SHAFT_DEPTH_WD_data"></span>
            </div>
        </td>
        <td>
            <div>
                <div name="WGT_RATED_LOAD_Q_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="WGT_RATED_LOAD_Q_data"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <div name="DIM_HEADROOM_SH_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="DIM_HEADROOM_SH_data"></div>
            </div>
        </td>
        <td>
            <div>
                <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
            </div>
        </td>
    </tr>
    <tr>
        <doc>
            <if condition="'US,CA'.match(configuration.getInputByName('ANON_USE_GRP').getValue().getStringValue())!=null">
                <td colspan="2">
                    <div>
                        <div name="hoistbeam_text" class="keySummaryLabel">
                            <!-- Change label based on unit -->
                            <doc>
                                <if condition="configuration.getInputByName('UNIT_OF_MEASURE').getValue().getStringValue() == 'IMP'">
                                    <doc>bundle.KONE_ELEVATOR_TEXT_hoistbeam_imperial</doc>
                                </if>
                            </doc>
                            <doc>
                                <if condition="configuration.getInputByName('UNIT_OF_MEASURE').getValue().getStringValue() == 'METRIC'">
                                    <doc>bundle.KONE_ELEVATOR_TEXT_hoistbeam_metric</doc>
                                </if>
                            </doc>
                        </div>
                    </div>
                </td>
            </if>
        </doc>
        <td class="hide">
            <div>
                <div name="DIM_PIT_HEIGHT_PH_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="DIM_PIT_HEIGHT_PH_data"></div>
            </div>
        </td>
        <td>
            <div>
                <div name="VAL_RATED_SPEED_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="VAL_RATED_SPEED_data"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="hide">
            <div>
                <div name="TYP_ELEV_STANDARD_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="TYP_ELEV_STANDARD_data"></div>
            </div>
        </td>
        <td>
            <div>
                <div name="DIM_PIT_HEIGHT_PH_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="DIM_PIT_HEIGHT_PH_data"></div>
            </div>
        </td>
        <td>
            <div>
                <div name="DIM_TRAVEL_HEIGHT_H_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <span class="KeySummaryValuefont" name="DIM_TRAVEL_HEIGHT_H_data"></span>
                <span class="KeySummaryValuefont" name="DIM_TRAVEL_HEIGHT_H_DISP_IN_data"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <div name="TYP_ELEV_STANDARD_label" class="keySummaryLabel"></div>
            </div>
            <div class="KeySummaryValue">
                <div class="KeySummaryValuefont" name="TYP_ELEV_STANDARD_data"></div>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript" defer>
    var isKeyValuesScrolling = false;
    var timer;

    function initKeyValuesPanel() {
        // Add Key Values Side DIV
        // Product page only

        if ($('#keyValuesPanel').length == 0) {
            var carouselPrefix = "<doc><out>configuration.getInputByName('SELECT_ELEVATOR').getProductInput().getAttributeByName('Carousel model').getAttributeValueFromConfigurationInputValue(configuration.getInputByName('SELECT_ELEVATOR').getValue(),configuration).getStringValue()</out></doc>";
            var ignoreList = ['NMO', 'PWS1', 'PWE', 'GW'];

            var carouselMAIN_IMAGE = "MAIN_IMAGE";
            var MAIN_IMAGE = "MAIN_IMAGE";

            if (carouselPrefix != "" && !ignoreList.includes(carouselPrefix)) {
                carouselMAIN_IMAGE += "_" + carouselPrefix;
                MAIN_IMAGE += "_" + carouselPrefix;
            }

            console.debug("carouselMAIN_IMAGE=" + carouselMAIN_IMAGE);
            console.debug("MAIN_IMAGE=" + MAIN_IMAGE);

            $('#interface').prepend('<div id="keyValuesPanel" class="keyValuesPanel"><div id="key-content"></div></div>');

            var keyValues = $('#KEY_VALUES_TABLE_HTML_TR_tag');
            var mainImage = $('#' + carouselMAIN_IMAGE + '_TR_tag');
            //var mainImageText = $('#CAROUSEL_MAIN_IMAGE_TEXT_TR_tag');
            var mainImageText =
                '<tr id="MAIN_IMAGE_keyvaluestext_TR_tag">' +
                '<td colspan="4" valign="middle">' +
                '<div>' +
                '<div name="MAIN_IMAGE_data"></div>' +
                '</div>' +
                '</td>' +
                '</tr>';

            var mainImageFeeder = $('#' + MAIN_IMAGE + '_TR_tag1');
            $('#keyValuesPanel #key-content').html('<table><tbody id="KEY_VALUES_INFO"></tbody></table>');
            $('#KEY_VALUES_INFO').append(keyValues);
            $('#KEY_VALUES_INFO').append(mainImage);
            $('#KEY_VALUES_INFO').append(mainImageText);
            //$('#KEY_VALUES_INFO').append(mainImageFeeder);

            // Modify carousel layout
            MediaCarousel(MAIN_IMAGE, 'KEY_VALUES_INFO');

            // Move the *_MAIN_IMAGE_FEEDER input into the non-carousel feeder row
            // so that it is not moved out of document.ui and is still accessible
            // through that namespace.
            let imageFeederInput = $("#" + MAIN_IMAGE).parent();
            let imageFeederParent = $("#" + MAIN_IMAGE + "_TR_tag");
            let summaryParent = $([]); // An empty jQuery object.

            if (document.body.classList.contains("ena-elevator")) {
                summaryParent =  $("#ENA_SUMMARY_TABLE_HTML_TR_tag");;
            } else {
                summaryParent =  $("#SUMMARY_TABLE_HTML_TR_tag");
            }

            if (summaryParent.length !== 0) {
                imageFeederParent.insertAfter(summaryParent);
                imageFeederParent.append(imageFeederInput);
            }
        }
    }

    // Adjust the Key Values Table if we're KONE
    function adjustKeyValueTable() {
        try {
            let valuesPanel = document.getElementById("keyValuesPanel");

            if (valuesPanel !== undefined) {
                let valuesTable = valuesPanel.getElementsByClassName("keyValuesTable")[0];

                let tableContents = valuesTable.getElementsByTagName("tbody")[0];
                let tableRows = tableContents.getElementsByTagName("tr");

                for (let i = 0; i < tableRows.length; i++) {
                    let row = tableRows[i];
                    let cells = row.getElementsByTagName("td");

                    if (cells.length > 1) {
                        for (let c = 0; c < cells.length; c++) {
                            let cell = cells[c];

                            let _row = document.createElement("tr"); // New Row
                            _row.appendChild(cell);
                            tableContents.appendChild(_row);
                        }
                    }

                    if (i !== 0 && tableRows[i].classList !== undefined) {
                        tableRows[i].classList = "kvp-row";
                    } else if (i === 0) {
                        tableRows[i].classList = "kvp-header";
                    }
                }

                for (let i = 0; i < tableRows.length; i++) {
                    let value = tableRows[i].getElementsByClassName("KeySummaryValue")[0];

                    if (value !== undefined) {
                        let cell = document.createElement("td");
                        cell.appendChild(value);
                        tableRows[i].appendChild(cell);
                    }
                }

                for (let i = 0; i < tableRows.length; i++) {
                    let cells = tableRows[i].getElementsByTagName("td");

                    for (let c = 0; c < cells.length; c++) {
                        if (cells[c].classList.contains("hide")) {
                            tableRows[i].classList.add("row-hide");
                        }
                    }
                }
            }
        } catch (error) {
            console.error(error.message);
        }
    }

    function repositionKeyValuesPanel() {
        try {
            let sidebarParent = document.getElementById("kone-sidebar-parent");
            let keyValuesPanel = document.getElementById("keyValuesPanel");
            sidebarParent.appendChild(keyValuesPanel);
        } catch (error) {
            console.error(error.message);
        }
    }

    /* This was written at a time when I couldn't just change the HTML markup of the KeyValuesTable
       to reflect the row order in the design specification. It had to be changed manually in
       JavaScript to avoid affecting the non-ENA Elevator Planner. I don't like this function. */
    function shuffleKeyValueTableRows() {
        let valueOrder = [
            "SHAFT_SIZE_",
            "DIM_HEADROOM_",
            "hoistbeam_text",
            "DIM_PIT_HEIGHT_",
            "WGT_RATED_LOAD_",
            "QTY_ELEVATOR_GROUP_SIZE_",
            "VAL_RATED_SPEED_",
            "DIM_TRAVEL_HEIGHT_",
            "TYP_ELEV_STANDARD_"
        ];

        try {
            let valuesPanel = document.getElementById("keyValuesPanel");

            if (valuesPanel !== null) {
                let valuesTable = valuesPanel.getElementsByClassName("keyValuesTable")[0];

                let tableContents = valuesTable.getElementsByTagName("tbody")[0];
                let tableRows = tableContents.getElementsByTagName("tr");

                let _tableContents = document.createElement("tbody");
                valuesTable.appendChild(_tableContents);

                _tableContents.appendChild(tableRows[0]); // Move kvp-header to new tbody

                for (let i = 0; i < valueOrder.length; i++) {
                    let name = valueOrder[i];

                    for (let r = 0; r < tableRows.length; r++) {
                        let row = tableRows[r];

                        if (!row.classList.contains("row-hide")) {
                            let content = row.querySelector("div[name*='" + valueOrder[i] + "']");

                            if (content !== null) {
                                _tableContents.appendChild(row);
                                break;
                            }
                        }
                    }
                }

                tableContents.remove();
            }
        } catch (error) {
            console.error(error.message);
        }
    }

    $(() => {
        initKeyValuesPanel();

        let isLandingPage = false;
        let landingPage = document.querySelector('body[class*="isConfig"]');
        if (landingPage.classList.contains("landing")) {
            isLandingPage = true;
        }

        // Check whether we are KONE based on the prodId value:
        let productID = '<doc><out>productId</out></doc>';
        if (productID !== "") {
            switch (productID) {
                case "909338214": // KONE ENA Elevator Planner
                    if (!isLandingPage) {
                        adjustKeyValueTable();

                        /* Adjust the position of each row according
                        to the ENA Elevator design specification. */
                        shuffleKeyValueTableRows();
                        repositionKeyValuesPanel();
                    }
                    break;

                case "236324221": // KONE EU/ROW Elevator Planner
                    if (!isLandingPage) {
                        adjustKeyValueTable();

                        /* Adjust the position of each row according
                        to the ENA Elevator design specification. */
                        //shuffleKeyValueTableRows();

                        repositionKeyValuesPanel();
                    }
                    break;
            }
        }
    });
</script>
