<!-- /concept/custom/jpocs/kone/elevatorproducts/populate_product_summary.html -->

<script type="text/javascript" defer>
    var attributeNameMap = [
        {"MACHINE_ROOM": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MACHINE_ROOM</doc>"},
        {"MAX_LANDINGS": "<doc>bundle.KONE_ELEVATOR_TEXT_MAX_Landings</doc>"},
        {"MAX_TRAVEL": "<doc>bundle.KONE_ELEVATOR_TEXT_MAX_Travel</doc>"},
        {"MAX_SPEED": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_SPEED</doc>"},
        {"MAX_CAPACITY": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_CAPACITY</doc>"},
        {"MAX_CAPACITY_FI": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_CAPACITY</doc>"},
        {"MAX_GROUP_SIZE": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_GROUP_SIZE</doc>"},
        {"DISPATCHING": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DISPATCHING</doc>"},
        {"API_READINESS": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_API_READINESS</doc>"},
        {"BUILT_IN_CONNECTIVITY": "<doc>bundle.KONE_ELEVATOR_TEXT_BUILT_IN_CONNECTIVITY</doc>"},
        {"CAR_HEIGHT": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_CAR_HEIGHT</doc>"},
        {"DOOR_HEIGHT": "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DOOR_HEIGHT</doc>"}
    ];

    var tableExclusions = [
        "TITLE",
        "TITLE_R19.2",
        "TITLE_R20.2_TR",
        "DESCRIPTION",
        "PRODUCT_RELEASE",
        "SELECT_ELEVATOR",
        "GROUP_HEADER",
        "Product Group Header"
    ];

    var initial = true;

    var productGroupEntries = new Map();
    var countryReleaseTypes = new Map();
    var productHeaderEntries = new Map();

    var populatedGroupTypes = [];

    var productRelease;
    var currentCountry;

    const closeGroupEventString = "closeGroups(this);";
    const collapseGroupEventString = "collapse(this);";
    const elevatorSelectValueString = "document.ui.ELEVATOR_GD_TABLE.value=";
    const elevatorSelectGDValueString = "document.ui.ELEVATOR_GD_TOP_SELECT.value=";
    const forceChangeEventString = "forceChangeEvent(document.ui.ELEVATOR_GD_TABLE);";

    const DATA_TABLE = "ELEVATOR_GD_TABLE";
    const ENUMERATE_PRODUCT_GROUPS = "ENUMERATE_PRODUCT_GROUPS";
    const ENUMERATE_PRODUCT_HEADERS = "ENUMERATE_PRODUCT_HEADERS";
    const ELEVATOR_SELECTION = "ELEVATOR_SELECTION";
    const COUNTRY_SELECTOR = "SELECTOR_CHANGE_PROJECT_COUNTRY";
    const PRODUCT_RELEASE = "TYP_PRODUCT_RELEASE";

    // Populate the accordion header of the product group with data from the product model.
    function adjustGroupHeader(productHeader, productModel, productID) {
        if (!initial) {
            $(productHeader).empty(); // Clear the header if it's already populated.
        }

        let productIcon = document.createElement("span");
        productIcon.classList.add("group-header-icon");
        productHeader.appendChild(productIcon);

        let groupTitleWrapper = document.createElement("div");
        groupTitleWrapper.classList.add("group-title-wrapper");
        productHeader.appendChild(groupTitleWrapper);

        let productTitle = document.createElement("div");
        productTitle.classList.add("group-header-title");
        groupTitleWrapper.appendChild(productTitle);

        let productDescription = document.createElement("div");
        productDescription.classList.add("group-header-description");
        groupTitleWrapper.appendChild(productDescription);

        let groupAttributeWrapper = document.createElement("div");
        groupAttributeWrapper.classList.add("group-attribute-wrapper");
        productHeader.appendChild(groupAttributeWrapper);

        let groupMaxTravel = document.createElement("div");
        groupMaxTravel.id = "max-travel";
        groupMaxTravel.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxTravel);

        let maxTravelIcon = document.createElement("span");
        maxTravelIcon.id = "attribute-icon";
        groupMaxTravel.appendChild(maxTravelIcon);

        let maxTravelLabel = document.createElement("div");
        maxTravelLabel.id = "attribute-name";
        maxTravelLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_TRAVEL</doc>";
        groupMaxTravel.appendChild(maxTravelLabel);

        let maxTravel = document.createElement("div");
        maxTravel.id = "attribute-value";
        maxTravel.classList.add("max-travel");
        groupMaxTravel.appendChild(maxTravel);

        let groupMaxLoad = document.createElement("div");
        groupMaxLoad.id = "max-load";
        groupMaxLoad.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxLoad);

        let maxLoadIcon = document.createElement("span");
        maxLoadIcon.id = "attribute-icon";
        groupMaxLoad.appendChild(maxLoadIcon);

        let maxLoadLabel = document.createElement("div");
        maxLoadLabel.id = "attribute-name";
        maxLoadLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_CAPACITY</doc>";
        groupMaxLoad.appendChild(maxLoadLabel);

        let maxLoad = document.createElement("div");
        maxLoad.id = "attribute-value";
        maxLoad.classList.add("max-load");
        groupMaxLoad.appendChild(maxLoad);

        let groupMaxSpeed = document.createElement("div");
        groupMaxSpeed.id = "max-speed";
        groupMaxSpeed.classList.add("group-header-attribute");
        groupAttributeWrapper.appendChild(groupMaxSpeed);

        let maxSpeedIcon = document.createElement("span");
        maxSpeedIcon.id = "attribute-icon";
        groupMaxSpeed.appendChild(maxSpeedIcon);

        let maxSpeedLabel = document.createElement("div");
        maxSpeedLabel.id = "attribute-name";
        maxSpeedLabel.innerText = "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_SPEED</doc>";
        groupMaxSpeed.appendChild(maxSpeedLabel);

        let maxSpeed = document.createElement("div");
        maxSpeed.id = "attribute-value";
        maxSpeed.classList.add("max-speed");
        groupMaxSpeed.appendChild(maxSpeed);

        for (let i = 0; i < productModel.length; i++) {
            let pair = productModel[i];
            if (pair.value !== null) {
                switch (pair.attr) {
                    case "TITLE":
                        if (pair.value[0] !== "" || pair.value[0] !== null) {
                            productTitle.innerText = pair.value[0];
                        }
                        break;

                    case "TITLE_R19.2":
                        if (productRelease !== undefined) {
                            if (productRelease === "19.2") {
                                if (pair.value[0] !== "" || pair.value[0] !== null) {
                                    productTitle.innerText = pair.value[0];
                                }
                            }
                        }
                        break;

                    case "TITLE_R20.2_TR":
                        if (currentCountry === "TURKEY") {
                            if (pair.value[0] !== "" || pair.value[0] !== null) {
                                productTitle.innerText = pair.value[0];
                            }
                        }
                        break;

                    case "DESCRIPTION":
                        if (pair.value[0] !== "" || pair.value[0] !== null) {
                            productDescription.innerText = pair.value[0];
                        }
                        break;

                    case "MAX_TRAVEL":
                        if (!groupMaxTravel.classList.contains("show")) {
                            groupMaxTravel.classList.add("show");
                        }
                        maxTravel.innerText = pair.value[0];
                        break;

                    case "MAX_CAPACITY":
                        if (!groupMaxLoad.classList.contains("show")) {
                            groupMaxLoad.classList.add("show");
                        }
                        maxLoad.innerText = pair.value[0];
                        break;

                    case "MAX_CAPACITY_FI":
                        if (currentCountry === "FINLAND" && pair.value[0] !== undefined) {
                            if (!groupMaxLoad.classList.contains("show")) {
                                groupMaxLoad.classList.add("show");
                            }
                            maxLoad.innerText = pair.value[0];
                        }
                        break;

                    case "MAX_SPEED":
                        if (!groupMaxSpeed.classList.contains("show")) {
                            groupMaxSpeed.classList.add("show");
                        }
                        maxSpeed.innerText = pair.value[0];
                        break;
                }
            }
        }

        productHeader.setAttribute('onclick',
            closeGroupEventString +
            collapseGroupEventString +
            (elevatorSelectValueString + "'" + productID + "';") +
            (elevatorSelectGDValueString + "'" + productID + "';") +
            forceChangeEventString
        );
    }

    // Fill a product model from attribute data.
    function populateProductModel(productID, dataTable) {
        let attributeData = getAttributeData(DATA_TABLE);
        for (let i = 0; i < attributeData.data.option.length; i++) {
            let option = attributeData.data.option[i];

            if (option.value === productID) {
                return attributeData.data.option[i].result;
            }
        }
    }

    // Populate the product summary table from a given product model.
    function populateProductTable(productTable, productModel) {
        let rows = new Array((productModel.length - tableExclusions.length) - 1);

        if (!initial) {
            $(productTable).empty(); // Clear the table if it's already populated.
        }

        for (let i = 0; i < productModel.length; i++) {
            let row = document.createElement("div");
            row.classList.add("table-row");
            row.setAttribute("data-row-id", productModel[i].attr.toUpperCase().replace(/ /g,"_"));

            let key = document.createElement("span");
            key.classList.add("table-cell");
            key.classList.add("product-key");

            let value = document.createElement("span");
            value.classList.add("table-cell");
            value.classList.add("product-value");

            let friendlyName = getFriendlyName(productModel[i].attr);
            if (friendlyName !== undefined) {
                key.innerHTML = friendlyName;
            } else {
                key.innerHTML = productModel[i].attr;
            }

            if (productModel[i].value !== null) {
                value.innerHTML = productModel[i].value[0]; // ASSUMPTION: There should only be one.
            }

            if (!tableExclusions.includes(productModel[i].attr)) {
                /*
                if (productModel[i].attr === "MAX_CAPACITY_FI" && currentCountry !== "FINLAND") {
                    continue;
                } else if (productModel[i].attr === "MAX_CAPACITY_FI" && currentCountry === "FINLAND") {
                    if (productModel[i].value === null) {
                        continue;
                    }
                }

                if (productModel[i].attr === "MAX_CAPACITY" && currentCountry === "FINLAND") {
                    if (productModel.find(x => x.attr === "MAX_CAPACITY_FI").value !== undefined) {
                        continue;
                    }
                }
                */

                row.appendChild(key);
                row.appendChild(value);

                let index = getIndex(productModel[i].attr);
                if (index !== undefined) {
                    rows[index] = row;
                } else {
                    rows.push(row); // If index not returned, just append.
                }
            }
        }

        for (let i = 0; i < rows.length; i++) {
            if (rows[i] !== undefined) {
                productTable.appendChild(rows[i]);
            }
        }
    }

    // Populate/Refresh the product group accordions as well as their summary tables and
    // their accordion headers. Show/Hide both the product groups, and the product group
    // headers.
    function populateProductGroups() {
        currentCountry = getCurrentCountry();

        let productContainer = document.querySelector("div[id^='accordion308783645']");
        if (productContainer !== null) {
            if (currentCountry === "PS") {
                $(productContainer).hide();
            } else {
                $(productContainer).show();
            }
        }

        productRelease = undefined; // Reset product release on refresh.
        countryReleaseTypes.forEach((key, value) => {
            if (value === currentCountry) {
                if (key[1]) {
                    if (key[1].value) {
                        productRelease = key[1].value[0];
                    }
                }
            }
        });

        let productSummaryParents = document.querySelectorAll("tr[id*='_PRODUCT_SUMMARY_']");
        if (productSummaryParents === null || productSummaryParents.length === 0) {
            console.error("Unable to find product summary tables.");
            return;
        }

        // Iterate through each of the table rows each containing an appropriate
        // product summary and being named as such with their element ID ("_PRODUCT_SUMMARY_TR_").
        for (let i = 0; i < productSummaryParents.length; i++) {
            let productGroup = productSummaryParents[i].parentElement; // Grab the parent <tbody>
            let productAccordion = productSummaryParents[i].closest("div[id^='accordion']");
            let productID = productGroup.firstElementChild.querySelector("input[type=hidden]").value; // Grab the first <tr> containing the hidden productID

            let groupType = "";

            // Determine whether the product should be hidden or not based on
            // whether we have a matching productID present in ELEVATOR_SELECTION -
            // the driven input that tells us which products should be shown based
            // on the currently-selected project country (see COUNTRY_SELECTOR).
            if (!filterAvailableGroups(productID)) {
                // Hide the product accordion:
                if (!productAccordion.classList.contains("accordion-hide")) {
                    productAccordion.classList.add("accordion-hide");
                }

                // Set the isVisible value in the productGroupEntries map
                // so that we can later determine how many of each product
                // group has been hidden.
                if (productGroupEntries.has(productID)) {
                    let attributes = productGroupEntries.get(productID);
                    for (let n = 0; n < attributes.length; n++) {
                        if (attributes[n].attr === "isVisible") {
                            attributes[n].value = "false";
                            //break;
                        } else if (attributes[n].attr === "Product Group Type") {
                            groupType = attributes[n].value[0];

                            if (!populatedGroupTypes.includes(groupType)) {
                                populatedGroupTypes.push(groupType);
                            }
                        }
                    }

                    // Write-back so we can use them later.
                    productGroupEntries.set(productID, attributes);
                }

                if (groupType !== "") {
                    productAccordion.setAttribute("data-group-type", groupType);
                }
            } else {
                // Populate the product model so that we can then generate both the
                // product summary table as well as the collapsable accordion header.
                getInputAttributes(DATA_TABLE, function () {
                    let productModel = populateProductModel(productID, DATA_TABLE);
                    if (productModel !== undefined) {
                        let productTable = productSummaryParents[i].querySelector(".product-table");
                        populateProductTable(productTable, productModel);
                        hintProductTable(productTable);

                        let productHeader = productAccordion.querySelector("div[id^='collapse']");
                        productHeader.innerText = ""; // Remove any lingering default text.
                        adjustGroupHeader(productHeader, productModel, productID);
                    } else {
                        console.error("Unable to fetch attribute data from " + DATA_TABLE + " for [" + productID + "]. Please make sure that appropriate attribute data has been setup for the given product.");
                    }
                });

                // Show the product accordion:
                if (productAccordion.classList.contains("accordion-hide")) {
                    productAccordion.classList.remove("accordion-hide");
                }

                // Set the isVisible value in the productGroupEntries map
                // so that we can later determine how many of each product
                // group has been shown.
                if (productGroupEntries.has(productID)) {
                    let attributes = productGroupEntries.get(productID);
                    for (let n = 0; n < attributes.length; n++) {
                        if (attributes[n].attr === "isVisible") {
                            attributes[n].value = "true";
                            //break;
                        } else if (attributes[n].attr === "Product Group Type") {
                            groupType = attributes[n].value[0];

                            if (!populatedGroupTypes.includes(groupType)) {
                                populatedGroupTypes.push(groupType);
                            }
                        }
                    }

                    // Write-back so we can use them later.
                    productGroupEntries.set(productID, attributes);
                }

                if (groupType !== "") {
                    productAccordion.setAttribute("data-group-type", groupType);
                }
            }

            let previousAccordion = $(productAccordion).prev()[0];
            if (previousAccordion !== undefined) {
                if (previousAccordion.querySelector(".product-header")) {
                    //previousAccordion.classList.add("header-accordion");

                    if (groupType !== "") {
                        previousAccordion.setAttribute("data-group-type", groupType);

                        // If we're 19.2 or 20.1, look for an alternative title for the product header:
                        if (productRelease === "19.2" || productRelease === "20.1") {
                            if (productHeaderEntries.has(groupType)) {
                                let attributes = productHeaderEntries.get(groupType);

                                let headerTitle = null;
                                if (productRelease === "19.2") {
                                    headerTitle = attributes.find(x => x.attr === "Product Header Title (19.2)").value;
                                } else if (productRelease === "20.1" && currentCountry === "TURKEY") {
                                    headerTitle = attributes.find(x => x.attr === "Product Header Title (20.1 TR)").value;
                                } else if (productRelease === "20.1") {
                                    headerTitle = attributes.find(x => x.attr === "Product Header Title (20.1)").value;
                                }

                                if (headerTitle !== null) {
                                    let productTitle = previousAccordion.querySelector(".product-title");
                                    if (productTitle !== null) {
                                        productTitle.textContent = headerTitle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // We do each of these once per refresh:
        hideProductGroupHeaders();
        collateProductGroups();
    }

    // Iterate through each product group and work out whether or not
    // we need to hide the appropriate product header if each of the
    // relevant groups have, themselves, been hidden.
    function hideProductGroupHeaders() {
        let productGroups = new Map();

        if (productGroupEntries.length === 0) return;

        // Group all of the product groups together under each of
        // their respective product headers, so that we can more
        // easily quantify them:
        productGroupEntries.forEach(function(key, value) {
            if (key !== null && key.length > 0) {
                let groupName, groupHeader, isVisible = null;

                for (let i = 0; i < key.length; i++) {
                    switch(key[i].attr) {
                        case "Product Group Type":
                            if (key[i].value !== null) {
                                groupName = key[i].value[0];
                            }
                            break;

                        case "Product Group Header":
                            if (key[i].value !== null) {
                                groupHeader = key[i].value[0];
                            }
                            break;

                        case "isVisible":
                            if (key[i].value === null) {
                                isVisible = false;
                            } else {
                                isVisible = key[i].value;
                            }
                            break;
                    }
                }

                if (groupName !== null && groupHeader !== null && isVisible !== null) {
                    if (!productGroups.has(groupName)) {
                        productGroups.set(groupName, new Array({ isVisible, groupHeader, value }));
                    } else {
                        let groupValue = productGroups.get(groupName);
                        groupValue.push({ isVisible, groupHeader, value });
                        productGroups.set(groupName, groupValue);
                    }
                } else {
                    console.debug("Unable to fetch attribute data from " + ENUMERATE_PRODUCT_GROUPS + " for [" + value + "]. Please make sure that the Group ID, Group Header, and isVisible attributes have been set for the given product.");
                }
            } else {
                console.error("Unable to fetch attribute data from " + ENUMERATE_PRODUCT_GROUPS + " for [" + value + "]. Please make sure that appropriate attribute data has been setup for the given product.");
            }
        });

        if (productGroups.length === 0) return;

        // Iterate through each product group in the new order and work
        // out whether or not we need to hide the product header based
        // on whether each product group in the stack has been marked
        // as hidden or not:
        productGroups.forEach(function(key, value) {
            let total = key.length;
            let current = 0;
            let currentHeader = key[0].groupHeader; // It'll be the same for all of them in each group.

            // Tot-up the number of hidden product groups versus
            // the total number of product groups in the stack:
            for (let i = 0; i < key.length; i++) {
                if (key[i].isVisible === false || key[i].isVisible === "false" || key[i].isVisible[0] === "false" || key[i].isVisible === null) {
                    current = current + 1;
                }
            }

            // Grab the header itself:
            let headerInput = document.getElementById(currentHeader);
            if (headerInput === null) return;

            let headerParent = headerInput.parentElement;
            let headerContainer = headerParent.querySelector(".product-header");
            if (headerContainer === null) return;

            // If all product groups have been hidden, hide the header;
            // if not, make sure the header is visible (regardless of
            // it's current visibility state):
            if (current == total) {
                $(headerContainer).hide();
                headerContainer.closest(".kone-accordion").classList.add("accordion-hide");
            } else {
                $(headerContainer).show();
                headerContainer.closest(".kone-accordion").classList.remove("accordion-hide");
            }
        });
    }

    // Iterate through each product group and wrap them into their own
    // parent group elements so that we can figure out which is the last
    // product group in their respective list.
    function collateProductGroups() {
        if (populatedGroupTypes.length === 0) return;

        let uiForm = document.querySelector(".concept-ui-form.scrollable");
        $('.kone-accordion.last-product').removeClass("last-product");

        for (let i = 0; i < populatedGroupTypes.length; i++) {
            let groupType = populatedGroupTypes[i];

            let productGroup = document.createElement("div");
            productGroup.classList.add("product-group");

            let accordions = document.querySelectorAll(`[data-group-type*="` + groupType +`"]`);
            if (accordions.length !== 0) {
                for (let x = 0; x < accordions.length; x++) {
                    productGroup.appendChild(accordions[x]);
                }
            }

            uiForm.appendChild(productGroup);

            // We can't break out of a forEach loop in the same way we would a standard
            // JavaScript loop, or even a standard jQuery loop, so we have to introduce
            // this ugly shim to prevent the logic from working on every product group.
            let _break = false;
            $(productGroup).children().get().reverse().forEach(function(child) {
                if (_break === false && child.classList.contains("accordion-hide") === false) {
                    child.classList.add("last-product");
                    _break = true;
                }
            });
        }

        $(".product-group:empty").remove(); // Remove all previous product-groups.
    }

    // Grab the product group data so that we can compare it to the list
    // of available products later on.
    function populateProductGroupEntries(callback) {
        getInputAttributes(ENUMERATE_PRODUCT_GROUPS, function() {
            let attributeData = getAttributeData(ENUMERATE_PRODUCT_GROUPS).data.option;
            for (let i = 0; i < attributeData.length; i++) {
                productGroupEntries.set(attributeData[i].value, attributeData[i].result);
            }

            callback();
        });
    }

    // Grab the country attribute data so that we can figure out
    // what product release we should use later on.
    function populateCountryAttributeData(callback) {
        getInputAttributes(COUNTRY_SELECTOR, function() {
            let attributeData = getAttributeData(COUNTRY_SELECTOR).data.option;
            for (let i = 0; i < attributeData.length; i++) {
                countryReleaseTypes.set(attributeData[i].value, attributeData[i].result);
            }

            callback();
        });
    }

    // Grab the product header data so that we can figure out
    // what title string to use later on.
    function populateProductHeaderEntries(callback) {
        getInputAttributes(ENUMERATE_PRODUCT_HEADERS, function() {
            let attributeData = getAttributeData(ENUMERATE_PRODUCT_HEADERS).data.option;
            for (let i = 0; i < attributeData.length; i++) {
                productHeaderEntries.set(attributeData[i].value, attributeData[i].result);
            }

            callback();
        });
    }

    // Determine whether the given productID exists among the input values
    // of ELEVATOR_SELECTION.
    function filterAvailableGroups(productID) {
        let options = document.getElementById(ELEVATOR_SELECTION).options;

        for (let i = 0; i < options.length; i++) {
            if (options[i].value === productID) {
                return true;
            }
        }

        return false;
    }

    // Apply an appropriate class to every other row in the product table
    // in order to visibily "hint" it with CSS.
    function hintProductTable(productTable) {
        for (let i = 0; i < productTable.children.length; i++) {
            if (isEven((i + 1))) {
                productTable.children[i].classList.add("row-hint");
            }
        }
    }

    // Get the current country.
    function getCurrentCountry() {
        let countrySelector = document.getElementById(COUNTRY_SELECTOR);
        if (countrySelector !== null) {
            return countrySelector.value;
        }
    }

    // Get the index of a given attribute in the attribute map.
    function getIndex(attributeName) {
        for (let i = 0; i < attributeNameMap.length; i++) {
            let pair = attributeNameMap[i];

            for (let key in pair) {
                if (key == attributeName) {
                    return i;
                }
            }
        }
    }

    // Get the friendly name for a given attribute from the attribute map.
    function getFriendlyName(attributeName) {
        for (let k = 0; k < attributeNameMap.length; k++) {
            let pair = attributeNameMap[k];

            for (let key in pair) {
                if (key == attributeName) {
                    return pair[key];
                }
            }
        }
    }

    // Check to see if number is even or not.
    function isEven(number) {
        if (number % 2 == 1) {
            return true;
        } else {
            return false;
        }
    }

    $(() => {
        try {
            currentCountry = getCurrentCountry();

            // I really don't like the fact that we're chaining things like this,
            // but I can't think of a better way of doing it right now, and the
            // getInputAttributes function is not asynchronous, so we can't do
            // (...).then or anything like that.
            populateCountryAttributeData(() => {
                populateProductHeaderEntries(() => {
                    populateProductGroupEntries(() => {
                        // Make sure we run the initial populate routine after the ELEVATOR_SELECTION driver has finished:
                        RunAfterDrivens('Initial Populate Routine', 100, populateProductGroups);

                        // Attach a new function to the country selector's on-change handler.
                        // This'll detect when all drivers have completed before executing a
                        // refresh of the product groups.
                        let countrySelector = document.getElementById(COUNTRY_SELECTOR);
                        if (countrySelector !== null) {
                            let countrySelectorEvent = countrySelector.getAttribute("onchange");
                            countrySelectorEvent = countrySelectorEvent + "RunAfterDrivens('Refresh Routine', 100, populateProductGroups);";
                            countrySelector.setAttribute("onchange", countrySelectorEvent);
                        }

                        if (initial == true) initial = false; // If we've completed our first run, set init to false.
                    });
                });
            });
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
