<!-- /concept/custom/jpocs/kone/elevatorproducts/product_group.html -->

<div class="product-group-table" id="template-product-group-wrapper" style="display: none">
    <!-- div:group-table -->
</div>

<div class="group-table" id="template-group-table" style="display: none;">
    <!-- div:group-table-header -->
    <!-- div:group-table-content -->
</div>

<div class="group-table-header" id="template-group-table-header" style="display: none;">
    <div class="group-header">
        <div class="group-image"></div>
        <div class="group-title">
            <div class="group-name"></div>
            <div class="group-description"></div>
        </div>
    </div>
</div>

<div class="group-table-content" id="template-group-table-content" style="display: none;">
    <!-- div:group-product -->
</div>

<div class="group-product group-collapsed" id="template-product-wrapper" style="display: none;" data-id="">
    <div class="product-header">
        <div class="header-icon"></div>
        <div class="header-title">
            <div class="product-name"></div>
            <div class="product-description"></div>
        </div>
        <div class="header-attributes">
            <!-- div:header-attribute -->
        </div>
    </div>
    <div class="product-content content-hidden">
        <div class="content-table">
            <!-- div:table-row -->
        </div>
        <div class="content-footer">
            <div class="kone-button configurator-button" onclick="runPageAction();">
                <doc>bundle.KONE_SELECTOR_TEXT_configure_elevator</doc>
            </div>
        </div>
    </div>
</div>

<div class="header-attribute" id="template-header-attribute" style="display: none;" data-id="">
    <div class="attribute-icon"></div>
    <div class="attribute-name"></div>
    <div class="attribute-value"></div>
</div>

<div class="table-row" id="template-table-row" style="display: none;" data-attr="">
    <div class="table-cell" data-val="attr-label"></div>
    <div class="table-cell" data-val="attr-value"></div>
</div>

<!-- Scripts -->

<script type="text/javascript" defer>
    const GROUP_ID = "GROUP_HEADER";
    const PRODUCT_NAME = "TITLE";
    const PRODUCT_DESCRIPTION = "DESCRIPTION";
    const PRODUCT_RELEASE = "TYP_PRODUCT_RELEASE";
    const COUNTRY_CODE = "TYP_ELEV_COUNTRY_CODE";
    const HEADER_TITLE_19_2 = "HEADER_TITLE_19_2";
    const HEADER_TITLE_20_1 = "HEADER_TITLE_20_1";
    const HEADER_TITLE_20_1_TR = "HEADER_TITLE_20_1_TR";
    const HEADER_DESCRIPTION = "HEADER_DESCRIPTION";
    const HEADER_IMAGE = "HEADER_IMAGE";
    const SELECT_ELEVATOR = "SELECT_ELEVATOR";

    const PRODUCT_SELECTION = "ELEVATOR_GD_TABLE";
    const PRODUCT_GROUP_SELECTION = "ENUMERATE_PRODUCT_HEADERS";

    const VIEW_SELECTION = "SELECTOR_BY_BUILDING_FUNCTION";
    const COUNTRY_SELECTION = "SELECTOR_CHANGE_PROJECT_COUNTRY";

    var productInput;
    var productHeaderInput;

    var viewInput;
    var countryInput;

    var productWrapper;
    var contentWrapper;

    var viewModel = new Map();
    var groupModel = new Map();
    var viewCache = [];

    var productRelease;
    var countrySelection;

    var attributeBundles = new Map([
        ["MACHINE_ROOM", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MACHINE_ROOM</doc>"],
        ["MAX_LANDINGS", "<doc>bundle.KONE_ELEVATOR_TEXT_MAX_Landings</doc>"],
        ["MAX_TRAVEL", "<doc>bundle.KONE_ELEVATOR_TEXT_MAX_Travel</doc>"],
        ["MAX_SPEED", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_SPEED</doc>"],
        ["MAX_CAPACITY", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_CAPACITY</doc>"],
        ["MAX_GROUP_SIZE", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_MAX_GROUP_SIZE</doc>"],
        ["DISPATCHING", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DISPATCHING</doc>"],
        ["API_READINESS", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_API_READINESS</doc>"],
        ["BUILT_IN_CONNECTIVITY", "<doc>bundle.KONE_ELEVATOR_TEXT_BUILT_IN_CONNECTIVITY</doc>"],
        ["CAR_HEIGHT", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_CAR_HEIGHT</doc>"],
        ["DOOR_HEIGHT", "<doc>bundle.KONE_ELEVATOR_TABLE_TEXT_DOOR_HEIGHT</doc>"]
    ]);

    var headerAttributes = [
        "MAX_TRAVEL",
        "MAX_CAPACITY",
        "MAX_SPEED"
    ];

    var contentAttributes = [
        "MACHINE_ROOM",
        "MAX_LANDINGS",
        "MAX_TRAVEL",
        "MAX_SPEED",
        "MAX_CAPACITY",
        "MAX_GROUP_SIZE",
        "DISPATCHING",
        "API_READINESS",
        "BUILT_IN_CONNECTIVITY",
        "CAR_HEIGHT",
        "DOOR_HEIGHT"
    ];

    class Product {
        constructor(id, data) {
            this.id = id;
            this.data = data;
        }
    }

    class ProductGroup {
        constructor(id, data, products) {
            this.id = id;
            this.data = data;
            this.products = products;
        }
    }

    function populateProductGroups() {
        let productGroups = [];

        productRelease = getValue(countryInput.name, countryInput.value, PRODUCT_RELEASE);
        countrySelection = getValue(countryInput.name, countryInput.value, COUNTRY_CODE);

        if (viewCache.length > 0) {
            for (let i = 0; i < viewCache.length; i++) {
                let view = viewCache[i];
                $(view).remove();
            }

            viewCache = [];
        }

        if (productInput.options.length === 0 || productInput.options[0].value === "" || countryInput.value === "PS") {
            return;
        }

        if (!productWrapper) {
            productWrapper = createFromTemplate("template-product-group-wrapper");
            productWrapper.removeAttribute("style");
            productWrapper.removeAttribute("id");
            productWrapper.id = "elevator-product-group-table";
            productWrapper.innerHTML = "";

            contentWrapper.append(productWrapper);
        }

        for (let i = 0; i < productHeaderInput.options.length; i++) {
            let headerID = productHeaderInput[i].value;
            let headerModel = populateModel(headerID, groupModel);
            if (headerModel.size === 0) continue;

            let groupID = getValue(productHeaderInput.name, headerID, GROUP_ID);
            if (groupID === null) continue;

            productGroups.push(new ProductGroup(groupID, headerModel, new Array()));
        }

        for (let i = 0; i < productInput.options.length; i++) {
            let productID = productInput[i].value;
            let productModel = populateModel(productID, viewModel);

            let groupID = getValue(productInput.name, productID, GROUP_ID);
            if (groupID === null) continue;

            if (productModel.size > 0) {
                let product = new Product(productID, productModel);

                for (let x = 0; x < productGroups.length; x++) {
                    if (productGroups[x].id === groupID) {
                        productGroups[x].products.push(product);
                        break;
                    }
                }
            } else {
                continue;
            }
        }

        // Generate the products:
        for (let i = 0; i < productGroups.length; i++) {
            if (productGroups[i].products.length > 0) {
                let groupTable = createFromTemplate("template-group-table", document, true, true);
                groupTable.setAttribute("data-id", productGroups[i].id);

                generateProductHeader(groupTable, productGroups[i]);
                generateProductContent(groupTable, productGroups[i]);
            }
        }
    }

    function generateProductHeader(groupTable, productGroup) {
        let headerWrapper = createFromTemplate("template-group-table-header");

        let headerName = headerWrapper.querySelector(".group-name");
        if (headerName !== null) {
            switch (productRelease) {
                case "19.2":
                    headerName.innerHTML = productGroup.data.get(HEADER_TITLE_19_2);
                    break;

                case "20.1":
                    if (countryInput.value === "TURKEY") {
                        headerName.innerHTML = productGroup.data.get(HEADER_TITLE_20_1_TR);
                    } else {
                        headerName.innerHTML = productGroup.data.get(HEADER_TITLE_20_1);
                    }
                    break;
            }
        }

        let headerDescription = headerWrapper.querySelector(".group-description");
        if (headerDescription !== null) {
            headerDescription.innerHTML = productGroup.data.get(HEADER_DESCRIPTION);
        }

        let headerImage = headerWrapper.querySelector(".group-image");
        if (headerImage !== null) {
            headerImage.style.backgroundImage = "url('/HTML/images/" + productGroup.data.get(HEADER_IMAGE) + "')";
        }

        groupTable.append(headerWrapper);
    }

    function generateProductContent(groupTable, productGroup) {
        let contentWrapper = createFromTemplate("template-group-table-content", document, true, true);

        for (let i = 0; i < productGroup.products.length; i++) {
            let product = productGroup.products[i];
            let productWrapper = createFromTemplate("template-product-wrapper");

            let productName = productWrapper.querySelector(".product-name");
            productName.innerHTML = product.data.get(PRODUCT_NAME);

            productWrapper.setAttribute("data-id", product.id);

            let productDescription = productWrapper.querySelector(".product-description");
            productDescription.innerHTML = product.data.get(PRODUCT_DESCRIPTION);

            let productAttributes = productWrapper.querySelector(".header-attributes");
            productAttributes.innerHTML = "";

            for (let x = 0; x < headerAttributes.length; x++) {
                let headerAttribute = createFromTemplate("template-header-attribute");
                headerAttribute.setAttribute("data-id", headerAttributes[x]);

                let attributeName = headerAttribute.querySelector(".attribute-name");
                let label = attributeBundles.get(headerAttributes[x]);

                if (label) attributeName.innerHTML = label;
                else attributeName.innerHTML = headerAttributes[x];

                let attributeValue = headerAttribute.querySelector(".attribute-value");
                attributeValue.innerHTML = product.data.get(headerAttributes[x]);

                productAttributes.append(headerAttribute);
            }

            let productHeader = productWrapper.querySelector(".product-header");
            productHeader.id = product.data.get(SELECT_ELEVATOR).replaceAll("_", "-") + "-product-header";
            let targetID = '.product-header[id="' + productHeader.id + '"]';
            productHeader.setAttribute("onclick", "expandHeader(this);document.ui.ELEVATOR_GD_TABLE.value='" + product.id + "';scrollEvent('" + targetID + "', 500, 12);");

            let contentTable = productWrapper.querySelector(".content-table");
            contentTable.innerHTML = "";

            for (let x = 0; x < contentAttributes.length; x++) {
                let key = contentAttributes[x]
                let value = product.data.get(key);

                let row = createFromTemplate("template-table-row");
                row.setAttribute("data-attr", key);

                let label = row.querySelector("div[data-val='attr-label']");

                let name = attributeBundles.get(key);
                if (name) label.innerHTML = name;
                else label.innerHTML = key;

                let content = row.querySelector("div[data-val='attr-value']");
                content.innerHTML = value;

                contentTable.append(row);
            }

            contentWrapper.append(productWrapper);
        }

        groupTable.append(contentWrapper);

        viewCache.push(groupTable);
        productWrapper.append(groupTable);
    }

    function expandHeader(element) {
        let id = element.parentElement.dataset.id;
        collapseHeaders(id);

        let isExpanded = element.parentElement.classList.contains("group-expanded");
        if (isExpanded) {
            element.parentElement.classList.remove("group-expanded");
            element.parentElement.classList.add("group-collapsed");
            element.parentElement.querySelector(".product-content").classList.add("content-hidden");
        } else {
            element.parentElement.classList.add("group-expanded");
            element.parentElement.classList.remove("group-collapsed");
            element.parentElement.querySelector(".product-content").classList.remove("content-hidden");
        }
    }

    function collapseHeaders(id) {
        for (let i = 0; i < viewCache.length; i++) {
            let products = viewCache[i].querySelectorAll(".group-product");
            if (products.length) {
                for (let x = 0; x < products.length; x++) {
                    if (products[x].dataset.id !== id && products[x].classList.contains("group-expanded")) {
                        products[x].classList.remove("group-expanded");
                        products[x].classList.add("group-collapsed");
                        products[x].querySelector(".product-content").classList.add("content-hidden");
                    }
                }
            }
        }
    }

    function createFromTemplate(id, parent = document, deep = true, empty = false) {
        let node = parent.getElementById(id);
        if (node != null) {
            node = node.cloneNode(deep);
            node.removeAttribute("style");
            node.removeAttribute("id");
            if (empty) {
                node.innerHTML = "";
            }
            return node;
        } else return null;
    }

    function populateModel(id, data) {
        let model = new Map();

        for (const [key, value] of data.entries()) {
            if (key === id) {
                for (let i = 0; i < value.length; i++) {
                    if (value[i].value && value[i].value.length > 0) {
                        model.set(value[i].attr, value[i].value[0]);
                    }
                }
                break;
            }
        }

        if (model.size === 0) {
            console.debug("Unable to create model from data.");
        }

        return model;
    }

    function createModel(input) {
        let model = new Map();

        let result = getAttributeData(input.name);
        if (result.found !== false) {
            let data = result.data.option;
            for (let i = 0; i < data.length; i++) {
                model.set(data[i].value, data[i].result);
            }
        }

        return model;
    }

    // Watch the product input (ELEVATOR_GD_TABLE) for changes and,
    // when triggered, clear-out and repopulate the product groups.
    function createObserver(input, properties) {
        let observer = new MutationObserver((mutations, observer) => {
            let isUpdate = false;

            for (let i = 0; i < mutations.length; i++) {
                let mutation = mutations[i];
                if (mutation.type === "childList" && (mutation.addedNodes.length || mutation.removedNodes.length)) {
                    isUpdate = true;
                    break;
                }
            }

            if (isUpdate) populateProductGroups();
        }).observe(input, properties);
    }

    function getValue(input, value, attribute) {
        let result = getAttributeValue(input, value, attribute);
        if (result && result.length > 0) {
            return result[0];
        } else {
            console.debug(productInput.name + ": " + value + " has no " + attribute + " value.");
            return null;
        }
    }

    function init() {
        productInput = document.getElementById(PRODUCT_SELECTION);
        productHeaderInput = document.getElementById(PRODUCT_GROUP_SELECTION);

        viewInput = document.getElementById(VIEW_SELECTION);
        countryInput = document.getElementById(COUNTRY_SELECTION);

        contentWrapper = document.querySelector(".concept-ui-form.scrollable");

        if (!productInput || !productHeaderInput || !viewInput || !countryInput || !contentWrapper) return false;
        else return true;
    }

    async function initAttributes() {
        await getInputAttributes(PRODUCT_SELECTION);
        await getInputAttributes(PRODUCT_GROUP_SELECTION);
        await getInputAttributes(COUNTRY_SELECTION);
    }

    $(() => {
        try {
            if (!init()) console.error("Could not find all required input(s).");

            initAttributes().then(() => {
                viewModel = createModel(productInput);
                groupModel = createModel(productHeaderInput);

                populateProductGroups();

                // When the driver repopulates GD_TABLE, repopulate the product groups:
                createObserver(productInput, { subtree: true, childList: true });

                // When we change tab, hide/show the product groups depending on where we are:
                $(viewInput).change(function() {
                    if (viewInput.value === "PRODUCT") {
                        $(productWrapper).show();
                    } else {
                        $(productWrapper).hide();
                    }
                });

                // Make sure we're showing the product groups correctly:
                $(viewInput).change();
            });
        } catch (error) {
            console.error(error.message);
        }
    });
</script>
