<!-- /concept/custom/jpocs/kone/selectorproduct/recommended_products.html -->

<div id="recommendedTable"></div>

<!-- To be moved into the recommendedTable above dynamically -->
<div id="recommendation-tabs-master">
    <div class="rec-tab" id="rec-tab-1">
        <a class="rec-tab-link" id="rec-1" href="javascript:void(0);" onclick="toggleRecommendation(this, 1);">
            <doc>bundle.KONE_SELECTOR_TEXT_primary_recommendation</doc>
        </a>
        <span class="indicator"></span>
    </div>
    <div class="rec-tab" id="rec-tab-2">
        <a class="rec-tab-link" id="rec-2" href="javascript:void(0);" onclick="toggleRecommendation(this, 2);">
            <doc>bundle.KONE_SELECTOR_TEXT_secondary_recommendation</doc>
        </a>
        <span class="indicator"></span>
    </div>
</div>

<!-- Data table to clone -->
<div id="recommendation-table-master">
    <table class="reco_table" cellpadding="1">
        <thead>
            <tr class="reco-row" id="reco-title">
                <td></td>
                <td class="reco_header" data-col-type="primary">
                    <doc>bundle.KONE_SELECTOR_TEXT_primary_recommendation</doc>
                </td>
                <td class="reco_header_secondary" data-col-type="secondary">
                    <doc>bundle.KONE_SELECTOR_TEXT_secondary_recommendation</doc>
                </td>
            </tr>
            <tr class="reco-row" id="product-name">
                <td></td>
                <td class="reco-product">
                    <div class="product-inner">
                        <div class="reco_elevator" data-col-type="primary"></div>
                        <div class="attribute gen_details" data-col-type="primary"></div>
                    </div>
                </td>
                <td class="reco-product">
                    <div class="product-inner">
                        <div class="reco_elevator_secondary" data-col-type="secondary"></div>
                        <div class="attribute gen_details_secondary" data-col-type="secondary"></div>
                    </div>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr class="reco-row" id="" style="display: none;">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_building_type_caps</doc>
                </td>
                <td class="attribute reco_value_build_type" data-col-type="primary"></td>
                <td class="attribute reco_value_build_type_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_machine_room</doc>
                </td>
                <td class="attribute reco_value_mach_room" data-col-type="primary"></td>
                <td class="attribute reco_value_mach_room_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="reco-quantity">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_quantity</doc>
                </td>
                <td class="attribute reco_value_size" data-col-type="primary"></td>
                <td class="attribute reco_value_size_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_main_regulation</doc>
                </td>
                <td class="attribute reco_value_main_reg" data-col-type="primary"></td>
                <td class="attribute reco_value_main_reg_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_complementary_regulation</doc>
                </td>
                <td class="attribute reco_value_comp_reg" data-col-type="primary"></td>
                <td class="attribute reco_value_comp_reg_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_load</doc>
                </td>
                <td class="attribute reco_value_capacity" data-col-type="primary"></td>
                <td class="attribute reco_value_capacity_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_speed</doc>
                </td>
                <td class="attribute reco_value_speed" data-col-type="primary"></td>
                <td class="attribute reco_value_speed_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_car_size</doc>
                </td>
                <td class="attribute reco_value_carsize" data-col-type="primary"></td>
                <td class="attribute reco_value_carsize_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_car_height</doc>
                </td>
                <td class="attribute reco_value_carheight" data-col-type="primary"></td>
                <td class="attribute reco_value_carheight_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_door_type</doc>
                </td>
                <td class="attribute reco_value_doortype" data-col-type="primary"></td>
                <td class="attribute reco_value_doortype_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_door_height</doc>
                </td>
                <td class="attribute reco_value_doorheight" data-col-type="primary"></td>
                <td class="attribute reco_value_doorheight_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_door_width</doc>
                </td>
                <td class="attribute reco_value_doorwidth" data-col-type="primary"></td>
                <td class="attribute reco_value_doorwidth_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_entrance_type</doc>
                </td>
                <td class="attribute reco_value_entrance" data-col-type="primary"></td>
                <td class="attribute reco_value_entrance_secondary" data-col-type="secondary"></td>
            </tr>
            <tr class="reco-row" id="">
                <td class="reco_label">
                    <doc>bundle.KONE_SELECTOR_TEXT_maintenance_access_panel_location</doc>
                </td>
                <td class="attribute reco_value_map_loc" data-col-type="primary"></td>
                <td class="attribute reco_value_map_loc_secondary" data-col-type="secondary"></td>
            </tr>

            <!-- 'Configure Elevator Buttons' -->
            <tr class="reco-row" id="reco-buttons">
                <td></td>
                <td class="reco_prod_page" data-col-type="primary">
                    <div class="kone-button-set">
                        <span class="kone-button configure" onclick="configureProduct(1);">
                            <doc>bundle.KONE_SELECTOR_TEXT_configure_elevator</doc>
                        </span>
                        <span class="kone-button sales" onclick="contactSalesBtn();">
                            <doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc>
                        </span>
                    </div>
                </td>
                <td class="reco_prod_page_secondary" data-col-type="secondary">
                    <div class="kone-button-set">
                        <span class="kone-button configure" onclick="configureProduct(2);">
                            <doc>bundle.KONE_SELECTOR_TEXT_configure_elevator</doc>
                        </span>
                        <span class="kone-button sales" onclick="contactSalesBtn();">
                            <doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" defer>
    var showFootNote = false;
    var showSecondaryTab = false;
    var tableParent = document.querySelector("#recommendedTable");

    $(() => {
        try {
            createRecGrid();

            $('#get-recommendation').click(() => getRecommendations());

            $(window).resize(() => toggleRecommendationTabs());
            toggleRecommendationTabs();

            // Add an identifier to the recommendation table container on first-run:
            if (window.matchMedia("(max-width: 768px)").matches) {
                $('#recommendation-tabs').show();
            } else {
                $('#recommendation-tabs').hide();
            }

            //$(window).resize(changeTabText);
            //changeTabText();
        } catch (error) {
            console.error(error.message);
        }
    });

    function changeTabText() {
        if (window.matchMedia("(max-width: 576px)").matches) {
            $(".rec-tab-link#rec-1").text("<doc>bundle.KONE_SELECTOR_TEXT_primary_recommendation_short</doc>");
            $(".rec-tab-link#rec-2").text("<doc>bundle.KONE_SELECTOR_TEXT_secondary_recommendation_short</doc>");
        } else {
            $(".rec-tab-link#rec-1").text("<doc>bundle.KONE_SELECTOR_TEXT_primary_recommendation</doc>");
            $(".rec-tab-link#rec-2").text("<doc>bundle.KONE_SELECTOR_TEXT_secondary_recommendation</doc>");
        }
    }

    function runPageAction() {
        // Set so that the logic can detect whether the user has
        // selected one of the recommended products (1, 2) or not (3).
        $('#PRIMARY_SECONDARY').val(3);

        let dataAction = {
            'action': 'configure elevator',
            'recommendation': getInputLabel(document.getElementById("ELEVATOR_SELECTION")),
            'options': getAllInputData()
        };

        sendAllInputData(dataAction);
        nextPage();
    }

    function configureProduct(recommendation) {
        var recType = [];
        recType[1] = "Primary";
        recType[2] = "Secondary";

        // Set so that the logic can detect whether the user has
        // selected one of the recommended products (1, 2) or not (3).
        $('#PRIMARY_SECONDARY').val(recommendation);

        // A dirty hack to change the value of GENERIC_DETAILS_n to the correct value
        // when one of our reccomendations is MonoSpace 300 and we're also FINLAND:
        if ($('#SELECTOR_CHANGE_PROJECT_COUNTRY').val() === "FINLAND") {
            if ($('#GENERIC_DETAILS_1').val().includes("MONOSPACE_300_EUR")) {
                $("#GENERIC_DETAILS_1").val("MONOSPACE_300_EUR_FI");
            } else if ($('#GENERIC_DETAILS_2').val().includes("MONOSPACE_300_EUR")) {
                $("#GENERIC_DETAILS_2").val("MONOSPACE_300_EUR_FI");
            }
        }

        // Grab the selected recommendation based on which button the user pressed,
        // then combine that with 'GENERIC_DETAILS_' to get the input that holds the
        // appropriate value for the recommendation requested.
        let recValue = document.getElementById("GENERIC_DETAILS_" + recommendation).value;
        document.ui.ELEVATOR_GD_TABLE.value = recValue;

        var dataAction = {
            'action': 'configure elevator',
            'recommendation': getInputLabel(document.getElementById("ELEVATOR_SELECTION")),
            'options': getAllInputData()
        };

        sendAllInputData(dataAction);
        nextPage();
    }

    function createRecGrid() {
        let recommendationTable = $('#recommendation-table-master').clone();
        let recommendationTabs = $('#recommendation-tabs-master').clone();

        let compiledHTML = '<div id="recommenedRow">'
                         //+ '<div id="attrRec" class="recDiv">' + attrTable.html() + '</div>'
                         + '<div id="reco-inner" class="recDiv">' + recommendationTable.html() + '</div>'
                         //+ '<div id="divider" class="recDivider">&nbsp;</div>'
                         //+ '<div id="secondaryRec" class="recDiv">' + recommendationTable.html() + '</div>'
                         + '</div>'
                         + '<div id="recoFootNoteRow" class="reco_one">'
                         + '<div id="recoFootNote" class="recoFootNote">'
                         + '<div id="inner-container" class="highlight">'
                         + "<doc>bundle.KONE_SELECTOR_TEXT_maximum_drawing_elevators</doc>"
                         + '</div>'
                         + '</div>'
                         + '</div>'
                         + '<div id="recoFooterRow" class="reco_one">'
                         + '<div id="recoFooter" class="recoFooter">'
                         + "<doc>bundle.KONE_ELEVATOR_TEXT_kone_shall_not_accept_responsibility</doc>"
                         + '</div>'
                         + '</div>';

        $('#recommendedTable').html('');

        $(recommendationTabs).attr('id', 'recommendation-tabs');
        $('#recommendedTable').append(recommendationTabs);
        $('#recommendedTable').append(compiledHTML);

        //$('#recommendation-tabs').hide();
        $('#recommendation-tabs-master').hide();
        $('#recommendation-table-master').hide();

        hideRecommendedTable();

        $("#reco-inner").find(".reco_prod_page span.configure").attr('onclick', 'configureProduct(1);');
        $("#reco-inner").find(".reco_prod_page_secondary span.configure").attr('onclick', 'configureProduct(2);');

        //$("#secondaryRec").hide();
    }

    function toggleRecommendationTabs() {
        if (window.matchMedia("(max-width: 768px)").matches) {
            if (!tableParent.classList.contains("mobile-table")) {
                if (!$('#recommendation-tabs').hasClass('hide-tabs')) {
                    $('#recommendation-tabs').show();
                } else {
                    $('#recommendation-tabs').hide();
                }

                let link = document.getElementById("rec-1");
                toggleRecommendation(link, 1); // Default (1)

                // Do we show the secondary recommendation tab?
                if (showSecondaryTab) {
                    $("#rec-tab-2").show();
                    $("#rec-tab-1").css("width", "50%");
                } else {
                    $("#rec-tab-2").hide();
                    $("#rec-tab-1").css("width", "100%");
                }
            }
        } else {
            if (tableParent.classList.contains("mobile-table")) {
                $('#recommendation-tabs').hide();
                resetRecommendationTable(); // Reset
            }
        }
    }

    function getRecommendations() {
        if (window.matchMedia("(max-width: 768px)").matches) {
            let link = document.getElementById("rec-1");
            toggleRecommendation(link, 1); // Default (1)
        }
    }

    function toggleRecommendation(element, recommendation) {
        let rows = document.querySelectorAll("#recommendedTable .reco_table .reco-row");
        if (rows.length === 0) return;

        if (element !== undefined) {
            element.classList.add("selected");

            let parent = element.parentElement;
            let indicator = parent.querySelector(".indicator");
            if (indicator !== null) {
                indicator.classList.add("selected");
            }

            let links = document.getElementsByClassName("rec-tab-link");
            for (let i = 0; i < links.length; i++) {
                let link = links[i];
                if (link.id !== element.id) {
                    link.classList.remove("selected");

                    let _parent = link.parentElement;
                    let _indicator = _parent.querySelector(".indicator");
                    if (_indicator !== null) {
                        _indicator.classList.remove("selected");
                    }
                }
            }
        }

        for (let i = 0; i < rows.length; i++) {
            let row = rows[i];
            let cells = row.getElementsByTagName("td");

            if (cells.length !== 0) {
                for (let c = 0; c < cells.length; c++) {
                    let cell = cells[c];

                    if (c === recommendation) {
                        if ($(cell).is(":hidden")) {
                            $(cell).show();
                        }

                        if (cell.className.includes("reco_header")) {
                            //$(cell).attr("colspan", "2");
                            $(cell).hide();
                        } else if (cell.className.includes("reco-product")) {
                            $(cell).attr("colspan", "2");
                        } else if (cell.className.includes("reco_prod_page")) {
                            $(cell).attr("colspan", "2");
                        }
                    } else {
                        if (c !== 0) {
                            if ($(cell).is(":visible")) {
                                $(cell).hide();
                            }
                        } else {
                            if (cell.className.includes("reco_table_header") || cell.className === "") {
                                $(cell).hide();
                            }
                        }
                    }
                }
            }
        };

        // Add an identifier to the recommendation table container:
        let table = document.getElementById("recommendedTable");
        if (table !== null) {
            table.classList.add("mobile-table");
        }
    }

    function resetRecommendationTable() {
        let rows = document.querySelectorAll("#recommendedTable .reco_table .reco-row");
        if (rows.length === 0) return;

        for (let i = 0; i < rows.length; i++) {
            let row = rows[i];
            let cells = row.getElementsByTagName("td");

            if (cells.length !== 0) {
                for (let c = 0; c < cells.length; c++) {
                    let cell = cells[c];

                    if ($(cell).is(":hidden")) {
                        $(cell).show();
                    }

                    if (cell.className.includes("reco_header")) {
                        $(cell).attr("colspan", "1");
                    } else if (cell.className.includes("reco-product")) {
                        $(cell).attr("colspan", "1");
                    } else if (cell.className.includes("reco_prod_page")) {
                        $(cell).attr("colspan", "1");
                    }
                }
            }
        }

        // Remove the identifier from the recommendation table container:
        let table = document.getElementById("recommendedTable");
        if (table !== null) {
            table.classList.remove("mobile-table");
        }

        updateRecommendedTable(); // Run an update to show/hide recommendations.
    }

    function hideRecommendedTable() {
        $('div[id^=accordion225639142]').hide();
    }

    function updateRecommendedTable() {
        var region = "<doc><out>configuration.getInputByName('REGION_CODE_FOR_DATA_TABLES').getValue().getStringValue()</out></doc>";
        if (region != "") {
            region = "_" + region;
        }

        var areaCodedInputs = [];
        areaCodedInputs["ELEVATOR_TABLE"] = "ELEVATOR_TABLE" + region;
        areaCodedInputs["RECOMMENDATIONS_LIST_1"] = "RECOMMENDATIONS_LIST_1" + region;
        areaCodedInputs["RECOMMENDATIONS_LIST_2"] = "RECOMMENDATIONS_LIST_2" + region;

        var attributes = [
            {
                primary: { target: "#reco-inner", input: "GENERIC_DETAILS_1", class: ".reco_elevator" },
                secondary: { target: "#reco-inner", input: "GENERIC_DETAILS_2", class: ".reco_elevator_secondary" },
                attributeName: "ELEVATOR",
                class: '.reco_elevator'
            },
            {
                primary: { target: "#reco-inner", input: $('#TYP_ELEVATOR_RANGE_OF_USE option:selected').text().trim(), class: ".reco_value_build_type" },
                secondary: { target: "#reco-inner", input: $('#TYP_ELEVATOR_RANGE_OF_USE option:selected').text().trim(), class: ".reco_value_build_type_secondary" },
                attributeName: "",
                class: '.reco_value_build_type'
            },
            {
                primary: { target: "#reco-inner", input: "GENERIC_DETAILS_1", class: ".reco_value_mach_room" },
                secondary: { target: "#reco-inner", input: "GENERIC_DETAILS_2", class: ".reco_value_mach_room_secondary" },
                attributeName: "Machine Room Generic",
                class: '.reco_value_mach_room'
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["ELEVATOR_TABLE"], class: ".reco_value_size" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["ELEVATOR_TABLE"], class: ".reco_value_size_secondary" },
                attributeName: "QUANTITY",
                suffix: "<doc>bundle.KONE_SELECTOR_TEXT_recommendations_elevators</doc>",
                class: '.reco_value_size',

                valueMod: (value, target) => {
                    if (value == '' || value == '-') {
                        value = '<a href="javascript:void(0);" onclick="contactSalesBtn();" target="_blank"><doc>bundle.KONE_ESCALATOR_BUTTON_contact_sales</doc></a>';

                        $("tr#reco-quantity").addClass('reco-hint');

                        if (target.includes("secondary")) {
                            $('.reco_prod_page_secondary .kone-button.sales').show();
                            $('.reco_prod_page_secondary .kone-button.configure').show();
                        } else {
                            $('.reco_prod_page .kone-button.sales').show();
                            $('.reco_prod_page .kone-button.configure').show();
                        }
                    } else {
                        $("tr#reco-quantity").removeClass('reco-hint');

                        if (target.includes("secondary")) {
                            $('.reco_prod_page_secondary .kone-button.sales').hide();
                        } else {
                            $('.reco_prod_page .kone-button.sales').hide();
                        }
                    }

                    return value;
                }
            },
            {
                primary: { target: "#reco-inner", input: getInputLabel(document.ui.PRIMARY_MAIN_REGULATION), class: ".reco_value_main_reg" },
                secondary: { target: "#reco-inner", input: getInputLabel(document.ui.SECONDARY_MAIN_REGULATION), class: ".reco_value_main_reg_secondary" },
                attributeName: "",
                class: '.reco_value_main_reg'
            },
            {
                primary: { target: "#reco-inner", input: getInputLabel(document.ui.PRIMARY_COMPLEMENTARY_REGULATION), class: ".reco_value_comp_reg" },
                secondary: { target: "#reco-inner", input: getInputLabel(document.ui.SECONDARY_COMPL_REGULATION), class: ".reco_value_comp_reg_secondary" },
                attributeName: "",
                class: '.reco_value_comp_reg'
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_1"], class: ".reco_value_capacity" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_2"], class: ".reco_value_capacity_secondary" },
                attributeName: "LOAD",
                suffix: " <doc>bundle.KONE_ELEVATOR_TEXT_kg</doc>",
                class: '.reco_value_capacity'
            },
            {
                primary: { target: "#reco-inner", input: ($('input:radio[name=POPULATION_PASSENGER_GOODS]:checked').val() == 'POPULATION' ? areaCodedInputs["ELEVATOR_TABLE"] : "RECOMMENDATIONS_SPEED_1"), class: ".reco_value_speed" },
                secondary: { target: "#reco-inner", input: ($('input:radio[name=POPULATION_PASSENGER_GOODS]:checked').val() == 'POPULATION' ? areaCodedInputs["ELEVATOR_TABLE"] : "RECOMMENDATIONS_SPEED_2"), class: ".reco_value_speed_secondary" },
                attributeName: "Speed2",
                suffix: " <doc>bundle.KONE_ELEVATOR_TEXT_ms</doc>",
                class: '.reco_value_speed'
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_1"], class: ".reco_value_carsize" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_2"], class: ".reco_value_carsize_secondary" },
                attributeName: "BBxDD", //Car Size
                class: '.reco_value_carsize',

                valueMod: function (value, target) {
                    // Replace mm with the translated version (MM), if there is no translation, do nothing
                    var replacement = "<doc>bundle.KONE_GLOBAL_MM_mm</doc>";
                    if (replacement) {
                        return value.replace(/mm/g, replacement);
                    } else {
                        return value;
                    }
                }
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_1"], class: ".reco_value_carheight" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_2"], class: ".reco_value_carheight_secondary" },
                attributeName: "Set car height",
                suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>",
                class: '.reco_value_carheight'
            },
            {
                primary: { target: "#reco-inner", input: getInputLabel(document.ui.PRIMARY_SIDE_OR_CENTER_OPENING), class: ".reco_value_doortype" },
                secondary: { target: "#reco-inner", input: getInputLabel(document.ui.SECONDARY_SIDE_OR_CENTER_OPENING), class: ".reco_value_doortype_secondary" },
                attributeName: "", //Door Type
                class: '.reco_value_doortype'
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_1"], class: ".reco_value_doorheight" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_2"], class: ".reco_value_doorheight_secondary" },
                attributeName: "Set Door Height",
                suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>",
                class: '.reco_value_doorheight'
            },
            {
                primary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_1"], class: ".reco_value_doorwidth" },
                secondary: { target: "#reco-inner", input: areaCodedInputs["RECOMMENDATIONS_LIST_2"], class: ".reco_value_doorwidth_secondary" },
                attributeName: "Set Door Width",
                suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>",
                class: '.reco_value_doorwidth'
            },
            {
                primary: { target: "#reco-inner", input: getInputLabel(document.ui.PRIMARY_ENTRANCE), class: ".reco_value_entrance" },
                secondary: { target: "#reco-inner", input: getInputLabel(document.ui.SECONDARY_ENTRANCE), class: ".reco_value_entrance_secondary" },
                attributeName: "",
                class: '.reco_value_entrance'
            },
            {
                primary: { target: "#reco-inner", input: getInputLabel(document.ui.PRIMARY_MAP_TYPE), class: ".reco_value_map_loc" },
                secondary: { target: "#reco-inner", input: getInputLabel(document.ui.SECONDARY_MAP_TYPE), class: ".reco_value_map_loc_secondary" },
                attributeName: "",
                class: '.reco_value_map_loc'
            },
            {
                primary: { target: "#reco-inner", input: "GENERIC_DETAILS_1", class: ".gen_details" },
                secondary: { target: "#reco-inner", input: "GENERIC_DETAILS_2", class: ".gen_details_secondary" },
                attributeName: "Generic Details",
                class: '.gen_details'
            }
        ];

        var primaryValue = $('#' + areaCodedInputs["RECOMMENDATIONS_LIST_1"] + ' :selected').val();
        // var primaryTitle = $('label[for=' + areaCodedInputs["RECOMMENDATIONS_LIST_1"] + ']').text().trim();
        var primaryTitle = "<doc>bundle.KONE_SELECTOR_TEXT_primary_recommendation</doc>";
        $("#reco-inner").find(".reco_header").addClass("reco_primary");
        $("#reco-inner").find(".reco_header").html(primaryTitle);

        var secondaryValue = $('#' + areaCodedInputs["RECOMMENDATIONS_LIST_2"] + ' :selected').val();
        // var secondaryTitle = $('label[for=' + areaCodedInputs["RECOMMENDATIONS_LIST_2"] + ']').text().trim();
        var secondaryTitle = "<doc>bundle.KONE_SELECTOR_TEXT_secondary_recommendation</doc>"
        $("#reco-inner").find(".reco_header_secondary").addClass("reco_secondary");
        $("#reco-inner").find(".reco_header_secondary").html(secondaryTitle);

        $('#recoFootNoteRow').removeClass('reco_one');
        $('#recoFootNoteRow').removeClass('reco_two');

        $('#recoFooterRow').removeClass('reco_one');
        $('#recoFooterRow').removeClass('reco_two');

        $('#recoFootNoteRow').hide();
        $('#recoFooterRow').hide();

        var primaryRec = false;
        var secondaryRec = false;

        // Check if we've exceeded the configuration limits of the application:
        var contactSales = $("#" + areaCodedInputs["ELEVATOR_TABLE"]).val() == "SALES" ? true : false;
        if (!contactSales && primaryValue !== "NO_MATCH_FOUND") {
            $("#reco-inner").show();

            // Assume we have a primary recommendation:
            primaryRec = true;

            // Show and populate primary cells:
            showCells("primary");

            // Check if we have a secondary recommendation:
            if (secondaryValue !== "NO_MATCH_FOUND") {
                secondaryRec = true;
                showSecondaryTab = true;
                showCells("secondary"); // Show and populate secondary cells

                if (window.matchMedia("(max-width: 768px)").matches) {
                    $("#rec-tab-2").show();
                    $("#rec-tab-1").css("width", "50%");
                }
            } else {
                showSecondaryTab = false;
                hideCells("secondary") // Hide and clean the secondary cells

                if (window.matchMedia("(max-width: 768px)").matches) {
                    $("#rec-tab-2").hide();
                    $("#rec-tab-1").css("width", "100%");
                }
            }

            for (var i = 0; i < attributes.length; i++) {
                var isAttr = attributes[i].attributeName != "" ? true : false;
                var suffix = "";

                if (attributes[i].suffix) {
                    suffix = attributes[i].suffix;
                }

                if (primaryValue !== "NO_MATCH_FOUND") {
                    if (isAttr) {
                        setDataFromAttribute(attributes[i].primary.input, $('#' + attributes[i].primary.input + ' :selected').val(), attributes[i].attributeName, attributes[i].primary.class, attributes[i].primary.target, suffix, attributes[i].valueMod);
                    } else {
                        var dataCell = $(attributes[i].primary.target).find(attributes[i].primary.class);
                        var dataRow = dataCell.closest('tr');

                        if (attributes[i].primary.input == "" || attributes[i].primary.input == null) {
                            dataRow.hide();
                        } else {
                            dataRow.show();
                        }

                        dataCell.html(attributes[i].primary.input + suffix);
                    }
                }

                if (secondaryValue !== "NO_MATCH_FOUND") {
                    if (isAttr) {
                        setDataFromAttribute(attributes[i].secondary.input, $('#' + attributes[i].secondary.input + ' :selected').val(), attributes[i].attributeName, attributes[i].secondary.class, attributes[i].secondary.target, suffix, attributes[i].valueMod);
                    } else {
                        var dataCell = $(attributes[i].secondary.target).find(attributes[i].secondary.class);
                        var dataRow = dataCell.closest('tr');

                        if (attributes[i].secondary.input == "" || attributes[i].secondary.input == null) {
                            dataRow.hide();
                        } else {
                            dataRow.show();
                        }

                        dataCell.html(attributes[i].secondary.input + suffix);
                    }
                }
            }
        } else {
            $("#reco-inner").hide();

            // Hide and clean both primary and secondary cells:
            hideCells("primary");
            hideCells("secondary");
        }

        var hasResult = false;

        if (primaryRec && secondaryRec) {
            $('#recoFooterRow').removeClass('reco_one');
            $('#recoFooterRow').addClass('reco_two');
            $('#recoFooterRow').show();

            $('#recommendation-tabs').removeClass('hide-tabs');
            if (window.matchMedia("(max-width: 768px)").matches) {
                $('#recommendation-tabs').show();
            }

            hasResult = true;
        } else if ((primaryRec && !secondaryRec) || (!primaryRec && secondaryRec)) {
            $('#recoFooterRow').addClass('reco_one');
            $('#recoFooterRow').removeClass('reco_two');
            $('#recoFooterRow').show();

            $('#recommendation-tabs').removeClass('hide-tabs');
            if (window.matchMedia("(max-width: 768px)").matches) {
                $('#recommendation-tabs').show();
            }

            hasResult = true;
        } else {
            $('#recommendation-tabs').addClass('hide-tabs');
            if (window.matchMedia("(max-width: 768px)").matches) {
                $('#recommendation-tabs').hide();
            }
        }

        if (hasResult) {
            $('#CONTACT_SALES_HTML_TR_tag').hide();
        } else {
            $('#CONTACT_SALES_HTML_TR_tag').show();
        }

        // Check if the parent accordion is visible:
        /*
        if (!$('div[id^=accordion225639142]').is(":visible")) {
            $('div[id^=accordion225639142]').show();
        }
        */
    }

    function hideCells(cellType) {
        let secondaryCells = document.querySelectorAll("div#recommenedRow *[data-col-type='" + cellType + "']");
        if (secondaryCells.length !== 0) {
            for (let i = 0; i < secondaryCells.length; i++) {
                let cell = secondaryCells[i];

                if (cell.nodeName !== "TD") {
                    $(cell).closest("td").hide();
                } else {
                    $(cell).hide();
                }

                if (cellType === "secondary") {
                    if (!cell.classList.contains("reco_prod_page_secondary") && !cell.classList.contains("reco_header_secondary")) {
                        $(cell).empty();
                    }
                }
            }
        }
    }

    function showCells(cellType) {
        let secondaryCells = document.querySelectorAll("div#recommenedRow *[data-col-type='" + cellType + "']");
        if (secondaryCells.length !== 0) {
            for (let i = 0; i < secondaryCells.length; i++) {
                let cell = secondaryCells[i];

                if (cell.nodeName !== "TD") {
                    $(cell).closest("td").show();
                } else {
                    $(cell).show();
                }
            }
        }
    }

    function setDataFromAttribute(inputName, inputValue, attributeName, attrClass, cell, suffix, valueMod) {
        var query = "?id=" + configurationId
            + "&iName=" + inputName
            + "&iVal=" + inputValue
            + "&aName=" + attributeName;
        $.getJSON("/spr/Configuration/interface/api/beta/attribute" + query, function (data) {
            // parse data
            try {
                var dataCell = $(cell).find(attrClass);
                var dataRow = dataCell.closest('tr');
                var value = '';
                var suffixed = '-'; // Display this if there's no data

                if (data.option[0].result[0].value !== "" && data.option[0].result[0].value !== null) {
                    value = data.option[0].result[0].value[0];
                }

                // Run modifier function on value
                //console.log('valueMod', valueMod);

                if (typeof valueMod === "function") {
                    value = valueMod(value, attrClass);
                }

                // Nicked from: https://stackoverflow.com/questions/55583576/javascript-check-if-string-contain-only-html
                let isHTML = (str) => !(str || '')
                    .replace(/<([^>]+?)([^>]*?)>(.*?)<\/\1>/ig, '')
                    .replace(/(<([^>]+)>)/ig, '')
                    .trim();

                if (!isHTML(value)) {
                    suffixed = `${value} ${suffix}`;
                    dataCell.html(suffixed);
                } else {
                    dataCell.html(`${value}`);
                }
            } catch (err) {
                console.error("ERROR: input " + inputName + ",val:" + inputValue + ",attr:" + attributeName);
                dumpError(err);
            }
        });
    }

    function checkFootNote(value) {
        try {
            var getQty = parseInt(value) | 0;
            //console.debug("Check Quantity: " + getQty);
            if (getQty > 2) {
                var primaryRec = $('#reco-inner').is(":visible");
                var secondaryRec = $('#secondaryRec').is(":visible");

                if (primaryRec && secondaryRec) {
                    $('#recoFootNoteRow').removeClass('reco_one');
                    $('#recoFootNoteRow').addClass('reco_two');
                } else if ((primaryRec && !secondaryRec) || (!primaryRec && secondaryRec)) {
                    $('#recoFootNoteRow').addClass('reco_one');
                    $('#recoFootNoteRow').removeClass('reco_two');
                }
                $('#recoFootNoteRow').show();
            }
        } catch (error) {
            throw error;
        }
    }

    function createBtn(selected = false) {
        // Text
        const selectText = "<doc>bundle.KONE_ESCALATOR_BUTTON_select</doc>";
        const selectedText = "<doc>bundle.KONE_ESCALATOR_BUTTON_selected</doc>";

        // Button HTML
        const btnSelectHTML = `<div class="kone-button noselect grid-btn">${selectText}</div>`;
        const btnSelectedHTML = `<div class="kone-button noselect grid-btn selected">${selectedText}</div>`;

        return (
            new DOMParser()
                    .parseFromString(selected ? btnSelectedHTML : btnSelectHTML, 'text/html')
                    .body
                    .firstChild
        );
    }

    function modGlobalEscTypRangeOfUse(grid) {
        // Let's use plain js instead of jquery
        const gMod = grid[0];

        // Modify structure and add button
        gMod.querySelectorAll('.image-cell').forEach((cell, i) => {
            const div = cell.querySelector('.selectMenuGrid-Text-OptionBox');
            const img = cell.querySelector('img')
            const imgToDiv = document.createElement('div');

            // Copy image element attributes to preserve original behaviour
            for (let attr of img.attributes) {
                // Change id
                if (attr.name == 'id') {
                    attr.value = attr.value + '_mod';
                }

                // Do not copy these
                const exclusion = ['vspace', 'hspace', 'style'];
                if (!exclusion.includes(attr.name)) {
                    imgToDiv.setAttribute(attr.name, attr.value);
                }
            }

            // Identify modded image container
            imgToDiv.classList.add('image-mod');

            // Add new image container before button
            div.prepend(imgToDiv);

            // Select and selected buttons and event
            const btn = createBtn(div.classList.contains('selectMenuGrid-Selected'));
            btn.setAttribute('onclick', div.getAttribute('onclick'));
            div.after(btn);
        });

        // convert back to jquery since that's what rotateImage uses.
        return $(gMod);
    }
</script>
