<!-- /concept/custom/jpocs/kone/elevatorproducts/send.html -->

<span id="SendFilesBtn" class="SendFilesBtn SendFilesBtnInactive">
    <doc>bundle.KONE_ELEVATOR_BUTTON_send</doc>
</span>

<script type="text/javascript" defer>
    const SEND_ME = "SEND_ME";

    const INPUT_MAP = [
        { input: "ENA_PROJECT_BUILDING_DETAILS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "DOWNLOADS_HEADER_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "CAD_BIM_DOWNLOADS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "ELEVATOR_CONFIGURATION_SUMMARY_PDF_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "ELEVATOR_TECHNICAL_SPECIFICATION_PDF_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "CAD_DRAWING_DWG_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "CAD_DRAWING_PDF_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "BIM_IFC_TR_tag", dwd_dwg: true, dwg: true },
        //{ input: "BIM_RFA_TR_tag", dwd_dwg: true, dwg: true },
        { input: "PROJECT_BUILDING_DETAILS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "TYP_ELEVATOR_RANGE_OF_USE_TR_tag", dwd_dwg: true, dwg: false },
        { input: "TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION_TR_tag", dwd_dwg: true, dwg: false },
        { input: "KONE_PROJECT_COUNTRY_C_TR_tag", dwd_dwg: true, dwg: true },
        { input: "BUILDING_LOCATION_TR_tag", dwd_dwg: true, dwg: false },
        { input: "TYP_PROJECT_NAME_TR_tag", dwd_dwg: true, dwg: true },
        { input: "ENA_YOUR_CONTACT_DETAILS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "YOUR_CONTACT_DETAILS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "USER_ROLE_TR_tag", dwd_dwg: true, dwg: true },
        { input: "FIRSTNAME_TR_tag", dwd_dwg: true, dwg: true },
        { input: "LASTNAME_TR_tag", dwd_dwg: true, dwg: true },
        { input: "EMAIL_TR_tag", dwd_dwg: true, dwg: true },
        { input: "COMPANY_TR_tag", dwd_dwg: true, dwg: false },
        { input: "KONE_COUNTRY_C_TR_tag", dwd_dwg: true, dwg: false },
        { input: "CITY_TR_tag", dwd_dwg: true, dwg: false },
        { input: "POSTALCODE_TR_tag", dwd_dwg: true, dwg: false },
        { input: "STREET_TR_tag", dwd_dwg: true, dwg: false },
        { input: "PHONE_COUNTRY_CODE_TR_tag", dwd_dwg: true, dwg: false },
        { input: "PHONE_UI_TR_tag", dwd_dwg: true, dwg: false },
        { input: "ADDITIONAL_INFORMATION_TR_tag", dwd_dwg: true, dwg: false },
        { input: "ENA_ADDITIONAL_INFORMATION_TR_tag", dwd_dwg: true, dwg: false },
        { input: "DISCLAIMER_FOR_FILES_tag", dwd_dwg: true, dwg: true },
        { input: "SEND_INFROMATION_BUTTON_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "DISCLAIMER_FOR_FILES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "MARKETING_OPT_OUT_TR_tag", dwd_dwg: true, dwg: true },
        { input: "TYPE_BIM_LOD_TR_tag", dwd_dwg: true, dwg: true },
        { input: "LOD_TEXT_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "BROCHURE_AND_DOWNLOADS_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "BROCHURES_LINK_HTML_TR_tag", dwd_dwg: true, dwg: true },
        { input: "MONOSPACE500_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "MONOSPACE300_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "MONOSPACE700_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "TRANSYS_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "NMONOSPACE_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "NMINISPACE_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "SMONOSPACE_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "EMONOSPACE_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "ECOSPACE_BROCHURES_TR_tag", dwd_dwg: true, dwg: true },
        { input: "OTHER_USER_ROLE_TR_tag", dwd_dwg: false, dwg: false },
        { input: "STATE_TR_tag", dwd_dwg: false, dwg: false },
        { input: "STATE_DROPDOWN_TR_tag", dwd_dwg: false, dwg: false }
    ];

    const INPUT_VALUE_MAP = [
        { input: "TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION", dwd_dwg: "", dwg: "NA" },
        { input: "COMPANY", dwd_dwg: "", dwg: "NA" },
        { input: "PHONE_UI", dwd_dwg: "", dwg: "NA" },
        { input: "PHONE_COUNTRY_CODE", dwd_dwg: "", dwg: "NA" },
        { input: "STREET", dwd_dwg: "", dwg: "NA" },
        { input: "CITY", dwd_dwg: "", dwg: "NA" },
        { input: "POSTALCODE", dwd_dwg: "", dwg: "NA" },
        { input: "ADDITIONAL_INFORMATION", dwd_dwg: "", dwg: "NA" },
        { input: "ENA_ADDITIONAL_INFORMATION", dwd_dwg: "", dwg: "NA" },
        { input: "KONE_COUNTRY_C", dwd_dwg: "", dwg: "NA" },
        { input: "STATE_DROPDOWN", dwd_dwg: "", dwg: "NA" },
        { input: "STATE", dwd_dwg: "", dwg: "NA" },
    ];

    var selectInput;

    var sendInProcess = false;

    function checkSendFilesBtn() {
        if (sendInProcess) return;
        $("#SendFilesBtn").unbind("click");

        /*
        console.debug("FIRSTNAME=[" + $("#FIRSTNAME").val() + "]");
        console.debug("LASTNAME=[" + $("#LASTNAME").val() + "]");
        console.debug("!DISCLAIMER_FOR_FILES_1=[" + $("#DISCLAIMER_FOR_FILES_1").prop("checked") + "]");
        console.debug("TYP_ELEVATOR_RANGE_OF_USE=[" + $("#TYP_ELEVATOR_RANGE_OF_USE").val() + "]");
        console.debug("TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION=[" + $("#TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION").val() + "]");
        console.debug("COMPANY=[" + $("#COMPANY").val() + "]");
        console.debug("PHONE_UI=[" + $("#PHONE_UI").val() + "]");
        console.debug("KONE_COUNTRY_C=[" + $("#KONE_COUNTRY_C").val() + "]");
        */

        /*
         * Building type input changes
         * Elevator: TYP_ELEVATOR_RANGE_OF_USE
         * Escalator: TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION
         */
        if (
            ($("#FIRSTNAME_TR_tag").is(":visible") && $("#FIRSTNAME").val() == "")
            || ($("#LASTNAME_TR_tag").is(":visible") && $("#LASTNAME").val() == "")
            || !$("#DISCLAIMER_FOR_FILES_1").prop("checked")
            || ($("#TYP_ELEVATOR_RANGE_OF_USE_TR_tag").is(":visible") && $("#TYP_ELEVATOR_RANGE_OF_USE").val() == "PS") // Elevator
            || ($("#TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION_TR_tag").is(":visible") && $("#TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION").val() == "PS") // Escalator
            || ($("#COMPANY_TR_tag").is(":visible") && $("#COMPANY").val() == "")
            || ($("#PHONE_COUNTRY_CODE_TR_tag").is(":visible") && !isValidPhoneNumber($("#PHONE_UI").val()))
            || ($("#KONE_COUNTRY_C_TR_tag").is(":visible") && $("#KONE_COUNTRY_C").val() == "PS")
            || ($("#STATE_DROPDOWN_TR_tag").is(":visible") && $("#STATE_DROPDOWN").val() == "PS")
            || ($("#PHONE_COUNTRY_CODE_TR_tag").is(":visible") && $("#PHONE_COUNTRY_CODE").val() == "PS")
            || ($("#EMAIL").is(":visible") && $("#EMAIL").val() == "")
        ) {
            if (!$("#SendFilesBtn").hasClass("SendFilesBtnInactive")) {
                $("#SendFilesBtn").addClass("SendFilesBtnInactive");
            }
        } else {
            $("#SendFilesBtn").removeClass("SendFilesBtnInactive");
            $("#SendFilesBtn").bind("click", function () {
                if (typeof floorsHaveDoors === 'undefined') {
                    floorsHaveDoors = true; //ust be an escalator
                }

                if (!floorsHaveDoors) {
                    showDoorOpeningError("<doc>bundle.KONE_ELEVATOR_WARNING_door_openings</doc>");
                    return;
                }

                if (validateEmail($("#EMAIL").val())) {
                    //$('#radioDiv_' + $('input:radio[name=SEND_ME]:checked').attr('id')).find('label').text()

                    var dataAction = {
                        'action': 'send configuration',
                        'form': {
                            'type': dataActionType = getInputLabel(document.querySelector('input[name="' + SEND_ME + '"]:checked')), // can also be "price estimate" or "documents only" based on radio button selection
                            'building-type': getInputLabel(document.ui.TYP_ELEVATOR_RANGE_OF_USE), // can also be "Medical Bed", "Industrial", etc. whatever the user selects in the dropdown
                            'building-location': getInputLabel(document.ui.BUILDING_LOCATION),
                            'project-name': getInputLabel(document.ui.TYP_PROJECT_NAME),
                            'user-role': getInputLabel(document.ui.USER_ROLE),
                            'first-name': getInputLabel(document.ui.FIRSTNAME),
                            'last-name': getInputLabel(document.ui.LASTNAME),
                            'email': getInputLabel(document.ui.EMAIL),
                            'company': getInputLabel(document.ui.COMPANY),
                            'phone_country_code': getInputLabel(document.ui.PHONE_COUNTRY_CODE),
                            'phone_ui': getInputLabel(document.ui.PHONE_UI),
                            'street': getInputLabel(document.ui.STREET),
                            'city': getInputLabel(document.ui.CITY),
                            'state': (function () {

                                // ena uses a different input
                                let inputId = "STATE";
                                if (!document.getElementById(inputId)) {
                                    inputId = "STATE_DROPDOWN";
                                }

                                return getInputLabel(document.ui[inputId]);
                            })(),
                            'postal-code': getInputLabel(document.ui.POSTALCODE),
                            'country': getInputLabel(document.ui.KONE_COUNTRY_C),
                            'additional-information': getInputLabel(document.ui.ADDITIONAL_INFORMATION),
                            'ena-additional-information': getInputLabel(document.ui.ENA_ADDITIONAL_INFORMATION)
                        },
                        'options': getAllInputData()
                    };

                    sendAllInputData(dataAction);
                    sendInProcess = true;

                    nextPage();

                    /*
                    setNavDirectionForward(true);
                    document.ui.submit_value="SAVE";
                    enableall();
                    document.ui.submit();
                    */

                    sendInProcess = false;
                } else {
                    //show error
                    popDialogError("<doc>bundle.KONE_ELEVATOR_WARNING_email</doc>");//TODO: make translatable
                    $('#EMAIL').focus();
                }
            })
        }

        sendInProcess = false;
    }

    function checkSendButton() {
        //console.debug("checkSendButton");
        if (!$("#SendFilesBtn").hasClass("SendFilesBtnInactive")) {
            $("#SendFilesBtn").addClass("SendFilesBtnInactive");
        }

        $("#SendFilesBtn").unbind("click");

        if ($.active == 0) {
            checkSendFilesBtn();
        } else {
            window.setTimeout(checkSendButton, 50);
        }
    }

    // Hide or Show contact details based on SEND_ME radio button:
    function sendMeHide() {
        if (!selectInput) {
            selectInput = document.getElementById(SEND_ME);
        }

        let value = selectInput.value; // ASSUMPION: There should only be one.

        if (value === "DWD_INFO" || value === "DWG_QUOTE") {
            for (let i = 0; i < INPUT_MAP.length; i++) {
                let input = document.getElementById(INPUT_MAP[i].input);
                if (input !== null) {
                    if (INPUT_MAP[i].dwd_dwg) $(input).show();
                    else $(input).hide();
                }
            }

            for (let i = 0; i < INPUT_VALUE_MAP.length; i++) {
                let input = document.getElementById(INPUT_VALUE_MAP[i].input);
                if (input !== null) {
                    if (input.value === "NA") {
                        input.value = INPUT_VALUE_MAP[i].dwd_dwg;
                    }
                }
            }
        } else if (value === "DWG") {
            for (let i = 0; i < INPUT_MAP.length; i++) {
                let input = document.getElementById(INPUT_MAP[i].input);
                if (input !== null) {
                    if (INPUT_MAP[i].dwg) $(input).show();
                    else $(input).hide();
                }
            }

            for (let i = 0; i < INPUT_VALUE_MAP.length; i++) {
                let input = document.getElementById(INPUT_VALUE_MAP[i].input);
                if (input !== null) {
                    input.value = INPUT_VALUE_MAP[i].dwg;
                }
            }
        } else {
            for (let i = 0; i < INPUT_MAP.length; i++) {
                let input = document.getElementById(INPUT_MAP[i].input);
                if (input !== null) {
                    $(input).hide();
                }
            }

            for (let i = 0; i < INPUT_VALUE_MAP.length; i++) {
                let input = document.getElementById(INPUT_VALUE_MAP[i].input);
                if (input !== null) {
                    input.value = INPUT_VALUE_MAP[i].dwg;
                }
            }
        }

        checkSendFilesBtn();
    }

    $(document).ready(function () {
        selectInput = document.getElementById(SEND_ME);
        if (!selectInput) {
            console.error("Unable to find the SEND_ME input.");
            return;
        }

        $("#FIRSTNAME").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#LASTNAME").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#EMAIL").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#DISCLAIMER_FOR_FILES_1").bind("click", function () {
            checkSendFilesBtn();
        });

        $("#TYP_ELEVATOR_RANGE_OF_USE").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#TYP_ESCALATOR_RANGE_OF_USE_CONTACT_SECTION").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#COMPANY").bind("change", function () {
            checkSendFilesBtn();
        });

        $("#PHONE_UI").bind("change", function () {
            if (!isValidPhoneNumber(this.value)) {
                $(this).focus();
                popDialogError("<doc>bundle.KONE_ELEVATOR_WARNING_phone_number</doc>");
            }

            checkSendFilesBtn();
        });

        // only allow letters
        $("#PHONE_UI").on('keyup', function (event) {
            checkPrecision(event, event.target, 0, '');
        });

        $("#KONE_COUNTRY_C, #STATE_DROPDOWN").bind("change", function () {
            checkSendFilesBtn();
        });

        //prevent <>&'" being entered in inputs below
        $('#BUILDING_LOCATION, #TYP_PROJECT_NAME, #FIRSTNAME, #LASTNAME, #EMAIL, #COMPANY, #PHONE, #PHONE_COUNTRY_CODE, #STREET, #CITY, #STATE, #POSTALCODE').keyup(function () {
            var value = $(this).val();
            //var specialChars = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
            var specialChars = /[<>&'"]/gi;
            var isSpecialChar = specialChars.test(value);

            if (isSpecialChar) {
                var removespecialChars = value.replace(specialChars, '');
                $(this).val(removespecialChars);
            }
        });

        sendMeHide();

        // Show different state inputs based on country -- also run first update
        $('#KONE_COUNTRY_C').on('change', toggleStateInput);
        $('#KONE_COUNTRY_C').change();
    });

    function validateEmail(email) {
        var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regex.test(email);
    }

    function isValidPhoneNumber(phoneNumber) {
        /*
         First digit can be a + character or a numerical value,
         all the rest of the characters can only be numerical.
         The field length must be between 6 and 16 characters.
         */
        var regEx = /^[0-9]{6,16}$/;
        // if (phoneNumber.startsWith("+"))
        //     regEx = /^[\+]?[0-9]{6,15}$/;

        return regEx.test(phoneNumber);
    }

    function UserRoleOther() {
        var USER_ROLE = document.ui.USER_ROLE.value;
        if (USER_ROLE == "OTHER") {
            $('#OTHER_USER_ROLE_TR_tag').show();
        } else {
            $('#OTHER_USER_ROLE_TR_tag').hide();
        }
    }

    function toggleStateInput() {
        RunAfterDrivens('toggleStateInput', 100, function () {
            let value = selectInput.value;
            let state = $('#STATE_DROPDOWN').val();

            // NOTE: Elevator Planner has USA/CANADA as a selection but not the input
            if (value === "DWD_INFO" || value === "DWG_QUOTE") {
                if (state === 'NA') {
                    $('#STATE_DROPDOWN_TR_tag').hide();
                    $('#STATE_DROPDOWN').val('NA');
                    $('#STATE_TR_tag').show();
                    $('#STATE').val('');
                } else {
                    $('#STATE_DROPDOWN_TR_tag').show();
                    // $('#STATE_DROPDOWN').val('PS');
                    $('#STATE_TR_tag').hide();
                    $('#STATE').val('');
                }
            } else {
                $('#STATE_DROPDOWN_TR_tag').hide();
                //$('#STATE_DROPDOWN').val('PS');
                $('#STATE_TR_tag').hide();
                $('#STATE').val('');
            }
        });
    }
</script>
