<!-- /concept/custom/jpocs/kone/elevatorproducts/EcoSpace/show_all_details.html -->

<a id="showdetails" class="showdetails">
    <doc>bundle.KONE_ELEVATOR_BUTTON_show_all_details</doc>
</a>

<!-- The Modal -->
<div id="view-all-details-Modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <table id="view-all-details-table" class="summaryTable2">
            <tbody class="show-all ena-elevator lift global">
                <tr>
                    <th colspan="3">
                        <div class="summary-table-header">
                            <span name="hide-on-print" class="goBack">
                                <doc>bundle.KONE_ELEVATOR_LINK_go_back_to_configuration</doc>
                            </span>
                            <span name="summary-title" class="summary-title">
                                <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                            </span>
                            <span name="hide-on-print" class="print-text" onclick="printPageArea('view-all-details-Modal');">
                                <doc>bundle.KONE_ESCALATOR_BUTTON_print</doc><span class="print-button-icon"></span>
                            </span>
                            <span name="hide-on-print" class="close">
                                <!--<doc>bundle.KONE_ELEVATOR_LINK_close_window</doc>-->
                                <span class="closeX">
                                    &#x186;
                                    <!-- <img src="/HTML/products/236324221/images/close.png" /> -->
                                </span>
                            </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_product_name</doc>
                        </div>
                        <div name="SELECT_ELEVATOR_data" class="summaryValue"></div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_ELEV_STANDARD_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_ELEV_STANDARD_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="WGT_RATED_LOAD_Q_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="WGT_RATED_LOAD_Q_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="VAL_RATED_SPEED_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="VAL_RATED_SPEED_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_CAR_HEIGHT_CH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_CAR_HEIGHT_CH_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_STANDARD_CAR_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_STANDARD_CAR_SIZE_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_DOOR_HH_A_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_DOOR_HH_A_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_DOOR_LL_A_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_DOOR_LL_A_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_DOOR_A_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_DOOR_A_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_LDO_FRAME_FRONT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_LDO_FRAME_FRONT_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="POS_MAP_SETTING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="POS_MAP_SETTING_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                    </th>
                </tr>
                <tr id="landing_row">
                    <td class="nonEdit">
                        <!-- <span id="NoLandings2Label" class="summaryLabel"></span> -->
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_LABEL_Landings</doc>
                        </div>
                        <div id="NO_LANDING2" class="summaryValue"><span></span></div>
                    </td>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_door_openings</doc>
                        </div>
                        <div class="summaryValue"><span></span></div>
                    </td>
                    <td class="nonEdit">
                        <div class="summaryLabel">
                            <doc>bundle.KONE_ELEVATOR_HEADER_distance_between_floors</doc>
                        </div>
                        <div class="summaryValue"><span></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td class="nonEdit">
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_TRAVEL_HEIGHT_H_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_TRAVEL_HEIGHT_H_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="DIM_HEADROOM_SH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_HEADROOM_SH_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="SHAFT_SIZE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <span class="summaryValuefont" name="DIM_SHAFT_WIDTH_WW_data"></span>
                            <span class="summaryValuefont" name="DIM_SHAFT_DEPTH_WD_data"></span>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="DIM_PIT_HEIGHT_PH_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="DIM_PIT_HEIGHT_PH_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">
                        <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                    </th>
                </tr>
                <tr>
                    <td rowspan="5" class="nonEdit" style="padding-left: 15px; padding-top: 15px;">
                        <span id="show-all-image" style="display:inline-block;vertical-align:top"></span>
                        <span id="show-wall-help" style="display:inline-block;vertical-align:top"></span>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_COMBINATION_PACKAGE_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <span class="summaryValuefont" name="TYP_COMBINATION_PACKAGE_data"></span>
                            <span class="summaryValuefont" name="TYP_DESIGN_SOLUTION_data"></span>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="EMPTY_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="EMPTY_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_CAR_CEILING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_CAR_CEILING_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="MAT_CAR_WALL_FINISH_B_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_CAR_WALL_FINISH_B_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="MAT_CAR_WALL_FINISH_C_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_CAR_WALL_FINISH_C_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="MAT_CAR_WALL_FINISH_D_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_CAR_WALL_FINISH_D_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="MAT_CAR_FLOORING_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_CAR_FLOORING_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="TYP_COP_PRODUCT_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_COP_PRODUCT_data"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="nonEdit">
                        <div name="TYP_CAR_HANDRAIL_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="TYP_CAR_HANDRAIL_data"></div>
                        </div>
                    </td>
                    <td class="nonEdit">
                        <div name="MAT_CAR_MIRROR_label" class="summaryLabel"></div>
                        <div class="summaryValue">
                            <div class="summaryValuefont" name="MAT_CAR_MIRROR_data"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="disclaimer">
            <p class="disclaimer-text">
                <doc>bundle.KONE_ELEVATOR_TEXT_kone_shall_not_accept_responsibility</doc>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    // Get the modal
    var modal = document.getElementById('view-all-details-Modal');

    // Get the button that opens the modal
    var btn = document.getElementById("showdetails");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var goBack = document.getElementsByClassName("goBack")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        $('.landing_row_data').remove();

        var floorCount = $('#QTY_FLOORS_SERVED_TOTAL').val();

        // Update total floors landing
        $('#NO_LANDING2').text(floorCount);

        var headerRow = $('#landing_row');

        for (var i = 1; i <= floorCount; i++) {

            var floorHeight = "";
            if (metric) {
                floorHeight = $('#' + inputPattern.mm + i).val() + " <doc>bundle.KONE_GLOBAL_MM_mm</doc>";
            } else {
                //10'1"
                if (i > 1)   // Floor 1 doesn't exist in the floormanager
                    floorHeight = ImperialUnit.toFeet(document.floorMgr.floors[i].total).display;
            }

            var openingFront = ($('#POS_FLR_ENTR_IN_A_' + i + '_1').attr('checked') ? true : false);
            var openingBack = ($('#POS_FLR_ENTR_IN_C_' + i + '_1').attr('checked') ? true : false);

            var frontText = "<doc>bundle.KONE_ELEVATOR_TEXT_front_door</doc>";//TODO: translate
            var backText = "<doc>bundle.KONE_ELEVATOR_TEXT_back_door</doc>";//TODO: translate
            var frontBackText = "<doc>bundle.KONE_ELEVATOR_TEXT_front_and_back_door</doc>";//TODO: translate
            var openingsText = "<doc>bundle.KONE_ELEVATOR_TEXT_non_served_floor</doc>";//Default //TODO: translate

            if (openingFront && !openingBack) {
                openingsText = frontText;
            } else if (!openingFront && openingBack) {
                openingsText = backText;
            } else if (openingFront && openingBack) {
                openingsText = frontBackText;
            }

            var html = '<tr class="landing_row_data" id="landing_row_' + i + '">'
                     + '<td rowspan="2" class="nonEdit">'
                     + '<div id="NO_LANDING2_' + i + '" class="summaryValue"><span>' + i + '</span></div>'
                     + '</td>'
                     + '<td rowspan="2" class="nonEdit">'
                     + '<div id="OPENINGS2_' + i + '" class="summaryValue"><span>' + openingsText + '</span></div>'
                     + '</td>';

            // Insert empty offset cell
            if (i == floorCount) {
                html += '<td class="nonEdit">&nbsp;</td>';
            }

            // Close row for first 2 columns
            html += "</tr>";

            // insert overlapping row
            if (i == 1) {
                html += '<tr class="landing_row_data"><td class="nonEdit">&nbsp;</td></tr>';
            } else {
                html += '<tr class="landing_row_data">'
                     + '<td rowspan="2" class="nonEdit">'
                     + '<div id="INTERFLOOR2_' + i + '" class="summaryValue"><span>' + floorHeight + '</span></div>'
                     + '</td></tr>';
            }

            // headerRow.closest('table').append($(html));
            $(html).insertAfter(headerRow);

            // Only show rear wall if there are no backdoors
            var rearWall = $('.summaryTable2 [name=MAT_CAR_WALL_FINISH_C_label]').parent().find('> div');
            if ($('[name^=POS_FLR_ENTR_IN_C_]:checked')[0])
                rearWall.hide();
            else
                rearWall.show();
        }

        modal.style.display = "block";

        //show car deign image
        //show-all-image
        //id^=IGImage_SPRING_
        var imageLocation = $('#show-all-image');
        var springImage = $('#SPRING_IMAGE_span img').first();
        console.info("Spring Image SRC=" + springImage.attr('src'));
        imageLocation.html(springImage.clone());

        //show-wall-help
        var imageLocation = $('#show-wall-help');
        var carWallImage = $('#car-wall-help img').first();
        console.info("Car wall Image SRC=" + carWallImage.attr('src'));
        imageLocation.html(carWallImage.clone());
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks on <span> (Go Back), close the modal
    goBack.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function printPageArea(areaID) {
        var width = parseFloat($('#' + areaID).width());
        var height = parseFloat($('#' + areaID).height());
        var printContent = document.getElementById(areaID);
        $('span[name=hide-on-print]').hide();
        var WinPrint = window.open('', '', 'width=' + width + ',height=' + height);
        WinPrint.document.write('<html><head>');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/htmlcss.css?ver=11.83.4">');
        WinPrint.document.write('<link rel="stylesheet" href="/HTML/css/custom/koneglobal.css?ver=11.83.4">');
        WinPrint.document.write('<style type="text/css" media="print">@page { size: A4; orientation: landscape; margin: 12.5mm; }</style>');
        WinPrint.document.write('</head><body>');
        WinPrint.document.write(printContent.innerHTML);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        $('span[name=hide-on-print]').show();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }
</script>
