<!-- /concept/custom/jpocs/kone/elevatorproducts/sideBarHeader.html -->

<!-- JPoC Type = HTML_VIEW_JPOC_CONFIG_UI_TOP -->
<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- configuration = com.configureone.api.configuration.Configuration -->
<!-- productId = java.lang.String -->

<!-- for CSS see sidebarheader.css -->

<doc>
    <set var="prodId" value="
        configuration
            .getInputByName('SELECT_ELEVATOR')
            .getProductInput()
            .getAttributeByName('PRODUCT_ID')
            .getAttributeValueFromConfigurationInputValue(
                configuration
                    .getInputByName('SELECT_ELEVATOR')
                    .getValue(), configuration)
            .getStringValue()
    " />
</doc>

<doc><set var="scrollOffset" value="274" scope="document" /></doc>
<doc><set var="navOffset" value="224" scope="document" /></doc>

<doc>
    <if condition="'YES'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">

        <doc><set var="anon" value="principal.getUser().isAnonymousIndicator()" /></doc>
        <doc><set var="user" value="principal.getUser().getUserName()" /></doc>
        <doc><set var="page" value="configuration.getInputByName('PAGE').getValue().getStringValue()" /></doc>

        <doc><set var="userType" value="'isNormal-'" scope="document" /></doc>

        <doc>
            <if condition="principal.getUser().isAnonymousIndicator()">
                <doc>
                    <set var="scrollOffset" value="150" scope="document" />
                </doc>
                <doc>
                    <set var="navOffset" value="100" scope="document" />
                </doc>
                <doc>
                    <set var="userType" value="'isAnon-'" scope="document" />
                </doc>
            </if>
        </doc>

        <script type="text/javascript" src="/HTML/products/<doc><out>prodId</out></doc>/jscripts/productrules.js"></script>

        <div id="KoneHeaderDiv" class="KoneHeaderDiv <doc><out>userType</out></doc>navTop">
            <table style="width: 100%; height:100%">
                <tr>
                    <td>
                        <div id="headerBarText_KONE_ELEVATOR_TOOLS">
                            <doc>bundle.KONE_ELEVATOR_HEADER_kone_elevator_tools</doc>
                        </div>
                        <div id="headerBarText_PRODUCT_NAME"></div>
                    </td>
                    <td style="width:551px;">
                        <table class="hTable" style="width: 100%;">
                            <tr>
                                <td width="33%">
                                    <div id="headerBar_LANGUAGE">
                                        <span class="text">
                                            <doc>bundle.KONE_ELEVATOR_HEADER_language</doc>
                                        </span>
                                        <span class="icon"></span>
                                    </div>
                                </td>

                                <td>
                                    <div id="headerBar_HELP" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_help</doc>
                                    </div>
                                </td>

                                <td>
                                    <div style="display:none" id="headerBar_CONTACT" class="icon text">
                                        <doc>bundle.KONE_ELEVATOR_BUTTON_contact</doc>
                                    </div>
                                </td>
                                <td>
                                    <div id="headerBar_KONE">
                                        <a target="_blank" href="http:\\www.kone.com"><img src="/HTML/images/Logo_21_5_blue_rgb.jpg" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div id="KoneSideBarDiv" class="KoneSideBarDiv <doc><out>userType</out></doc>navTop">
            <div id="sideBarHOME" class="sideBar selected" href="KoneHeaderDiv" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_BUTTON_home</doc>
                </div>
            </div>
            <div id="sideBarBUILDING" class="sideBar" href="210055571" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_building</doc>
                </div>
            </div>
            <div id="sideBarELEVATOR" class="sideBar" href="276109581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_elevator</doc>
                </div>
            </div>
            <div id="sideBarDESIGN" class="sideBar" href="210030581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_design</doc>
                </div>
            </div>
            <div id="sideBarOTHER" class="sideBar" href="277945581" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_other</doc>
                </div>
            </div>
            <div id="sideBarSUMMARY" class="sideBar" href="280759171" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_summary</doc>
                </div>
            </div>
            <div id="sideBarDOWNLOADS" class="sideBar" href="210023591" onclick="selectedSection(this)">
                <div class="icon"></div>
                <div class="text">
                    <doc>bundle.KONE_ELEVATOR_HEADER_downloads</doc>
                </div>
            </div>
        </div>

        <script type="text/javascript" defer>
            $(() => {
                $('#configuration-interface').css('margin-left', '0');
                var localeSelectDiv = $('#locale-select').detach();
                $('#ProductSelectorHeader').append(localeSelectDiv);
            });
        </script>

        <script type="text/javascript" defer>
            $(() => {
                // move language div
                var currentLocaleDiv = $('#current-locale').detach();
                var localeSelectDiv = $('#locale-select').detach();
                var localScript = $('#locales').find('script').detach();
                $('#headerBar_LANGUAGE span.icon').append(currentLocaleDiv);
                $('#headerBar_LANGUAGE span.icon').append(localeSelectDiv);
                $('#headerBar_LANGUAGE span.icon').append(localScript);
            });
        </script>

        <script type="text/javascript" defer>
            var hasSideBar = true;
            var navLinks = [];
            var initLinks = true;
            var sideBarTimer;

            $(() => {
                //console.debug("Side Bar load");

                /*
                var $onclick = $('#inputhelp_SELECT_ELEVATOR').attr('onclick');
                if ($onclick) {
                    $('#headerBar_HELP').attr('onclick', $onclick.replace("popICHelpWindow", "window.open"));
                }
                */

                //$('input[name=STORE_GLOSSARY_ENA_TD_TOP_SELECT]').val($('#inputhelp_ENA_ELEVATOR_GD_TOP_SELECT').attr('onclick').replace("popICHelpWindow", "window.open"));
                $('input[name=STORE_CONTACT_URL]').val($('#CONTACT_URLs option:selected').text().trim());

                $('#inputhelp_SELECT_ELEVATOR').hide(); // TODO: put in CSS

                //Set contacts link
                /*
                var contactLink = $('#CONTACTS_URL option:selected').text().trim();
                if (contactLink != "NO_CONTACT") {
                    $('#headerBar_CONTACT').attr('onclick', 'contactsURL()');
                    $('#headerBar_CONTACT').show();
                }
                */

                //set top of container
                $('#container').addClass('<doc><out>userType</out></doc>containerTop');

                // Remove the (country) part of the language text
                const countryRegExp = /(\s*)(\([a-zA-Z ]+)(\)?)/;
                const localeLabel = document.getElementById('current-locale-label');
                localeLabel.innerText = localeLabel.innerText.replace(countryRegExp, '');

                // move language div
                /* We don't want to do this under any circumstances anymore.
                var currentLocaleDiv = $('#current-locale').detach();
                var localeSelectDiv = $('#locale-select').detach();
                var localScript = $('#locales').find('script').detach();
                $('#headerBar_LANGUAGE span.icon').append(currentLocaleDiv);
                $('#headerBar_LANGUAGE span.icon').append(localeSelectDiv);
                $('#headerBar_LANGUAGE span.icon').append(localScript);
                */

                // Create search for locale selector
                LocaleModule.cleanAndBuild();

                //set product title in header
                //setHeaderProductName("sideBarHeader");

                /*
                <doc>
                    <if condition="principal.getUser().isAnonymousIndicator()">
                        //remove header elements
                        //$('#header').hide();
                        $('#nav-logo').hide();
                        $('#nav-tabs').hide();
                        //$('form[name=NavForm]').hide();
                        $('#header').css('z-index','97');
                    </if>
                </doc>
                */

                // Bind to scroll
                /*
                var bind = "mousewheel DOMMouseScroll scroll";
                $(window).bind(bind, function (event) {
                    if (event.type == "mousewheel" || event.type == "DOMMouseScroll") {
                        doUpdateSideBar();
                    } else if (event.type == "scroll") {
                        if (detectIE()) {
                            if (sideBarTimer) {
                                window.clearTimeout(sideBarTimer);
                            }
                            sideBarTimer = window.setTimeout(function () {
                                doUpdateSideBar();
                            }, 50);
                        } else {
                            doUpdateSideBar();
                        }
                    }
                });
                */

                //Product Javascript function (// Select Elevator)
                /*
                if (productId == "247109161") {
                    $('#productRules_js').remove();
                } else {
                    try {
                        rulesInit();
                    } catch (err) {
                    }
                }
                */

                closeGroups();

                /*
                if (initLinks) {
                    setTimeout(function () {
                        initNavLinks();
                        setNavLinks();
                    }, 500);
                } else {
                    initNavLinks();
                    setNavLinks();
                }
                */
            });

            function doUpdateSideBar() {
                var docElement = document.scrollingElement || document.documentElement;
                var jitter = 30;
                var scrollPos = docElement.scrollTop + jitter;//$(document).scrollTop()

                for (var i = 0; i < navLinks.length; i++) {
                    //console.debug("scrollPos = "+scrollPos+", "+i+") navLinks start="+navLinks[i].start+", navLinks end="+navLinks[i].end);
                    var currLink = $(navLinks[i].id);
                    if ((navLinks[i].start <= scrollPos && navLinks[i].end > scrollPos)
                        || navLinks[i].start == 0 && scrollPos == 30) {
                        currLink.addClass("selected");
                    } else {
                        currLink.removeClass("selected");
                    }
                }
            }

            function selectedSection(div) {
                closeGroups();

                var href = "#" + $('div[id^=' + $('#' + div.id).attr('href') + ']').attr('id');
                var target = $(href);
                var scrollTo = target.offset().top - <doc><out>navOffset</out></doc>;

                if ($('#' + div.id).attr('href') == "KoneHeaderDiv") {
                    scrollTo = 0;
                }

                $('html, body').animate({
                    scrollTop: scrollTo
                }, 500);
            }

            function jumpToGroup(target) {
                var scrollTo = target.offset().top - 50 - <doc><out>navOffset</out></doc>;
                $('html, body').animate({
                    scrollTop: scrollTo
                }, 50);
            }

            function initNavLinks() {
                navLinks = [];
                $("div.sideBar:visible").each(function () {
                    var $this = $(this);
                    var href = "#" + $('div[id^=' + $this.attr('href') + ']').attr('id');
                    if ($(href).length > 0) {
                        var linkInfo = {
                            id: '#' + $this.attr('id'),
                            href: href,
                            href2: $('div[id^=' + $this.attr('href') + ']').attr('id'),
                            start: 0,
                            end: 0
                        }
                        navLinks.push(linkInfo);
                    } else {
                        $(this).hide();
                    }
                });
            }

            function setNavLinks() {
                //console.debug("setNavLinks");
                /*Store nav links
                * Need to update positions when groups are expanded/collapsed
                */
                //if (detectIE(false)) return;

                var topMenu = $("#KoneHeaderDiv");
                var navTop = parseInt(topMenu.css('top'));
                var topMenuHeight = topMenu.outerHeight() + 1 + navTop;
                var screenTop = $(document).scrollTop();

                var i = 1;
                if (initLinks) {
                    i = 0;//make sure we only set Home once
                }

                for (; i < navLinks.length; i++) {
                    var start = $(navLinks[i].href).offset().top - topMenuHeight;
                    if (i == 0) start = 0;

                    navLinks[i].start = start;
                    if (i < navLinks.length - 1) {
                        var end = $(navLinks[i + 1].href).offset().top - <doc><out>scrollOffset</out></doc>;
                        navLinks[i].end = end;
                    } else {
                        navLinks[i].end = start + 5000;
                    }
                    if (i == 1) {
                        navLinks[0].end = navLinks[1].start;
                    }
                }

                initLinks = false;
            }

            function setHeaderProductName(where) {
                //set product title in header
                $('#headerBarText_PRODUCT_NAME').html($('#SELECT_ELEVATOR option:selected').text());
            }

            function contactsURL() {
                var contactLink = $('#CONTACTS_URL option:selected').text().trim();
                console.debug("contactsURL: " + contactLink);
                if (contactLink != "NO_CONTACT") {
                    window.open(contactLink, '_blank');
                }
            }

            // Add search option to locale selector
            const LocaleModule = (function () {
                const conf = {
                    selectorId: 'locale-select',
                    searchDivId: 'locale-search',
                    placeholder: ResourceBundle.getString('Button_search'),
                    closeIcon: '&#x186;',

                    get html() {
                        return (
                            `<div id="${this.searchDivId}">` +
                                `<input type="text" id="search" name="search" autocomplete="off" placeholder="${this.placeholder}" />` +
                                '<span class="closeX">' +
                                    this.closeIcon +
                                '</span>' +
                            '</div>'
                        );
                    }
                };

                // Inject locale selector search
                function inject() {
                    // Create search input
                    const $content = $(`#${conf.selectorId}`);
                    const $search = $(conf.html);

                    // Clean up during testing
                    remove();

                    // Build
                    $content.prepend($search);
                    $search.on('keyup', '#search', searchLocales);
                    $search.on('click', '.closeX', triggerLocaleSearch);

                    // Run initial search - causes .closeX to be hidden
                    triggerLocaleSearch('');
                }

                // Remove locale selector search
                function remove() {
                    $(`#${conf.selectorId}`).find(`div#${conf.searchDivId}`).detach();
                }

                // Run event handler with specific value
                function triggerLocaleSearch(searchString = '') {
                    if (typeof searchString !== 'string')
                        searchString = '';

                    // Change value and trigger search
                    $(`#${conf.selectorId} #search`).val(searchString).keyup();
                }

                // Hide and unhide locales
                function searchLocales(e) {
                    // Needs to be lowercase otherwise English and english won't match
                    const searchString = e.target.value.toLocaleLowerCase();
                    const $locales = $(`#${conf.selectorId} > .popup-contents > .locale-row`);
                    const $closeX = $(`#${conf.searchDivId} .closeX`);

                    // If search is empty then reset, else search titles
                    if (searchString === "") {

                        // Hide clear search button
                        $closeX.hide();
                        $locales.show();
                    } else {
                        // Show clear search button
                        $closeX.show();

                        // Go through each image's title
                        $locales.find('img.flag').each((i, el) => {
                            const $flag = $(el);
                            // Needs to be lowercase otherwise English and english won't match
                            const title = $flag.attr('title').toLocaleLowerCase();

                            if (title.includes(searchString))
                                $flag.parent().show();
                            else
                                $flag.parent().hide();
                        });
                    }
                }

                // Expose module
                return {
                    cleanAndBuild: inject,
                    remove: remove,
                    search: triggerLocaleSearch,
                    conf: conf
                };
            })();
        </script>

    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'V2_ELEV_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript" src="/HTML/products/<doc><out>prodId</out></doc>/jscripts/productrules.js"></script>
    </if>
</doc>

<!-- TODO: This needs to be moved elsewhere so that we can sunset this JPOC. -->
<doc>
    <if condition="'YES,V2_ELEV_NO_NAV,V2_ELEV_NAV'.match(configuration.getInputByName('INCLUDE_SIDEBAR_HEADER').getValue().getStringValue())!=null">
        <script type="text/javascript" defer>
            function jumpToGroup(target) {
                var scrollTo = target.offset().top - 50 - <doc><out>navOffset</out></doc>;
                $('html, body').animate({ scrollTop: scrollTo }, 50);
            }
        </script>
    </if>
</doc>
