<!-- /concept/custom/jpocs/kone/elevatorproducts/summary_table.html -->

<div class="verifySummarySection">
    <div class="quickSummaryHolder">
        <div class="summaryTable grid-type">
            <div id="QUANTITY_EDIT" class="summary-content" onclick="jumpTo('collapse210117311');">
                <div name="QTY_ELEVATOR_GROUP_SIZE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="QTY_ELEVATOR_GROUP_SIZE_data"></div>
                </div>
                <div id="QuantityheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="REGULATION_EDIT" class="summary-content" onclick="jumpTo('collapse256245441');">
                <div name="TYP_ELEV_STANDARD_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="TYP_ELEV_STANDARD_data"></div>
                </div>
                <div id="QuantityheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="COMPLEMENTARY_REGULATION_EDIT" class="summary-content" onclick="jumpTo('collapse256245441');">
                <div name="TYP_ELEV_STANDARD_COMPLEMENT_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="TYP_ELEV_STANDARD_COMPLEMENT_data"></div>
                </div>
                <div id="QuantityheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="SPEED_EDIT" class="summary-content" onclick="jumpTo('collapse228702321');">
                <div name="VAL_RATED_SPEED_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="VAL_RATED_SPEED_data"></div>
                </div>
                <div id="SpeedFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="CARHEIGHT_EDIT" class="summary-content" onclick="jumpTo('collapse211121391');">
                <div name="DIM_CAR_HEIGHT_CH_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="DIM_CAR_HEIGHT_CH_data"></div>
                </div>
                <div id="CarHeightFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOORTYPE_EDIT" class="summary-content" onclick="jumpTo('collapse244025321');">
                <div name="TYP_DOOR_A_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="TYP_DOOR_A_data"></div>
                </div>
                <div id="DoorTypeFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOORHEIGHT_EDIT" class="summary-content" onclick="jumpTo('collapse211121391');">
                <div name="DIM_DOOR_HH_A_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="DIM_DOOR_HH_A_data"></div>
                </div>
                <div id="DoorHeightFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="DOOROPENING_EDIT" class="summary-content" onclick="jumpTo('collapse294229301_1');">
                <div name="DOOR_OPENING_FOR_SUMMARY_TABLE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="DOOR_OPENING_FOR_SUMMARY_TABLE_data"></div>
                </div>
                <div id="DoorOpeningFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="NOLANDINGS_EDIT" class="summary-content" onclick="jumpTo('collapse241127261');">
                <div name="QTY_FLOORS_SERVED_TOTAL_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="QTY_FLOORS_SERVED_TOTAL_data"></div>
                </div>
                <div id="NoLandingsheadFlag" class="summaryFlag default">
                    <div class="edit-icon"></div>
                </div>
            </div>
            <div id="HEADROOMHEIGHT_EDIT" class="summary-content">
                <div name="DIM_HEADROOM_SH_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <div class="summaryValuefont summary-value" name="DIM_HEADROOM_SH_data"></div>
                </div>
            </div>
            <div id="HOISTWAYSIZE_EDIT" class="summary-content">
                <div name="SHAFT_SIZE_label" class="summaryLabel"></div>
                <div class="summaryValue">
                    <span class="summaryValuefont summary-value" name="DIM_SHAFT_WIDTH_WW_data"></span>
                    <span class="summaryValuefont summary-value" name="DIM_SHAFT_DEPTH_WD_data"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>

    //temp until references have been removed
    function setValues(seq) {
        //console.log("called setValues");
    }

    /*Area coded inputs

     WGT_RATED_LOAD_Q
     WGT_RATED_LOAD_Q_TEXT
     VAL_RATED_SPEED
     TYP_STANDARD_CAR_SIZE
     TYP_DOOR_A
     DIM_DOOR_LL_A

     I added new attribute called TYP_MARKET_AREA to SELECT_ELEVATOR attributes.

     Used values at the moment are:

     EU (= Europe)
     EA (= Asia)
     NA (= North America)

     SELECT_ELEVATOR attribute TYP_MARKET_AREA should set a hidden input so attribute retrieval is not needed
     */

    //console.debug("elevatorproducts/summary_table.html");

    var units = '<doc><out>configuration.getInputByName("UNIT_OF_MEASURE").getValue().getStringValue()</out></doc>';
    var typeMarketArea = '<doc><out>configuration.getInputByName("SELECT_ELEVATOR").getProductInput().getAttributeByName("TYP_MARKET_AREA").getAttributeValueFromConfigurationInputValue(configuration.getInputByName("SELECT_ELEVATOR").getValue(),configuration).getStringValue()</out></doc>';
    var typeProductModel = '<doc><out>configuration.getInputByName("SELECT_ELEVATOR").getProductInput().getAttributeByName("TYP_PRODUCT_MODEL").getAttributeValueFromConfigurationInputValue(configuration.getInputByName("SELECT_ELEVATOR").getValue(),configuration).getStringValue()</out></doc>';

    //console.debug("SELECT_ELEVATOR=<doc><out>configuration.getInputByName('SELECT_ELEVATOR').getValue().getStringValue()</out></doc>");
    //console.debug("units=" + units);
    //console.debug("typeMarketArea=" + typeMarketArea);
    //console.debug("typeProductModel=" + typeProductModel);

    var metric = units == "METRIC" ? true : false;
    //define area input lookup
    var suffix = "_" + typeMarketArea;
    //console.debug("suffix="+suffix);
    //suffix = "";//temp until feature turned on
    var areaCodedInputs = [];

    areaCodedInputs["TYP_STANDARD_CAR_SIZE"] = "TYP_STANDARD_CAR_SIZE" + suffix;
    areaCodedInputs["DIM_CAR_HEIGHT_CH"] = "DIM_CAR_HEIGHT_CH" + suffix;

    if (metric) {
        areaCodedInputs["WGT_RATED_LOAD_Q"] = "WGT_RATED_LOAD_Q" + suffix;
        areaCodedInputs["WGT_RATED_LOAD_Q_TEXT"] = "WGT_RATED_LOAD_Q" + suffix + "_TEXT";
        areaCodedInputs["VAL_RATED_SPEED"] = "VAL_RATED_SPEED" + suffix;
        areaCodedInputs["TYP_DOOR_A"] = "TYP_DOOR_A" + suffix;
        areaCodedInputs["DIM_DOOR_LL_A"] = "DIM_DOOR_LL_A" + suffix;
    } else {
        areaCodedInputs["WGT_RATED_LOAD_Q"] = "WGT_RATED_LOAD_Q_LB_NA";
        areaCodedInputs["VAL_RATED_SPEED"] = "VAL_RATED_SPEED_FPM_NA";
    }

    // Set product dependent options
    var productCodedOptions = {};
    // Change which accordion has the label

    if (productId == GLOBAL_FLAGS.products.ENA) {
        // Capacity label
        productCodedOptions["WGT_RATED_LOAD_Q"] = { label: 2079600828 };

        // Imperial shaft sizes
        if (!metric) {
            productCodedOptions["DIM_SHAFT_WIDTH_WW"] = { attrFt: "DIM_SHAFT_WIDTH_WW_DISP_FT", attrIn: "DIM_SHAFT_WIDTH_WW_DISP_IN" };
            productCodedOptions["DIM_SHAFT_DEPTH_WD"] = { attrFt: "DIM_SHAFT_DEPTH_WD_DISP_FT", attrIn: "DIM_SHAFT_DEPTH_WD_DISP_IN" };
        }
    } else {
        // Standard elevator products
        productCodedOptions["WGT_RATED_LOAD_Q"] = { label: 287634311 };
    }

    var reverseAreaCodedInputs = [];
    reverseAreaCodedInputs["WGT_RATED_LOAD_Q" + suffix] = "WGT_RATED_LOAD_Q";
    reverseAreaCodedInputs["WGT_RATED_LOAD_Q" + suffix + "_TEXT"] = "WGT_RATED_LOAD_Q_TEXT";
    reverseAreaCodedInputs["VAL_RATED_SPEED" + suffix] = "VAL_RATED_SPEED";
    reverseAreaCodedInputs["TYP_STANDARD_CAR_SIZE" + suffix] = "TYP_STANDARD_CAR_SIZE";
    reverseAreaCodedInputs["TYP_DOOR_A" + suffix] = "TYP_DOOR_A";
    reverseAreaCodedInputs["DIM_DOOR_LL_A" + suffix] = "DIM_DOOR_LL_A"; // For Asia MiniSpace
    reverseAreaCodedInputs["DIM_DOOR_HH_A" + suffix] = "DIM_DOOR_HH_A";
    reverseAreaCodedInputs["DIM_CAR_HEIGHT_CH" + suffix] = "DIM_CAR_HEIGHT_CH";
    reverseAreaCodedInputs["DIM_TRAVEL_HEIGHT_H_IN"] = "DIM_TRAVEL_HEIGHT_H"; // Fake input used by ena
    reverseAreaCodedInputs["DIM_TRAVEL_HEIGHT_H_IN"] = "DIM_TRAVEL_HEIGHT_H";
    reverseAreaCodedInputs["DIM_TRAVEL_HEIGHT_H_ROUNDED"] = "DIM_TRAVEL_HEIGHT_H"; // Input used to show values without decimals

    var dataTableInput = "DATA_TABLE_UI_" + typeProductModel;

    // Check to see if we need to use a different data table input based
    // on the current product version instead of the input defined above.
    if (document.getElementById(dataTableInput) === null) {
        let productVersion;
        let _productVersion = document.getElementById("TYP_PRODUCT_RELEASE");
        if (_productVersion !== null) {
            productVersion = _productVersion.value.replace(".", "_");
        }

        if (productVersion !== "") {
            let _dataTableInput = (dataTableInput + "_R" + productVersion);
            if (document.getElementById(_dataTableInput) !== null) {
                dataTableInput = (_dataTableInput);
            }
        }
    }

    //console.debug("dataTableInput: " + dataTableInput);

    var dataInputEvents = [];
    var dataInputSuffix = [];
    var dataTableInputs = [
        { ref: "ProductLine, Key Values Product Name", input: "SELECT_ELEVATOR" }, //key Values
        {
            ref: "Capacity", input: "WGT_RATED_LOAD_Q", refinput: areaCodedInputs["WGT_RATED_LOAD_Q"], label: getGroupHeaderText(productCodedOptions["WGT_RATED_LOAD_Q"].label), function: function (jEvent) {

                // Change selection so we can access this value from the document template.
                let selectedValue = $('[name=' + areaCodedInputs["WGT_RATED_LOAD_Q"] + ']').val();
                let $textInput = $('[name=' + areaCodedInputs["WGT_RATED_LOAD_Q_TEXT"] + ']');
                $textInput.val(selectedValue).change();

                // Combine labels
                let text = getInputLabel(jEvent.target) + " / " + $textInput.find("option:selected").text();

                // The group header label is governed by show-in-group-header so we need to update it manually.
                let target = document.getElementsByName("WGT_RATED_LOAD_Q_data");
                for (var i = 0; i < target.length; i++) {
                    target[i].innerHTML = text;
                }
            }
        }, //summary, keyvalues
        { ref: "Quantity", input: "QTY_ELEVATOR_GROUP_SIZE", label: getGroupHeaderText("210117311") }, //summary, key Values
        { ref: "Landings", input: "QTY_FLOORS_SERVED_TOTAL", label: getGroupHeaderText("241127261"), suffix: " <doc>bundle.KONE_ELEVATOR_LABEL_Landings</doc>" }, //summary, keyvalues
        { ref: "Speed", input: "VAL_RATED_SPEED", refinput: areaCodedInputs["VAL_RATED_SPEED"], label: getGroupHeaderText("228702321") }, //summary, keyvalues
        { ref: "EntranceType", input: "TYP_LDO_FRAME_FRONT", label: $('label[for=TYP_LDO_FRAME_FRONT]').text() }, //summary
        { ref: "ControlPanel", input: "POS_CONTROL_PANEL", label: $('label[for=POS_CONTROL_PANEL]').text() }, //summary
        { ref: "MAP", input: "POS_MAP_SETTING", label: $('label[for=POS_MAP_SETTING]').text() }, //key Values
        { ref: "Ceiling", input: "TYP_CAR_CEILING", label: $('label[for=TYP_CAR_CEILING]').text() }, //key Values
        { ref: "RightWall", input: "MAT_CAR_WALL_FINISH_B", label: $('label[for=MAT_CAR_WALL_FINISH_B]').text() }, //key Values
        { ref: "BackWall", input: "MAT_CAR_WALL_FINISH_C", label: $('label[for=MAT_CAR_WALL_FINISH_C]').text() }, //key Values
        { ref: "LeftWall", input: "MAT_CAR_WALL_FINISH_D", label: $('label[for=MAT_CAR_WALL_FINISH_D]').text() }, //key Values
        { ref: "Floor", input: "MAT_CAR_FLOORING", label: $('label[for=MAT_CAR_FLOORING]').text() }, //key Values
        { ref: "CarOperatingPanel", input: "TYP_COP_PRODUCT", label: $('label[for=TYP_COP_PRODUCT]').text() }, //key Values
        { ref: "Handrail", input: "TYP_CAR_HANDRAIL", label: $('label[for=TYP_CAR_HANDRAIL]').text() }, //key Values
        { ref: "Skirting", input: "MAT_CAR_SKIRTING", label: $('label[for=MAT_CAR_SKIRTING]').text() }, //key Values
        { ref: "PowerSupply", input: "VAL_POWER_SUPPLY_VOLTAGE", label: getGroupHeaderText("262427460") }, //summary
        { ref: "DoorOpening", input: "DOOR_OPENING_FOR_SUMMARY_TABLE", label: $('label[for=DOOR_OPENING_FOR_SUMMARY_TABLE]').text().trim() }, //summary, keyvalues
        { ref: "Design Collection package", input: "TYP_COMBINATION_PACKAGE", label: "<doc>bundle.KONE_ELEVATOR_HEADER_design_collection</doc>", suffix: " " }, //key Values

        //SHAFT_SIZE appears to only be used for a label
        { ref: "Shaft Size Label", input: "SHAFT_SIZE", label: $('label[for=SHAFT_SIZE]').text().trim() }, //summary
        {
            ref: "Regulation", input: "TYP_ELEV_STANDARD", label: $('label[for=TYP_ELEV_STANDARD]').text().replace("?", "").trim(), function: function () {
                updateDataTableInput(this);
                setRegulationData();
            }
        }, //summary, keyvalues
        {
            ref: "Complementary Regulation", input: "TYP_ELEV_STANDARD_COMPLEMENT", function: function () {
                setRegulationData();
            }
        }, //summary

        // { ref: "Regulation Key Values", input: "TYP_ELEV_STANDARD_keyvalues", refinput: "TYP_ELEV_STANDARD", label: $('label[for=TYP_ELEV_STANDARD]').text().replace("?", "").trim() }, //key Values

        //ECO Space Only
        { ref: "Mirror", input: "MAT_CAR_MIRROR", label: $('label[for=MAT_CAR_MIRROR]').text().trim() }, //key Values

        //Transys
        { ref: "Ceilings Transys", input: "TRANSYS_CEILINGS", label: $('label[for=TRANSYS_CEILINGS]').text().trim() }, //summary
        { ref: "Lighting Transys", input: "TRANSYS_LIGHTING", label: $('label[for=TRANSYS_LIGHTING]').text().trim() }, //summary
        { ref: "Finishings Transys", input: "TRANSYS_FINISHINGS", label: $('label[for=TRANSYS_FINISHINGS]').text().trim() }, //summary
        { ref: "Wall Materials Transys", input: "TRANSYS_WALL_MATERIALS", label: $('label[for=TRANSYS_WALL_MATERIALS]').text().trim() }, //summary
        { ref: "Floor Materials Transys", input: "TRANSYS_FLOOR_MATERIALS", label: $('label[for=TRANSYS_FLOOR_MATERIALS]').text().trim() }, //summary
        { ref: "Door Finishes Transys", input: "TRANSYS_DOOR_FINISHES", label: $('label[for=TRANSYS_DOOR_FINISHES]').text().trim() }, //summary

        //KONE MonoSpace® 500 (Americas)
        { ref: "Seismic", input: "TYP_SEISMIC_REQ", label: $('label[for=TYP_SEISMIC_REQ]').text().trim() },
        { ref: "Additional power supply", input: "TYP_ELEC_FEAT_EBD", label: $('label[for=TYP_ELEC_FEAT_EBD]').text().trim() },
        { ref: "Control location", input: "TYP_CONTROLLER_SPACE", label: $('label[for=TYP_CONTROLLER_SPACE]').text().trim() },
        { ref: "Maintenance service", input: "MAINTENANCE_SERVICE", label: $('label[for=MAINTENANCE_SERVICE]').text().trim() },
        { ref: "Call back service", input: "CALL_BACK_SERVICE", label: $('label[for=CALL_BACK_SERVICE]').text().trim() },

        // Design Collection
        { ref: "Design Collection", input: "CAR_DESIGN_SOLUTIONS", suffix: " " }, //key Values
        { ref: "Design Collection", input: "TYP_DESIGN_SOLUTION" }, //key Values

        // ENA New Design accordions ------------------------------------------
        // Car signalisation
        { ref: "Car signalisation design", input: "CAR_SIGNALIZATION_DESIGN", label: $('label[for=CAR_SIGNALIZATION_DESIGN]').text().trim() },
        { ref: "Car signalisation mounting", input: "CAR_SIGNALIZATION_MOUNTING", label: $('label[for=CAR_SIGNALIZATION_MOUNTING]').text().trim() },
        { ref: "Car signalisation finish", input: "CAR_SIGNALIZATION_FINISH", label: $('label[for=CAR_SIGNALIZATION_FINISH]').text().trim() },
        { ref: "Car signalisation display color", input: "CAR_SIGNALIZATION_DISPLAY_COLOR", label: $('label[for=CAR_SIGNALIZATION_DISPLAY_COLOR]').text() },
        { ref: "Car signalisation quantity", input: "CAR_SIGNALIZATION_QUANTITY", label: $('label[for=CAR_SIGNALIZATION_QUANTITY]').text().trim() },
        { ref: "Car signalisation options", input: "CAR_SIGNALIZATION_OPTIONS", label: $('label[for=CAR_SIGNALIZATION_OPTIONS]').text().trim() },
        { ref: "Car signalisation options", input: "CAR_SIGNALIZATION_OPTIONS", label: $('label[for=CAR_SIGNALIZATION_OPTIONS]').text().trim() },

        // Handrail signalisation
        { ref: "Handrail signalisation finish", input: "HALL_SIGNALIZATION_FINISH", label: $('label[for=HALL_SIGNALIZATION_FINISH]').text().trim() },
        { ref: "Handrail signalisation lantern", input: "HALL_SIGNALIZATION_LANTERN", label: $('label[for=HALL_SIGNALIZATION_LANTERN]').text().trim() },
        { ref: "Handrail signalisation indicator", input: "HALL_SIGNALIZATION_INDICATOR", label: $('label[for=HALL_SIGNALIZATION_INDICATOR]').text().trim() },

        // Hoistway Entrance
        { ref: "Hoistway entrance entrance finish", input: "HOIST_ENTRANCE_ENTERANCE_FINISH", label: $('label[for=HOIST_ENTRANCE_ENTERANCE_FINISH]').text() },
        { ref: "Hoistway entrance still finish", input: "HOIST_ENTRANCE_SILL_FINISH", label: $('label[for=HOIST_ENTRANCE_SILL_FINISH]').text().trim() },

        // Car wall finish
        { ref: "Design rear wall", input: "DESIGN_REAR_WALL", label: $('label[for=DESIGN_REAR_WALL]').text().trim() },
        { ref: "Design side walls", input: "DESIGN_SIDE_WALLS", label: $('label[for=DESIGN_SIDE_WALLS]').text().trim() },

        // Car walls
        { ref: "Car walls", input: "MAT_CAR_WALLS", label: $('label[for=MAT_CAR_WALLS]').text().trim() },
        { ref: "Revel Finish for Raised Panels", input: "REVEL_FINISH_FOR_RAISED_PANELS", label: $('label[for=REVEL_FINISH_FOR_RAISED_PANELS]').text().trim() },

        // Car front, door, and skirting finish
        { ref: "Car Front, Door and Skirting Finish", input: "CAR_FRONT_DOOR_SKIRTING_FINISH", label: $('label[for=CAR_FRONT_DOOR_SKIRTING_FINISH]').text().trim() },

        // Car ceiling
        { ref: "Car ceiling design", input: "CAR_CEILING_DESIGN", label: $('label[for=CAR_CEILING_DESIGN]').text().trim() },
        { ref: "Car ceiling finish", input: "CAR_CEILING_FINISH", label: $('label[for=CAR_CEILING_FINISH]').text().trim() },

        // Headroom height & Pit depth
        { ref: "Headroom height range", input: 'HEADROOM_HEIGHT', suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>", label: $('#HEADROOM_HEIGHT_RANGE_HTML_TR_tag .inputgroup_text').text().trim() },
        { ref: "Pit depth range ", input: 'PIT_DEPTH', suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>", label: $('#PIT_DEPTH_RANGE_HTML_TR_tag .inputgroup_text').text().trim() }
    ];

    if (metric) {
        dataTableInputs.push({ ref: "CarSize", input: "TYP_STANDARD_CAR_SIZE", refinput: areaCodedInputs["TYP_STANDARD_CAR_SIZE"], label: $('label[for=' + areaCodedInputs["TYP_STANDARD_CAR_SIZE"] + ']').text().replace("?", "").trim() }); //summary, keyvalues
        // There are two entries for this because area coded inputs aren't always used (?°?°)?? ???
        dataTableInputs.push({ ref: "Metric CarHeight", input: "DIM_CAR_HEIGHT_CH", label: $('label[for=DIM_CAR_HEIGHT_CH]').text().trim() });//summary
        dataTableInputs.push({ ref: "Metric CarHeight", input: "DIM_CAR_HEIGHT_CH", refinput: areaCodedInputs["DIM_CAR_HEIGHT_CH"], label: $('label[for=' + areaCodedInputs["DIM_CAR_HEIGHT_CH"] + ']').text().trim() });//summary

        dataTableInputs.push({ ref: "Metric HeadroomHeight", input: "DIM_HEADROOM_SH", label: $('label[for=DIM_HEADROOM_SH]').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric HeadroomHeight", input: "DIM_HEADROOM_SH", refinput: "DIM_HEADROOM_SH_MR", label: $('label[for=DIM_HEADROOM_SH_MR]').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); // MiniSpace (Asia) summary, keyvalues
        dataTableInputs.push({ ref: "Metric PitHeight", input: "DIM_PIT_HEIGHT_PH", label: $('label[for=DIM_PIT_HEIGHT_PH]').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary
        dataTableInputs.push({ ref: "Metric DoorHeight", input: "DIM_DOOR_HH_A", label: $('label[for=DIM_DOOR_HH_A]').text().trim().trim() }); //summary
        dataTableInputs.push({ ref: "Metric DoorHeight", input: "DIM_DOOR_HH_A", refinput: 'DIM_DOOR_HH_A_MR', label: $('label[for=DIM_DOOR_HH_A_MR]').text().trim() }); //summary
        dataTableInputs.push({ ref: "Metric DoorType", input: "TYP_DOOR_A", refinput: areaCodedInputs["TYP_DOOR_A"], label: getGroupHeaderText("244025321") }); //summary, keyvalues
        dataTableInputs.push({ ref: "Metric DoorWidth", input: "DIM_DOOR_LL_A", refinput: areaCodedInputs["DIM_DOOR_LL_A"], label: $('label[for=' + areaCodedInputs["DIM_DOOR_LL_A"] + ']').text().trim() }); //summary
        dataTableInputs.push({ ref: "Metric TotalTravel", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_ROUNDED", label: $('#DIM_TRAVEL_HEIGHT_H_subgroup_label').text().trim(), suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>" }); //summary, keyvalues
        dataTableInputs.push({
            ref: "Shaft Size Width", input: dataTableInput, attribute: "DIM_SHAFT_WIDTH_WW", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc> x", function: function () {
                var $this = this;
                // Only run once to prevent display from flashing multiple times
                new RunAfterDrivens('DIM_SHAFT_WIDTH_WW', 200, function () { updateDataTableInput($this, "DIM_SHAFT_WIDTH_WW"); });
            }
        });
        dataTableInputs.push({
            ref: "Shaft Size Depth", input: dataTableInput, attribute: "DIM_SHAFT_DEPTH_WD", suffix: " <doc>bundle.KONE_GLOBAL_MM_mm</doc>", function: function () {
                var $this = this;
                // Only run once to prevent display from flashing multiple times
                new RunAfterDrivens('DIM_SHAFT_DEPTH_WD', 200, function () { updateDataTableInput($this, "DIM_SHAFT_DEPTH_WD"); });
            }
        }); //summary, keyvalues
    } else {
        dataTableInputs.push({ ref: "Imperial CarHeight", input: "DIM_CAR_HEIGHT_CH", refinput: "DIM_CAR_HEIGHT_CH_FT", label: $('label[for=DIM_CAR_HEIGHT_CH_FT]').text().trim() });//summary
        dataTableInputs.push({ ref: "Imperial HeadroomHeight", input: "DIM_HEADROOM_SH", refinput: "DIM_OVERHEAD_HEIGHT_H_FT", label: $('label[for=DIM_OVERHEAD_HEIGHT_H_FT]').text().trim(), suffix: "'" }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial PitHeight", input: "DIM_PIT_HEIGHT_PH", refinput: "DIM_PIT_HEIGHT_PH_FT", label: $('label[for=DIM_PIT_HEIGHT_PH_FT]').text().trim() }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial DoorHeight", input: "DIM_DOOR_HH_A", refinput: "DIM_DOOR_HH_A_FT", label: $('label[for=DIM_DOOR_HH_A_FT]').text().trim() }); //summary
        dataTableInputs.push({ ref: "Imperial DoorType", input: "TYP_DOOR_A", refinput: "TYP_DOOR_A_NA", label: getGroupHeaderText("244025321") }); //summary, keyvalues
        dataTableInputs.push({ ref: "Imperial DoorWidth", input: "DIM_DOOR_LL_A_IN_NA", refinput: "DIM_DOOR_LL_A_IN_NA", label: $('label[for=DIM_DOOR_LL_A_IN_NA]').text().trim(), funtion: function() {
            let $this = this;
            new RunAfterDrivens("DIM_DOOR_LL_A_IN_NA", 200, function() { updateDataTableInput($this, "DIM_DOOR_LL_A_IN_NA"); });
        }}); //summary

        dataTableInputs.push({
            ref: "Imperial TotalTravel Ft", input: "DIM_TRAVEL_HEIGHT_H", refinput: "DIM_TRAVEL_HEIGHT_H_IN", label: $('#DIM_TRAVEL_HEIGHT_H_DISP_FT_subgroup_label').text().trim(), function: function () { return true; }
        }); //summary, keyvalues

        //summary, keyvalues
        dataTableInputs.push({
            ref: "Shaft Size Imperial", input: dataTableInput, function: function (event) {
                // Get bundle tags the escape \ is needed for after it's processed
                let single = "\<doc>bundle.KONE_GLOBAL_FT_feet</doc>";
                let double = "\<doc>bundle.KONE_GLOBAL_IN_Inches</doc>";

                // If empty, use this instead
                single = (single == '') ? "\u0027" : single;
                double = (double == '') ? "\u0022" : double;

                // Get output values
                let width =
                    getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_WIDTH_WW"].attrFt)  // feet
                    + single
                    + getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_WIDTH_WW"].attrIn) // Inches
                    + double; // Double quote;

                let depth =
                    getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_DEPTH_WD"].attrFt)  // feet
                    + single  // Single quote
                    + getAttributeValue(dataTableInput, event.target.value, productCodedOptions["DIM_SHAFT_DEPTH_WD"].attrIn) // Inches
                    + double; // Double quote;

                let output = width + ' x ' + depth;

                // Update tables
                let target = document.getElementsByName('DIM_SHAFT_DEPTH_WD_data');
                for (let i = 0; i < target.length; i++) {
                    target[i].innerText = output;
                }
            }
        });
    }

    //check if Regulation section is shown
    if (metric) {
        $('#REGULATION_EDIT').show();
    } else {
        $('#REGULATION_EDIT').hide();
    }

    // TODO: cache data for single calls to speed up loading.
    // If it doesn't exist get it then store the data.
    $(() => {
        try {
            storedAttributeData.cacheable.push(dataTableInput); // Enable caching for this input. Check designUI
            var test = getAttributeData(dataTableInput);

            // Delay the execution of this part of the script so that C1 has a chance
            // to run all of the drivers and render all of the inputs on the page:
            RunAfterDrivens('summaryTable', 1000, function() {
                dataTablesInit();
                setRegulationData();

                GLOBAL_FLAGS.dataTablesInit = true; // Indicate this has been done.

                forceChangeEventById(dataTableInput); // Force update shaft size
                forceChangeEventById(areaCodedInputs["WGT_RATED_LOAD_Q"]); // Update UI with load and number of people.

                // ENA uses a static product title on the second page, mapping it to the refinputs
                // doesn't work, so we'll do this manually.
                if (productId == GLOBAL_FLAGS.products.ENA) { // ENA Elevator
                    // Replace targets with product name
                    var target = document.getElementsByName("SELECT_ELEVATOR_data");
                    for (var i = 0; i < target.length; i++) {
                        target[i].innerHTML = document.allvalues.ENA_ELEVATOR_GD_TOP_SELECT_value.value;
                    }

                    // Hide this group header value as it's not used on ENA yet
                    console.debug('-- Hiding group header values for TYP_STANDARD_CAR_SIZE');
                    $('span[name=TYP_STANDARD_CAR_SIZE_data].group-header-values-data').parent().hide();
                }
            });
        } catch (error) {
            console.error(error.message);
        }
    });

    function setRegulationData() {
        let result = "";

        // Get Complementary Regulations:
        let comp = [];
        $('input[id^=TYP_ELEV_STANDARD_COMPLEMENT]:checkbox:checked').each(function () {
            var label = $('label[for=' + $(this).attr("id") + ']').text().trim();
            comp.push(label);
        });

        if (comp.length > 0) {
            $("#COMPLEMENTARY_REGULATION_EDIT").show();
            result = $('label[for=TYP_ELEV_STANDARD_COMPLEMENT]').text();
        } else {
            $("#COMPLEMENTARY_REGULATION_EDIT").hide();
        }

        let labels = document.querySelectorAll('div[name=TYP_ELEV_STANDARD_COMPLEMENT_label]');
        if (labels.length > 0) {
            for (let i = 0; i < labels.length; i++) {
                let label = labels[i];
                label.innerHTML = result;
            }
        }

        let values = document.querySelectorAll('div[name=TYP_ELEV_STANDARD_COMPLEMENT_data]');
        if (values.length > 0) {
            for (let i = 0; i < values.length; i++) {
                let value = values[i];
                value.innerHTML = ""; // We clear the values before we (re-)populate.

                for (let x = 0; x < comp.length; x++) {
                    value.innerHTML += '<div class="summaryValuefont">' + comp[x] + '</div>';
                }
            }
        }
    }
</script>
