<!-- /concept/custom/jpocs/kone/selectorproduct/title.html -->

<!--
<div id="nameSpace">
	<div class="elev_sel_head"><doc>bundle.KONE_ELEVATOR_HEADER_configuration_title</doc></div>
	<div class="elev_sel_head"><doc>bundle.KONE_ELEVATOR_PRODUCT_configuration_title</doc></div>
	<div class="elev_sel_cont"><doc>bundle.KONE_ELEVATOR_TEXT_configuration_title</doc></div>
</div>
-->

<div id="nameSpace" class="title-header">
    <div class="title-inner">
        <div class="titleLeftDiv">
            <div class="welcome-text">
                <doc>bundle.KONE_ELEVATOR_HEADER_configuration_title</doc>
            </div>
            <div class="welcome-text product">
                <doc>bundle.KONE_ELEVATOR_PRODUCT_configuration_title</doc>
            </div>
            <div class="configuration_title">
                <!-- to be responsive this section will need to wrap text before the change country select list -->
                <doc>bundle.KONE_ELEVATOR_TEXT_configuration_title</doc>
            </div>
        </div>
        <div class="titleRightDiv">
            <div id="countryLabel" class="countryLabel"></div>
            <div id="countryList" class="countryList"></div>
        </div>
    </div>
</div>

<script type="text/javascript" defer>
    $(() => {
        var countryTR = $('#SELECTOR_CHANGE_PROJECT_COUNTRY_TR_tag').detach();
        var label = countryTR.find('label[for=SELECTOR_CHANGE_PROJECT_COUNTRY]');
        var input = countryTR.find('.SELECTOR_CHANGE_PROJECT_COUNTRY-input-div');
        input.addClass("select");
        $('<div class="select__arrow"></div>').appendTo(input);
        $('#countryLabel').append(label);
        $('#countryList').append(input);
    });
</script>
